@page "/history/my/dashboard"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["User_Dashboard_Title"]
</PageTitle>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <ProfileCard
                Class="profile"
                Level="@context.Level"
                Backpack="@context.Backpack"
                Wallet="@context.Wallet"/>

            <CardBadge
                Class="examinations"
                Title="@_localizer["Examinations_Title"]"
                Value="@context.Examinations.Total"
                Trending="@context.Examinations.Trending"
                Icon="@EduIcons.Examination">
                <MudButton Class="px-3 text-transform-none"
                           EndIcon="@Icons.Material.Outlined.ArrowForward"
                           Href="@HistoryUrl.User.MyExaminations"
                           Ripple="false"
                           DropShadow="false">
                    @_localizer["Examinations_SeeAll"]
                </MudButton>
            </CardBadge>

            <CardBadge
                Class="quizzes"
                Title="@_localizer["Quizzes_Title"]"
                Value="@context.Quizzes.Total"
                Trending="@context.Quizzes.Trending"
                Icon="@EduIcons.Quiz">
                <MudButton Class="px-3 text-transform-none"
                           EndIcon="@Icons.Material.Outlined.ArrowForward"
                           Href="@HistoryUrl.User.MyQuizzes"
                           Ripple="false"
                           DropShadow="false">
                    @_localizer["Quizzes_SeeAll"]
                </MudButton>
            </CardBadge>

            <CardBadge
                Class="date-guessers"
                Title="@_localizer["History_DateGuessers_Title"]"
                Value="@context.DateGuessers.Total"
                Trending="@context.DateGuessers.Trending"
                Icon="@EduIcons.DateGuesser">
                <MudButton Class="px-3 text-transform-none"
                           EndIcon="@Icons.Material.Outlined.ArrowForward"
                           Href="@HistoryUrl.User.MyDateGuessers"
                           Ripple="false"
                           DropShadow="false">
                    @_localizer["History_DateGuessers_SeeAll"]
                </MudButton>
            </CardBadge>

            <MonthlyPerformanceCard
                Class="performance"
                Performance="@context.MonthlyPerformance"/>

            <ActivitiesCard
                Class="activities"
                Activities="@context.MonthlyActivities"/>

            <AssignmentsCard
                Class="assignment"
                Assignments="@context.Assignments"/>

            <AchievementsCard
                Class="achievement"
                Achievements="@context.Achievements"/>

            <RecentArticles Class="articles"/>

            <RecentCourses Class="courses"/>
        </section>
    </EduContainer>
</EduApiViewer>
