@page "/history/my/dashboard"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["User_Dashboard_Title"]
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="profile">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <ProfileCard
                Class="profile"
                Level="@profile.Level"
                Backpack="@profile.Backpack"
                Wallet="@profile.Wallet"/>

            <CardBadge
                Class="examinations"
                Title="@L["Examinations_Title"]"
                Value="@profile.Examinations.Total"
                Trending="@profile.Examinations.Trending"
                Icon="@EduIcons.Examination">
                <MudButton
                    Class="px-3 text-transform-none"
                    EndIcon="@Icons.Material.Outlined.ArrowForward"
                    Href="@HistoryUrl.User.MyExaminations">
                    @L["Examinations_SeeAll"]
                </MudButton>
            </CardBadge>

            <CardBadge
                Class="quizzes"
                Title="@L["Quizzes_Title"]"
                Value="@profile.Quizzes.Total"
                Trending="@profile.Quizzes.Trending"
                Icon="@EduIcons.Quiz">
                <MudButton
                    Class="px-3 text-transform-none"
                    EndIcon="@Icons.Material.Outlined.ArrowForward"
                    Href="@HistoryUrl.User.MyQuizzes">
                    @L["Quizzes_SeeAll"]
                </MudButton>
            </CardBadge>

            <CardBadge
                Class="date-guessers"
                Title="@L["History_DateGuessers_Title"]"
                Value="@profile.DateGuessers.Total"
                Trending="@profile.DateGuessers.Trending"
                Icon="@EduIcons.DateGuesser">
                <MudButton
                    Class="px-3 text-transform-none"
                    EndIcon="@Icons.Material.Outlined.ArrowForward"
                    Href="@HistoryUrl.User.MyDateGuessers">
                    @L["History_DateGuessers_SeeAll"]
                </MudButton>
            </CardBadge>

            <MonthlyPerformanceCard
                Class="performance"
                Performance="@profile.MonthlyPerformance"/>

            <MonthlyActivitiesCard
                Class="activities"
                Activities="@profile.MonthlyActivities"/>

            <AssignmentsCard
                Class="assignment"
                Assignments="@profile.Assignments"/>

            <AchievementsCard
                Class="achievement"
                Achievements="@profile.Achievements"/>

            <RecentArticles Class="articles"/>

            <RecentCourses Class="courses"/>
        </section>
    </EduContainer>
</ApiViewer>
