@page "/history/search"
@layout HistoryLayout

<PageTitle>
    @L["History_Title"]: @Query
</PageTitle>

<section class="search-header">
    <div class="background-bar"></div>
    <div class="search-results-details">
        <div class="search-input-container">
            <EditForm Class="d-flex flex-column flex-sm-row align-sm-end justify-center gap-3 gap-sm-6 pa-3 mud-paper" Model="@(this)" OnValidSubmit="OnSearchSubmit">
                <MudTextField
                    Class="flex-grow-1 mb-0"
                    @bind-Value="@Query"
                    Placeholder="@L["Search_Title"]"
                    AdornmentIcon="@Icons.Material.Outlined.Search"
                    InputType="InputType.Search"
                    Margin="Margin.Dense"
                    Variant="Variant.Text"/>

                <MudDivider Class="d-none d-sm-block" Vertical FlexItem/>

                <div class="w-max-180">
                    <MudSelect
                        Class="mb-0"
                        @bind-Value="@Category"
                        Label="@L["Search_Content_Title"]"
                        Margin="Margin.Dense"
                        Variant="Variant.Text"
                        Disabled="@(_categories.Count == 0)"
                        Clearable
                        Dense>
                        @foreach (var category in _categories)
                        {
                            <MudSelectItem Value="category.Key">
                                @category.Key (@category.Value)
                            </MudSelectItem>
                        }
                    </MudSelect>
                </div>

                <MudButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    ButtonType="ButtonType.Submit"
                    DisableElevation>
                    @L["Search_Title"]
                </MudButton>
            </EditForm>
        </div>
    </div>
</section>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="result">
    <EduContainer Class="py-3 py-sm-6">
        <EduFillGrid Class="mb-3 mb-sm-6">
            @foreach (var hint in result.Hints)
            {
                <SearchCard Search="@hint"/>
            }
        </EduFillGrid>

        @if (TotalPages > 0)
        {
            <MudPagination
                Class="d-flex justify-center py-3 py-sm-6"
                Count="@TotalPages"
                Selected="@CurrentPage"
                SelectedChanged="@ChangePage"
                Rectangular
                DisableElevation/>
        }
    </EduContainer>
</ApiViewer>