@page "/history/search"
@layout HistoryLayout

<PageTitle>
    @L["History_Title"]: @Query
</PageTitle>

<EduContainer Class="py-3 py-sm-6 mb-6">
    <section class="background rounded">
        <MudText Class="white-text pa-3 pa-sm-6" Typo="Typo.h3">
            @_result.Map(x => L["Search_CountOfFountResults", x.Count])
        </MudText>

        <EditForm Model="@this" OnValidSubmit="OnSearchSubmit" AdditionalAttributes="@(new Dictionary<string, object> { ["class"] = "w-100" })">
            <section class="d-flex flex-column flex-sm-row align-sm-end justify-center gap-3 gap-sm-6 pa-3 pa-sm-6 mb-sm-n16 mud-paper">
                <MudTextField
                    Class="flex-grow-1"
                    @bind-Value="@Query"
                    Label="@L["Search_Title"]"
                    InputType="InputType.Search"
                    Variant="Variant.Text"/>

                <div class="w-max-300">
                    <MudSelect
                        Class="mb-0"
                        @bind-Value="@Category"
                        Label="@L["Search_Content_Title"]"
                        Margin="Margin.Dense"
                        Clearable
                        Dense>
                        @foreach (var category in _categories)
                        {
                            <MudSelectItem Value="category.Key">
                                @category.Key (@category.Value)
                            </MudSelectItem>
                        }
                    </MudSelect>
                </div>
                
                <MudButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    ButtonType="ButtonType.Submit"
                    DisableElevation>
                    @L["Search_Title"]
                </MudButton>
            </section>
        </EditForm>
    </section>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="result">
    <EduContainer Class="py-3 py-sm-6">
        <EduFillGrid Class="mb-3 mb-sm-6">
            @foreach (var hint in result.Hints)
            {
                <SearchCard Search="@hint"/>
            }
        </EduFillGrid>

        <MudPagination
            Class="d-flex justify-center py-3 py-sm-6"
            Selected="@CurrentPage"
            SelectedChanged="@OnPagination"
            Count="@TotalPages"
            Rectangular
            DisableElevation/>
    </EduContainer>
</ApiViewer>