<MudPaper Class="@_class" Elevation="0">
    <MudStack Row AlignItems="AlignItems.Center" Class="mb-3">
        <img class="image object-cover object-center rounded-circle" src="@Customer.Image" alt="@Customer.Name" loading="lazy"/>
        <div>
            <MudText Typo="Typo.h6">
                @Customer.Name
            </MudText>
            @if (Customer.CreatedAt > DateOnly.MinValue)
            {
                <MudText Class="mud-text-secondary mb-3 mb-sm-6" Typo="Typo.body2">
                    @L["Account_MemberSince", Customer.Humanize(Customer.CreatedAt)]
                </MudText>
            }
        </div>
    </MudStack>

    <MudText Class="mb-3" Typo="Typo.h6" Align="Align.Center">
        @L["Account_Details"]
    </MudText>

    <MudDivider Class="mb-3"/>

    @foreach (var item in _items)
    {
        <MudStack Row Spacing="1" AlignItems="AlignItems.Center" Class="mb-3">
            <MudText Typo="Typo.body2" Style="font-weight: bold">
                @item.Key:
            </MudText>
            <MudText Typo="Typo.body2" Class="mud-text-secondary">
                @item.Value
            </MudText>
        </MudStack>
    }

    <MudStack Row Justify="Justify.Center" Class="mt-6">
        <MudButton
            DisableElevation
            Variant="Variant.Outlined"
            Color="Color.Primary"
            EndIcon="@Icons.Material.Outlined.OpenInNew"
            Link="@Configuration["Urls:Account"]"
            Target="_blank">
            @L["Account_Elwark"]
        </MudButton>
    </MudStack>
</MudPaper>

@code {
    private string? _class;
    private IDictionary<string, string> _items = new Dictionary<string, string>();

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IConfiguration Configuration { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet()
    {
        var now = DateTime.Now;
        _class = CssBuilder.Default("pa-3 pa-sm-6")
            .AddClass(Class, Class is not null)
            .Build();

        _items = new Dictionary<string, string>
        {
            [L["Account_TimeZone"]] = Customer.TimeZone.Id,
            [L["Account_StartOfWeek"]] = L[$"DayOfWeek:{Customer.StartOfWeek}"],
            [L["Account_DateFormat"]] = $"{Customer.DateFormat} ({now.ToString(Customer.DateFormat)})",
            [L["Account_TimeFormat"]] = $"{Customer.TimeFormat} ({now.ToString(Customer.TimeFormat)})"
        };
    }

}