<section class="d-flex flex-column align-center @Class">
    @if (string.IsNullOrEmpty(Icon))
    {
        <img class="image @Size.ToDescriptionString() mb-3" src="/images/illustration/no_data.svg" alt="no data">
    }
    else
    {
        <MudIcon Class="@($"icon {Size.ToDescriptionString()} mb-3")" Icon="@Icon"/>
    }

    <MudText Typo="@Typo.subtitle1" Align="Align.Center">
        @Title
    </MudText>

    @if (!string.IsNullOrEmpty(Subtitle))
    {
        <MudText Class="mud-text-secondary" Typo="@Typo.body1" Align="Align.Justify">
            @Subtitle
        </MudText>
    }
</section>

@code {

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public Size Size { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
