@if (Started is not null && Finished is not null)
{
    if (Started == Finished)
    {
        <HistoryDate Typo="@Typo" Date="@Started"/>
    }
    else
    {
        <div class="d-inline-flex align-center">
            <HistoryDate Typo="@Typo" Date="@Started"/>

            <MudText Typo="@Typo" Class="mx-3">&#8212;</MudText>

            <HistoryDate Typo="@Typo" Date="@Finished"/>
        </div>
    }
}

@code {

    [Parameter, EditorRequired]
    public HistoricalDateModel? Started { get; set; }

    [Parameter, EditorRequired]
    public HistoricalDateModel? Finished { get; set; }

    [Parameter]
    public Typo Typo { get; set; } = Typo.subtitle1;

}