@using Education.Web.Client.Models.Content
@using Education.Web.Client.Features.History.Services
<section class="mud-paper d-flex justify-space-between pa-3 @Class">
    <MudToolBar Dense DisableGutters Class="d-flex justify-center">
        <BookmarkButton
            IsBookmarked="@UserActivity.IsBookmarked"
            ArticleId="@ArticleId"
            OnBookmarkClick="@OnBookmarkClick"/>

        <MudTooltip Text="@L["Shared_ILikeThis"]">
            <MudIconButton
                Icon="@Icons.Material.Rounded.ThumbUp"
                OnClick="@OnLike"
                Color="@(_isLiked == true ? Color.Primary : Color.Default)"/>
        </MudTooltip>

        <MudTooltip Text="@L["Shared_IDislikeThis"]">
            <MudIconButton
                Icon="@Icons.Material.Rounded.ThumbDown"
                OnClick="@OnDislike"
                Color="@(_isLiked == false ? Color.Primary : Color.Default)"/>
        </MudTooltip>
    </MudToolBar>

    <ArticleRating
        Class="d-flex flex-column align-center justify-center"
        Rating="@Rating"
        ShowDetails/>
</section>

@code {
    private bool? _isLiked;

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string ArticleId { get; set; } = default!;

    [Parameter, EditorRequired]
    public ContentRatingModel Rating { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserActivityOverviewModel UserActivity { get; set; } = default!;

    [Parameter, EditorRequired]
    public Func<Task<bool>> OnLikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter, EditorRequired]
    public Func<Task<bool>> OnDislikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter, EditorRequired]
    public Func<string, Task<bool>> OnBookmarkClick { get; set; } = _ => Task.FromResult(false);

    protected override void OnParametersSet() => _isLiked = UserActivity.IsLiked;

    private async Task OnLike()
    {
        if (_isLiked == true)
            return;

        if (await OnLikeClick())
            _isLiked = true;
    }

    private async Task OnDislike()
    {
        if (_isLiked == false)
            return;

        if (await OnDislikeClick())
            _isLiked = false;
    }

}