@using Education.Web.Client.Features.History.Services
<section class="mud-paper pa-3 pa-sm-6 @Class">
    @if (HasQuiz && UserActivity.PassedQuizzes > 0)
    {
        <MudLink Class="mt-3" Typo="Typo.subtitle2" Href="@HistoryUrl.User.MyArticle(ArticleId)">
            @L["Shared_MyProgress"]
        </MudLink>
    }
    else
    {
        <MudText Class="mt-3" Typo="Typo.subtitle2">
            @L["Shared_MyProgress"]
        </MudText>
    }

    <ArticleProgressView
        Class="mt-3"
        PassedQuizzes="@UserActivity.PassedQuizzes"
        TimeSpent="@UserActivity.TimeSpent"/>

    @if (HasQuiz)
    {
        <MudButton
            Class="mt-3"
            Link="@HistoryUrl.ArticleQuiz.Index(ArticleId)"
            Variant="Variant.Filled"
            Color="Color.Primary"
            FullWidth
            DisableElevation>
            @L["Shared_TakeTheQuiz"]
        </MudButton>
    }
</section>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string ArticleId { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserActivityOverviewModel UserActivity { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool HasQuiz { get; set; }

}