<article class="mud-paper card @(Horizontal ? "horizontal" : "vertical") @Class">
    <div class="card-header">
        <a href="@HistoryUrl.Content.Article(Article.Id)">
            <img src="@Article.ThumbnailUrl" alt="@Article.Title" loading="lazy"/>
        </a>
    </div>

    <section class="content flex-grow-1 gap-3 pa-3">
        <header>
            <div class="@(OneLineTitle ? "one-line-text" : null)">
                <a class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-h6"
                   href="@HistoryUrl.Content.Article(Article.Id)"
                   alt="@Article.Title"
                   title="@Article.Title">
                    @Article.Title
                </a>
            </div>
            <div class="d-flex align-center justify-space-between">
                <a class="mud-typography mud-link mud-text-secondary mud-link-underline-hover mud-typography-body1"
                   href="@HistoryUrl.Content.Articles(Article.Epoch)">
                    @L.GetEpochTitle(Article.Epoch)
                </a>
                <MudTooltip Text="@L["TimeToRead_Title"]">
                    <div class="d-flex align-center">
                        <MudText Class="mr-1" Typo="Typo.body2">@Article.TimeToRead.Humanize(L)</MudText>
                        <MudIcon Icon="@EduIcons.TimeToRead" Size="Size.Small"/>
                    </div>
                </MudTooltip>
            </div>
        </header>

        <div class="flex-grow-1">
            @if (!HideOverview)
            {
                <MudText Typo="Typo.body1">
                    @(ShortOverview && Article.Overview.Length > 60 ? $"{Article.Overview[..57].TrimEnd()}..." : Article.Overview)
                </MudText>
            }
        </div>

        @if (!HideFooter)
        {
            <footer class="d-flex align-center gap-3">
                <ContentRating Rating="@Article.Rating" ShowTooltip/>

                <MudSpacer/>

                @if (HasQuiz)
                {
                    <ArticleCompletionChip
                        Status="@(Activity?.Status ?? LearningStatus.NotEngaged)"
                        Href="@HistoryUrl.User.MyArticle(Article.Id)"
                        Size="Size.Small"
                        ShowTooltip/>
                }

                <AuthorizeView>
                    <BookmarkButton
                        Id="@Article.Id"
                        IsBookmarked="@(Activity?.IsBookmarked ?? false)"
                        OnBookmarkClick="@OnBookmarkClick"/>
                </AuthorizeView>
            </footer>
        }
    </section>
</article>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required ArticleOverviewModel Article { get; set; }

    [Parameter, EditorRequired]
    public bool HasQuiz { get; set; }

    [Parameter, EditorRequired]
    public UserArticleActivityModel? Activity { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Horizontal { get; set; }

    [Parameter]
    public bool HideOverview { get; set; }

    [Parameter]
    public bool HideFooter { get; set; }

    [Parameter]
    public bool ShortOverview { get; set; }

    [Parameter]
    public bool OneLineTitle { get; set; }

}