@using Education.Web.Client.Features.History.Services

<article class="mud-paper card @(Horizontal ? "horizontal" : "vertical") @Class">
    <div class="card-header">
        <a href="@HistoryUrl.Content.Article(Article.Id)">
            <img src="@Article.ThumbnailUrl" alt="@Article.Title" loading="lazy"/>
        </a>
    </div>

    <section class="content flex-grow-1">
        <header class="d-flex justify-space-between gap-3 px-3 pt-3">
            <div class="d-flex flex-column gap-3">
                <a class="mud-link mud-text-secondary mud-link-underline-hover mud-typography-body2"
                   href="@HistoryUrl.Content.Articles(Article.Epoch)">
                    @L[$"History_Epoch{Article.Epoch.ToFastString()}"]
                </a>
                <a class="mud-link mud-primary-text mud-link-underline-hover mud-typography-h6 one-line-text"
                   href="@HistoryUrl.Content.Article(Article.Id)"
                   title="@Article.Title">
                    @Article.Title
                </a>
            </div>
            @if (OnBookmarkClick is not null)
            {
                <BookmarkButton
                    ArticleId="@Article.Id"
                    IsBookmarked="@(Activity?.IsBookmarked ?? false)"
                    OnBookmarkClick="@OnBookmarkClick"/>
            }
        </header>

        @if (HideOverview)
        {
            <div class="flex-grow-1 pt-3"></div>
        }
        else
        {
            <MudText Class="px-3 pt-3 flex-grow-1" Typo="Typo.body2">
                @if (ShortOverview && Article.Overview.Length > 120)
                {
                    @($"{Article.Overview[..117].TrimEnd()}...")
                }
                else
                {
                    @Article.Overview
                }
            </MudText>
        }

        <aside class="d-flex align-center justify-space-between pa-3">
            <ContentRating Rating="@Article.Rating" Size="Size.Small" ShowTooltip/>

            @if (Activity is not null)
            {
                <div class="d-flex align-center gap-3">
                    <NumberOfQuizzesChip
                        NumberOfQuizzes="@Activity.NumberOfEasyQuiz"
                        Color="Color.Info"
                        Tooltip="@L["Shared_NumberOfPassedEasyQuizzes"]"
                        Href="@_href"/>
                    <NumberOfQuizzesChip
                        NumberOfQuizzes="@Activity.NumberOfHardQuiz"
                        Color="Color.Primary"
                        Tooltip="@L["Shared_NumberOfPassedHardQuizzes"]"
                        Href="@_href"/>
                </div>
            }
        </aside>
    </section>
</article>

@code {
    private string? _href;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public ArticleOverviewModel Article { get; set; } = default!;

    [Parameter]
    public UserActivityOverviewModel? Activity { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Horizontal { get; set; }

    [Parameter]
    public bool HideOverview { get; set; }

    [Parameter]
    public bool ShortOverview { get; set; }

    [Parameter]
    public Func<string, Task<bool>>? OnBookmarkClick { get; set; }

    protected override void OnParametersSet() =>
        _href = Activity?.IsPassedAnyQuizzes == true
            ? HistoryUrl.User.MyArticle(Article.Id)
            : null;

}