<section class="mud-paper pa-3 pa-sm-6 @Class">
    <div class="d-flex justify-space-between align-center mb-3 mb-sm-6">
        <MudText Class="mr-3" Typo="Typo.body2">
            @L["Article:TextAlignment"]
        </MudText>
        <MudButtonGroup DisableElevation Size="Size.Small" Variant="Variant.Outlined">
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignLeft"
                Disabled="@(AppSettings.TextAlign == Align.Left)"
                OnClick="@AppSettings.AlignTextLeftAsync"/>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignJustify"
                Disabled="@(AppSettings.TextAlign == Align.Justify)"
                OnClick="@AppSettings.AlignTextJustifyAsync"/>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignCenter"
                Disabled="@(AppSettings.TextAlign == Align.Center)"
                OnClick="@AppSettings.AlignTextCenterAsync"/>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignRight"
                Disabled="@(AppSettings.TextAlign == Align.Right)"
                OnClick="@AppSettings.AlignTextRightAsync"/>
        </MudButtonGroup>
    </div>

    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["Article:Contents"]
            <MudText Typo="Typo.caption" Class="mud-text-secondary">
                @($"x{AppSettings.FontSize:N1}")
            </MudText>
        </MudText>
        <MudButtonGroup DisableElevation Size="Size.Small" Variant="Variant.Outlined">
            <MudIconButton
                DisableElevation
                Disabled="@(!AppSettings.CanDecreaseFont)"
                Icon="@Icons.Material.Outlined.Remove"
                OnClick="@AppSettings.DecreaseFontAsync"/>
            <MudIconButton
                DisableElevation
                Disabled="@(!AppSettings.CanIncreaseFont)"
                Icon="@Icons.Material.Outlined.Add"
                OnClick="@AppSettings.IncreaseFontAsync"/>
        </MudButtonGroup>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CascadingAppSettings AppSettings { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}