@using Education.Web.Client.Features.History.Services
@using Education.Web.Client.Features.History.Services.Course.Model

<section class="mud-paper card @(Horizontal ? "horizontal" : "vertical") @Class">
    <header class="card-header">
        <a href="@HistoryUrl.Content.Course(Course.Id)">
            <img src="@Course.ThumbnailUrl" alt="@Course.Title" loading="lazy"/>
        </a>
    </header>

    <article class="content">
        <header class="px-3 pt-3">
            <a class="mud-link mud-primary-text mud-link-underline-hover mud-typography-h6 one-line-text"
               href="@HistoryUrl.Content.Course(Course.Id)"
               title="@Course.Title">
                @Course.Title
            </a>
        </header>

        <MudText Class="px-3 pt-3 flex-grow-1" Typo="Typo.body2">
            @Course.Overview
        </MudText>

        <aside class="d-flex align-center justify-space-between pa-3">
            <ContentRating Rating="@Course.Rating" Size="Size.Medium" ShowTooltip/>

            @if (OnBookmarkClick is not null)
            {
                <BookmarkButton
                    Id="@Course.Id"
                    IsBookmarked="@(Activity?.IsBookmarked ?? false)"
                    OnBookmarkClick="@OnBookmarkClick"/>
            }
        </aside>
    </article>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public CourseOverviewModel Course { get; set; } = default!;

    [Parameter]
    public UserCourseActivityModel? Activity { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Horizontal { get; set; }

    [Parameter]
    public Func<string, Task<bool>>? OnBookmarkClick { get; set; }

}