@using Education.Web.Client.Features.History.Services
@using Education.Web.Client.Features.History.Services.Course.Model

<section class="mud-paper card @(Horizontal ? "horizontal" : "vertical") @Class">
    <header class="card-header">
        <a href="@HistoryUrl.Content.Course(Course.Id)">
            <img src="@Course.ThumbnailUrl" alt="@Course.Title" loading="lazy"/>
        </a>
    </header>

    <article class="content">
        <aside class="d-flex align-center justify-space-between px-3">
            <ContentRating Rating="@Course.Rating" Size="Size.Small" ShowTooltip/>

            <BookmarkButton
                ArticleId="@Course.Id"
                IsBookmarked="false"
                OnBookmarkClick="@OnBookmarkClick"/>
        </aside>

        <div class="px-3 pb-3">
            <MudLink Href="@HistoryUrl.Content.Course(Course.Id)" Typo="Typo.h6">
                @Course.Title
            </MudLink>
        </div>

        <MudText Class="px-3 pb-3" Typo="Typo.body2">
            @Course.Overview
        </MudText>
    </article>
</section>

@code {
    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public CourseOverviewModel Course { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Horizontal { get; set; }

    [Parameter]
    public Func<string, Task<bool>> OnBookmarkClick { get; set; } = _ => Task.FromResult(false);

}