@typeparam T

<section class="mud-paper d-flex flex-column @Class">
    <header class="d-flex align-center justify-space-between px-3 pt-3 px-sm-6 pt-sm-6">
        <MudText Typo="Typo.h5">
            @Title
        </MudText>
        <MetricNumber Value="@Value" Typo="Typo.h5"/>
    </header>

    <article class="flex-grow-1 pa-3 pa-sm-6">
        @ChildContent
    </article>

    @if (Href is not null)
    {
        <MudDivider FlexItem Style="flex-grow: 0"/>

        <footer class="px-3 py-3">
            <MudButton
                Class="text-transform-none"
                EndIcon="@Icons.Material.Outlined.ArrowForward"
                Href="@Href">
                @L["Shared_ButtonSeeMore"]
            </MudButton>
        </footer>
    }
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public T Value { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

}