@page "/history/my/finance"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["Finance_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@_breadcrumbs"/>
</EduContainer>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        @if (context.Transactions.Length > 0)
        {
            <section class="grid">
                <EduFillGrid>
                    @foreach (var wallet in context.Wallets)
                    {
                        <WalletCard Wallet="@wallet"/>
                    }
                </EduFillGrid>

                <BalanceStatisticsCard Class="activity" Activities="@context.Activities"/>

                <TransactionsCard Class="transactions" Transactions="@context.Transactions"/>
            </section>
        }
        else
        {
            <EduNoContent
                Size="Size.Large"
                Title="@_localizer["Finance_NoActivity_Title"]"
                Subtitle="@_localizer["Finance_NoActivity_Description"]"/>
        }
    </EduContainer>
</EduApiViewer>
