@page "/history/my/finance"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Finance_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="model">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            @foreach (var wallet in model.Wallets)
            {
                <WalletCard Wallet="@wallet"/>
            }

            <section class="mud-paper grid-column-span-sm-2 pa-3 pa-sm-6">
                @if (model.Activities.Length > 0)
                {
                    <ActivityChart Activities="@model.Activities"/>
                    <ActivityTable Activities="@model.Activities"/>
                }
                else
                {
                    <NoContent Title="@L["Activities_NoActivitiesWithinTheLast7Days"]"/>
                }
            </section>
        </section>
    </EduContainer>
</ApiViewer>