@page "/history/my/finance"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["Finance_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@_breadcrumbs"/>
</EduContainer>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <BalanceStatisticsCard Class="activity" Activities="@context.Activities"/>

            <div class="wallets">
                @foreach (var wallet in context.Wallets)
                {
                    <WalletCard Wallet="@wallet"/>
                }
            </div>

            <TransactionsCard Class="transactions" Transactions="@context.Transactions"/>

            <OrdersCard Class="orders" Orders="@context.Orders"/>
        </section>
    </EduContainer>
</EduApiViewer>
