@page "/history/my/finance"
@using Education.Client.Features.History.Clients.User.Model
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Finance_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="model">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <EduFitGrid>
                @foreach (var wallet in model.Wallets)
                {
                    <WalletCard Wallet="@wallet"/>
                }
            </EduFitGrid>

            <section class="activity mud-paper pa-3 pa-sm-6">
                <ActivityChart Activities="@model.Activities"/>

                @if (model.Activities.Length > 0)
                {
                    <ActivityTable Activities="@model.Activities"/>
                }
                else
                {
                    <NoContent Title="@L["Activities_NoActivitiesWithinTheLast7Days"]"/>
                }
            </section>

            <section class="transactions mud-paper pa-3 pa-sm-6">
                <MudText Class="mb-3" Typo="Typo.h6">
                    @L["Transactions_Recent_Title"]
                </MudText>
                <MudTable Items="@model.Transactions" Elevation="0" Breakpoint="Breakpoint.None">
                    <RowTemplate>
                        <MudTd>
                            <MudText Typo="Typo.subtitle1">
                                @context.Title
                            </MudText>
                            <MudText Class="mud-text-secondary" Typo="Typo.body1">
                                @Customer.Humanize(context.Date)
                            </MudText>
                        </MudTd>
                        <MudTd>
                            @if (context.Kind == TransactionKind.Income)
                            {
                                <MudText Typo="Typo.caption" Color="Color.Success">
                                    @L["InternalMoney_Income_Title"]
                                </MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.caption" Color="Color.Error">
                                    @L["InternalMoney_Expense_Title"]
                                </MudText>
                            }
                            <InternalMonies Monies="@context.Monies" Horizontal/>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </section>
        </section>
    </EduContainer>
</ApiViewer>