@page "/history"
@using Education.Client.Features.History.Clients.Article.Request
@using Education.Client.Features.History.Clients.Course.Request
@layout HistoryLayout

<PageTitle>
    @L["History_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="@EduWidth.W1920">
    <HistoryHeader MaxWidth="EduWidth.W1440"/>
</EduContainer>

<EduContainer Class="py-3 py-sm-6" MaxWidth="@EduWidth.W1440">
    <UnderlinedTitle
        Class="mb-6"
        Title="@L["Articles_Trending_Title"]"
        Href="@HistoryUrl.Content.Articles(GetArticlesRequest.SortType.Trending)"
        HrefTitle="@L["Button_ViewAll"]"/>

    <TrendingArticles/>
</EduContainer>

<EduContainer Class="py-3 py-sm-6" MaxWidth="@EduWidth.W1440">
    <UnderlinedTitle Class="mb-3 mb-sm-6" Title="@L["History_Epochs_Title"]"/>

    <EpochSlider/>
</EduContainer>

<EduContainer Class="mb-3 mb-sm-6 gray darken-4" MaxWidth="@EduWidth.W1440">
    <DailyArticle Class="my-6 my-sm-12"/>
</EduContainer>

<EduContainer Class="py-3 py-sm-6" MaxWidth="@EduWidth.W1440">
    <UnderlinedTitle
        Class="mb-6"
        Title="@L["Courses_Trending_Title"]"
        Href="@HistoryUrl.Content.Courses(GetCourseRequest.SortType.Trending)"
        HrefTitle="@L["Button_ViewAll"]"/>

    <TrendingCourses/>
</EduContainer>

<div></div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

}
