@inject IStringLocalizer<App> L

<footer class="footer">
    <div class="links">
        <MudLink Href="@Links.Root">
            @L["HomePage"]
        </MudLink>
        <div class="mx-3"></div>
        <MudLink Href="@Links.History.Index">
            @L["Subject:History"]
        </MudLink>
    </div>
    <div>
        <img src="https://res.cloudinary.com/elwark/image/upload/v1613019539/Elwark/primary/36x36_jki1hi.png" alt="Elwark logo"/>
    </div>
    <div>
        <MudText Typo="Typo.body1">
            &COPY; @DateTime.Now.Year Elwark
        </MudText>
    </div>
</footer>
