@using Elwark.Education.Web.Infrastructure.LocalStorage
@inherits LayoutComponentBase
@inject ILocalStorage LocalStorage
@inject IStringLocalizer<App> L

<MudThemeProvider Theme="_currentTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="25">
        @* <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle"/> *@

        <AuthorizeView>

            <NotAuthorized>
                <MudHidden Breakpoint="Breakpoint.Xs">
                    <MudLink Href="@Links.Root" Typo="Typo.h5" Color="Color.Default" Underline="Underline.None">
                        Education <sup class="beta">beta</sup>
                    </MudLink>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndUp">
                    <a href="@Links.Root">
                        <MudAvatar Rounded="false" Square="true" Color="Color.Transparent" Image="https://res.cloudinary.com/elwark/image/upload/v1613019539/Elwark/primary/36x36_jki1hi.png"/>
                    </a>
                </MudHidden>
            </NotAuthorized>

            <Authorized>
                <MudHidden Breakpoint="Breakpoint.Xs">
                    <MudLink Href="@Links.History.Index" Typo="Typo.h5" Color="Color.Default" Underline="Underline.None">
                        @L["Subject:History"] <sup class="beta">beta</sup>
                    </MudLink>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndUp">
                    <a href="@Links.History.Index">
                        <MudAvatar Rounded="false" Square="true" Color="Color.Transparent" Image="https://res.cloudinary.com/elwark/image/upload/v1613019539/Elwark/primary/36x36_jki1hi.png"/>
                    </a>
                </MudHidden>
            </Authorized>

        </AuthorizeView>

        <MudAppBarSpacer/>
        <LanguageSelector/>
        <MudIconButton Icon="@_themeIcon" Color="Color.Inherit" OnClick="@SwitchTheme"/>
        <UserMenu/>
    </MudAppBar>

    @* <MudDrawer @bind-Open="@_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Docked"> *@
    @*     <NavMenu/> *@
    @* </MudDrawer> *@

    <MudMainContent Class="main-content">
        <main>
            @Body
        </main>
        <footer>
            <MudText Typo="Typo.body1" Align="Align.Center" Class="my-3">
                &COPY; @DateTime.Now.Year Elwark
            </MudText>
        </footer>
        <MudScrollToTop TopOffset="400" Style="z-index: 1000">
            <MudFab Color="Color.Primary" Icon="@Icons.Filled.KeyboardArrowUp"/>
        </MudScrollToTop>
    </MudMainContent>
</MudLayout>

@code {
    // bool _drawerOpen;
    MudTheme _currentTheme = new();
    string _themeIcon = Icons.Filled.Brightness7;

    protected override void OnInitialized() =>
        _currentTheme = _lightTheme;

    // private void DrawerToggle() =>
    // _drawerOpen = !_drawerOpen;

    private void SwitchTheme()
    {
        if (_currentTheme == _lightTheme)
        {
            _currentTheme = _darkTheme;
            _themeIcon = Icons.Filled.Brightness3;
        }
        else
        {
            _currentTheme = _lightTheme;
            _themeIcon = Icons.Filled.Brightness7;
        }
    }

    private readonly MudTheme _lightTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#5664d2",
            Secondary = "#3f51b5",
            Tertiary = "#8560c7",
            Black = "#272c34",
            Background = "#f4f6f8",
            BackgroundGrey = "#e3e5e7",
            AppbarBackground = Colors.Shades.White, //"#3949ab"
            AppbarText = Colors.Grey.Darken3 //"#27272f"
        }
    };

    private readonly MudTheme _darkTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#5664d2",
            Secondary = "#3f51b5",
            Tertiary = "#8560c7",
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            DrawerIcon = "rgba(255,255,255, 0.50)"
        }
    };

}
