@using Elwark.Education.Web.Infrastructure.LocalStorage
@inherits LayoutComponentBase
@inject ILocalStorage LocalStorage

<MudThemeProvider Theme="_currentTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="25">
        <MudIconButton Icon="@Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle"/>
        <MudText Typo="Typo.h5">Education</MudText>
        <MudAppBarSpacer/>
        <LanguageSelector/>
        <MudTooltip Text="Toggle theme">
            <MudIconButton Icon="@_themeIcon" Color="Color.Inherit" OnClick="@SwitchTheme"/>
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Clipped="false" Elevation="25">
        <a href="@Links.Root" class="drawer-header">
            <img src="http://localhost:3000/static/icons/elwark/white/32x32.png" alt="logo"/>
        </a>
        <AuthorizeView>
            <Authorized>
                <div class="appbar-band">
                    <MudAvatar Image="@(context.User.GetImage())" Size="Size.Large"/>
                    <MudText Typo="Typo.subtitle1" Class="mt-1">
                        @context.User.GetName()
                    </MudText>
                </div>
            </Authorized>

            <Authorizing>
                <MudSkeleton SkeletonType="SkeletonType.Circle" Width="56px" Height="56px" Style="margin: 10px auto"/>
                <MudSkeleton SkeletonType="SkeletonType.Text" Width="90%" Style="margin: 0 auto"/>
            </Authorizing>

        </AuthorizeView>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="main-content">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen;
    MudTheme _currentTheme = new();
    string _themeIcon = Filled.Brightness7;

    protected override void OnInitialized() => 
        _currentTheme = _defaultTheme;

    private void DrawerToggle() => 
        _drawerOpen = !_drawerOpen;

    private void SwitchTheme()
    {
        if (_currentTheme == _defaultTheme)
        {
            _currentTheme = _darkTheme;
            _themeIcon = Filled.Brightness3;
        }
        else
        {
            _currentTheme = _defaultTheme;
            _themeIcon = Filled.Brightness7;
        }
    }

    private readonly MudTheme _defaultTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#3f51b5",
            Secondary = "#606fc7",
            Tertiary = "#8560c7",
            Black = "#272c34",
            Background = "#f4f6f8",
            BackgroundGrey = "#e3e5e7",
            AppbarBackground = "#3949ab"
        }
    };

    private readonly MudTheme _darkTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#3f51b5",
            Secondary = "#606fc7",
            Tertiary = "#8560c7",
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            DrawerIcon = "rgba(255,255,255, 0.50)"
        }
    };

}