@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<App> L

<MudNavMenu Class="navmenu">
    @* <MudHidden Breakpoint="Breakpoint.SmAndUp"> *@
    @*     <MudLink Href="@Links.Root" Typo="Typo.h5" Color="Color.Default" Underline="Underline.None"> *@
    @*         Education <sup class="beta">beta</sup> *@
    @*     </MudLink> *@
    @* </MudHidden> *@

    <MudHidden Breakpoint="Breakpoint.SmAndUp">
        <div class="d-flex flex-row justify-center">
            <MudLink Href="@Links.Root" Underline="Underline.None">
                <MudAvatar
                    Color="Color.Transparent"
                    Square="true"
                    Rounded="false"
                    Image="https://res.cloudinary.com/elwark/image/upload/v1613019539/Elwark/primary/36x36_jki1hi.png"/>
            </MudLink>
        </div>
    </MudHidden>

    <MudNavLink Href="@Links.History.Index" Icon="@SubjectType.History.GetStatic().Icon">
        @L["Subject:History"]
    </MudNavLink>
</MudNavMenu>

@code {
    
}
