@using Elwark.Education.Web.Gateways.User
@using Elwark.Education.Web.Gateways.Models.User
@inherits LayoutComponentBase
@layout MainLayout
@inject IUserClient UserClient
@inject IStringLocalizer<App> L

<div class="profile-header">
    <div class="profile-header-cover">
        <AuthorizeView>
            <Authorized>
                @{
                    var name = context.User.GetName();
                }
                <Title Value="@name"></Title>
                <div class="profile-avatar-container">
                    <MudAvatar Style="width: 100px; height: 100px" Image="@(context.User.GetImage())"/>
                </div>
                <div class="profile-header-bottom-bar">
                    <MudText Typo="Typo.h4" GutterBottom="true">
                        @name
                    </MudText>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

<MudPaper Square="true" Elevation="0" Class="px-6 mb-6">
    <div class="profile-menu">
        @if (_profile.Status == ResponseStatus.Loading)
        {
            @for (var i = 0; i < 3; i++)
            {
                <div class="profile-menu-item">
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Width="30px" Height="30px"/>
                </div>
                <MudDivider Vertical="true" FlexItem="true" Class="mx-3"/>
            }
            <div class="profile-menu-item">
                <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Width="30px" Height="30px"/>
            </div>
        }
        else if (_profile.Status == ResponseStatus.Success)
        {
            <div class="profile-menu-item">
                <MudText Typo="Typo.subtitle2">
                    @_profile.Data.Statistics.Summary.CompletedTests.Total
                </MudText>
                <MudText Typo="Typo.body2">
                    @L["PassedTests"]
                </MudText>
            </div>
            <MudDivider Vertical="true" FlexItem="true" Class="mx-6"/>
            <div class="profile-menu-item">
                <MudText Typo="Typo.subtitle2">
                    @_profile.Data.Statistics.Summary.Score.Total
                </MudText>
                <MudText Typo="Typo.body2">
                    @L["Score"]
                </MudText>
            </div>
            <MudDivider Vertical="true" FlexItem="true" Class="mx-6"/>
            <div class="profile-menu-item">
                <MudText Typo="Typo.subtitle2">
                    @_profile.Data.Statistics.Summary.TimeSpent.ToSimpleFormat()
                </MudText>
                <MudText Typo="Typo.body2">
                    @L["TimeSpent"]
                </MudText>
            </div>
            <MudDivider Vertical="true" FlexItem="true" Class="mx-6"/>
            <div class="profile-menu-item">
                <MudText Typo="Typo.subtitle2">
                    @_profile.Data.Statistics.Summary.AnswerRatio.Questions
                </MudText>
                <MudText Typo="Typo.body2">
                    @L["Questions"]
                </MudText>
            </div>
        }
    </div>
</MudPaper>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <CascadingValue Value="_profile">
        @Body
    </CascadingValue>
</MudContainer>

@code {
    ApiResponse<Profile> _profile = ApiResponse<Profile>.Loading();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _profile = await UserClient.GetProfileAsync();
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }

}