@using Elwark.Education.Web.Gateways.Models.User
@inject IStringLocalizer<App> L

<div class="@Class pa-4">
    <div class="header">
        <SubjectIcon SubjectType="@Test.SubjectType" Size="Size.Medium"/>
        <div>
            <MudLink Typo="Typo.subtitle1" Href="@Links.Subjects.Test(Test.SubjectType, Test.Id)">
                @Test.Title
            </MudLink>
            <MudText Typo="Typo.body2">
                @L[$"Subject:{Test.SubjectType}"]
            </MudText>
        </div>
    </div>
    <MudDivider DividerType="DividerType.FullWidth" Class="my-4"/>
    <div class="d-flex flex-row align-center">
        <MudIcon Icon="@Icons.Filled.Timer" Size="Size.Small"/>
        <MudText Typo="Typo.body2" Class="ml-1">
            @L["Deadline"]
        </MudText>
        <MudText Typo="Typo.body2" Class="ml-3">
            @Test.ExpiredAt.ToSimpleFormat()
        </MudText>
    </div>
</div>

@code{

    [Parameter]
    public CurrentTest Test { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }
}
