@page "/profile"
@using Elwark.Education.Web.Gateways.User
@inject IUserClient UserClient
@inject IDialogService Dialog
@inject IStringLocalizer<App> L
@attribute [Authorize]

<div class="ma-6">
    <ApiResponseViewer InitLoader="@(() => UserClient.GetProfileAsync())">
        <Loading>
            <CardsSkeleton/>
        </Loading>
        <Result Context="profile">
            <div class="subjects">
                <ProfileUserCard Statistics="@profile.Statistics.Summary"/>
                @if (profile.CurrentTests.Length > 0)
                {
                    <MudPaper>
                        <MudText Typo="Typo.h5" Align="Align.Center" Class="my-3">
                            @L["CurrentTests"]
                        </MudText>

                        @foreach (var test in profile.CurrentTests)
                        {
                            <ProfileCurrentTestCard Test="@test" Class="mb-3"/>
                        }
                    </MudPaper>
                }
                @foreach (var subscription in profile.Subjects.OrderBy(x => L[x.SubjectType.ToString()].Value))
                {
                    <ProfileSubscriptionCard
                        Subject="@subscription"
                        OnBuyClick="@OnBuyClick"
                        OnManageClick="@OnManageClick"/>
                }
            </div>
        </Result>
    </ApiResponseViewer>
</div>

@code {

    private void OnBuyClick(SubjectType subjectType)
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            NoHeader = true,
            CloseButton = false,
            FullWidth = true
        };
        var parameters = new DialogParameters
        {
            [nameof(SubscriptionModal.SubjectType)] = subjectType
        };

        Dialog.Show<SubscriptionModal>(null, parameters, options);
    }

    private void OnManageClick(SubjectType subjectType)
    {
        Console.WriteLine($@"On prolong click: {subjectType}");
    }

}