@page "/profile/{page}"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.Statistics
@using Elwark.Education.Web.Pages.Profile.Components

@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L

@attribute [Authorize]

<ProfileSubjectHeader SubjectType="@_type" Selected="@(ProfileSubMenu.Statistics)"/>
<div class="ma-6">
    <ApiResponseViewer InitLoader="@Loader">
        <Loading>
            <CardsSkeleton/>
        </Loading>
        <Result Context="statistics">
            <Title Value="@L["Statistics"]"></Title>
            <div class="grid">
                <div>
                    <MudText Typo="Typo.h5" Class="mb-2">
                        @L["Statistics:ByTopics"]
                    </MudText>
                    <ProfileTopicStatistics
                        Statistics="@statistics.Topics"
                        LinkBuilder="@(id => Links.Subjects.Topic(_type, id))"/>
                </div>
                <div>
                    <MudText Typo="Typo.h5" Class="mb-2">
                        @L["Statistics:ByArticles"]
                    </MudText>
                    <ProfileArticleStatistics
                        Class="mb-6"
                        Statistics="@statistics.Articles"
                        LinkBuilder="@(id => Links.Subjects.Article(_type, id))"/>
                </div>
            </div>
        </Result>
    </ApiResponseViewer>
</div>

@code {

    [Parameter]
    public string Page { get; set; } = string.Empty;

    private SubjectType _type;

    protected override void OnParametersSet() =>
        Enum.TryParse(Page, true, out _type);

    private Task<ApiResponse<ContentStatistics>> Loader() =>
        _type switch{
            SubjectType.History => HistoryClient.GetMyStatisticsAsync(),
            _ => Task.FromResult(ApiResponse<ContentStatistics>.Fail(Error.NotFound))
            };

}