@page "/history/search"
@layout HistoryLayout

<PageTitle>
    @L["History_Title"]: @Query
</PageTitle>

<EduContainer Class="py-3 py-sm-6 mb-6">
    <section class="background rounded">
        <h2 class="title white-text">
            <b>@_result.Map(x => L["Search_CountOfFountResults", x.Count])</b>
        </h2>

        <EditForm Model="@(this)" OnValidSubmit="OnSearchSubmit">
            <section class="search mud-paper">
                <MudTextField
                    Class="flex-sm-grow-1"
                    @bind-Value="@Query"
                    Label="@L["Search_Title"]"
                    InputType="InputType.Search"
                    Variant="Variant.Text"/>

                <MudSelect
                    @bind-Value="@Category"
                    Label="@L["Search_Content_Title"]"
                    Margin="Margin.Dense"
                    Clearable
                    Dense>
                    @foreach (var category in _categories)
                    {
                        <MudSelectItem Value="category.Key">
                            @category.Key (@category.Value)
                        </MudSelectItem>
                    }
                </MudSelect>

                <div class="search-button">
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        ButtonType="ButtonType.Submit"
                        FullWidth
                        DisableElevation>
                        @L["Search_Title"]
                    </MudButton>
                </div>
            </section>
        </EditForm>

    </section>
</EduContainer>

<ApiViewer Result="_result" Context="result">
    <EduContainer Class="py-3 py-sm-6">
        <EduFillGrid Class="mb-6 mb-sm-12">
            @foreach (var hint in result.Hints)
            {
                <SearchCard Search="@hint"/>
            }
        </EduFillGrid>

        <MudPagination
            Class="d-flex justify-center py-3 py-sm-6"
            Selected="@CurrentPage"
            SelectedChanged="@OnPagination"
            Count="@TotalPages"
            Rectangular
            DisableElevation/>
    </EduContainer>
</ApiViewer>