@using Education.Web.Client.Features.History.Services.Search.Model
<article class="mud-paper card @(Horizontal ? "horizontal" : "vertical") @Class">
    <div class="card-header">
        <a href="@Search.ContentHref">
            <img src="@Search.ImageUrl" alt="@Search.Title" loading="lazy"/>
        </a>
    </div>

    <section class="content flex-grow-1 gap-3 pa-3">
        <header>
            <MudLink Href="@Search.ContentHref" Typo="Typo.h5">
                @Search.Title
            </MudLink>
            <br/>
            <a class="mud-typography mud-link mud-text-secondary mud-link-underline-hover mud-typography-body1" href="@Search.CategoryHref">
                @CategoryTitle
            </a>
        </header>

        <MudText Class="flex-grow-1" Typo="Typo.body1">
            @Search.Overview
        </MudText>
    </section>
</article>

@code {
    private string? CategoryTitle =>
        Search.Category switch {
            "Article" => L["Articles_Title"].ToString(),
            "Course"=>L["Courses_Title"].ToString(),
            _=> null
            };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public SearchModel Search { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Horizontal { get; set; }

}