@page "/history/my/date-guessers/{test}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_title
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="result">
    <EduContainer Class="pb-3 pb-sm-6">
        <StatisticDetailsGrid>
            <StatisticDetailsCard>
                <TotalContent>
                    <Subheader Title="@L["History_DateGuesser_Score"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@result.Score"/>
                </TotalContent>
                <ProgressContent>
                    <Subheader Title="@L["Progress_Title"]" Subtitle="@result.Delta.RangeTitle()"/>
                    <ProgressList Items="@result.Delta.Score.GetProgress(L)"/>
                </ProgressContent>
            </StatisticDetailsCard>

            <StatisticDetailsCard>
                <TotalContent>
                    <Subheader Title="@L["History_DateGuesser_Questions"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <DateGuesserAnswerRatioChart AnswerRatio="@result.AnswerRatio"/>
                </TotalContent>
                <ProgressContent>
                    <Subheader Title="@L["Progress_Title"]" Subtitle="@result.Delta.RangeTitle()"/>
                    <ProgressList Items="@result.Delta.AnswerRatio.GetProgress(L)"/>
                </ProgressContent>
            </StatisticDetailsCard>

            <MudPaper Elevation="0" Class="pa-3 pa-sm-6">
                <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-3 mb-sm-6">
                    <MudText Typo="Typo.h5">
                        @L["Quizzes_Title"]
                    </MudText>
                    <MetricNumber Value="@result.Tests" Typo="Typo.h5"/>
                </MudStack>
                <section>
                    <Subheader Title="@L["Progress_Title"]" Subtitle="@result.Delta.RangeTitle()"/>
                    <ProgressList Items="@result.Delta.GetProgress(L)"/>
                </section>
            </MudPaper>
        </StatisticDetailsGrid>
    </EduContainer>
</ApiViewer>
