@page "/history/quizzes"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Quizzes_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="model">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <section class="builder">
                <MudText Class="mb-3" Typo="Typo.h6">
                    @L["History_Epoch_Title"]
                </MudText>
                <EpochRadioGroup
                    Class="mb-3 mb-sm-6"
                    SelectedEpoch="@_settings.Epoch"
                    SelectedEpochChanged="@ChangeEpochAsync"/>

                <MudText Class="mb-3" Typo="Typo.h6">
                    @L["Quiz_Type_Title"]
                </MudText>

                <QuizDifficulties
                    Quizzes="@model.Quizzes"
                    OnClick="@CreateQuizAsync"/>
            </section>

            <section class="inventory">
                <MudText Typo="Typo.h6" Class="mb-3">
                    @L["Quiz_Equipment_Title"]
                </MudText>
                <InventoryGrid Inventories="@model.Inventories" StoreHref="@HistoryUrl.Store.Inventory(CategoryType.Quiz)">
                    <ChildContent>
                        <InventoryInfoCard
                            Title="@context.Title"
                            Overview="@context.Overview"
                            Quantity="@context.Quantity"
                            IconUrl="@context.ImageUrl"/>
                    </ChildContent>
                    <EmptyContent>
                        <InventoryShortageCard
                            Class="w-max-600"
                            Href="@HistoryUrl.Store.Inventory(CategoryType.Quiz)"/>
                    </EmptyContent>
                </InventoryGrid>
            </section>
        </section>
    </EduContainer>
</ApiViewer>
