@page "/history/quizzes/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <PageTitle>
        @L.GetQuizDifficultyTitle(context.Difficulty): @context.Title
    </PageTitle>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <article class="d-flex flex-column mud-paper gap-3 gap-sm-6 py-3 py-sm-6">
                <EduCompletedStars Progress="@((double)context.TotalScore.Value / context.TotalScore.Total)"/>

                <MudAlert Class="mb-3" Severity="@GetColor(context.Status)" ContentAlignment="HorizontalAlignment.Center" Square>
                    @L.GetStatusTitle(context.Status)
                </MudAlert>

                <RewardsContainer Class="flex-1" Rewards="@context.Rewards"/>

                <div class="d-flex justify-center">
                    <MudButton Color="Color.Primary"
                               DisableElevation
                               DisableRipple
                               Href="@HistoryUrl.Content.QuizBuilder(context.ArticleId)"
                               Size="Size.Large"
                               Variant="Variant.Filled">
                        @L["Quiz_TakeTheQuizAgain"]
                    </MudButton>
                </div>
            </article>

            <ScoreConclusionCard Conclusion="@context"/>
        </section>
    </EduContainer>

    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1280">
        <MudTable Items="@context.Questions" Breakpoint="Breakpoint.Xs" Elevation="0" Hover>
            <ToolBarContent>
                <MudLink Href="@HistoryUrl.Content.Article(context.ArticleId)" Typo="Typo.h6">
                    @context.Title
                </MudLink>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>@L["Question_Title"]</MudTh>
                <MudTh>@L["Question_Answered"]</MudTh>
                <MudTh>@L["Question_Correct"]</MudTh>
                <MudTh>@L["Question_Incorrect"]</MudTh>
            </HeaderContent>
            <RowTemplate Context="question">
                <MudTd DataLabel="@L["Question_Title"]">
                    @question.Title
                </MudTd>
                <MudTd DataLabel="@L["Question_Answered"]">
                    <MudIcon Size="Size.Small" Icon="@GetCheckIcon(question.IsAnswered)"/>
                </MudTd>
                <MudTd DataLabel="@L["Question_Correct"]">
                    @question.Correct
                </MudTd>
                <MudTd DataLabel="@L["Question_Incorrect"]">
                    @question.Incorrect
                </MudTd>
            </RowTemplate>
            <FooterContent>
                <MudTh/>
                <MudTh>
                    @context.Questions.Count(x => x.IsAnswered) / @context.Questions.Length
                </MudTh>
                <MudTh>
                    @context.Questions.Sum(x => x.Correct) / @context.Questions.Length
                </MudTh>
                <MudTh>
                    @context.Questions.Sum(x => x.Incorrect) / @context.Questions.Length
                </MudTh>
            </FooterContent>
        </MudTable>
    </EduContainer>
</EduApiViewer>
