@page "/history/quizzes/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <PageTitle>
        @_localizer.GetQuizDifficultyTitle(context.Difficulty): @context.Title
    </PageTitle>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <article class="stats d-flex flex-column mud-paper gap-3 gap-sm-6 py-3 py-sm-6">
                <EduCompletedStars Progress="@((double)context.TotalScore.Value / context.TotalScore.Total)"/>

                <MudAlert
                    Class="mb-3"
                    Severity="@GetColor(context.Status)"
                    ContentAlignment="HorizontalAlignment.Center"
                    Square>
                    @_localizer.GetStatusTitle(context.Status)
                </MudAlert>

                <RewardsContainer Class="flex-1" Rewards="@context.Rewards"/>

                <div class="d-flex justify-center">
                    <MudButton
                        Color="Color.Primary"
                        DropShadow="false"
                        Ripple="false"
                        Href="@HistoryUrl.Content.QuizBuilder(context.ArticleId)"
                        Size="Size.Large"
                        Variant="Variant.Filled">
                        @_localizer["Quiz_TakeTheQuizAgain"]
                    </MudButton>
                </div>
            </article>

            <ScoreConclusionCard Class="score" Conclusion="@context"/>

            <section class="ratio mud-paper d-flex flex-column pa-3 pa-sm-6">
                <QuizAnswerRatioChart Ratio="@context.Ratio"/>
            </section>
        </section>
    </EduContainer>
</EduApiViewer>
