<div class="card">
    <div class="pricing">
        <div class="pricing-icon">
            <MudIcon Icon="@EduIcons.SubscriptionBasic" Size="Size.Large" ViewBox="0 -17 512.00046 512"/>
            <MudIcon Icon="@EduIcons.SubscriptionAdvanced" Size="Size.Large" ViewBox="0 -17 512.00046 512"/>
            <MudIcon Icon="@EduIcons.SubscriptionFree" Size="Size.Large" ViewBox="0 -17 512.00046 512"/>
        </div>
        <div class="price">
            <h6 class="price-symbol">
                $
            </h6>
            <h4 class="price-value">
                @Price
            </h4>
            <h6 class="price-period">
                /@(Months == 1 ? "mo" : $"{Months} mo")
            </h6>
        </div>
        <h6 class="pricing-title">
            @* @L[$"Subscription:{Type}"] *@
        </h6>
        <p class="pricing-description">
            @* @string.Join(",", Subjects.Select(x => L[$"Subject:{x}"])) *@
        </p>
    </div>
    <MudDivider/>
    <div class="options">
        <div class="option-item">
            <MudIcon Icon="@Icons.Material.Outlined.Check" Size="Size.Small"/>
            <MudText Typo="Typo.body2" Class="ml-3">
                All previous
            </MudText>
        </div>
        <div class="option-item">
            <MudIcon Icon="@Icons.Material.Outlined.Check" Size="Size.Small"/>
            <MudText Typo="Typo.body2" Class="ml-3">
                Highlights reporting
            </MudText>
        </div>
        <div class="option-item">
            <MudIcon Icon="@Icons.Material.Outlined.Check" Size="Size.Small"/>
            <MudText Typo="Typo.body2" Class="ml-3">
                Data history
            </MudText>
        </div>
        <div class="option-item">
            <MudIcon Icon="@Icons.Material.Outlined.Check" Size="Size.Small"/>
            <MudText Typo="Typo.body2" Class="ml-3">
                Unlimited users
            </MudText>
        </div>
        <div class="flex-grow-1"></div>
        <div class="d-flex mt-12">
            <LoadingButton
                FullWidth
                DisableElevation
                Variant="Variant.Filled"
                Color="Color.Primary"
                IsLoading="@_isLoading"
                Text="@L["Subscription:BuyNow"]"
                LoadingText="@L["Loading_Title"]"
                OnClick="@OnClick"/>
        </div>
    </div>
</div>

@code {
    private bool _isLoading;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public string Id { get; set; } = default!;

    [Parameter, EditorRequired]
    public decimal Price { get; set; }

    [Parameter, EditorRequired]
    public uint Months { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<string> OnBuyClick { get; set; }

    private async Task OnClick()
    {
        _isLoading = true;

        try
        {
            await OnBuyClick.InvokeAsync(Id);
        }
        finally
        {
            _isLoading = false;
        }
    }

}