<section class="@Class">
    <div class="d-flex align-center mb-1">
        <MudAvatar Class="level-avatar" Color="Color.Primary">
            @Level
        </MudAvatar>

        <MudProgressLinear
            Class="ml-n1"
            Color="Color.Primary"
            Size="Size.Medium"
            Max="@Threshold"
            Value="@Experience"
            Rounded/>
    </div>

    <footer class="d-flex justify-space-between align-start gap-3 gap-sm-6">
        <div class="d-flex align-center gap-1">
            <MudIcon Icon="@EduIcons.Experience" Size="Size.Small"/>
            <MudText Typo="Typo.subtitle2">
                @Experience.ToString("G") / @Threshold.ToString("G")
            </MudText>
        </div>

        <MetricNumber Value="@_percentage" Typo="Typo.subtitle2" EndIcon="%"/>
    </footer>
</section>

@code {
    private double _percentage;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public uint Level { get; set; }

    [Parameter, EditorRequired]
    public ulong Experience { get; set; }

    [Parameter, EditorRequired]
    public ulong Threshold { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet() =>
        _percentage = Experience + Threshold > 0 ? 100.0 * Experience / Threshold : 0;

}
