@using Education.Web.Client.Features.History.Services
@using Education.Web.Client.Features.History.Services.Article.Model
@using Education.Web.Client.Models.Content
<header class="background" style="@_style">
    <section class="d-flex flex-column justify-center align-center h-100">
        <Breadcrumbs Items="@Breadcrumbs" Typo="Typo.subtitle1"/>
        <h1 class="title mb-3">
            @Empire.Title
        </h1>
        <section class="d-flex flex-wrap justify-center align-center">
            <div class="pa-3 pa-sm-6">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    @L["History_EmpireFounded"]
                </MudText>
                <HistoryDate
                    Date="@Empire.Founded"
                    DateTimeFormatter="@DateTimeFormatter"
                    Typo="Typo.h6"
                    Align="Align.Center"/>
            </div>
            <div class="pa-3 pa-sm-6">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    @L["History_EmpireDissolved"]
                </MudText>
                <HistoryDate
                    Date="@Empire.Dissolved"
                    DateTimeFormatter="@DateTimeFormatter"
                    Typo="Typo.h6"
                    Align="Align.Center"/>
            </div>
            <div class="pa-3 pa-sm-6">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    @L["History_EmpireDuration"]
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">
                    @if (Empire.Duration.HasValue)
                    {
                        @Empire.Duration.Value.ToString("N0")
                        <small>&nbsp;@L["History_Years"].Value.ToLowerInvariant()</small>
                    }
                    else
                    {
                        @L["Shared_Unknown"]
                    }
                </MudText>
            </div>
            <div class="pa-3 pa-sm-6">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    @L["History_EmpireMaxArea"]
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">
                    @if (Empire.MaxArea > 0)
                    {
                        @Empire.MaxArea.ToString("N0")<small>km<sup>2</sup></small>
                    }
                    else
                    {
                        @L["Shared_Unknown"]
                    }
                </MudText>
            </div>
            <div class="pa-3 pa-sm-6">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    @L["History_EmpireMaxPopulation"]
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">
                    @if (Empire.MaxPopulation > 0)
                    {
                        @Empire.MaxPopulation.ToString("N0")
                    }
                    else
                    {
                        @L["Shared_Unknown"]
                    }
                </MudText>
            </div>
        </section>
        <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1440">
            <MudText Typo="Typo.subtitle1" Align="Align.Justify">
                @Empire.Description
            </MudText>
        </EduContainer>
    </section>
</header>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1440">
    <section class="grid">
        @if (Empire.Flag is not null)
        {
            <section class="flag mud-paper pa-3 pa-sm-6">
                <MudText Class="mb-3" Typo="Typo.subtitle2">
                    @L["History_EmpireFlag"]
                </MudText>
                <a href="@Empire.Flag.Source" target="_blank">
                    <img class="image object-contain object-center" src="@Empire.Flag.Source" alt="@Empire.Flag.Overview" loading="lazy"/>
                </a>

                <MudText Typo="Typo.body2" Align="Align.Center">
                    @Empire.Flag.Overview
                </MudText>
            </section>
        }

        @if (Empire.Map is not null)
        {
            <section class="map mud-paper pa-3 pa-sm-6">
                <MudText Class="mb-3" Typo="Typo.subtitle2">
                    @L["History_EmpireMap"]
                </MudText>
                <a href="@Empire.Map.Source" target="_blank">
                    <img class="image object-contain object-center" src="@Empire.Map.Source" alt="@Empire.Map.Overview" loading="lazy"/>
                </a>

                <MudText Typo="Typo.body2" Align="Align.Center">
                    @Empire.Map.Overview
                </MudText>
            </section>
        }

        <ArticleFormatingCard Class="toolbar"/>

        <article class="content">
            <ArticleContentCard Content="@Empire.Content"/>
        </article>

        <ArticleQuizCard Class="quiz" ArticleId="@Empire.Id" HasQuiz="@HasQuiz" UserActivity="@UserActivity"/>

        <ArticleUserCard
            Class="rating"
            ArticleId="@Empire.Id"
            Rating="@Empire.Rating"
            UserActivity="@UserActivity"
            OnBookmarkClick="@OnBookmarkClick"
            OnLikeClick="@OnLikeClick"
            OnDislikeClick="@OnDislikeClick"/>
    </section>

    @if (RelatedArticles.Length > 0)
    {
        <UnderlinedTitle Class="my-3 mt-sm-6" Title="@L["Articles:Related"]"/>
        <EduFillGrid>
            @foreach (var (article, activity) in RelatedArticles)
            {
                <ArticleCard
                    Article="@article"
                    Activity="@activity"
                    OnBookmarkClick="@OnBookmarkClick"/>
            }
        </EduFillGrid>
    }
</EduContainer>

@code {
    private string? _style;

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["History_Title"], HistoryUrl.Root),
        new BreadcrumbItem(L[$"History_Epoch{Empire.Epoch.ToFastString()}"], HistoryUrl.Content.Articles(Empire.Epoch))
    };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CascadingTheme? ThemeProvider { get; set; }

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    [Parameter, EditorRequired]
    public ArticleDetail.EmpireModel Empire { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserActivityOverviewModel UserActivity { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool HasQuiz { get; set; }

    [Parameter, EditorRequired]
    public UserArticleOverviewModel[] RelatedArticles { get; set; } = Array.Empty<UserArticleOverviewModel>();

    [Parameter, EditorRequired]
    public Func<Task<bool>> OnLikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter, EditorRequired]
    public Func<Task<bool>> OnDislikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter, EditorRequired]
    public Func<string, Task<bool>> OnBookmarkClick { get; set; } = _ => Task.FromResult(false);

    protected override void OnParametersSet()
    {
        var overlay = $"--mud-palette-overlay-{(ThemeProvider?.IsDarkMode == true ? "dark" : "light")}";

        _style = StyleBuilder
            .Default("background", $"linear-gradient(0deg, var(--mud-palette-background) 5%, var({overlay}) 100%), url('{Empire.ImageUrl}')")
            .AddStyle("background-size", "cover")
            .AddStyle("background-repeat", "no-repeat")
            .AddStyle("background-position", "top center")
            .Build();
    }

    private string DateTimeFormatter(DateTime date) =>
        Customer.Humanize(date);

}