@if (_article.Length > 0)
{
    <div class="@Class">
        <UnderlinedTitle Class="my-3" Title="@Title"/>

        <EduFillGrid>
            @foreach (var (article, activity) in _article)
            {
                <ArticleCard
                    Article="@article"
                    Activity="@activity"
                    OnBookmarkClick="@OnBookmarkClick"/>
            }
        </EduFillGrid>
    </div>
}

@code {
    private UserArticleOverviewModel[] _article = [];

    [Inject]
    private IHistoryArticleService ArticleService { get; set; } = default!;

    [Parameter, EditorRequired]
    public required string ArticleId { get; set; }

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override async Task OnInitializedAsync() =>
        _article = (await ArticleService.GetRelatedArticlesAsync(ArticleId))
            .UnwrapOr([]);

}