@using Education.Web.Client.Models
@using Education.Web.Client.Features.History.Services.EventGuesser.Model

<div class="@Class">
    <MudRadioGroup SelectedOption="@SelectedGuesser" SelectedOptionChanged="@SelectedGuesserChanged" Class="radio-group">
        @foreach (var service in Guessers)
        {
            <MudRadio Option="@service.Type" Color="Color.Primary" Disabled="@(!service.IsAllowed)" Class="radio">
                <MudPaper Elevation="0" Class="d-flex align-center pa-3">
                    <div class="rounded-circle mud-background">
                        <div class="d-flex justify-center align-center relative pa-2">
                            <img class="image" src="@service.IconUrl" alt="@service.Title" loading="lazy"/>
                        </div>
                    </div>

                    <MudText Typo="Typo.subtitle1" Class="one-line-text mx-3">
                        @service.Title
                    </MudText>
                </MudPaper>
            </MudRadio>
        }
    </MudRadioGroup>
</div>

@code {

    [Parameter]
    public string? SelectedGuesser { get; set; }

    [Parameter]
    public EventCallback<string?> SelectedGuesserChanged { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public EventGuesserInformationModel[] Guessers { get; set; } = Array.Empty<EventGuesserInformationModel>();

}