@page "/history/my/activities"
@using Education.Web.Gateways.History.Users.Model
@using Education.Web.Pages.History.My.Activities.Components
@using Education.Web.Gateways.History
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>@L["Test:MyActivity"]</PageTitle>

<EduPage ShowFooter="@_response.IsLoaded">
    <EduContainer MaxWidth="EduWidth.W1920" Class="pb-0">
        <PageHeader Title="@L["Test:MyActivity"]" Breadcrumbs="@Breadcrumbs"/>
    </EduContainer>
    <ApiViewer Response="@_response" Context="activity">
        <EduContainer MaxWidth="EduWidth.W1920">
            <div class="grid">
                <TestCard
                    Class="easy-test"
                    Title="@L["Tests:Easy"]"
                    Href="@HistoryLinks.User.MyEasyTests"
                    Value="@activity.EasyTests"/>

                <TestCard
                    Class="hard-test"
                    Title="@L["Tests:Hard"]"
                    Href="@HistoryLinks.User.MyHardTests"
                    Value="@activity.HardTests"/>

                <TestCard
                    Class="mixed-test"
                    Title="@L["Tests:Mixed"]"
                    Href="@HistoryLinks.User.MyMixedTests"
                    Value="@activity.MixedTests"/>

                <TestCard
                    Class="event-guesser"
                    Title="@L["EventGuesser"]"
                    Href="@HistoryLinks.User.MyEventGuessers"
                    Value="@activity.EventGuessers"/>

                <ActivityCard
                    Class="monthly"
                    Title="@L["Statistics:Daily"]"
                    Activities="@activity.Daily"
                    DateFormat="dd MMM"/>

                @if (activity.Monthly.Length > 1)
                {
                    <ActivityCard
                        Class="annual"
                        Title="@L["Statistics:Monthly"]"
                        Activities="@activity.Monthly"
                        DateFormat="MMM yyyy"/>
                }
            </div>
        </EduContainer>
    </ApiViewer>
</EduPage>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Profile"].Value, HistoryLinks.User.MyProfile)
    };

    private ApiResponse<ProgressStatisticsModel> _response = ApiResponse<ProgressStatisticsModel>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnParametersSetAsync() =>
        _response = await HistoryClient.User.GetProgressAsync();

}
