<article class="card @Class">
    <span class="image-container">
        <span class="image-wrapper">
            <img src="@Course.Course.Image.Small" alt="@Course.Course.Image.Alt"/>
        </span>
        <a href="@HistoryUrl.Content.Course(Course.Course.Id)" aria-label="@Course.Course.Id"></a>
    </span>
    <div class="content">
        <MudLink
            Class="@(Course.Course.Title.Length > 50 ? "w-100 one-line-text" : null)"
            Color="Color.Inherit"
            Typo="Typo.h6"
            Href="@HistoryUrl.Content.Course(Course.Course.Id)">
            <b>@Course.Course.Title</b>
        </MudLink>

        <p class="white-text">
            @Course.Course.Overview
        </p>

        <footer class="d-flex align-center gap-3 w-100">
            <ContentRating Rating="@Course.Course.Rating" Compact/>

            <MudTooltip Text="@L["Articles_Title"]">
                <div class="d-flex align-center white-text">
                    <MudIcon Class="mr-1" Icon="@EduIcons.Articles" Size="Size.Small"/>
                    <MudText Typo="Typo.body1">@Course.Course.ArticleCount</MudText>
                </div>
            </MudTooltip>

            <AuthorizeView>
                <MudSpacer/>

                @if (Course.HasExamination)
                {
                    <CourseCompletion
                        Class="w-100"
                        Typo="Typo.caption"
                        Size="Size.Small"
                        Status="@(Course.Activity?.Status ?? CourseLearningStatus.NotStarted)"
                        Completeness="@(Course.Activity?.Completeness ?? 0)"
                        Href="@HistoryUrl.User.MyCourse(Course.Course.Id)"/>
                }


                <EduBookmarkButton Color="Color.Inherit"
                                   Id="@Course.Course.Id"
                                   IsBookmarked="@(Course.Activity?.IsBookmarked ?? false)"
                                   OnBookmarkClick="@OnBookmarkClick"/>
            </AuthorizeView>
        </footer>
    </div>
</article>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required UserCourseOverviewModel Course { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
