<article class="card @Class">
    <span class="image-container">
        <span class="image-wrapper">
            <img src="@Course.Image.Small" alt="@Course.Image.Alt"/>
        </span>
        <a href="@HistoryUrl.Content.Course(Course.Id)" aria-label="@Course.Id"></a>
    </span>
    <div class="content">
        <MudLink
            Class="@(Course.Title.Length > 50 ? "w-100 one-line-text" : null)"
            Color="Color.Inherit"
            Typo="Typo.h6"
            Href="@HistoryUrl.Content.Course(Course.Id)">
            <b>@Course.Title</b>
        </MudLink>

        <p class="white-text">
            @Course.Overview
        </p>

        <footer class="d-flex align-center gap-3 w-100">
            <EduRating Compact
                       Stars="@Course.Rating.Stars"
                       Votes="@Course.Rating.Votes"/>

            <MudTooltip Text="@L["Articles_Title"]">
                <div class="d-flex align-center white-text">
                    <MudIcon Class="mr-1" Icon="@EduIcons.Articles" Size="Size.Small"/>
                    <MudText Typo="Typo.body1">@Course.ArticleCount</MudText>
                </div>
            </MudTooltip>

            <AuthorizeView>
                <MudSpacer/>

                @if (HasExamination)
                {
                    <CourseCompletion Class="w-100"
                                      Completeness="@(Activity?.Completeness ?? 0)"
                                      Href="@HistoryUrl.User.MyCourse(Course.Id)"
                                      Size="Size.Small"
                                      Status="@(Activity?.Status ?? CourseLearningStatus.NotStarted)"
                                      Typo="Typo.caption"/>
                }


                <EduBookmarkButton Color="Color.Inherit"
                                   Id="@Course.Id"
                                   IsBookmarked="@(Activity?.IsBookmarked ?? false)"
                                   OnBookmarkClick="@OnBookmarkClick"/>
            </AuthorizeView>
        </footer>
    </div>
</article>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required CourseOverviewModel Course { get; set; }

    [Parameter, EditorRequired]
    public required UserCourseActivityModel? Activity { get; set; }

    [Parameter, EditorRequired]
    public bool HasExamination { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
