<article class="card @Class">
    <span class="image-container">
        <span class="image-wrapper">
            <img src="@Article.Article.Image.Small" alt="@Article.Article.Image.Alt"/>
        </span>
        <a href="@HistoryUrl.Content.Article(Article.Article.Id)" aria-label="@Article.Article.Title"></a>
    </span>

    <div class="content">
        <EpochChip Epoch="@Article.Article.Epoch"/>

        <MudLink
            Class="@(Article.Article.Title.Length > 50 ? "w-100 one-line-text" : null)"
            Color="Color.Inherit"
            Typo="Typo.h6"
            Href="@HistoryUrl.Content.Article(Article.Article.Id)">
            <b>@Article.Article.Title</b>
        </MudLink>

        @if (!HideOverview)
        {
            <p class="white-text">
                @Article.Article.Overview
            </p>
        }

        <footer class="d-flex align-center gap-3 w-100">
            <ContentRating Rating="@Article.Article.Rating" Compact/>

            <TimeToRead Time="@Article.Article.TimeToRead"/>

            <AuthorizeView>
                <MudSpacer/>

                @if (Article.HasQuiz)
                {
                    <ArticleCompletionChip
                        Status="@(Article.Activity?.Status ?? ArticleLearningStatus.NotStarted)"
                        Href="@HistoryUrl.User.MyArticle(Article.Article.Id)"
                        Size="Size.Small"/>
                }

                <EduBookmarkButton Color="Color.Inherit"
                                   Id="@Article.Article.Id"
                                   IsBookmarked="@(Article.Activity?.IsBookmarked ?? false)"
                                   OnBookmarkClick="@OnBookmarkClick"/>
            </AuthorizeView>
        </footer>
    </div>
</article>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required UserArticleOverviewModel Article { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool HideOverview { get; set; }

}
