@page "/profile/history/statistics"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.History.Me
@layout ProfileLayout

@attribute [Authorize]

<DefaultFillGrid>
    <ApiResponseViewer Response="@_response">
        <Placeholder>
            <SkeletonCard/>
            <SkeletonCard/>
            <SkeletonCard/>
            <SkeletonCard/>
        </Placeholder>
        <Result Context="result">
            <Title Value="@L["Statistics"]"></Title>

            <StatisticsCard
                Icon="@Icons.Filled.School"
                Title="@L["Tests:Easy"]"
                Subtitle="@result.EasyTest.NumberOfTests.Total.ToReadable()"
                Href="@Links.Profile.History.EasyTestStatistics">
                <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                <ScoreChart Value="@result.EasyTest.Score"/>
            </StatisticsCard>

            <StatisticsCard 
                Icon="@Icons.Filled.School" 
                Title="@L["Tests:Hard"]" 
                Subtitle="@result.HardTest.NumberOfTests.Total.ToReadable()"
                Href="@Links.Profile.History.HardTestStatistics">
                <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                <ScoreChart Value="@result.HardTest.Score"/>
            </StatisticsCard>
        </Result>
    </ApiResponseViewer>
</DefaultFillGrid>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    private ApiResponse<UserStatistics> _response = ApiResponse<UserStatistics>.Loading();

    protected override async Task OnParametersSetAsync() =>
        _response = await HistoryClient.Me.GetStatisticsAsync();

}
