@page "/history/tests/{id}"
@layout HistoryLayout

@using Education.Client.Gateways.History
@using Education.Client.Gateways.History.Test
@using Education.Client.Features.History.Tests.Test.Components

@attribute [Authorize]

<MainContainer>
    <ApiViewer Response="@_test">
        <Loading>
            <CenteredContainer MaxWidth="ContainerWidth.W1280" Elevation="1" Paper="true" Class="mb-3 mb-sm-6">
                <div class="d-flex justify-space-between align-center ma-3">
                    <div>
                        <MudSkeleton Width="15vw" SkeletonType="SkeletonType.Text"/>
                        <MudSkeleton Width="20vw" SkeletonType="SkeletonType.Text"/>
                    </div>
                    <div>
                        <MudSkeleton Width="15vw" Height="24px" SkeletonType="SkeletonType.Rectangle"/>
                    </div>
                </div>
            </CenteredContainer>

            <CenteredContainer MaxWidth="ContainerWidth.W1280" Elevation="1" Paper="true">
                <div class="py-3 py-sm-6">
                    <MudSkeleton Width="80%" SkeletonType="SkeletonType.Text" Class="mx-auto"/>
                    <MudSkeleton Width="80%" SkeletonType="SkeletonType.Text" Class="mx-auto"/>
                    <MudSkeleton Width="80%" Height="30vh" SkeletonType="SkeletonType.Rectangle" Class="mx-auto my-6"/>
                    <MudSkeleton Width="20%" Height="36px" SkeletonType="SkeletonType.Rectangle" Class="mx-auto"/>
                </div>
            </CenteredContainer>
        </Loading>
        <Success Context="test">
            <PageTitle>@L[$"Test:{test.TestType}"]</PageTitle>

            <CenteredContainer MaxWidth="ContainerWidth.W1280" Elevation="1" Paper="true" Class="mb-3 mb-sm-6">
                <TestHeader
                    Type="@test.TestType"
                    AllowedMistakes="@_allowedMistakes"
                    CurrentQuestion="@(_questionIndex + 1)"
                    TotalQuestions="@_questions.Count"
                    ExpiredAt="@test.ExpiredAt"
                    CountDownColor="@_countdownColor"
                    OnComplete="@OnExpired"/>
            </CenteredContainer>

            <CenteredContainer MaxWidth="ContainerWidth.W1280" Elevation="1" Paper="true">
                <div class="d-flex flex-column align-center pa-3 pa-sm-6">
                    <MudText Typo="Typo.subtitle1" Class="mb-3">
                        @_question.Topic.Title
                    </MudText>

                    @if (_question.Image is not null)
                    {
                        <img class="image mb-3" src="@_question.Image" alt="@_question.Title"/>
                    }

                    <MudText Typo="Typo.h6" Class="mb-3">
                        @_question.Title
                    </MudText>

                    @switch (_question.Type)
                    {
                        case QuestionType.TextAnswer:
                            <TextAnswerForm
                                OnAnswer="@OnTextAnswer"
                                OnNext="@OnNext"
                                OnComplete="@OnComplete"/>
                            break;

                        case QuestionType.OneAnswer:
                            <OneAnswerForm
                                Options="@_question.Options"
                                OnAnswer="@OnOneAnswer"
                                OnNext="@OnNext"
                                OnComplete="@OnComplete"/>
                            break;

                        case QuestionType.ManyAnswers:
                            <ManyAnswerForm
                                Options="@_question.Options"
                                OnAnswer="@OnManyAnswer"
                                OnNext="@OnNext"
                                OnComplete="@OnComplete"/>
                            break;

                        case QuestionType.SortedAnswers:
                            break;

                        default:
                            throw new ArgumentOutOfRangeException();
                    }
                </div>
            </CenteredContainer>
        </Success>
    </ApiViewer>
</MainContainer>

@code {
    private Color _countdownColor = Color.Default;
    private ApiResponse<TestModel> _test = ApiResponse<TestModel>.Loading();
    private List<TestQuestion> _questions = new();
    private int _allowedMistakes;
    private int _questionIndex;
    private TestQuestion _question = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Parameter]
    public string Id { get; init; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _test = await HistoryClient.Test.GetAsync(Id);

        if (_test.Status == ResponseStatus.Fail)
        {
            if (_test.Error.IsNotFound() || _test.Error.IsExpired())
                NavigationManager.NavigateTo(Links.History.TestConclusion(Id));

            return;
        }

        _questions = _test.Data.Questions
            .OrderByDescending(x => x.IsCompleted)
            .ToList();

        _allowedMistakes = _test.Data.AllowedMistakes;
        _questionIndex = _questions.FindLastIndex(x => x.IsCompleted) + 1;
        if (_questionIndex == _questions.Count)
        {
            NavigationManager.NavigateTo(Links.History.TestConclusion(Id));
            return;
        }

        _question = _questions[_questionIndex];
    }

    private async Task OnExpired()
    {
        _countdownColor = Color.Error;
        _test = await HistoryClient.Test.GetAsync(Id);

        if (_test.Status == ResponseStatus.Fail && (_test.Error.IsExpired() || _test.Error.IsNotFound()))
            NavigationManager.NavigateTo(Links.History.TestConclusion(Id));
    }

    private async Task<TextAnswerResult> OnTextAnswer(TextAnswer answer)
    {
        var result = await HistoryClient.Test.CheckAsync(_test.Data.Id, _question.Id, answer);
        if (!result.IsSuccess)
        {
            _test = ApiResponse<TestModel>.Fail(result.Error);
            return new TextAnswerResult(false, false, 0, string.Empty);
        }

        UpdateState(result.Data);

        return result.Data;
    }

    private async Task<OneAnswerResult> OnOneAnswer(OneAnswer answer)
    {
        var result = await HistoryClient.Test.CheckAsync(_test.Data.Id, _question.Id, answer);
        if (!result.IsSuccess)
        {
            _test = ApiResponse<TestModel>.Fail(result.Error);
            return new OneAnswerResult(false, false, 0, 0);
        }

        UpdateState(result.Data);

        return result.Data;
    }

    private async Task<ManyAnswersResult> OnManyAnswer(ManyAnswer answer)
    {
        var result = await HistoryClient.Test.CheckAsync(_test.Data.Id, _question.Id, answer);
        if (!result.IsSuccess)
        {
            _test = ApiResponse<TestModel>.Fail(result.Error);
            return new ManyAnswersResult(false, false, 0, Array.Empty<int>());
        }

        UpdateState(result.Data);

        return result.Data;
    }

    private void UpdateState(TestAnswerResult result)
    {
        _allowedMistakes = result.AllowedMistakes;
        if (result.IsCorrect)
            return;

        var wrong = _questions.First(x => x.Id == _question.Id);
        if (wrong.CanAnswerAgain)
            _questions.Add(wrong with{Options = wrong.Options.OrderBy(_ => Guid.NewGuid()).ToArray()});
    }

    private void OnNext()
    {
        _questionIndex++;
        _question = _questions[_questionIndex];
        StateHasChanged();
    }

    private void OnComplete() => NavigationManager.NavigateTo(Links.History.TestConclusion(Id));

}
