<section class="card mud-paper">
    <header class="cover-photo rank-@Rank">
        <h2 class="rank">
            @Rank<sup>@L[$"Leaderboard_{Rank}Place_Ordinal"]</sup>
        </h2>
        <img class="profile" src="@Image" alt="@Name">
    </header>

    <div class="profile-badges">
        <div class="badge rank-@Rank">@Rank</div>
    </div>

    <MudText Class="flex-grow-1 ma-3 mt-6 ma-sm-6" Typo="Typo.h6">
        @Name
    </MudText>

    <footer class="d-flex gap-3 gap-sm-6 ma-3 ma-sm-6">
        <div>
            <div class="d-flex align-center">
                <MudIcon Icon="@EduIcons.Level" Size="Size.Medium"/>
                <MudText Class="ml-1" Typo="Typo.h6">
                    @Level
                </MudText>
            </div>
            <MudText Class="mud-text-secondary" Typo="Typo.body1">
                @L["User_Level_Title"]
            </MudText>
        </div>

        <MudDivider Vertical FlexItem/>

        <div>
            <div class="d-flex align-center">
                <MudIcon Icon="@EduIcons.Experience" Size="Size.Medium"/>
                <MetricNumber Class="ml-1" Value="@Experience" Typo="Typo.h6"/>
            </div>
            <MudText Class="mud-text-secondary" Typo="Typo.body1">
                @L["User_Experience_Title"]
            </MudText>
        </div>
    </footer>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public uint Rank { get; set; }

    [Parameter, EditorRequired]
    public string Name { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Image { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public uint Level { get; set; }

    [Parameter, EditorRequired]
    public ulong Experience { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
