@page "/history/quizzes/{id}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_result.Match(x => $"{_testTypeTitle}: {x.Overview.Article.Title}", e => e.Title, () => L["Quizzes_Title"])
</PageTitle>

<ApiViewer Result="@_result" Context="quiz">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <header class="timer">
                <section class="d-flex flex-wrap justify-space-between gap-3">
                    <MudText Typo="Typo.subtitle1">
                        @L["Quiz_QuestionOutOf", _quiz.Completed, _quiz.Questions]
                    </MudText>
                    <CountdownTimer
                        Deadline="@_quiz.ExpiredAt"
                        Color="@_countdownColor"
                        OnComplete="@OnExpired"/>
                </section>
                <MudProgressLinear
                    Rounded
                    Min="0"
                    Max="100"
                    Value="@Progress"
                    Color="Color.Primary"
                    Size="Size.Medium"/>
            </header>

            <QuestionForm
                Class="quiz mud-paper pa-3 pa-sm-6"
                Question="@_currentQuestion"
                CorrectAnswer="@_correctAnswer"
                OnAnswerClick="@OnAnswer"
                OnNextTitle="@(_nextQuestion is null ? L["Quiz_ShowTheResult"] : L["Question_Next"])"
                OnNextClick="@OnNext">
                <Header>
                    <MudText Class="d-block mud-text-secondary" Typo="Typo.caption" Align="Align.Center">
                        @_testTypeTitle
                    </MudText>
                    <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Align="Align.Center">
                        @quiz.Overview.Article.Title
                    </MudText>
                </Header>
            </QuestionForm>

            <InventoryGrid Class="inventory" Inventory="@_inventory" Context="item">
                @if (item.IsInteractive)
                {
                    <InventoryButtonCard
                        Id="@item.Id"
                        Quantity="@item.Quantity"
                        Title="@item.Title"
                        Overview="@item.Overview"
                        IconUrl="@item.IconUrl"
                        ButtonText="@L["Inventory_Use"]"
                        OnClick="@OnUseInventory"/>
                }
                else
                {
                    <InventoryInfoCard
                        Title="@item.Title"
                        Overview="@item.Overview"
                        Quantity="@item.Quantity"
                        IconUrl="@item.IconUrl"/>
                }
            </InventoryGrid>
        </section>
    </EduContainer>
</ApiViewer>
