@page "/history/quizzes/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="conclusion">
    <PageTitle>
        @L.GetQuizDifficultyTitle(conclusion.Difficulty): @conclusion.Title
    </PageTitle>

    <MudAlert Class="mb-3 mb-sm-6" Severity="@GetColor(conclusion.Status)" ContentAlignment="HorizontalAlignment.Center" Square>
        @L.GetStatusTitle(conclusion.Status)
    </MudAlert>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <article>
                <CompletedStars Class="mb-6" Progress="@conclusion.TotalScore.Ratio"/>

                <RewardsContainer Class="mb-3 mb-sm-6" Rewards="@conclusion.Rewards"/>

                <div class="d-flex justify-center">
                    <MudButton
                        Href="@HistoryUrl.Content.QuizBuilder(conclusion.ArticleId)"
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        Size="Size.Large"
                        DisableElevation>
                        @L["Quiz_TakeTheQuizAgain"]
                    </MudButton>
                </div>
            </article>

            <ScoreConclusionCard Conclusion="@conclusion"/>
        </section>
    </EduContainer>

    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1280">
        @switch (conclusion.Difficulty)
        {
            case DifficultyType.Easy:
                <EasyConclusionTable Questions="@conclusion.Questions">
                    <MudLink Href="@HistoryUrl.Content.Article(conclusion.ArticleId)" Typo="Typo.h6">
                        @conclusion.Title
                    </MudLink>
                </EasyConclusionTable>
                break;

            case DifficultyType.Hard:
                <HardConclusionTable Questions="@conclusion.Questions">
                    <MudLink Href="@HistoryUrl.Content.Article(conclusion.ArticleId)" Typo="Typo.h6">
                        @conclusion.Title
                    </MudLink>
                </HardConclusionTable>
                break;
        }
    </EduContainer>
</ApiViewer>
