@page "/history/article/{id}"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@using Elwark.Education.Web.Gateways.Models.Test
@inject IHistoryClient HistoryClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> L
@inject ISnackbar Snackbar
@inject ErrorManager ErrorManager

@attribute [Authorize]

<ApiResponseViewer Response="@_response">
    <Loading>
        <div class="grid">
            <div class="content">
                <CardsSkeleton Count="1"/>
            </div>
            <div class="aside">
                <CardsSkeleton Count="1"/>
            </div>
            <div class="sidebar">
                <CardsSkeleton Count="1"/>
            </div>
        </div>
    </Loading>
    <Result Context="article">
        @{
            var breadcrumbs = new List<BreadcrumbItem>
            {
                new(L["Subject:History"].Value, Links.History.Index),
                new(L[$"History:{article.Period}"].Value, Links.History.Period(article.Period)),
                new(article.Topic.Title, Links.History.Topic(article.Topic.Id))
            };
        }

        <Title Value="@article.Title"/>
        <div class="grid">

            <div class="content">
                <HistoryArticleHeader
                    Breadcrumbs="breadcrumbs"
                    Class="mb-3"
                    Image="@article.Image"
                    Overview="@article.Overview"
                    Title="@article.Title"/>
                <MudPaper Class="pa-3">
                    <MarkdownText Text="@article.Text"/>
                </MudPaper>
            </div>

            <div class="aside">
                @foreach (var (title, content) in article.InfoBoxes)
                {
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.subtitle1">
                                    <strong>@title</strong>
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MarkdownText Text="@content"/>
                        </MudCardContent>
                    </MudCard>
                }
                @if (article.Test is not null)
                {
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.subtitle1">
                                    <strong>@L["Test:CheckYourKnowledge"]</strong>
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <CreateTestButton
                                Subject="@SubjectType.History"
                                Status="@article.Test.Status"
                                IsLoading="@(_test?.Status == ResponseStatus.Loading)"
                                OnCreateTestClick="@CreateTestAsync"/>
                            <MudText Typo="Typo.subtitle1" Class="mt-6">
                                @if (article.Test.QuantityCompletedTimes > 0)
                                {
                                    @L["Test:QuantityCompletedTimes", article.Test.QuantityCompletedTimes]
                                }
                                else
                                {
                                    @L["Test:NotPassed"]
                                }
                            </MudText>
                            @if (article.Test.Conclusions.Length > 0)
                            {
                                <TestConclusionList
                                    Class="mt-3"
                                    Conclusions="@article.Test.Conclusions"
                                    DetailLinkBuilder="@(id => Links.Profile.TestDetail(SubjectType.History, id))"
                                    SeeAllLink="@Links.Profile.Tests(SubjectType.History)"/>
                            }
                        </MudCardContent>
                    </MudCard>
                }
            </div>

            <div class="sidebar">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.subtitle1">
                                <strong>@L["Contents"]</strong>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <TopicContents
                            Class="mx-n4"
                            Contents="@article.Contents"
                            SelectedArticleId="@Id"/>

                    </MudCardContent>
                </MudCard>
            </div>

        </div>

        @* <div class="grid"> *@
        @*     <div class="header"> *@
        @*         <MudText Typo="Typo.h2" Class="mb-3" Align="Align.Center"> *@
        @*             @article.Title *@
        @*         </MudText> *@
        @*         <Breadcrumbs Items="breadcrumbs" Class="mb-6"/> *@

        @*     </div> *@
        @*     <div class="content"> *@
        @*         <MudIconButton Icon="@Icons.Filled.ThumbUp" OnClick="@Like"/> *@
        @*         <MudIconButton Icon="@Icons.Filled.ThumbDown" OnClick="@Dislike"/> *@
        @*         <MudPaper Class="pa-3"> *@
        @*             <MarkdownText Text="@article.Text"/> *@
        @*             @if (article.Footnotes is not null) *@
        @*             { *@
        @*                 <MudDivider DividerType="DividerType.Middle" Class="my-6"/> *@
        @*                 <MarkdownText Text="@article.Footnotes"/> *@
        @*             } *@
        @*         </MudPaper> *@
        @*         <AdjacentArticles Adjacent="@article.Adjacent" Class="my-6" OnPremiumClick="@OnBuyClick"/> *@
        @*     </div> *@
        @*     <div class="aside"> *@

        @*     </div> *@
        @* </div> *@
    </Result>
</ApiResponseViewer>

@code {
    private ApiResponse<HistoryArticleDetail> _response = ApiResponse<HistoryArticleDetail>.Loading();
    private ApiResponse<TestCreatedResult>? _test;

    [Parameter]
    public string Id { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        _response = ApiResponse<HistoryArticleDetail>.Loading();
        _response = await HistoryClient.GetArticleAsync(Id);
    }

    private async Task CreateTestAsync()
    {
        _test = ApiResponse<TestCreatedResult>.Loading();
        _test = await HistoryClient.CreateTestForArticleAsync(Id);

        if (_test.Status == ResponseStatus.Success)
            NavigationManager.NavigateTo(Links.History.Test(_test.Data.Id));
        else
            Snackbar.Add(ErrorManager.Localize(_test.Error).Title, Severity.Error);
    }

    private Task Like()
    {
        return HistoryClient.LikeArticleAsync(Id);
    }

    private Task Dislike()
    {
        return HistoryClient.DislikeArticleAsync(Id);
    }

}
