@page "/history/article/{id}"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@using Elwark.Education.Web.Gateways.Models.Test
@inject IHistoryClient HistoryClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> L
@inject ISnackbar Snackbar
@inject ErrorManager ErrorManager

@attribute [Authorize]

@switch (_article.Status)
{
    case ResponseStatus.Loading:
        <PageLoader/>
        break;

    case ResponseStatus.Fail:
        <ErrorPage Error="_article.Error"/>
        break;

    case ResponseStatus.Success:
        <Title Value="@_article.Data.Title"></Title>
        <MudContainer MaxWidth="MaxWidth.False" Class="pa-0">
            <MudGrid Spacing="0">
                <MudItem xs="12" md="7" lg="8" xl="6" Style="min-height: 100%">
                    <MudPaper Square="true" Class="pa-6" Style="min-height: calc(100vh - 64px)">
                        <Breadcrumbs Items="_breadcrumbs" Class="mb-6"/>
                        <MudText Typo="Typo.h2" Class="mb-6">
                            @_article.Data.Title
                        </MudText>
                        @if (_article.Data.Subtitle is not null)
                        {
                            <MudText Typo="Typo.subtitle1" Class="mb-6">
                                @_article.Data.Subtitle
                            </MudText>
                        }
                        <MarkdownText Text="@_article.Data.Text"/>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="5" lg="4" xl="3">
                    @if (_article.Data.Test is not null)
                    {
                        <div class="ma-3">
                            @if (_article.Data.Test.IsAllowed)
                            {
                                <MudButton
                                    Variant="Variant.Filled"
                                    Color="Color.Primary"
                                    Class="mb-3"
                                    OnClick="@CreateTestAsync"
                                    Disabled="@(_test != null)">
                                    @L["Test"]
                                </MudButton>
                            }
                            <MudText Typo="Typo.body2">
                                @if (_article.Data.Test.Progress is not null)
                                {
                                    @L.GetString("Test:Passed",
                                        _article.Data.Test.Progress.QuantityCompletedTimes,
                                        _article.Data.Test.Progress.TestCompletedAt.ToSimpleFormat())
                                }
                                else
                                {
                                    @L["Test:NotPassed"]
                                }
                            </MudText>
                        </div>
                    }
                    @if (_article.Data.Image is not null)
                    {
                        <div class="image" style="background-image: url(@_article.Data.Image)"></div>
                    }
                    <MarkdownText Text="@_article.Data.Footnotes" Class="d-block pa-6"/>
                </MudItem>
            </MudGrid>
        </MudContainer>
        break;
}

@code {
    private ApiResponse<HistoryArticleDetail> _article = ApiResponse<HistoryArticleDetail>.Loading();
    private ApiResponse<TestCreatedResult>? _test;

    [Parameter]
    public string Id { get; set; } = default!;

    private BreadcrumbsItem[] _breadcrumbs = Array.Empty<BreadcrumbsItem>();


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _article = await HistoryClient.GetArticleAsync(Id);
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
            return;
        }

        if (_article.Status == ResponseStatus.Success)
            _breadcrumbs = new BreadcrumbsItem[]
            {
                new(L["History"].Value, Links.History.Index),
                new(_article.Data.Period.Title, Links.History.Period(_article.Data.Period.Type)),
                new(_article.Data.Topic.Title, Links.History.Topic(_article.Data.Topic.Id))
            };
    }

    private async Task CreateTestAsync()
    {
        _test = ApiResponse<TestCreatedResult>.Loading();
        _test = await HistoryClient.CreateTestForArticleAsync(Id);

        if (_test.Status == ResponseStatus.Success)
            NavigationManager.NavigateTo(Links.History.Test(_test.Data.Id));
        else
            Snackbar.Add(ErrorManager.Localize(_test.Error).Title, Severity.Error);
    }

}