@page "/history"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@inject IHistoryClient Client
@inject IStringLocalizer<App> L
@attribute [Authorize]

<ApiResponseViewer Response="@_response">
    <Loading>
        <div class="ma-6">
            <div class="grid">
                <CardsSkeleton Count="2"/>
            </div>
        </div>
    </Loading>
    <Result Context="overview">
        <Title Value="@L["Subject:History"]"/>

        <HistoryPeriodsGrid Periods="@overview.Periods"/>

        <HistoryDailyTopic Class="mb-6" Topic="@overview.TrendingTopics[new Random().Next(overview.TrendingTopics.Length)]"/>

        <div class="grid mb-6">

            <div>
                <div class="container-header mb-3">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Trending"]
                    </MudText>
                </div>
                <HistoryTrendingGrid Items="@overview.TrendingTopics"/>
            </div>

            <div>
                <div class="container-header mb-3">
                    <MudText Typo="Typo.h6" Align="Align.Center">
                        @L["Topics:Random"]
                    </MudText>
                </div>
                <HistoryRandomTopicContainer Class="mb-6"/>

                <div class="container-header">
                    <MudText Typo="Typo.h6" Align="Align.Center">
                        @L["Topics:Recent"]
                    </MudText>
                </div>
                <div class="recent-grid mt-3">
                    @foreach (var topic in overview.RecentTopics)
                    {
                        <div class="recent-article-card">
                            <div class="recent-article-card-header">
                                <div class="recent-article-card-image">
                                    <img src="@topic.Image" loading="lazy" style="width: 100%" alt="@topic.Title">
                                </div>
                                <div>
                                    <MudLink Typo="Typo.h5" Href="@(Links.History.Topic(topic.Id))">
                                        @topic.Title
                                    </MudLink>
                                    <div class="mt-3">
                                                        <ContentRatingIcon Rating="@topic.Rating"/>
                                                    </div>
                                </div>
                            </div>
                            <MudText Typo="Typo.subtitle1">
                                @topic.Overview
                            </MudText>
                        </div>
                    }
                </div>
            </div>

            <div class="hot">
                <div class="container-header mb-3">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Hot"]
                    </MudText>
                </div>
                <HistoryHotGrid Items="@overview.HotTopics"/>
            </div>

        </div>
    </Result>
</ApiResponseViewer>

@code {

    private ApiResponse<HistoryOverview> _response = ApiResponse<HistoryOverview>.Loading();

    protected override async Task OnInitializedAsync()
    {
        _response = await Client.GetAsync();
    }

}
