@page "/history"
@using Elwark.Education.Web.Gateways.History
@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L
@attribute [Authorize]

<Title Value="@L["Subject:History"]"></Title>

<ApiResponseViewer InitLoader="@(() => HistoryClient.GetAsync())">
    <Loading>
        <div class="ma-6">
            <CardsSkeleton/>
        </div>
    </Loading>
    <Result Context="overview">
        <div class="period-grid">
            @foreach (var period in overview.Periods)
            {
                <div class="period-box">
                    <a href="@(Links.History.Period(period.Type))">
                        <div class="period-thumbnail">
                            <img src="@period.Image" loading="lazy" alt="@period.Title"/>
                        </div>
                        <div class="period-header">
                            <MudLink Typo="Typo.h4" Color="Color.Inherit" Href="@(Links.History.Period(period.Type))">
                                @period.Title
                            </MudLink>
                        </div>
                    </a>
                </div>
            }
        </div>

        <div class="articles-grid">
            <div class="trending-container">
                <div class="container-header">
                    <MudText Typo="Typo.h6">
                        Trending articles
                    </MudText>
                </div>
                <div class="trending-grid mt-3">
                    @foreach (var article in overview.Articles.Trends)
                    {
                        <div class="trending-article-card">
                            @if (article.Image is not null)
                            {
                                <div class="trending-article-image">
                                    <img src="@article.Image" loading="lazy" alt="@article.Title">
                                </div>
                            }
                            <div class="trending-article-content">
                                <MudLink Typo="Typo.h4" Href="@(Links.History.Article(article.Id))">
                                    @article.Title
                                </MudLink>
                                <MudText Typo="Typo.subtitle1">
                                    @article.Overview
                                </MudText>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="recent-container">
                <div class="container-header justify-lg-center">
                    <MudText Typo="Typo.h6" Align="Align.Center">
                        Recent articles
                    </MudText>
                </div>
                <div class="recent-grid mt-3">
                    @foreach (var article in overview.Articles.Recent)
                    {
                        <div class="recent-article-card">
                            <div class="recent-article-card-header">
                                @if (article.Image is not null)
                                {
                                    <div class="recent-article-card-image">
                                        <img src="@article.Image" loading="lazy" style="width: 100%" alt="@article.Title">
                                    </div>
                                }
                                <div>
                                    <MudLink Typo="Typo.h5" Href="@(Links.History.Article(article.Id))">
                                        @article.Title
                                    </MudLink>
                                </div>
                            </div>
                            <MudText Typo="Typo.subtitle1">
                                @article.Overview
                            </MudText>
                        </div>
                    }
                </div>
            </div>
        </div>
    </Result>
</ApiResponseViewer>