@page "/history"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@inject IHistoryClient Client
@inject IStringLocalizer<App> L
@attribute [Authorize]

<ApiResponseViewer Response="@_response">
    <Loading>
        <div class="ma-6">
            <div class="grid">
                <CardsSkeleton/>
            </div>
        </div>
    </Loading>
    <Result Context="overview">
        <Title Value="@L["Subject:History"]"/>
        
        <HistoryPeriodsGrid Periods="@overview.Periods"/>

        <HistoryDailyTopic Class="mb-6" Topic="@overview.Topics.Trends[0]"/>

        <div class="grid mb-6">
            <div class="trending-container">
                <div class="container-header">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Trending"]
                    </MudText>
                </div>
                <div class="trending-grid mt-3">
                    @foreach (var topic in overview.Topics.Trends)
                    {
                        <div class="trending-article-card">
                            <div class="trending-article-image">
                                <img src="@topic.Image" loading="lazy" alt="@topic.Title">
                            </div>
                            <div class="trending-article-content">
                                <MudLink Typo="Typo.h5" Href="@(Links.History.Topic(topic.Id))">
                                    @topic.Title
                                </MudLink>
                                <MudText Typo="Typo.subtitle1">
                                    @topic.Overview
                                </MudText>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="recent-container">
                <div class="container-header justify-lg-center">
                    <MudText Typo="Typo.h6" Align="Align.Center">
                        @L["Topics:Recent"]
                    </MudText>
                </div>
                <div class="recent-grid mt-3">
                    @foreach (var topic in overview.Topics.Recent)
                    {
                        <div class="recent-article-card">
                            <div class="recent-article-card-header">
                                <div class="recent-article-card-image">
                                    <img src="@topic.Image" loading="lazy" style="width: 100%" alt="@topic.Title">
                                </div>
                                <div>
                                    <MudLink Typo="Typo.h5" Href="@(Links.History.Topic(topic.Id))">
                                        @topic.Title
                                    </MudLink>
                                </div>
                            </div>
                            <MudText Typo="Typo.subtitle1">
                                @topic.Overview
                            </MudText>
                        </div>
                    }
                </div>
            </div>
        </div>
        
        <HistoryRandomTopicContainer Class="mb-6"/>
    </Result>
</ApiResponseViewer>

@code{
    private ApiResponse<HistoryOverview> _response = ApiResponse<HistoryOverview>.Loading();

    protected override async Task OnInitializedAsync()
    {
        _response = await Client.GetAsync();
    }
}
