@page "/history"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L
@attribute [Authorize]

<Title Value="@L["History"]"></Title>

@switch (_history.Status)
{
    case ResponseStatus.Loading:
        <PageLoader/>
        break;

    case ResponseStatus.Fail:
        <ErrorPage Error="_history.Error"/>
        break;

    case ResponseStatus.Success:
        <div class="period-grid">
            @foreach (var period in _history.Data.Periods)
            {
                <div class="period-box">
                    <div class="period-thumbnail">
                        <img src="@period.Image" alt="@period.Title"/>
                    </div>
                    <div class="period-header">
                        <MudLink Typo="Typo.h4" Color="Color.Inherit" Href="@(Links.History.Period(period.Type))">
                            @period.Title
                        </MudLink>
                    </div>
                </div>
            }
        </div>

        <div class="rating-container">
            <MudText Typo="Typo.h2" Align="Align.Center">
                @L["Articles"]
            </MudText>
            <MudTabs Elevation="1" Color="Color.Transparent">
                <MudTabPanel Text="Trending" Icon="@Filled.TrendingUp">
                    <div class="rating-grid mt-3">
                        @foreach (var article in _history.Data.Articles.Trends)
                        {
                            <div class="article-rating-card">
                                @if (article.Image is not null)
                                {
                                    <div class="article-rating-image">
                                        <img src="@article.Image" alt="@article.Title">
                                    </div>
                                }
                                <div class="article-rating-content">
                                    <MudLink Typo="Typo.h4" Href="@(Links.History.Article(article.Id))">
                                        @article.Title
                                    </MudLink>
                                    <MudText Typo="Typo.subtitle1">
                                        @article.Overview
                                    </MudText>
                                </div>
                            </div>
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="New" Icon="@Filled.NewReleases">
                    <div class="rating-grid mt-3">
                        @foreach (var article in _history.Data.Articles.Recents)
                        {
                            <div class="article-rating-card">
                                @if (article.Image is not null)
                                {
                                    <div class="article-rating-image">
                                        <img src="@article.Image" alt="@article.Title">
                                    </div>
                                }
                                <div class="article-rating-content">
                                    <MudLink Typo="Typo.h4" Href="@(Links.History.Article(article.Id))">
                                        @article.Title
                                    </MudLink>
                                    <MudText Typo="Typo.subtitle1">
                                        @article.Overview
                                    </MudText>
                                </div>
                            </div>
                        }
                    </div>
                </MudTabPanel>
            </MudTabs>
        </div>

        <div class="rating-container">
            <MudText Typo="Typo.h2" Align="Align.Center">
                @L["Topics"]
            </MudText>
            <MudTabs Elevation="1" Color="Color.Transparent">
                <MudTabPanel Text="Trending" Icon="@Filled.TrendingUp">
                    <div class="rating-grid mt-3">
                        @foreach (var topic in _history.Data.Topics.Trends)
                        {
                            <div class="article-rating-card">
                                <div class="article-rating-image">
                                    <img src="@topic.Image" alt="@topic.Title">
                                </div>
                                <div class="article-rating-content">
                                    <MudLink Typo="Typo.h4" Href="@(Links.History.Topic(topic.Id))">
                                        @topic.Title
                                    </MudLink>
                                    <MudText Typo="Typo.subtitle1">
                                        @topic.Overview
                                    </MudText>
                                </div>
                            </div>
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="New" Icon="@Filled.NewReleases">
                    <div class="rating-grid mt-3">
                        @foreach (var topic in _history.Data.Topics.Trends)
                        {
                            <div class="article-rating-card">
                                <div class="article-rating-image">
                                    <img src="@topic.Image" alt="@topic.Title">
                                </div>
                                <div class="article-rating-content">
                                    <MudLink Typo="Typo.h4" Href="@(Links.History.Topic(topic.Id))">
                                        @topic.Title
                                    </MudLink>
                                    <MudText Typo="Typo.subtitle1">
                                        @topic.Overview
                                    </MudText>
                                </div>
                            </div>
                        }
                    </div>
                </MudTabPanel>
            </MudTabs>
        </div>

        break;
}

@code {
    private ApiResponse<HistoryOverview> _history = ApiResponse<HistoryOverview>.Loading();

    protected override async Task OnInitializedAsync()
    {
        _history = await HistoryClient.GetAsync();
    }

}