@page "/history/test/{id}"
@using System.Timers
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@using Elwark.Education.Web.Gateways.Models.Test
@inject IStringLocalizer<Test> L
@inject IHistoryClient HistoryClient

@attribute [Authorize]

@switch (_test.Status)
{
    case ResponseStatus.Loading:
        <PageLoader/>
        break;

    case ResponseStatus.Fail:
        <ErrorPage Error="_test.Error"/>
        break;

    case ResponseStatus.Success when _test.Data.Score is not null:
        <MudText Typo="Typo.h5">Congratulation</MudText>
        break;

    case ResponseStatus.Success:
        <Title Value="@($"{L["Questions"]} {_currentQuestionNumber} / {_questions.Count}")"></Title>
        <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="my-6">
            @L["Questions"] @_currentQuestionNumber / @_questions.Count
        </MudText>

        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudPaper Class="pa-6">
                <TestForm Question="@_question" AnswerResult="@_answerResult" OnAnswer="@OnAnswer" OnNext="@NextQuestion"/>
            </MudPaper>
        </MudContainer>

        <MudText Typo="Typo.subtitle2" Align="Align.Center" Class="my-6">
            @_timeLeft.ToString(@"hh\:mm\:ss")
        </MudText>
        break;
}

@code {

    [Parameter]
    public string Id { get; init; } = default!;

    private ApiResponse<HistoryTestModel> _test = ApiResponse<HistoryTestModel>.Loading();
    private int _currentQuestionNumber;
    private TestAnswerResult? _answerResult;
    private List<TestQuestionModel> _questions = new();
    private TestQuestionModel _question = default!;
    private TimeSpan _timeLeft = TimeSpan.Zero;

    protected override void OnInitialized()
    {
        var timer = new Timer {Enabled = true, Interval = 1000};
        timer.Elapsed += (_, _) =>
        {
            _timeLeft = _test.Status == ResponseStatus.Success
                ? _test.Data.ExpiredAt - DateTime.UtcNow
                : TimeSpan.FromSeconds(1);

            StateHasChanged();

            if (_timeLeft == TimeSpan.Zero)
            {
                timer.Stop();
                timer.Dispose();
            }
        };
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _test = await HistoryClient.GetTestAsync(Id);
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
            return;
        }

        if (_test.Status != ResponseStatus.Success)
            return;

        _questions = _test.Data.Questions
            .OrderByDescending(x => x.IsAnswered)
            .ToList();

        _currentQuestionNumber = _questions.Count(x => x.IsAnswered) + 1;
        _question = _currentQuestionNumber == 1
            ? _questions.First()
            : _questions.First(x => !x.IsAnswered);
    }

    private async Task OnAnswer(TestAnswer answer)
    {
        try
        {
            switch (answer)
            {
                case ManyAnswer x:
                {
                    var result = await HistoryClient.CheckAnswer(_test.Data.Id, _question.Id, x);
                    if (result.Status == ResponseStatus.Fail)
                    {
                        _test = ApiResponse<HistoryTestModel>.Fail(result.Error);
                        return;
                    }
                    _answerResult = result.Data;
                    break;
                }

                case SingleAnswer x:
                {
                    var result = await HistoryClient.CheckAnswer(_test.Data.Id, _question.Id, x);
                    if (result.Status == ResponseStatus.Fail)
                    {
                        _test = ApiResponse<HistoryTestModel>.Fail(result.Error);
                        return;
                    }
                    _answerResult = result.Data;
                    break;
                }

                case TextAnswer x:
                {
                    var result = await HistoryClient.CheckAnswer(_test.Data.Id, _question.Id, x);
                    if (result.Status == ResponseStatus.Fail)
                    {
                        _test = ApiResponse<HistoryTestModel>.Fail(result.Error);
                        return;
                    }
                    _answerResult = result.Data;
                    break;
                }
            }
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }

        if (_answerResult is null)
        {
            _test = ApiResponse<HistoryTestModel>.Fail(Error.Unknown);
            return;
        }

        if (_answerResult.Score is not null)
        {
            _test = ApiResponse<HistoryTestModel>.Success(
                new HistoryTestModel(
                    _test.Data.Id,
                    _test.Data.CreatedAt,
                    _test.Data.ExpiredAt,
                    _answerResult.Score,
                    _test.Data.Questions
                    )
                );
        }

        if (!_answerResult.IsCorrect)
            _questions.Add(_questions.First(x => x.Id == _question.Id));
    }

    private void NextQuestion()
    {
        _question = _questions[_currentQuestionNumber];
        _currentQuestionNumber++;
    }

}