@using Education.Web.Client.Models.Quiz
@using Education.Web.Client.Features.History.Services.Quiz.Model
<div class="@Class">
    <MudRadioGroup T="DifficultyType?" Class="radio-group" SelectedOption="@SelectedDifficulty" SelectedOptionChanged="@SelectedDifficultyChanged">
        @foreach (var examination in Examinations)
        {
            <MudRadio T="DifficultyType?" Class="radio" Option="@examination.Type" Color="Color.Primary" Disabled="@(!examination.IsAllowed)">
                <div class="d-flex justify-space-between gap-3">
                    <div>
                        <p class="mud-typography mud-typography-subtitle2 one-line-text mb-3" title="@L[$"Examination_{examination.Type}_Title"]">
                            @L[$"Examination_{examination.Type}_Title"]
                        </p>
                        <div>
                            <MudText Typo="Typo.body2">@examination.AccessInventory.Title</MudText>
                            <MudText Class="mud-text-secondary" Typo="Typo.caption">@L["Inventory_Required_Title"]</MudText>
                        </div>
                    </div>

                    <div class="d-flex justify-center align-center mud-background rounded relative pa-6">
                        <img class="image" src="@examination.AccessInventory.ImageUrl" alt="@L[$"Examination_{examination.Type}_Title"]" loading="lazy"/>
                    </div>
                </div>
            </MudRadio>
        }
    </MudRadioGroup>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public DifficultyType? SelectedDifficulty { get; set; }

    [Parameter]
    public EventCallback<DifficultyType?> SelectedDifficultyChanged { get; set; }

    [Parameter, EditorRequired]
    public required ExaminationInformationModel[] Examinations { get; set; }

    [Parameter]
    public string? Class { get; set; }

}