@page "/history"
@using Education.Web.Client.Features.History.Services.Article.Model
@using Education.Web.Client.Features.History.Services.Article
@layout HistoryLayout

<PageTitle>
    @L["History_Title"]
</PageTitle>

<ApiViewer Result="@_result" Context="result">
    <SpotlightGrid Class="mb-3 mb-sm-6" Articles="@result.Trends.Take(8)"/>

    <EduContainer Class="mb-3 mb-sm-6" MaxWidth="@EduWidth.W1600">
        <div class="header">
            <h2>@L["History_Epochs"]</h2>
        </div>
        <EpochSlider/>
    </EduContainer>

    <EduContainer Class="mb-3 mb-sm-6" MaxWidth="@EduWidth.W1600">
        <div class="header">
            <h2>@L["Articles:Trending"]</h2>
        </div>
        <section class="four-column">
            @foreach (var item in result.Trends.Skip(8))
            {
                <ArticleCard Article="@item"/>
            }
        </section>
    </EduContainer>

    <EduContainer Class="mb-3 mb-sm-6 grey darken-4" MaxWidth="@EduWidth.W1280">
        <DailyArticle Article="@result.DailyArticle" Class="my-6 my-sm-12"/>
    </EduContainer>

    <EduContainer Class="mb-3 mb-sm-6" MaxWidth="@EduWidth.W1600">
        <div class="two-column">
            <section>
                <div class="header">
                    <h2>@L["Articles:Recent"]</h2>
                </div>
                @for (var i = 0; i < result.Recent.Length; i++)
                {
                    var item = result.Recent[i];

                    <ArticleCard
                        Class="@(i == result.Recent.Length - 1 ? null : "mb-3 mb-sm-6")"
                        Article="@item"
                        Horizontal/>
                }
            </section>

            <section>
                <div class="header">
                    <h2>@L["Articles:TopBookmarked"]</h2>
                </div>

                <EduFitGrid>
                    @foreach (var item in result.TopBookmarked)
                    {
                        <ArticleCard Article="@item"/>
                    }
                </EduFitGrid>
            </section>
        </div>
    </EduContainer>

    <EduContainer Class="mb-3 mb-sm-6" MaxWidth="@EduWidth.W1600">
        <div class="header">
            <h2>@L["Articles:TopRatings"]</h2>
        </div>

        <section class="four-column">
            @foreach (var item in result.TopRatings)
            {
                <ArticleCard Article="@item"/>
            }
        </section>
    </EduContainer>

    <EduContainer Class="mb-3 mb-sm-6" MaxWidth="@EduWidth.W1600">
        <RandomArticle Class="my-6 my-sm-12"/>
    </EduContainer>

</ApiViewer>

@code {
    private ApiResult<SpotlightModel> _result = ApiResult<SpotlightModel>.Loading();

    [Inject]
    private IHistoryArticleService HistoryArticleService { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    protected override async Task OnInitializedAsync() =>
        _result = await HistoryArticleService.GetSpotlightAsync();

}