@using Education.Web.Client.Features.History.Services
@using Education.Web.Client.Features.History.Services.Article
@using Blazored.LocalStorage

<section class="background rounded pa-16">
    <section class="mud-paper rounded pa-16">
        <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-3 mb-sm-6">
            @L["Article_Random"]
        </MudText>
        <div class="search">
            <MudSelect T="EpochType"
                       Value="@_epoch"
                       ValueChanged="@OnEpochChanged"
                       Label="@L["History_Epoch_Title"]"
                       Margin="Margin.Dense"
                       Variant="Variant.Text">
                <MudSelectItem Value="@EpochType.None">
                    @L["History_Epoch_Any"]
                </MudSelectItem>
                @foreach (var epoch in EpochTypeExtensions.List[1..])
                {
                    <MudSelectItem Value="@epoch">
                        @L[epoch.ResourceKey()]
                    </MudSelectItem>
                }
            </MudSelect>
            <div class="ml-3">
                <LoadingButton
                    DisableElevation
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    IsLoading="@_isLoading"
                    Text="@L["Search_Title"]"
                    LoadingText="@L["Loading_Title"]"
                    OnClick="@OnClick"/>
            </div>
        </div>
    </section>
</section>

@code {
    private EpochType _epoch = EpochType.None;
    
    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryArticleService ArticleService { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [CascadingParameter]
    private CascadingHistorySettings HistorySettings { get; set; } = default!;

    [Inject]
    private ILocalStorageService Storage { get; set; } = default!;
    
    [Parameter]
    public string? Class { get; set; }

    private bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        _epoch = await Storage.GetItemAsync<EpochType>(HistoryLocalStorageKey.SearchRandomArticleByEpochKey);
    }

    private async Task OnClick()
    {
        if (_isLoading)
            return;

        _isLoading = true;

        (await ArticleService.GetRandomAsync(_epoch))
            .Match(x => Navigation.NavigateTo(HistoryUrl.Content.Article(x)));

        _isLoading = false;
    }

    private async Task OnEpochChanged(EpochType epoch)
    {
        _epoch = epoch;
        await Storage.SetItemAsync(HistoryLocalStorageKey.SearchRandomArticleByEpochKey, epoch);
    }

}