@page "/history/my/date-guessers"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["History_DateGuessers_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@_breadcrumbs"/>
</EduContainer>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <EduFillGrid>
            @if (context.Small.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@_localizer["History_DateGuessers_Small"]"
                    Value="@context.Small.Tests"
                    Href="@HistoryUrl.User.MySmallDateGuessers">
                    <Subheader Title="@_localizer["Score_Title"]" Subtitle="@_localizer["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@context.Small.Score"/>
                </StatisticsCard>
            }

            @if (context.Medium.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@_localizer["History_DateGuessers_Medium"]"
                    Value="@context.Medium.Tests"
                    Href="@HistoryUrl.User.MyMediumDateGuessers">
                    <Subheader Title="@_localizer["Score_Title"]" Subtitle="@_localizer["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@context.Medium.Score"/>
                </StatisticsCard>
            }

            @if (context.Large.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@_localizer["History_DateGuessers_Large"]"
                    Value="@context.Large.Tests"
                    Href="@HistoryUrl.User.MyLargeDateGuessers">
                    <Subheader Title="@_localizer["Score_Title"]" Subtitle="@_localizer["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@context.Large.Score"/>
                </StatisticsCard>
            }

            <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                <MudText Typo="Typo.h5">
                    @_localizer["Activities_Daily_Title"]
                </MudText>
                @if (_daily.Length > 0)
                {
                    <ActivityChart Activities="@_daily" DateStyle="DateStyle.CustomerDayAndAbbreviatedMonth"/>
                }
                else
                {
                    <MudText>
                        @_localizer["Activities_NoActivitiesWithinTheLast30Days"]
                    </MudText>
                }
            </section>

            @if (_monthly.Length > 1)
            {
                <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                    <MudText Typo="Typo.h5">
                        @_localizer["Activities_Monthly_Title"]
                    </MudText>
                    <ActivityChart Activities="@_monthly" DateStyle="DateStyle.AbbreviatedMonthAndCustomerYear"/>
                </section>
            }
        </EduFillGrid>
    </EduContainer>
</EduApiViewer>
