@page "/history/my/date-guessers"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["History_DateGuessers_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="profile">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <EduFillGrid>
            @if (profile.SmallDateGuesser.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@L["History_DateGuessers_Small"]"
                    Value="@profile.SmallDateGuesser.Tests"
                    Href="@HistoryUrl.User.MySmallDateGuessers">
                    <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@profile.SmallDateGuesser.Score"/>
                </StatisticsCard>
            }

            @if (profile.MediumDateGuesser.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@L["History_DateGuessers_Medium"]"
                    Value="@profile.MediumDateGuesser.Tests"
                    Href="@HistoryUrl.User.MyMediumDateGuessers">
                    <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@profile.MediumDateGuesser.Score"/>
                </StatisticsCard>
            }

            @if (profile.LargeDateGuesser.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@L["History_DateGuessers_Large"]"
                    Value="@profile.LargeDateGuesser.Tests"
                    Href="@HistoryUrl.User.MyLargeDateGuessers">
                    <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <DateGuesserScoreChart Score="@profile.LargeDateGuesser.Score"/>
                </StatisticsCard>
            }

            <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                <MudText Typo="Typo.h5">
                    @L["Activities_Daily_Title"]
                </MudText>
                @if (_daily.Length > 0)
                {
                    <ActivityChart Activities="@_daily" DateStyle="DateStyle.CustomerDayAndAbbreviatedMonth"/>
                }
                else
                {
                    <MudText>
                        @L["Activities_NoActivitiesWithinTheLast30Days"]
                    </MudText>
                }
            </section>

            @if (_monthly.Length > 1)
            {
                <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                    <MudText Typo="Typo.h5">
                        @L["Activities_Monthly_Title"]
                    </MudText>
                    <ActivityChart Activities="@_monthly" DateStyle="DateStyle.AbbreviatedMonthAndCustomerYear"/>
                </section>
            }
        </EduFillGrid>
    </EduContainer>
</ApiViewer>
