@using Education.Client.Gateways.Models.Content
@using Education.Client.Gateways.History

<section class="card">
    <header class="card-header">
        <a href="@Links.History.Topic.ById(Id)">
            <img src="@Image" alt="@Title"/>
        </a>
    </header>
    <div class="d-flex align-center justify-space-between px-3">
        <MudChip Label="true" Class="ma-0" Size="Size.Small" Color="Color.Primary" Link="@Links.History.Topic.ByEpoch(Epoch)">
            @L[$"History:{Epoch}"]
        </MudChip>

        <MudTooltip Text="@(IsFavorite ? L["RemoveFromFavorite"] : L["AddToFavorite"])">
            <MudToggleIconButton
                Class="favorite"
                Toggled="@IsFavorite"
                ToggledChanged="@OnFavoriteChanged"
                Icon="@Icons.Filled.FavoriteBorder"
                Color="Color.Default"
                ToggledIcon="@Icons.Filled.Favorite"
                ToggledColor="Color.Error"/>
        </MudTooltip>
    </div>

    <div class="px-3">
        <MudLink Href="@Links.History.Topic.ById(Id)" Typo="Typo.subtitle1">
            @Title
        </MudLink>
        <MudText Typo="Typo.body2" Class="pt-3">
            @Overview
        </MudText>
    </div>

    <div class="progress">
        <TopicProgressView Class="px-3" Progress="Progress"/>
    </div>

    <div class="d-flex flex-row align-center px-3 mb-3">
        <MudTooltip Placement="Placement.Top" Text="@(L["Rating"] + " " + Rating.FiveStarts.ToReadable())">
            <MudRating MaxValue="5" ReadOnly="true" SelectedValue="@((int) Math.Round(Rating.FiveStarts))"/>
        </MudTooltip>
        <MudText Typo="@Typo.body2" Class="ml-2 mb-1">
            @L["Rating:Count", Rating.Votes]
        </MudText>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public EpochType Epoch { get; set; }

    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Overview { get; set; } = string.Empty;

    [Parameter]
    public ContentRating Rating { get; set; } = default!;

    [Parameter]
    public UserTopicProgress Progress { get; set; } = default!;

    [Parameter]
    public bool IsFavorite { get; set; }

    [Parameter]
    public Func<string, Task<bool>> OnFavoriteClick { get; set; } = _ => Task.FromResult(false);

    private async Task OnFavoriteChanged(bool toggled) =>
        IsFavorite = await OnFavoriteClick.Invoke(Id);

}
