@using Education.Web.Client.Features.History.Services.Flow.Model
@using Education.Web.Client.Models.Quiz
<EduContainer Class="@Class" MaxWidth="EduWidth.W960">
    <section class="grid">
        <QuestionForm
            Class="flow mud-paper pa-3 pa-sm-6"
            Question="@Flow.Question"
            CorrectAnswer="@CorrectAnswer"
            OnAnswerClick="@OnAnswerClick"
            OnNextTitle="@(L["Question_Next"])"
            OnNextClick="@OnNextClick">
            <Header>
                <MudText Class="mb-3" Typo="Typo.h2" Align="Align.Center">
                    @L["Flow_Title"]
                </MudText>
            </Header>
        </QuestionForm>

        <aside class="sidebar">
            <FlowBankCard
                Class="bank"
                Streak="@Flow.Streak"
                Bank="@Flow.Bank" 
                OnBankCollectClick="@OnBankCollectClick" />
        </aside>
    </section>
</EduContainer>

@code {
    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public FlowModel Flow { get; set; } = default!;

    [Parameter, EditorRequired]
    public AnswerResult? CorrectAnswer { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<AnswerToQuestionModel> OnAnswerClick { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnNextClick { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnBankCollectClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}