@using Education.Web.Gateways.History.Leaderboards.Model

<section class="grid">
    <div class="rank">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:Rank"]
        </MudText>
    </div>
    <div class="name">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:UserName"]
        </MudText>
    </div>
    <div class="level">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:UserLevel"]
        </MudText>
    </div>
    <div class="experience">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:UserExperience"]
        </MudText>
    </div>
</section>

<Virtualize Items="@Users" Context="user">
    <section class="grid @(user.Id == HighlightUser ? "highlight-paper" : "mud-paper") mb-3">
        <div class="rank">
            <MudText Typo="Typo.subtitle2">
                @user.Rank
            </MudText>
        </div>
        <div class="name">
            <MudAvatar Image="@user.Image" Alt="@user.FullName" Class="mr-3"/>
            <MudText Typo="Typo.subtitle1">@user.FullName</MudText>
        </div>
        <div class="level">
            <MudIcon Class="grey-text text-lighten-1 mr-3" Icon="@Icons.Material.Outlined.BarChart"/>
            <MudText Typo="Typo.h6">
                @user.Level
            </MudText>
        </div>
        <div class="experience">
            <MudIcon Class="mr-3" Size="Size.Small" Style="color: #FFCA28" Icon="@EducationIcons.Experience"/>
            <HumanReadableText Value="@user.Experience" Typo="Typo.h6"/>
        </div>
    </section>
</Virtualize>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public long HighlightUser { get; set; }

    [Parameter, EditorRequired]
    public GlobalRankingModel[] Users { get; set; } = Array.Empty<GlobalRankingModel>();

}
