@using Education.Web.Services.Model.User

<section class="card @Class">
    <header class="card-header" style="background-image: url('@Background')"></header>

    <MudAvatar Class="avatar" Style="background: linear-gradient(45deg, #ffa726 10%, #ef6c00 90%);">
        <MudIcon Class="icon" Icon="@Icon"/>
    </MudAvatar>

    <MudText Typo="Typo.h5" Align="Align.Center">
        @Title
    </MudText>

    <UserLevelProgress
        Class="px-3 px-sm-6 mb-3 mb-sm-6"
        Level="@Level.Value"
        Experience="@Level.Experience"
        NextLevelExperience="@Level.NextLevelExperience"/>

    <section class="d-flex justify-center gap-3 px-3 px-sm-6 mb-3 mb-sm-6">
        <MudButton
            DisableElevation
            FullWidth
            StartIcon="@Icon"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Href="@HomeHref">
            @L["Home"]
        </MudButton>

        <MudButton
            DisableElevation
            FullWidth
            StartIcon="@EduIcons.MyProfile"
            Variant="Variant.Outlined"
            Color="Color.Primary"
            Href="@ProfileHref">
            @L["Profile"]
        </MudButton>
    </section>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string HomeHref { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string ProfileHref { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Icon { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Background { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public LevelModel Level { get; set; } = default!;

    [Parameter, EditorRequired]
    public long Silver { get; set; }

    [Parameter]
    public string? Class { get; set; }

}