<MudTooltip Text="@L["NumberOfQuizzes_Total_Title"]">
    <ChildContent>
        <MudChip
            Class="ma-0"
            Color="Color.Primary"
            Variant="Variant.Outlined"
            Icon="@EduIcons.Quiz"
            Text="@Quizzes.ToMetric("G")"/>
    </ChildContent>

    <TooltipContent>
        <div class="d-flex flex-column">
            <div class="d-flex gap-1">
                <MudIcon Size="Size.Small" Icon="@EduIcons.Quiz"/>
                <MudText Typo="Typo.body2">
                    @L["NumberOfQuizzes_PassedHard_Title"]: @Hard.ToMetric("G")
                </MudText>
            </div>
            <div class="d-flex gap-1">
                <MudIcon Size="Size.Small" Icon="@EduIcons.Quiz"/>
                <MudText Typo="Typo.body2">
                    @L["NumberOfQuizzes_PassedEasy_Title"]: @Easy.ToMetric("G")
                </MudText>
            </div>
        </div>
    </TooltipContent>
</MudTooltip>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    private uint Quizzes => Easy + Hard;

    [Parameter, EditorRequired]
    public uint Easy { get; set; }

    [Parameter, EditorRequired]
    public uint Hard { get; set; }

}