@page "/account"
@layout CustomerLayout
@attribute [Authorize]

<PageTitle>
    @L["Account_Title"]
</PageTitle>

<ApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1920">
        <Virtualize Items="@_subjects" Context="subject">
            <section class="d-flex align-center mud-paper gap-3 gap-sm-6 pa-3 pa-sm-6 mb-3 mb-sm-6">
                <SubjectIcon Icon="@subject.Icon" Background="@subject.Gradient"/>

                <MudLink Href="@subject.SubjectHref" Typo="Typo.h5">@subject.Title</MudLink>

                <MudSpacer/>

                <UserLevelProgress
                    Class="d-none d-sm-block"
                    Level="@subject.Level"
                    Experience="@subject.Experience"
                    Threshold="@subject.Threshold"/>

                <MudButton
                    Class="text-transform-none"
                    EndIcon="@Icons.Material.Outlined.ArrowForward"
                    Href="@subject.ProfileHref"
                    DisableRipple
                    DisableElevation>
                    @L["User_Profile_Title"]
                </MudButton>
            </section>
        </Virtualize>
    </EduContainer>
</ApiViewer>