@page "/account"
@layout CustomerLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["Account_Title"]
</PageTitle>

<MudText Class="mb-3 mb-sm-6" Typo="Typo.h5">
    @_localizer["Subjects_Title"]
</MudText>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <Loading>
        <section class="d-flex align-center mud-paper gap-3 gap-sm-6 pa-3 pa-sm-6 mb-3 mb-sm-6">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="80px" Height="80px"/>
            <MudSkeleton SkeletonType="SkeletonType.Text" Width="80px"/>
            <MudSpacer/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50px"/>
        </section>
    </Loading>
    <ChildContent>
        <EduFillGrid Class="mb-3 mb-sm-6">
            @foreach (var subject in context.Select(x => Enhance(x)).Where(x => x is not null))
            {
                <SubjectCard Subject="@subject"/>
            }
        </EduFillGrid>
    </ChildContent>
</EduApiViewer>

<MudText Class="mb-3 mb-sm-6" Typo="Typo.h5">
    @_localizer["PersonalInfo_Title"]
</MudText>
<section class="mud-paper pa-3 pa-sm-6 mb-3 mb-sm-6">
    <EduFillGrid>
        <MudTextField
            Label="@_localizer["Account_TimeZone"]"
            Value="@Customer.TimeZone.Id"
            Variant="Variant.Outlined"
            ReadOnly/>

        <MudTextField
            Label="@_localizer["Account_StartOfWeek"]"
            Value="@Customer.StartOfWeek"
            Variant="Variant.Outlined"
            ReadOnly/>

        <MudTextField
            Label="@_localizer["Account_DateFormat"]"
            Value="@Customer.DateFormat"
            Variant="Variant.Outlined"
            ReadOnly/>

        <MudTextField
            Label="@_localizer["Account_TimeFormat"]"
            Value="@Customer.TimeFormat"
            Variant="Variant.Outlined"
            ReadOnly/>

        <div>
            <MudButton
                Class="text-transform-none"
                Color="Color.Primary"
                DropShadow="false"
                Ripple="false"
                EndIcon="@Icons.Material.Outlined.OpenInNew"
                Href="@_configuration["Urls:Account"]"
                IconSize="Size.Small"
                Target="_blank"
                Variant="Variant.Filled">
                @_localizer["ManageYourElwarkAccount_Title"]
            </MudButton>
        </div>
    </EduFillGrid>
</section>
