@page "/account"
@layout CustomerLayout
@attribute [Authorize]

<PageTitle>
    @L["Account_Title"]
</PageTitle>

<MudText Class="mb-3 mb-sm-6" Typo="Typo.h5">
    @L["Subjects_Title"]
</MudText>

<ApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <Loading>
        <section class="d-flex align-center mud-paper gap-3 gap-sm-6 pa-3 pa-sm-6 mb-3 mb-sm-6">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="80px" Height="80px"/>
            <MudSkeleton SkeletonType="SkeletonType.Text" Width="80px"/>
            <MudSpacer/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50px"/>
        </section>
    </Loading>
    <ChildContent>
        @foreach (var subject in context.Select(x => Enhance(x)).Where(x => x is not null))
        {
            <SubjectCard Class="mb-3 mb-sm-6" Subject="@subject"/>
        }
    </ChildContent>
</ApiViewer>

<MudText Class="mb-3 mb-sm-6" Typo="Typo.h5">
    @L["PersonalInfo_Title"]
</MudText>
<section class="mud-paper pa-3 pa-sm-6 mb-3 mb-sm-6">
    <EduFillGrid>
        <MudTextField
            Label="@L["Account_TimeZone"]"
            Value="@Customer.TimeZone.Id"
            Variant="Variant.Outlined"
            ReadOnly/>

        <MudTextField
            Label="@L["Account_StartOfWeek"]"
            Value="@Customer.StartOfWeek"
            Variant="Variant.Outlined"
            ReadOnly/>

        <MudTextField
            Label="@L["Account_DateFormat"]"
            Value="@Customer.DateFormat"
            Variant="Variant.Outlined"
            ReadOnly/>

        <MudTextField
            Label="@L["Account_TimeFormat"]"
            Value="@Customer.TimeFormat"
            Variant="Variant.Outlined"
            ReadOnly/>

        <div>
            <MudButton
                Class="text-transform-none"
                Color="Color.Primary"
                Variant="Variant.Filled"
                EndIcon="@Icons.Material.Outlined.OpenInNew"
                IconSize="Size.Small"
                Href="@Configuration["Urls:Account"]"
                Target="_blank"
                DisableRipple
                DisableElevation>
                @L["ManageYourElwarkAccount_Title"]
            </MudButton>
        </div>
    </EduFillGrid>
</section>
