<div class="@Class">
    @foreach (var item in Items)
    {
        <div class="item">
            <div class="header">
                <div class="header-content">
                    <MudText Typo="Typo.subtitle1">
                        @item.Title
                    </MudText>
                </div>
                @if (item.Description is not null)
                {
                    <div class="header-action">
                        <MudTooltip Text="@item.Description" Placement="Placement.Start">
                            <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Size="Size.Small"/>
                        </MudTooltip>
                    </div>
                }
            </div>
            <div class="content">
                <MudText Typo="Typo.h5">
                    @item.Value
                </MudText>

                <div class="d-flex flex-row align-center">
                    @switch (item.Diff)
                    {
                        case < 0:
                            <MudChip Color="Color.Error" Size="Size.Small" Label="true" Variant="Variant.Outlined">
                                @item.Diff.ToReadable()%
                            </MudChip>
                            <MudIcon Icon="@Icons.Material.Filled.ArrowDownward" Color="Color.Error"/>
                            break;

                        case 0:
                            <MudChip Color="Color.Surface" Size="Size.Small" Label="true" Variant="Variant.Outlined">
                                @item.Diff.ToReadable()%
                            </MudChip>
                            break;

                        case > 0:
                            <MudChip Color="Color.Success" Size="Size.Small" Label="true" Variant="Variant.Outlined">
                                +@item.Diff.ToReadable()%
                            </MudChip>
                            <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" Color="Color.Success"/>
                            break;
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Item[] Items { get; set; } = Array.Empty<Item>();

    public sealed record Item(string Title, string Value, double Diff, string? Description = null);

}
