@page "/history/my/achievements"
@layout HistoryLayout
@attribute [Authorize]

@using Education.Client.Gateways.History.User
@using Education.Client.Gateways.History
@using Education.Client.Features.History.My.Components

<PageTitle>@L["Achievements"]</PageTitle>

<EduPage Subject="@L["Subject:History"]" ShowFooter="@_response.IsLoaded">
    <ApiViewer Response="@_response">
        <Success Context="achievements">
            <EduContainer>
                <PageHeader Title="@L["Achievements"]" Class="mb-3 mb-sm-6" Breadcrumbs="@Breadcrumbs"/>

                <MudGrid>
                    @foreach (var group in achievements)
                    {
                        <MudItem xs="12" md="3" xl="2" Class="mt-6 mt-sm-12">
                            <div class="sticky-info">
                                <MudText Typo="Typo.h5">
                                    @L[$"AchievementCategory:{group.Category}"]
                                </MudText>
                                <MudText Typo="Typo.subtitle1">
                                    @group.Completed/@group.Total
                                </MudText>
                            </div>
                        </MudItem>

                        <MudItem xs="12" md="9" xl="10" Class="mt-6 mt-sm-12">
                            <div class="grid">
                                @foreach (var achievement in group.Items)
                                {
                                    <AchievementView Achievement="@achievement"/>
                                }
                            </div>
                        </MudItem>
                    }
                </MudGrid>
            </EduContainer>
        </Success>
    </ApiViewer>
</EduPage>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Account"].Value, Links.Account.Index),
        new BreadcrumbItem(L["Profile"].Value, Links.History.User.MyProfile)
    };

    private ApiResponse<CategorizedAchievements[]> _response = ApiResponse<CategorizedAchievements[]>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnParametersSetAsync() =>
        _response = await HistoryClient.User.GetAchievementsAsync();

}
