@page "/history/my/inventories"
@layout HistoryLayout

@using Education.Web.Gateways.History
@using Education.Web.Gateways.History.Users.Model
@using Education.Web.Pages.History.Components

@attribute [Authorize]

<PageTitle>@L["Inventory"]</PageTitle>

<EduPage ShowFooter="@_result.IsLoaded">
    <EduContainer Class="h-100" MaxWidth="EduWidth.W1920">
        <div class="grid">
            <section class="inventory">
                <ApiViewer Result="@_result" Context="data">
                    <ChildContent>
                        <InventoryGrid>
                            @foreach (var item in data.Inventory.Items)
                            {
                                <InventoryInfoCard Title="@item.Title" Overview="@item.Overview" IconUrl="@item.IconUrl">
                                    <div class="d-flex justify-center">
                                        <HumanReadableNumber Typo="Typo.h6" Value="@item.Count"/>
                                    </div>
                                </InventoryInfoCard>
                            }
                        </InventoryGrid>
                    </ChildContent>
                </ApiViewer>
            </section>

            <section class="shop"></section>
        </div>
    </EduContainer>
</EduPage>

@code {
    private ApiResult<InventoryCompositionModel> _result = ApiResult<InventoryCompositionModel>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _result = await Client.User.GetInventoryAsync();
    }

}