@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components

@using Elwark.Education.Web.Gateways.Models.Statistics
@typeparam TItem
@inject IStringLocalizer<App> L

<MudPaper Class="pa-6">
    <MudText Typo="Typo.h5">
        @Title
    </MudText>
    @if (Items.Count == 0)
    {
        @L["NoDataYet"]
    }
    else
    {
        @for (var i = 0; i < Items.Count; i++)
        {
            var position = i;
            var color = position switch{
                0 => Colors.Amber.Accent2,
                1 => Colors.BlueGrey.Lighten2,
                2 => Colors.Orange.Darken3,
                _ => Colors.Grey.Lighten1
                };
            var item = Items[position];

            <div class="grid mt-6">
                <MudAvatar Square="false" Class="mr-2" Style="@("background-color: " + color)">
                    @(position + 1)
                </MudAvatar>
                <div>
                    @if (item.Title is null)
                    {
                        <MudText Typo="Typo.body1">
                            @L["Deleted"]
                        </MudText>
                    }
                    else
                    {
                        <MudLink Typo="Typo.body1" Href="@LinkBuilder(item.Id)">
                            @item.Title
                        </MudLink>
                    }
                    <MudText Typo="Typo.body2">
                        @item.CreatedAt.ToSimpleFormat()
                    </MudText>
                </div>
                <MudText Typo="Typo.h6">
                    @ValueConverter(item.Value)
                </MudText>
            </div>
        }
    }
</MudPaper>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public IList<RankingItem<TItem>> Items { get; set; } = Array.Empty<RankingItem<TItem>>();

    [Parameter]
    public Func<TItem, string> ValueConverter { get; set; } = item => item?.ToString() ?? string.Empty;

    [Parameter]
    public Func<string, string> LinkBuilder { get; set; } = default!;

}