@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components

@using Elwark.Education.Web.Gateways.Models.TestConclusion
@inject IStringLocalizer<App> L

<MudPaper Class="@($"pa-6 {Class}")">
    <div class="grid">
        <div class="title">
            <MudLink Href="@DetailLink" Typo="Typo.h6">
                @if (Conclusion.Title is null)
                {
                    <em>
                        @L["Deleted"]
                    </em>
                }
                else
                {
                    @Conclusion.Title
                }
            </MudLink>

        </div>
        <div class="status">
            <ProfileConclusionStatusChip Status="@Conclusion.Status"/>
        </div>
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.UserScore.Total
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["Score"]
            </MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.TimeSpent.ToSimpleFormat()
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["TimeSpent"]
            </MudText>
        </div>
    </div>
</MudPaper>

@code {

    [Parameter]
    public TestConclusionSummary Conclusion { get; set; } = default!;

    [Parameter]
    public string DetailLink { get; set; } = string.Empty;

    [Parameter]
    public string? Class { get; set; }

}