@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components

@using Elwark.Education.Web.Gateways.Models.TestConclusion
@inject IStringLocalizer<App> L

<MudPaper Class="@($"pa-6 {Class}")">
    <div class="d-sm-flex flex-row justify-space-between">
        @if (Conclusion.Title is null)
        {
            <MudText Typo="Typo.h6">
                @L["Deleted"]
            </MudText>
        }
        else
        {
            <MudLink Href="@ContentLink" Typo="Typo.h6">
                @Conclusion.Title
            </MudLink>
        }
        <ConclusionStatusChip Status="@Conclusion.Status"/>
    </div>
    <div>
        <MudText Typo="Typo.body1">
            @Conclusion.CreatedAt.ToSimpleFormat()
        </MudText>
    </div>
    <div class="statistics-grid my-3">
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.TimeSpent.ToSimpleFormat()
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["TimeSpent"]
            </MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.UserScore.Total
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["Score"]
            </MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.UserScore.Questions
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["Score:ByQuestions"]
            </MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.UserScore.NoMistakes
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["Score:NoMistakesBonus"]
            </MudText>
        </div>
        <div>
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Conclusion.UserScore.Speed
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                @L["Score:BySpeedBonus"]
            </MudText>
        </div>
    </div>
    <div class="mt-6">
        @foreach (var answer in Conclusion.Answers)
        {
            <div class="mb-3">
                <MudText Typo="Typo.subtitle1">
                    @if (answer.Title is null)
                    {
                        <em>@L["Deleted"]</em>
                    }
                    else
                    {
                        @answer.Title
                    }
                </MudText>
                <MudText Typo="Typo.body1">
                    @if (answer.Correct > 0)
                    {
                        <strong>@L["Correct"]:&nbsp;</strong>
                        <span>@answer.Correct&nbsp;</span>
                    }
                    @if (answer.Incorrect > 0)
                    {
                        <strong>@L["Incorrect"]:&nbsp;</strong>
                        <span>@answer.Incorrect&nbsp;</span>
                    }
                </MudText>
            </div>
        }
    </div>
</MudPaper>

@code {

    [Parameter]
    public TestConclusionDetail Conclusion { get; set; } = default!;

    [Parameter]
    public string ContentLink { get; set; } = string.Empty;

    [Parameter]
    public string? Class { get; set; }

}