<section class="card @Class">
    <header class="card-header" style="background-image: url('@Background')"></header>

    <section class="d-flex px-3 px-sm-6">
        <MudAvatar Class="avatar" Style="background: linear-gradient(45deg, #ffa726 10%, #ef6c00 90%);">
            <MudIcon Class="icon" Icon="@Icon"/>
        </MudAvatar>
        <MudText Class="pt-1" Typo="Typo.h5">
            @Title
        </MudText>
    </section>

    <section class="d-flex justify-center gap-3 pa-3 pa-sm-6">
        <MudButton
            DisableElevation
            FullWidth
            StartIcon="@Icons.Material.Outlined.Home"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Href="@HomeHref">
            @L["Home"]
        </MudButton>

        <MudButton
            DisableElevation
            FullWidth
            StartIcon="@EduIcons.MyProfile"
            Variant="Variant.Outlined"
            Color="Color.Primary"
            Href="@ProfileHref">
            @L["Profile"]
        </MudButton>
    </section>

    <MudDivider/>

    <UserLevelProgress
        Class="pa-3 pa-sm-6"
        Level="@Level"
        Experience="@Experience"
        Threshold="@Threshold"/>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string HomeHref { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string ProfileHref { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Icon { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Background { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public uint Level { get; set; }

    [Parameter, EditorRequired]
    public ulong Experience { get; set; }

    [Parameter, EditorRequired]
    public ulong Threshold { get; set; }

    [Parameter]
    public string? Class { get; set; }

}