@page "/history/date-guessers/{id}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["History_DateGuessers_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_guesser" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W960">
        <div class="header">
            <div class="header-score">
                <div class="d-flex flex-row align-center">
                    <MudIcon Icon="@EduIcons.Score" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                    <MudText Typo="Typo.subtitle1">
                        @context.Score.Total
                    </MudText>
                </div>
                <MudText Typo="Typo.caption">
                    @L["History_DateGuesser_Score"]
                </MudText>
            </div>

            <div class="header-bonus">
                @if (context.X2BonusUntil > DateTime.UtcNow)
                {
                    <div class="d-flex flex-row justify-end align-center">
                        <MudIcon Icon="@EduIcons.Score" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                        <MudText Typo="Typo.subtitle1">
                            @L["History_DateGuesser_x2Bonus"]
                        </MudText>
                    </div>
                    <div class="d-flex flex-row justify-end">
                        <CountdownTimer
                            Deadline="@context.X2BonusUntil"
                            Typo="Typo.caption"
                            OnComplete="@StateHasChanged"/>
                    </div>
                }
            </div>

            <div class="header-questions">
                <MudText Typo="Typo.subtitle1">
                    @L["Questions_Title"] @context.CompletedQuestions / @context.TotalQuestions
                </MudText>
            </div>

            <div class="header-title">
                <MudText Typo="Typo.h5" Align="Align.Center">
                    @context.Question.Title
                </MudText>
            </div>
        </div>

        <DateGuesserForm QuestionId="@context.Question.Id" OnAnswer="@OnValidSubmit"/>

        <InventoryGrid Class="inventory align-grid-start" Inventory="@context.Inventory" Context="item">
            @if (item.IsInteractive)
            {
                <InventoryButtonCard
                    Id="@item.InventoryId"
                    Quantity="@item.Quantity"
                    Title="@item.Title"
                    Overview="@item.Overview"
                    IconUrl="@item.ImageUrl"
                    ButtonText="@L["Inventory_Use_Button"]"
                    OnClick="@OnUseInventory"/>
            }
            else
            {
                <InventoryInfoCard
                    Title="@item.Title"
                    Overview="@item.Overview"
                    Quantity="@item.Quantity"
                    IconUrl="@item.ImageUrl"/>
            }
        </InventoryGrid>
    </EduContainer>
</ApiViewer>
