@page "/history/examinations/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync">
    <PageTitle>
        @L.GetExaminationDifficultyTitle(context.Difficulty): @context.Title
    </PageTitle>

    <MudAlert Class="mb-6 mb-sm-12" Severity="@GetColor(context.Status)" ContentAlignment="HorizontalAlignment.Center" Square>
        @L.GetStatusTitle(context.Status)
    </MudAlert>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <article>
                <CompletedStars Class="mb-6" Progress="@context.TotalScore.Ratio"/>

                <RewardsContainer Class="mb-3 mb-sm-6" Rewards="@context.Rewards"/>

                <div class="d-flex justify-center">
                    <MudButton
                        Href="@HistoryUrl.Content.ExaminationBuilder(context.CourseId)"
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        Size="Size.Large"
                        DisableElevation>
                        @L["Examination_TakeTheExaminationAgain"]
                    </MudButton>
                </div>
            </article>

            <ScoreConclusionCard Conclusion="@context"/>
        </section>
    </EduContainer>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <MudTable Items="@context.Questions" Breakpoint="Breakpoint.Xs" Elevation="0" Hover>
            <ToolBarContent>
                <MudLink Href="@HistoryUrl.Content.Course(context.CourseId)" Typo="Typo.h6">
                    @context.Title
                </MudLink>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>@L["Question_Title"]</MudTh>
                <MudTh>@L["Question_Answered"]</MudTh>
                <MudTh>@L["Question_Correct"]</MudTh>
            </HeaderContent>
            <RowTemplate Context="question">
                <MudTd DataLabel="@L["Question_Title"]">
                    @question.Title
                </MudTd>
                <MudTd DataLabel="@L["Question_Answered"]">
                    <MudIcon Size="Size.Small" Icon="@GetCheckIcon(question.IsAnswered)"/>
                </MudTd>
                <MudTd DataLabel="@L["Question_Correct"]">
                    <MudIcon Size="Size.Small" Icon="@GetCheckIcon(question.IsCorrect)"/>
                </MudTd>
            </RowTemplate>
            <FooterContent>
                <MudTh/>
                <MudTh>
                    @context.Questions.Count(x => x.IsAnswered) / @context.Questions.Length
                </MudTh>
                <MudTh>
                    @context.Questions.Count(x => x.IsCorrect) / @context.Questions.Length
                </MudTh>
            </FooterContent>
        </MudTable>
    </EduContainer>
</ApiViewer>
