@page "/history/examinations/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="conclusion">
    <PageTitle>
        @conclusion.Course.Title
    </PageTitle>

    <MudAlert Class="mb-6 mb-sm-12" Severity="@GetColor(conclusion.Status)" ContentAlignment="HorizontalAlignment.Center" Square>
        @L.GetStatusTitle(conclusion.Status)
    </MudAlert>

    <CompletedStars Class="mb-6" Progress="@conclusion.TotalScore.Ratio"/>

    @if (conclusion.Rewards.Length > 0)
    {
        <RewardsContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280" Rewards="@conclusion.Rewards"/>
    }

    <div class="d-flex justify-center py-3 py-sm-6">
        <MudButton
            Href="@HistoryUrl.Content.ExaminationBuilder(conclusion.Course.Id)"
            Color="Color.Primary"
            Variant="Variant.Filled"
            Size="Size.Large"
            DisableElevation>
            @L["Examination_TakeTheExaminationAgain"]
        </MudButton>
    </div>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <div class="mb-3">
            <MudLink Href="@HistoryUrl.User.MyCourse(conclusion.Course.Id)" Typo="Typo.h5">
                @L["Statistics_Title"]
            </MudLink>
        </div>
        <ConclusionCharts ConclusionModel="@conclusion"/>
    </EduContainer>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <div class="mb-3">
            <MudLink Href="@HistoryUrl.Content.Course(conclusion.Course.Id)" Typo="Typo.h5">
                @conclusion.Course.Title
            </MudLink>
        </div>

        <MudTable Class="mb-3 mb-sm-6" Items="@conclusion.Questions" Breakpoint="Breakpoint.Xs" Elevation="0" Hover>
            <HeaderContent>
                <MudTh>@L["Question_Title"]</MudTh>
                <MudTh>@L["Question_Answered"]</MudTh>
                <MudTh>@L["Question_Correct"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@L["Question_Title"]">
                    @context.Title
                </MudTd>
                <MudTd DataLabel="@L["Question_Answered"]">
                    <MudIcon
                        Size="Size.Small"
                        Icon="@(context.IsAnswered ? Icons.Material.Outlined.Check : Icons.Material.Outlined.Close)"/>
                </MudTd>
                <MudTd DataLabel="@L["Question_Correct"]">
                    <MudIcon
                        Size="Size.Small"
                        Icon="@(context.IsCorrect ? Icons.Material.Outlined.Check : Icons.Material.Outlined.Close)"/>
                </MudTd>
            </RowTemplate>
            <FooterContent>
                <MudTh/>
                <MudTh>
                    @conclusion.Questions.Count(x => x.IsAnswered) / @conclusion.Questions.Length
                </MudTh>
                <MudTh>
                    @conclusion.Questions.Count(x => x.IsCorrect) / @conclusion.Questions.Length
                </MudTh>
            </FooterContent>
        </MudTable>
    </EduContainer>
</ApiViewer>