@using Education.Web.Client.Features.History.Services.Learner.Model
<section class="grid @Class">
    <div class="image-wrapper">
        <img class="image rounded object-cover object-center" src="@Article.ThumbnailUrl" alt="@Article.Title" loading="lazy"/>
    </div>

    <article class="content">
        <div class="breadcrumbs">
            <Breadcrumbs Class="pa-0 mb-3" Items="@Breadcrumbs"/>
        </div>

        <MudLink Typo="Typo.h5" Href="@HistoryUrl.Content.Article(Article.Id)">
            @Article.Title
        </MudLink>

        <br/>

        <a class="mud-typography mud-link mud-text-secondary mud-link-underline-hover mud-typography-body1" href="@HistoryUrl.Content.Articles(Article.Epoch)">
            @L.GetEpochTitle(Article.Epoch)
        </a>

        <ContentRating Class="pt-3" Rating="@Article.Rating" ShowTooltip/>

        <MudText Class="w-max-600 pt-3" Typo="Typo.body2">
            @Article.Overview
        </MudText>
    </article>

    <aside class="statistics">
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.Quiz" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["NumberOfQuizzes_Total_Title"]
                </MudText>
            </div>
            <MetricNumber Value="@Total.Quizzes" Typo="Typo.body2"/>
        </div>
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.Score" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["Score_Total_Title"]
                </MudText>
            </div>
            <MetricNumber Value="@Total.Score" Typo="Typo.body2"/>
        </div>
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.Questions" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["Questions_Total"]
                </MudText>
            </div>
            <MetricNumber Value="@Total.Questions" Typo="Typo.body2"/>
        </div>
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.TimeSpent" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["TimeSpent_Total_Title"]
                </MudText>
            </div>
            <MudText Typo="Typo.body2">
                @Total.TimeSpent.Humanize(L)
            </MudText>
        </div>
        <div class="d-flex align-center justify-space-between mb-3">
            <ArticleCompletionChip Status="@Status" ShowTooltip/>
            
            <BookmarkButton
                Id="@Article.Id"
                IsBookmarked="@IsBookmarked"
                OnBookmarkClick="@OnBookmarkClick"/>
        </div>
    </aside>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    private List<BreadcrumbItem> Breadcrumbs =>
    [
        new BreadcrumbItem(L["History_Title"], HistoryUrl.Root),
        new BreadcrumbItem(L.GetEpochTitle(Article.Epoch), HistoryUrl.Content.Articles(Article.Epoch))
    ];

    [Parameter, EditorRequired]
    public required ArticleOverviewModel Article { get; set; }

    [Parameter, EditorRequired]
    public required ArticleStatisticsModel.TotalModel Total { get; set; }

    [Parameter, EditorRequired]
    public required LearningStatus Status { get; set; }

    [Parameter, EditorRequired]
    public required bool IsBookmarked { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}