@page "/history/leaderboards/monthly"
@layout HistoryLayout

<PageTitle>
    @L["Leaderboard_MonthlyTop_Title"]
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnParametersSetAsync" Context="result">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1440">
        <MonthlyHeader
            IsActive="@result.IsActive"
            Months="@result.Months"
            Month="@result.Month"
            MonthChanged="@ChangeMonth"
            User="@result.Contestant"/>

        @if (result.Contestants.Length == 0)
        {
            <NoContent Title="@L["Leaderboard_NoContestantsTitle"]" Icon="@EduIcons.Leaderboard"/>
        }
        else
        {
            <RegularRanking DisableHover Transparent>
                <Name>
                    <MudText Typo="Typo.subtitle2">@L["User_Name_Title"]</MudText>
                </Name>
                <Points>
                    <MudText Typo="Typo.subtitle2">@L["User_Experience_Title"]</MudText>
                </Points>
                <Additional>
                    <MudText Typo="Typo.subtitle2">@L["Rewards_Title"]</MudText>
                </Additional>
            </RegularRanking>

            <Virtualize Items="@result.Contestants" ItemSize="64" Context="user">
                <RegularRanking Class="mb-3" Highlight="@(_highlightUser == user.Id)">
                    <Image>
                        <UserAvatar Image="@user.Image" FullName="@user.FullName"/>
                    </Image>
                    <Name>
                        <MudText Typo="Typo.subtitle1">
                            @user.FullName
                        </MudText>
                        <div class="d-flex align-center gap-1 rank-@user.Rank">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Small"/>
                            <MudText Typo="Typo.body1">@user.Rank</MudText>
                        </div>
                    </Name>
                    <Points>
                        <MetricNumber Value="@user.Experience" Typo="Typo.h6"/>
                    </Points>
                    <Additional>
                        <InternalMonies Monies="@user.Rewards" Typo="Typo.h6" Horizontal/>
                    </Additional>
                </RegularRanking>
            </Virtualize>
        }
    </EduContainer>
</ApiViewer>
