<section class="@Class">
    @foreach (var item in Items)
    {
        <div class="item">
            <header class="header">
                <MudText Typo="Typo.subtitle1">
                    @item.Title
                </MudText>
                @if (item.Description is not null)
                {
                    <MudTooltip Text="@item.Description" Placement="Placement.Start">
                        <MudIcon Icon="@Icons.Material.Outlined.HelpOutline" Size="Size.Small"/>
                    </MudTooltip>
                }
            </header>
            <article class="d-flex align-center justify-space-between">
                <MudText Typo="Typo.h5">
                    @item.Value
                </MudText>

                <DifferenceLabel Difference="@item.Diff"/>
            </article>
        </div>
    }
</section>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Item[] Items { get; set; } = [];

    public sealed record Item(string Title, string Value, double Diff, string? Description = null);

}