@page "/history/quizzes/{id}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_result.Match(x => $"{L.GetQuizDifficultyTitle(x.Difficulty)}: {x.Title}", e => e.Title, () => L["Quizzes_Title"])
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="quiz">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <header class="timer">
                <section class="d-flex flex-wrap justify-space-between gap-3">
                    <MudText Typo="Typo.subtitle1">
                        @L["Test_QuestionOutOf", quiz.CompletedQuestions, quiz.TotalQuestions]
                    </MudText>
                    <CountdownTimer Deadline="@quiz.ExpiredAt" OnComplete="@OnExpiredAsync"/>
                </section>
                <MudProgressLinear
                    Min="0"
                    Max="100"
                    Value="@Progress"
                    Color="Color.Primary"
                    Size="Size.Medium"
                    Rounded/>
            </header>

            <QuestionForm
                Class="quiz mud-paper pa-3 pa-sm-6"
                IsCompleted="@quiz.IsCompleted"
                Question="@quiz.Question"
                CorrectAnswer="@_correctAnswer"
                OnAnswerClick="@OnAnswerAsync"
                OnNextClick="@OnNextAsync">
                <Header>
                    <MudText Class="d-block mud-text-secondary" Typo="Typo.caption" Align="Align.Center">
                        @L.GetQuizDifficultyTitle(quiz.Difficulty)
                    </MudText>
                    <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Align="Align.Center">
                        @quiz.Title
                    </MudText>
                </Header>
            </QuestionForm>

            <InventoryGrid Class="inventory align-grid-start" Inventory="@quiz.Inventory" Context="item">
                @if (item.IsInteractive)
                {
                    <InventoryButtonCard
                        Id="@item.InventoryId"
                        Quantity="@item.Quantity"
                        Title="@item.Title"
                        Overview="@item.Overview"
                        IconUrl="@item.ImageUrl"
                        ButtonText="@L["Inventory_Use_Button"]"
                        OnClick="@OnUseInventory"/>
                }
                else
                {
                    <InventoryInfoCard
                        Title="@item.Title"
                        Overview="@item.Overview"
                        Quantity="@item.Quantity"
                        IconUrl="@item.ImageUrl"/>
                }
            </InventoryGrid>
        </section>
    </EduContainer>
</ApiViewer>