@page "/history/quizzes/{id}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_quiz.Match(x => $"{L.GetQuizDifficultyTitle(x.Difficulty)}: {x.Title}", e => e.Title, () => L["Quizzes_Title"])
</PageTitle>

<ApiViewer Result="@_quiz" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <header class="timer">
                <section class="d-flex flex-wrap justify-space-between gap-3">
                    <MudText Typo="Typo.subtitle1">
                        @L["Test_QuestionOutOf", context.CompletedQuestions, context.TotalQuestions]
                    </MudText>
                    <CountdownTimer Deadline="@context.ExpiredAt" OnComplete="@OnExpiredAsync"/>
                </section>
                <MudProgressLinear
                    Min="0"
                    Max="100"
                    Value="@Progress"
                    Color="Color.Primary"
                    Size="Size.Medium"
                    Rounded/>
            </header>

            <QuestionForm
                Class="quiz mud-paper pa-3 pa-sm-6"
                IsCompleted="@context.IsCompleted"
                Question="@context.Question"
                CorrectAnswer="@_correctAnswer"
                OnAnswerClick="@OnAnswerAsync"
                OnNextClick="@OnNextAsync">
                <Header>
                    <MudText Class="d-block mud-text-secondary" Typo="Typo.caption" Align="Align.Center">
                        @L.GetQuizDifficultyTitle(context.Difficulty)
                    </MudText>
                    <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Align="Align.Center">
                        @context.Title
                    </MudText>
                </Header>
            </QuestionForm>

            <InventoryGrid Class="inventory align-grid-start" Inventory="@context.Inventory" Context="inventory">
                @if (inventory.IsInteractive)
                {
                    <InventoryButtonCard
                        Id="@inventory.InventoryId"
                        Quantity="@inventory.Quantity"
                        Title="@inventory.Title"
                        Overview="@inventory.Overview"
                        IconUrl="@inventory.ImageUrl"
                        ButtonText="@L["Inventory_Use_Button"]"
                        OnClick="@OnUseInventory"/>
                }
                else
                {
                    <InventoryInfoCard
                        Title="@inventory.Title"
                        Overview="@inventory.Overview"
                        Quantity="@inventory.Quantity"
                        IconUrl="@inventory.ImageUrl"/>
                }
            </InventoryGrid>
        </section>
    </EduContainer>
</ApiViewer>
