@page "/history/random"
@layout HistoryLayout

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W600">
    <div class="d-flex flex-column gap-3 mb-3 flex-sm-row justify-sm-space-between align-sm-center mb-sm-6">
        <MudText Typo="Typo.h2">
            @L["Random_Content_Title"]
        </MudText>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="@OnSearchClick"
            DisableElevation>
            @L["Random_Next_Button"]
        </MudButton>
    </div>

    <div class="wrapper mb-3 mb-sm-6">
        <ApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
            <Loading>
                <SkeletonCard Class="min-h-inherit"/>
            </Loading>

            <ChildContent>
                @if (context.Article is not null)
                {
                    <PageTitle>
                        @L["Random_Content_Title"]: @context.Article.Article.Title
                    </PageTitle>

                    <ArticleCard
                        Class="min-h-inherit"
                        Article="@context.Article.Article"
                        HasQuiz="@context.Article.HasQuiz"
                        Activity="@context.Article.Activity"
                        OnBookmarkClick="@LearnerClient.ToggleArticleBookmarkAsync"/>
                }

                @if (context.Course is not null)
                {
                    <PageTitle>
                        @L["Random_Content_Title"]: @context.Course.Course.Title
                    </PageTitle>

                    <CourseCard
                        Class="min-h-inherit"
                        Course="@context.Course.Course"
                        Activity="@context.Course.Activity"
                        HasExamination="@context.Course.HasExamination"
                        OnBookmarkClick="@LearnerClient.ToggleCourseBookmarkAsync"/>
                }
            </ChildContent>
        </ApiViewer>
    </div>

    @if (_history.Count > 0)
    {
        <MudText Class="mb-3" Typo="Typo.h5">
            @L["Random_Content_History_Title"]
        </MudText>

        <Virtualize Items="@_history" Context="content">
            @if (content.Article is not null)
            {
                <ArticleCard
                    Class="mb-3 mb-sm-6"
                    Article="@content.Article.Article"
                    HasQuiz="@content.Article.HasQuiz"
                    Activity="@content.Article.Activity"
                    OnBookmarkClick="@LearnerClient.ToggleArticleBookmarkAsync"
                    Horizontal
                    ShortOverview/>
            }

            @if (content.Course is not null)
            {
                <CourseCard
                    Class="mb-3 mb-sm-6"
                    Course="@content.Course.Course"
                    Activity="@content.Course.Activity"
                    HasExamination="@content.Course.HasExamination"
                    OnBookmarkClick="@LearnerClient.ToggleCourseBookmarkAsync"
                    Horizontal
                    ShortOverview/>
            }
        </Virtualize>
    }
</EduContainer>
