@page "/history/event-guessers/{id}/conclusion"
@using Education.Web.Gateways.History.EventGuessers.Model
@using Education.Web.Pages.History.Components
@using Education.Web.Gateways.History
@layout HistoryLayout
@attribute [Authorize]

<EduPage ShowFooter="@_response.IsLoaded">
    <EduContainer>
        <PageHeader Title="@L["EventGuesser"]" Breadcrumbs="@Breadcrumbs"/>
    </EduContainer>
    <ApiViewer Response="@_response" Context="conclusion">
        <EduContainer MaxWidth="EduWidth.W1280">
            <div class="mb-3 mb-sm-6">
                <MudText Typo="Typo.subtitle1">
                    @L["EventGuesser:Score"]
                </MudText>
                <div class="d-flex flex-row align-center">
                    <MudIcon Icon="@EducationIcons.Score" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                    <MudText Typo="Typo.subtitle1">
                        @conclusion.Score
                    </MudText>
                </div>
            </div>

            <MudTable
                Items="@conclusion.Questions"
                Class="mb-3 mb-sm-6"
                Hover
                Breakpoint="Breakpoint.Sm"
                Bordered="false"
                Elevation="0">
                <HeaderContent>
                    <MudTh>@L["Topic"]</MudTh>
                    <MudTh>@L["Question"]</MudTh>
                    <MudTh>@L["EventGuesser:CorrectAnswer"]</MudTh>
                    <MudTh>@L["EventGuesser:UserAnswer"]</MudTh>
                    <MudTh>@L["EventGuesser:Points"] / @L["EventGuesser:Bonus"]</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="@L["Topic"]">
                        <MudLink Href="@HistoryLinks.Content.Topic(context.Topic.Id)">
                            @context.Topic.Title
                        </MudLink>
                    </MudTd>
                    <MudTd DataLabel="@L["Question"]">
                        @context.Title
                    </MudTd>
                    <MudTd DataLabel="@L["EventGuesser:CorrectAnswer"]">
                        <HistoryDate Typo="Typo.body2" Date="@context.CorrectAnswer"/>
                    </MudTd>
                    <MudTd DataLabel="@L["EventGuesser:UserAnswer"]">
                        <HistoryDate Typo="Typo.body2" Date="@context.UserAnswer" Color="@(context.IsCorrect ? Color.Success : Color.Error)"/>
                    </MudTd>
                    <MudTd DataLabel="@($"{L["EventGuesser:Points"]} / {L["EventGuesser:Bonus"]}")">
                        @context.Points / @context.Bonus (@context.Score)
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </EduContainer>
    </ApiViewer>
</EduPage>

@code {
    private ApiResponse<ConclusionModel> _response = ApiResponse<ConclusionModel>.Loading();

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Subject:History"].Value, HistoryLinks.Root),
        new BreadcrumbItem(L["EventGuesser"].Value, HistoryLinks.EventGuesser.Index)
    };

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync() =>
        _response = await Client.EventGuesser.GetConclusionAsync(Id);

}
