<InventoryInfoCard
    Overview="@Inventory.Overview"
    Subtitle="@Inventory.Category.Title"
    Title="@Inventory.Title"
    IconUrl="@Inventory.IconUrl">
    <footer class="d-flex justify-space-between align-center gap-3 mt-3">
        <div>
            @if (Inventory.Selling.Discount > 0)
            {
                <div class="d-flex align-center">
                    <MudIcon
                        Class="mr-1"
                        Color="Color.Error"
                        Icon="@Icons.Material.Outlined.Discount"
                        Style="width: 15px; height: 15px"/>
                    <MudText Typo="Typo.caption">
                        -@Inventory.Selling.Discount%
                    </MudText>
                </div>
                <div class="d-flex align-center gap-1">
                    <MudIcon Icon="@EduIcons.Silver" Style="width: 15px; height: 15px"/>
                    <MudText Typo="Typo.body1">
                        @Inventory.Selling.Total.Amount
                    </MudText>
                    <MudText Class="align-self-start mud-text-secondary" Typo="Typo.caption">
                        <s>@Inventory.Selling.Original.Amount.ToMetric()</s>
                    </MudText>
                </div>
            }
            else
            {
                <InternalMoney
                    Currency="@Inventory.Selling.Total.Currency"
                    Amount="@Inventory.Selling.Total.Amount"
                    Typo="Typo.h6"
                    IconSize="Size.Medium"
                    Horizontal/>
            }
        </div>

        <MudBadge Icon="@Icons.Material.Outlined.Lock" Color="@Color.Error" Visible="@ShowLockBadge" Bordered Overlap>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                Size="Size.Small"
                OnClick="@(() => OnPurchaseClick.InvokeAsync(Inventory))"
                DisableElevation>
                @L["Button_Details"]
            </MudButton>
        </MudBadge>
    </footer>
</InventoryInfoCard>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public Product.InventoryModel Inventory { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool ShowLockBadge { get; set; }

    [Parameter]
    public EventCallback<Product.InventoryModel> OnPurchaseClick { get; set; }

}