@using Education.Web.Client.Models.Inventory
<section class="d-flex flex-wrap align-center gap-3 gap-sm-3 @Class">
    <MudTextField
        T="string"
        Value="@Filter.Search"
        ValueChanged="@SearchChanged"
        Variant="Variant.Outlined"
        Margin="Margin.Dense"
        Adornment="Adornment.Start"
        AdornmentIcon="@Icons.Material.Outlined.Search"
        Placeholder="@L["Search_Title"]"
        Clearable
        Immediate/>

    <div class="dropdown">
        <MudSelect T="CategoryType"
                   Value="@Filter.Category"
                   ValueChanged="@CategoryChanged"
                   Margin="Margin.Dense"
                   Variant="Variant.Outlined"
                   Label="@L["History_Inventory_Category_Title"]"
                   Dense>
            <MudSelectItem Value="@CategoryType.None">
                @L["History_Inventory_Category_All"]
            </MudSelectItem>
            <MudSelectItem Value="@CategoryType.Profile">
                @L.GetInventoryCategoryTypeTitle(CategoryType.Profile)
            </MudSelectItem>
            <MudSelectItem Value="@CategoryType.Quiz">
                @L.GetInventoryCategoryTypeTitle(CategoryType.Quiz)
            </MudSelectItem>
            <MudSelectItem Value="@CategoryType.Examination">
                @L.GetInventoryCategoryTypeTitle(CategoryType.Examination)
            </MudSelectItem>
            <MudSelectItem Value="@CategoryType.DateGuesser">
                @L.GetInventoryCategoryTypeTitle(CategoryType.DateGuesser)
            </MudSelectItem>
        </MudSelect>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public ProductsFilter Filter { get; init; } = ProductsFilter.Empty;

    [Parameter]
    public EventCallback<ProductsFilter> FilterChanged { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private Task CategoryChanged(CategoryType category) =>
        FilterChanged.InvokeAsync(Filter with { Category = category });

    private void SearchChanged(string? search) =>
        FilterChanged.InvokeAsync(Filter with { Search = search });

}