@page "/history/leaderboards/global"
@layout HistoryLayout

<PageTitle>
    @L["Leaderboard_GlobalTop_Title"]
</PageTitle>

<ApiViewer Result="@_result" Context="items">
    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1920">
        <header class="header">
            <section class="title">
                <div class="d-flex align-center">
                    <div class="d-flex align-center justify-center mud-primary white-text rounded mr-3 mr-sm-6">
                        <MudIcon Icon="@Icons.Material.Outlined.StarOutline" Size="Size.Large" Class="ma-6"/>
                    </div>
                    <div>
                        <MudText Typo="Typo.subtitle1">
                            @L["Leaderboard_Title"]
                        </MudText>
                        <MudText Typo="Typo.h3">
                            @L["Leaderboard_GlobalTop_Title"]
                        </MudText>
                    </div>
                </div>

                <div class="w-max-180 my-3">
                    <MudSelect T="string" Label="@L["Region_Title"]" Value="@_region" ValueChanged="@OnRegionChanged">
                        @foreach (var region in _regions)
                        {
                            <MudSelectItem Value="@region">
                                @L[$"Region_{region}"]
                            </MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </section>

            @foreach (var user in items.Take(3))
            {
                <TopContestantCard
                    Rank="@user.Rank"
                    Level="@user.Level"
                    Experience="@user.Experience"
                    Name="@user.FullName"
                    Image="@user.Image"/>
            }
        </header>
    </EduContainer>

    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <RegularRanking DisableHover Transparent>
            <Name>
                <MudText Typo="Typo.subtitle2">@L["Leaderboard_User_Name"]</MudText>
            </Name>
            <Points>
                <MudText Typo="Typo.subtitle2">@L["Leaderboard_User_Level"]</MudText>
            </Points>
            <Additional>
                <MudText Typo="Typo.subtitle2">@L["Leaderboard_User_Experience"]</MudText>
            </Additional>
        </RegularRanking>

        <Virtualize Items="@items[3..]" ItemSize="64" Context="user">
            <RegularRanking Class="mb-3" Highlight="@(_highlightUser == user.Id)">
                <Image>
                    <MudAvatar Image="@user.Image" Alt="@user.FullName" Size="Size.Large"/>
                </Image>
                <Name>
                    <div>
                        <MudText Typo="Typo.subtitle1">@user.FullName</MudText>
                        <div class="d-flex align-center gap-1">
                            <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Small"/>
                            <MudText Typo="Typo.body1">@user.Rank</MudText>
                        </div>
                    </div>
                </Name>
                <Points>
                    <MudText Typo="Typo.h6">
                        @user.Level
                    </MudText>
                </Points>
                <Additional>
                    <MetricNumber Value="@user.Experience" Typo="Typo.h6"/>
                </Additional>
            </RegularRanking>
        </Virtualize>
    </EduContainer>
</ApiViewer>