@using Education.Web.Client.Models
@using Education.Web.Client.Features.History.Services.Test.Request

<section class="@Class">
    <MudText Class="mb-3" Typo="Typo.h6">
        @L["History_Epoch"]
    </MudText>
    <EpochRadioGroup
        SelectedEpoch="@HistorySettings.TestEpoch"
        SelectedEpochChanged="@HistorySettings.ChangeTestEpochAsync"
        Class="mb-3 mb-sm-6"/>

    <MudText Class="mb-3" Typo="Typo.h6">
        @L["Test:Type"]
    </MudText>
    <TestRadioGroup
        SelectedTest="@HistorySettings.TestType"
        SelectedTestChanged="@HistorySettings.ChangeTestTypeAsync"
        Tests="@Tests"
        Class="mb-3 mb-sm-6"/>

    <div class="d-flex justify-center">
        <LoadingButton
            DisableElevation
            Color="Color.Primary"
            Variant="Variant.Filled"
            Size="Size.Large"
            Text="@L["Test:Pass"]"
            LoadingText="@L["Loading"]"
            IsLoading="@_isLoading"
            Disabled="@(Tests.All(x => !x.IsAllowed))"
            OnClick="@CreateTestAsync"/>
    </div>
</section>

@code {
    private bool _isLoading;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CascadingHistorySettings HistorySettings { get; set; } = default!;

    [Parameter, EditorRequired]
    public TestInformationModel[] Tests { get; set; } = Array.Empty<TestInformationModel>();

    [Parameter, EditorRequired]
    public EventCallback<CreateEpochTestRequest> OnCreateClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Tests.Any(x => x.IsAllowed && x.Name == HistorySettings.TestType))
            return;

        await HistorySettings.ChangeTestTypeAsync(Tests.FirstOrDefault(x => x.IsAllowed)?.Name);
    }

    private async Task CreateTestAsync()
    {
        if (string.IsNullOrEmpty(HistorySettings.TestType))
            return;

        _isLoading = true;
        await OnCreateClick.InvokeAsync(new CreateEpochTestRequest(HistorySettings.TestType, HistorySettings.TestEpoch));
        _isLoading = false;
    }

}