@using Education.Client.Gateways.History
<div class="@Class">
    <div class="d-flex justify-space-between mb-3">
        <div class="d-flex align-center mr-3">
            <MudIcon Icon="@EducationIcons.Tests" Size="Size.Small" Class="mr-3"/>
            <MudText Typo="Typo.body2">
                @L["NumberOfTests:TotalPassed"]
            </MudText>
        </div>
        <MudText Typo="Typo.body2">
            @Progress.PassedTests.ToReadable()
        </MudText>
    </div>
    <div class="d-flex justify-space-between">
        <div class="d-flex align-center mr-3">
            <MudIcon Icon="@EducationIcons.TimeSpent" Size="Size.Small" Class="mr-3"/>
            <MudText Typo="Typo.body2">
                @L["TimeSpent:Total"]
            </MudText>
        </div>
        <MudText Typo="Typo.body2">
            @Progress.TimeSpent.ToLongFormat()
        </MudText>
    </div>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public UserTopicProgress Progress { get; set; } = default!;

}