@page "/history/my/quizzes"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Quizzes_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" Context="profile">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <EduFillGrid>
            <StatisticsCard
                Title="@L["Quizzes_Easy_Title"]"
                Value="@profile.EasyQuiz.NumberOfQuizzes.Total"
                Href="@HistoryUrl.User.MyEasyQuizzes">
                <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                <ScoreChart Value="@profile.EasyQuiz.Score"/>
            </StatisticsCard>

            <StatisticsCard
                Title="@L["Quizzes_Hard_Title"]"
                Value="@profile.HardQuiz.NumberOfQuizzes.Total"
                Href="@HistoryUrl.User.MyHardQuizzes">
                <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                <ScoreChart Value="@profile.HardQuiz.Score"/>
            </StatisticsCard>

            <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                <MudText Typo="Typo.h5">
                    @L["Activities_Daily_Title"]
                </MudText>
                @if (_monthly.Length > 0)
                {
                    <ActivityChart Activities="@_daily" DateFormat="dd MMM"/>
                }
                else
                {
                    <MudText>
                        @L["Activities_NoActivitiesWithinTheLast30Days"]
                    </MudText>
                }
            </section>

            @if (_monthly.Length > 1)
            {
                <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                    <MudText Typo="Typo.h5">
                        @L["Activities_Monthly_Title"]
                    </MudText>
                    @if (_monthly.Length > 0)
                    {
                        <ActivityChart Activities="@_monthly" DateFormat="MMM yyyy"/>
                    }
                </section>
            }
        </EduFillGrid>
    </EduContainer>
</ApiViewer>