@page "/history/my/assignments"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Assignments_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <EduPageHeader Title="@L["Assignments_Title"]" Breadcrumbs="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" Context="data">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <div class="grid">
            <MudTabs Class="nav" @bind-ActivePanelIndex="@(_index)" Rounded Centered>
                <MudTabPanel Text="Daily"/>
                <MudTabPanel Text="Weekly"/>
            </MudTabs>
            @switch (_index)
            {
                case 0:
                    <div class="quests">
                        @foreach (var quest in data.DailyAssignments.Assignments)
                        {
                            <QuestProgressCard Class="mb-3" Quest="@quest"/>
                        }
                    </div>

                    <div class="@(data.DailyAssignments.Assignments.Length == 0 ? "start" : "rewards")">
                        <QuestRewardsCard
                            Title="@L["Rewards_Title"]"
                            Subtitle="Complete all daily missions"
                            Status="@data.DailyAssignments.Status"
                            ExpiresAt="@data.DailyAssignments.ExpiresAt"
                            OnStart="@StartDailyQuestsAsync"
                            OnCollect="@CollectDailyQuestsAsync"
                            OnExpired="@OnInitializedAsync"/>
                    </div>
                    break;

                case 1:
                    <div class="quests">
                        @foreach (var quest in data.WeeklyAssignments.Assignments)
                        {
                            <QuestProgressCard Class="mb-3" Quest="@quest"/>
                        }
                    </div>

                    <div class="@(data.WeeklyAssignments.Assignments.Length == 0 ? "start" : "rewards")">
                        <QuestRewardsCard
                            Title="@L["Rewards_Title"]"
                            Subtitle="Complete all weekly missions"
                            Status="@data.WeeklyAssignments.Status"
                            ExpiresAt="@data.WeeklyAssignments.ExpiresAt"
                            OnStart="@StartWeeklyQuestsAsync"
                            OnCollect="@CollectWeeklyQuestsAsync"
                            OnExpired="@OnInitializedAsync"/>
                    </div>
                    break;
            }

            <div class="bonus">
                <DailyBonusCard
                    Bonus="@data.DailyBonus"
                    OnClaim="@ClaimDailyBonusAsync"
                    OnReject="@RejectDailyBonusAsync"
                    OnReached="@OnInitializedAsync"/>
            </div>
        </div>
    </EduContainer>
</ApiViewer>
