@page "/history/my/profile"
@layout HistoryLayout
@attribute [Authorize]

@using Education.Client.Gateways.History.User
@using Education.Client.Gateways.History
@using Education.Client.Pages.History.My.Components
@using Education.Client.Pages.History.My.Profile.Components

<PageTitle>@L["Profile"]</PageTitle>

<EduPage Subject="@L["Subject:History"]" ShowFooter="@_response.IsLoaded">
    <ApiViewer Response="@_response">
        <Success Context="profile">

            <EduContainer MaxWidth="EduWidth.W1920">
                <div class="grid">
                    <AuthorizeView>
                        <Authorized>
                            <ProfileHeader
                                Class="header"
                                Image="@context.User.GetImage()"
                                Name="@context.User.GetName()"
                                Nickname="@context.User.GetNickname()"/>
                        </Authorized>
                    </AuthorizeView>
                    
                    <SubjectCard
                        Class="subject"
                        Subject="SubjectType.History"
                        Subscription="@profile.Subscription"/>

                    <LevelCard
                        Class="level"
                        Level="@profile.Level"/>

                    <EquipmentsCard
                        Class="equipments"
                        Equipments="@profile.Equipments"/>
                    
                    <WalletCard
                        Class="wallet"
                        Silver="@profile.Silver"/>

                    <DailyRewardCard
                        Class="daily-reward"
                        Reward="@profile.DailyReward"
                        OnCollect="@CollectDailyReward"/>

                    <StatisticsCard
                        Class="easy-test"
                        Title="@L["Tests:Easy"]"
                        Value="@profile.EasyTestStatistic.NumberOfTests.Total"
                        Href="@Links.History.User.MyEasyTests">
                        <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                        <ScoreChart Value="@profile.EasyTestStatistic.Score"/>
                    </StatisticsCard>

                    <StatisticsCard
                        Class="hard-test"
                        Title="@L["Tests:Hard"]"
                        Value="@profile.HardTestStatistic.NumberOfTests.Total"
                        Href="@Links.History.User.MyHardTests">
                        <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                        <ScoreChart Value="@profile.HardTestStatistic.Score"/>
                    </StatisticsCard>

                    <StatisticsCard
                        Class="mixed-test"
                        Title="@L["Tests:Mixed"]"
                        Value="@profile.MixedTestStatistic.NumberOfTests.Total"
                        Href="@Links.History.User.MyMixedTests">
                        <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                        <ScoreChart Value="@profile.MixedTestStatistic.Score"/>
                    </StatisticsCard>

                    <StatisticsCard
                        Class="event-guesser"
                        Title="@L["EventGuesser"]"
                        Value="@profile.EventGuesserStatistic.Tests"
                        Href="@Links.History.User.MyEventGuessers">
                        <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                        <EventGuesserScoreChart
                            Score="@profile.EventGuesserStatistic.Score"
                            Points="@profile.EventGuesserStatistic.Points"
                            Bonus="@profile.EventGuesserStatistic.Bonus"/>
                    </StatisticsCard>

                    <ActivityCard
                        Class="activity"
                        Title="@L["Test:MyActivity"]"
                        Activities="@profile.TestProgress"/>

                    <AchievementsCard
                        Class="achievements"
                        Achievements="@profile.Achievements"/>
                </div>
            </EduContainer>
        </Success>
    </ApiViewer>
</EduPage>

@code {

    private ApiResponse<HistoryUserProfile> _response = ApiResponse<HistoryUserProfile>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnInitializedAsync() =>
        _response = await HistoryClient.User.GetOverviewAsync();

    private async Task CollectDailyReward()
    {
        var response = await HistoryClient.User.CollectDailyReward();
        if (response.Status == ResponseStatus.Success)
            await OnInitializedAsync();
    }

}
