@page "/profile/{subject}/tests/{id}"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.TestConclusion

@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L

@attribute [Authorize]

<ProfileSubjectHeader SubjectType="@_subject"/>
<ApiResponseViewer Response="@_response">
    <Loading>
        <SkeletonCard/>
    </Loading>
    <Result Context="conclusion">
        <Title Value="@conclusion.Title"/>

        <section class="section mb-12 mt-6 mx-3">
            <div class="container mud-paper mud-elevation-1">
                <Header
                    Title="@conclusion.Title"
                    Status="@conclusion.Status"
                    CreatedAt="@conclusion.CreatedAt"
                    Link="@Links.Subjects.Topic(_subject, conclusion.TopicId)"/>
            </div>
        </section>

        <section class="section mb-12 mx-3">
            <div class="container">
                <div class="statistics">
                    <ChartCard
                        Title="@L["TimeSpent"]"
                        Subtitle="@conclusion.TimeSpent.ToSimpleFormat()"
                        Percentage="@Math.Round(conclusion.TimeSpent / conclusion.TestDuration * 100)"/>

                    <ChartCard
                        Title="@L["Score"]"
                        Subtitle="@(conclusion.UserScore.Total.ToReadable() + " / " + conclusion.MaxScore.Total.ToReadable())"
                        Percentage="@Math.Round((double) conclusion.UserScore.Total / conclusion.MaxScore.Total * 100)"/>

                    <ChartCard
                        Title="@L["Score:ByQuestions"]"
                        Subtitle="@(conclusion.UserScore.Questions.ToReadable() + " / " + conclusion.MaxScore.Questions.ToReadable())"
                        Percentage="@Math.Round((double) conclusion.UserScore.Questions / conclusion.MaxScore.Questions * 100)"/>

                    <ChartCard
                        Title="@L["Score:NoMistakesBonus"]"
                        Subtitle="@(conclusion.UserScore.NoMistakes.ToReadable() + " / " + conclusion.MaxScore.NoMistakes.ToReadable())"
                        Percentage="@Math.Round((double) conclusion.UserScore.NoMistakes / conclusion.MaxScore.NoMistakes * 100)"/>

                    <ChartCard
                        Title="@L["Score:BySpeedBonus"]"
                        Subtitle="@(conclusion.UserScore.Speed.ToReadable() + " / " + conclusion.MaxScore.Speed.ToReadable())"
                        Percentage="@Math.Round((double) conclusion.UserScore.Speed / conclusion.MaxScore.Speed * 100)"/>
                </div>
            </div>
        </section>

        <section class="section mb-12 mx-3">
            <div class="container">
                <MudText Typo="Typo.h4" Class="mb-3">
                    @L["Answers"]
                </MudText>
                <MudTable Items="@conclusion.Answers" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>@L["Question"]</MudTh>
                        <MudTh>@L["Correct"]</MudTh>
                        <MudTh>@L["Incorrect"]</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="@L["Questions"]">
                            @if (context.Title is null)
                            {
                                <em>@L["Deleted"]</em>
                            }
                            else
                            {
                                @context.Title
                            }
                        </MudTd>
                        <MudTd DataLabel="@L["Correct"]">@context.Correct</MudTd>
                        <MudTd DataLabel="@L["Incorrect"]">@context.Incorrect</MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </section>
    </Result>
</ApiResponseViewer>

@code {

    [Parameter]
    public string Subject { get; set; } = string.Empty;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    private SubjectType _subject;
    private ApiResponse<TestConclusionDetail> _response = ApiResponse<TestConclusionDetail>.Loading();

    protected override async Task OnParametersSetAsync()
    {
        Enum.TryParse(Subject, true, out _subject);
        _response = _subject switch
        {
            SubjectType.History => await HistoryClient.User.GetTestConclusionAsync(Id),
            _ => ApiResponse<TestConclusionDetail>.Fail(Error.NotFound)
            };
    }

}
