@using Education.Client.Gateways.History.Test

<CenteredContainer MaxWidth="ContainerWidth.W1280" Class="my-3 my-sm-6" Paper="true" Elevation="1">
    <div class="d-flex flex-wrap justify-space-between">
        <div class="pa-3">
            <MudLink Href="@Links.Subject.History.Topic(Conclusion.Topic.Id)" Typo="Typo.h5">
                @Conclusion.Topic.Title
            </MudLink>
            <MudText Typo="Typo.body1">
                @L["Test:Easy"]
            </MudText>
        </div>
        <div class="pa-3">
            <MudText Typo="@Typo.subtitle1" Color="@Conclusion.Status.GetColor()">
                @L[$"ConclusionStatus:{Conclusion.Status}"]
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Right">
                @Conclusion.CompletedAt.ToSimpleFormat()
            </MudText>
        </div>
    </div>
</CenteredContainer>

<CenteredContainer MaxWidth="ContainerWidth.W1280" Class="mb-3 mb-sm-6">
    <div class="mb-3">
        <MudLink Href="@Links.Subject.History.Profile.TopicStatistics(Conclusion.Topic.Id)" Typo="Typo.h5">
            @L["Statistics"]
        </MudLink>
    </div>
    <ConclusionCharts Conclusion="@Conclusion"/>
</CenteredContainer>

<CenteredContainer MaxWidth="ContainerWidth.W1280" Class="mb-3 mb-sm-6">
    <MudText Typo="Typo.h5" Class="mb-3">
        @L["Answers"]
    </MudText>
    <MudTable Items="@Conclusion.Questions" Hover="true" Breakpoint="Breakpoint.Xs">
        <HeaderContent>
            <MudTh>
                @L["Question"]
            </MudTh>
            <MudTh>
                @L["Question:IsAnswered"]
            </MudTh>
            <MudTh>
                @L["Question:Correct"]
            </MudTh>
            <MudTh>
                @L["Question:Incorrect"]
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="@L["Question"]">
                @context.Title
            </MudTd>
            <MudTd DataLabel="@L["Question:IsAnswered"]">
                <MudCheckBox ReadOnly="true" Checked="@context.IsAnswered"/>
            </MudTd>
            <MudTd DataLabel="@L["Question:Correct"]">
                @context.Correct
            </MudTd>
            <MudTd DataLabel="@L["Question:Incorrect"]">
                @context.Incorrect
            </MudTd>
        </RowTemplate>
    </MudTable>
</CenteredContainer>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public EasyTestConclusion Conclusion { get; set; } = default!;

}
