<MudCard Elevation="0">
    <MudCardContent Class="pa-3 pa-sm-6">
        <div class="d-flex justify-center mb-3">
            <div class="avatar">
                <div class="badge position-@Position">@Position</div>
                <MudAvatar Style="width: 96px; height: 96px" Image="@Image" Alt="@Name"/>
            </div>
        </div>
        <MudText Typo="Typo.h6" Align="Align.Center">
            @Name
        </MudText>
    </MudCardContent>
    <MudCardActions Class="d-flex justify-space-between pa-3 pa-sm-6">
        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
            <MudIcon Class="mr-3" Style="@("color: " + Colors.Grey.Lighten1)" Icon="@Icons.Material.Outlined.BarChart"/>
            <MudText Typo="Typo.h6">
                @Level
            </MudText>
        </MudStack>
        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
            <MudIcon Class="mr-3" Size="Size.Small" Style="color: #FFCA28" Icon="@EducationIcons.Experience"/>
            <HumanReadableText Value="@Experience" Typo="Typo.h6"/>
        </MudStack>
    </MudCardActions>
</MudCard>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public uint Position { get; set; }

    [Parameter, EditorRequired]
    public string Name { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Image { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public uint Level { get; set; }

    [Parameter, EditorRequired]
    public ulong Experience { get; set; }

}