@page "/history/event-guessers"
@using Education.Web.Gateways.History
@using Education.Web.Gateways.History.EventGuessers.Model
@using Education.Web.Gateways.History.EventGuessers.Request
@using Education.Web.Pages.History.Components
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>@L["EventGuesser"]</PageTitle>

<EduPage ShowFooter="false">
    <div class="background d-flex flex-column h-100">
        <EduContainer Class="pb-0">
            <PageHeader Title="@L["EventGuesser"]" Breadcrumbs="@Breadcrumbs"/>
        </EduContainer>
        <ApiViewer Response="@_response" Context="context">
            <section class="grid pa-3 pa-sm-6">
                <section class="builder">
                    <MudText Typo="Typo.h5" Class="mb-3">
                        @L["History:Epoch"]
                    </MudText>
                    <EpochRadioGroup @bind-SelectedEpoch="@_epoch" Class="mb-3 mb-sm-6"/>

                    <MudSlider @bind-Value="@_questions" Min="3" Max="13" Color="Color.Primary" Class="mb-3">
                        @L["EventGuesser:NumberOfDates", _questions]
                    </MudSlider>

                    <div class="d-flex justify-center">
                        <LoadingButton
                            DisableElevation="true"
                            Size="Size.Large"
                            Color="Color.Primary"
                            Variant="Variant.Filled"
                            Text="@L["Test:Pass"]"
                            LoadingText="@L["Loading"]"
                            IsLoading="@_isLoading"
                            Disabled="@(!_allowed)"
                            OnClick="@CreateTestAsync"/>
                    </div>
                </section>

                <section class="inventory">
                    <MudText Typo="Typo.h5" Class="mb-3">
                        @L["Inventory"]
                    </MudText>
                    <InventoryGrid>
                        @foreach (var item in context.Inventory)
                        {
                            <InventoryInfoCard Id="@item.Id" Title="@item.Title" Overview="@item.Overview">
                                <div class="d-flex justify-center">
                                    <HumanReadableText Typo="Typo.h6" Value="@item.Count"/>
                                </div>
                            </InventoryInfoCard>
                        }
                    </InventoryGrid>
                </section>

                <footer class="rule">
                    <MudText Typo="Typo.h6" Class="mb-3">
                        @context.Rule.Title
                    </MudText>
                    <SimpleMarkdown Text="@context.Rule.Content"/>
                </footer>
            </section>
        </ApiViewer>
    </div>
</EduPage>

@code {
    private bool _isLoading;
    private bool _allowed;
    private EpochType _epoch = EpochType.None;
    private int _questions = 4;
    private ApiResponse<TestBuilderModel> _response = ApiResponse<TestBuilderModel>.Loading();

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Subject:History"].Value, HistoryLinks.Root)
    };

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    [Inject]
    private ISnackbar Snackbar { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _response = await Client.EventGuesser.GetAsync();

        if (_response.IsSuccess)
            _allowed = _response.Data.Inventory.Any(x => x.Id == 104 && x.Count > 0);
        else if (_response.Error.IsTestAlreadyCreated(out var id))
            Navigation.NavigateTo(HistoryLinks.EventGuesser.Test(id));
    }

    private async Task CreateTestAsync()
    {
        _isLoading = true;

        var response = await Client.EventGuesser.CreateAsync(new CreateRequest(_questions, _epoch));
        if (response.IsSuccess)
            Navigation.NavigateTo(HistoryLinks.EventGuesser.Test(response.Data.Id));
        else
            Snackbar.Add(response.Error.Detail, Severity.Error);

        _isLoading = false;
    }

}