@page "/history/event-guessers/{id}"
@layout HistoryLayout
@attribute [Authorize]

@using FluentValidation
@using Education.Web.Gateways.History
@using Education.Web.Gateways.History.EventGuesser.Model
@using Education.Web.Gateways.History.EventGuesser.Request
@using Severity = MudBlazor.Severity

<EduPage ShowFooter="@_response.IsLoaded">
    <ApiViewer Response="@_response">
        <Success Context="_">
            <EduContainer>
                <PageHeader Title="@L["EventGuesser"]" Breadcrumbs="@Breadcrumbs"/>
            </EduContainer>

            <EduContainer MaxWidth="EduWidth.W960">
                <div class="header">
                    <div class="header-score">
                        <div class="d-flex flex-row align-center">
                            <MudIcon Icon="@EducationIcons.Score" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                            <MudText Typo="Typo.subtitle1">
                                @_score
                            </MudText>
                        </div>
                        <MudText Typo="Typo.caption">
                            @L["EventGuesser:Score"]
                        </MudText>
                    </div>

                    <div class="header-bonus">
                        @if (_x2BonusUntil > DateTime.UtcNow)
                        {
                            <div class="d-flex flex-row justify-end align-center">
                                <MudIcon Icon="@EducationIcons.Score" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                                <MudText Typo="Typo.subtitle1">
                                    @L["EventGuesser:Bonus"]
                                </MudText>
                            </div>
                            <div class="d-flex flex-row justify-end">
                                <CountdownTimer Typo="Typo.caption" Date="@_x2BonusUntil" OnComplete="@(StateHasChanged)"/>
                            </div>
                        }
                    </div>

                    <div class="header-questions">
                        <MudText Typo="Typo.subtitle1">
                            @L["Questions"]  @_completedQuestions / @_totalQuestions 
                        </MudText>
                    </div>

                    <div class="header-title">
                        <MudText Typo="Typo.h5" Align="Align.Center">
                            @_question.Title
                        </MudText>
                    </div>
                </div>

                <EditForm Model="@_model" OnValidSubmit="@OnValidSubmit">
                    <FluentValidationValidator/>

                    <div class="form">
                        <MudNumericField
                            @bind-Value="@_model.Year"
                            For="@(() => _model.Year)"
                            Label="@L["EventGuesser:Year"]"
                            Variant="Variant.Text"
                            HideSpinButtons="true"
                            AutoFocus="true"/>

                        <MudSelect T="uint?" @bind-Value="@_model.Month" For="@(() => _model.Month)" Label="@L["EventGuesser:Month"]" Clearable="true">
                            @foreach (var month in Months)
                            {
                                <MudSelectItem Value="@month.Key" T="uint?">
                                    @month.Value
                                </MudSelectItem>    
                            }
                        </MudSelect>

                        <MudSelect T="uint?" @bind-Value="@_model.Day" For="@(() => _model.Day)" Label="@L["EventGuesser:Day"]" Clearable="true">
                            @foreach (var day in Enumerable.Range(1, 31))
                            {
                                <MudSelectItem Value="@((uint)day)" T="uint?">
                                    @day
                                </MudSelectItem>
                            }
                        </MudSelect>

                        <MudRadioGroup @bind-SelectedOption="@_model.IsBc">
                            <MudRadio Option="false">
                                @L["HistoricalDate:Ad"]
                            </MudRadio>
                            <MudRadio Option="true">
                                @L["HistoricalDate:Bc"]
                            </MudRadio>
                        </MudRadioGroup>

                        <div class="submit">
                            <LoadingButton
                                ButtonType="ButtonType.Submit"
                                Text="@L["Test:Answer"]"
                                LoadingText="@L["Loading"]"
                                IsLoading="@_isLoading"/>
                        </div>
                    </div>
                </EditForm>
            </EduContainer>
        </Success>
    </ApiViewer>
</EduPage>

@code {

    private ApiResponse<TestModel> _response = ApiResponse<TestModel>.Loading();
    private Model _model = new();
    private uint _score;
    private DateTime _x2BonusUntil;
    private uint _totalQuestions;
    private uint _completedQuestions;
    private bool _isLoading;
    private TestModel.QuestionModel _question = default!;
    
    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Subject:History"].Value, HistoryLinks.Root),
        new BreadcrumbItem(L["EventGuesser"].Value, HistoryLinks.EventGuesser.Index)
    };

    private Dictionary<uint, string> Months => new()
    {
        [1] = L["Month:January"],
        [2] = L["Month:February"],
        [3] = L["Month:March"],
        [4] = L["Month:April"],
        [5] = L["Month:May"],
        [6] = L["Month:June"],
        [7] = L["Month:July"],
        [8] = L["Month:August"],
        [9] = L["Month:September"],
        [10] = L["Month:October"],
        [11] = L["Month:November"],
        [12] = L["Month:December"]
    };

    [Inject]    
    public IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    [Inject]
    private ISnackbar Snackbar { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _response = await Client.EventGuesser.GetAsync(Id);
        if (!_response.IsSuccess)
            return;

        _score = _response.Data.Score;
        _x2BonusUntil = _response.Data.X2BonusUntil;
        _completedQuestions = _response.Data.CompletedQuestions;
        _totalQuestions = _response.Data.TotalQuestions;
        _question = _response.Data.Question!;
    }

    private async Task OnValidSubmit()
    {
        _isLoading = true;

        var year = _model.Year.GetValueOrDefault();
        var request = new CheckRequest(_model.IsBc ? -year : year, _model.Month, _model.Day);

        var result = await Client.EventGuesser.CheckAsync(Id, _question.Id, request);
        if (!result.IsSuccess)
        {
            Snackbar.Add(result.Error.Detail, Severity.Error);
            _isLoading = false;
            return;
        }

        if (result.Data.Question is null)
        {
            Navigation.NavigateTo(HistoryLinks.EventGuesser.Conclusion(Id));
            return;
        }
        
        _score = result.Data.Score;
        _x2BonusUntil = result.Data.X2BonusUntil;
        _question = result.Data.Question;
        _completedQuestions = result.Data.CompletedQuestions;
        _totalQuestions = result.Data.TotalQuestions;
        _model = new Model();
        _isLoading = false;
    }

    public sealed record Model
    {
        public int? Year { get; set; }

        public uint? Month { get; set; }

        public uint? Day { get; set; }

        public bool IsBc { get; set; }

        public sealed class Validator : AbstractValidator<Model>
        {
            public Validator()
            {
                RuleFor(x => x.Year)
                    .NotNull()
                    .GreaterThan(0)
                    .LessThanOrEqualTo(9999);

                RuleFor(x => x.Month)
                    .GreaterThan(0u)
                    .LessThanOrEqualTo(12u);

                RuleFor(x => x.Day)
                    .GreaterThan(0u)
                    .LessThanOrEqualTo(31u);
            }
        }
    }

}
