@page "/history/store"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["InventoryStore_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <div class="grid">
        <MudTabs @ref="@_tabs" Class="shopfront" Color="Color.Transparent" TabHeaderClass="mb-3" HeaderPosition="TabHeaderPosition.Before">
            <Header>
                <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
            </Header>
            <ChildContent>
                <MudTabPanel
                    ID="@InventoryTabId"
                    OnClick="@(() => ChangeTab(InventoryTabId))"
                    Icon="@Icons.Material.Outlined.Inventory2"
                    Text="@L["InventoryStore_Catalog_Inventories"]">
                    <InventoryProducts
                        Profile="@_profile"
                        Category="@_category"
                        CategoryChanged="@(x => ChangeCategory(x))"
                        IsAffordable="@IsInventoryAffordable"
                        OnProductPurchased="@UpdateProfileAsync"/>
                </MudTabPanel>
                <MudTabPanel
                    ID="@BundleTabId"
                    OnClick="@(() => ChangeTab(BundleTabId))"
                    Icon="@Icons.Material.Outlined.ShoppingBag"
                    Text="@L["InventoryStore_Catalog_Bundles"]">
                    <BundleProducts
                        Profile="@_profile"
                        IsAffordable="@IsBundleAffordable"
                        OnProductPurchased="@UpdateProfileAsync"/>
                </MudTabPanel>
            </ChildContent>
        </MudTabs>

        <ProfileCard
            Class="profile"
            Level="@_profile.Level"
            Backpack="@_profile.Backpack"
            Wallet="@_profile.Wallet"/>

        <ExchangeCard
            Class="exchange"
            Wallet="@_profile.Wallet"
            OnExchanged="@UpdateProfileAsync"/>
    </div>
</EduContainer>
