@page "/history/store"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["InventoryStore_Title"]
</PageTitle>

<EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1920">
    <div class="grid">
        <div class="shopfront">
            <PageBreadcrumbsHeader Class="pb-3 pb-sm-6" Items="@Breadcrumbs"/>

            <InventoryProducts
                Profile="@_profile"
                Category="@_category"
                CategoryChanged="@(x => ChangeCategory(x))"
                IsAffordable="@IsInventoryAffordable"
                OnProductPurchased="@UpdateProfileAsync"/>
        </div>

        <ProfileCard
            Class="profile"
            Level="@_profile.Level"
            Backpack="@_profile.Backpack"
            Wallet="@_profile.Wallet"/>

        <ExchangeCard
            Class="exchange"
            Wallet="@_profile.Wallet"
            OnExchanged="@UpdateProfileAsync"/>
    </div>
</EduContainer>
