@page "/history/store"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["InventoryStore_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <div class="grid">
        <MudTabs Class="shopfront" TabHeaderClass="rounded-t" Elevation="0">
            <PrePanelContent>
                <ProductsToolbar Class="mud-paper rounded-b rounded-t-0 pa-3 mb-3 mb-sm-6" @bind-Filter="@(_filter)"/>
            </PrePanelContent>

            <ChildContent>
                <MudTabPanel Icon="@Icons.Material.Outlined.Inventory2" Text="@L["InventoryStore_Catalog_Inventories"]">
                    <InventoryProducts
                        Profile="@_profile"
                        Filter="@_filter"
                        IsAffordable="@IsInventoryAffordable"
                        OnProductPurchased="@UpdateProfileAsync"/>
                </MudTabPanel>
                <MudTabPanel Icon="@Icons.Material.Outlined.ShoppingBag" Text="@L["InventoryStore_Catalog_Bundles"]">
                    <BundleProducts
                        Profile="@_profile"
                        Filter="@_filter"
                        IsAffordable="@IsBundleAffordable"
                        OnProductPurchased="@UpdateProfileAsync"/>
                </MudTabPanel>
            </ChildContent>
        </MudTabs>

        <ProfileCard
            Class="profile"
            Level="@_profile.Level"
            Backpack="@_profile.Backpack"
            Wallet="@_profile.Wallet"/>

        <ExchangeCard
            Class="exchange"
            Wallet="@_profile.Wallet"
            OnExchanged="@UpdateProfileAsync"/>
    </div>
</EduContainer>
