<section class="mud-paper d-flex flex-column pa-3 gap-3 pa-sm-6 gap-sm-6 @Class">
    <div class="d-flex justify-space-between align-center">
        <MudText Class="mr-3" Typo="Typo.body2">
            @L["Article_TextAlignment"]
        </MudText>
        <MudButtonGroup Size="Size.Small" Variant="Variant.Outlined" DisableElevation>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignLeft"
                Disabled="@(AppSettings.TextAlign == Align.Left)"
                OnClick="@AppSettings.AlignTextLeftAsync"/>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignJustify"
                Disabled="@(AppSettings.TextAlign == Align.Justify)"
                OnClick="@AppSettings.AlignTextJustifyAsync"/>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignCenter"
                Disabled="@(AppSettings.TextAlign == Align.Center)"
                OnClick="@AppSettings.AlignTextCenterAsync"/>
            <MudIconButton
                Icon="@Icons.Material.Outlined.FormatAlignRight"
                Disabled="@(AppSettings.TextAlign == Align.Right)"
                OnClick="@AppSettings.AlignTextRightAsync"/>
        </MudButtonGroup>
    </div>

    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["Article_TextFont"]
        </MudText>
        <MudButtonGroup Size="Size.Small" Variant="Variant.Outlined" OverrideStyles DisableElevation>
            <MudIconButton
                Disabled="@(!AppSettings.CanDecreaseFont)"
                Icon="@Icons.Material.Outlined.Remove"
                OnClick="@AppSettings.DecreaseFontAsync"
                DisableElevation/>
            <input class="input" value="@((int)(AppSettings.FontSize * 100) + "%")" readonly/>
            <MudIconButton
                Disabled="@(!AppSettings.CanIncreaseFont)"
                Icon="@Icons.Material.Outlined.Add"
                OnClick="@AppSettings.IncreaseFontAsync"
                DisableElevation/>
        </MudButtonGroup>
    </div>

    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["Article_TextBold"]
        </MudText>
        <MudCheckBox
            T="bool"
            Color="Color.Primary"
            Checked="@AppSettings.IsFontWeightBold"
            CheckedChanged="@(() => AppSettings.ToggleFontWeight())">
        </MudCheckBox>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CascadingAppSettings AppSettings { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}