<section class="mud-paper pa-3 pa-sm-6 @Class">
    @if (Activity?.IsCompleted is not null)
    {
        <MudLink Typo="Typo.subtitle2" Href="@HistoryUrl.User.MyArticle(ArticleId)">
            @L["Shared_MyProgress"]
        </MudLink>
    }
    else
    {
        <MudText Typo="Typo.subtitle2">
            @L["Shared_MyProgress"]
        </MudText>
    }

    <MudSimpleTable Class="mt-3" Elevation="0" Dense>
        <tbody>
        @if (HasEasyQuiz)
        {
            <tr>
                <td>
                    <MudText Typo="Typo.body1">@L["Shared_NumberOfPassedEasyQuizzes"]</MudText>
                </td>
                <td>
                    <MudText Typo="Typo.body1">
                        @((Activity?.EasyQuizzes ?? 0).ToMetric())
                    </MudText>
                </td>
            </tr>
        }
        @if (HasHardQuiz)
        {
            <tr>
                <td>
                    <MudText Typo="Typo.body1">@L["Shared_NumberOfPassedHardQuizzes"]</MudText>
                </td>
                <td>
                    <MudText Typo="Typo.body1">
                        @((Activity?.HardQuizzes ?? 0).ToMetric())
                    </MudText>
                </td>
            </tr>
        }
        <tr>
            <td>
                <MudText Typo="Typo.body1">@L["Shared_ArticleLearningStatus"]</MudText>
            </td>
            <td>
                <ArticleCompletionChip
                    IsCompleted="@Activity?.IsCompleted"
                    Href="@HistoryUrl.User.MyArticle(ArticleId)"
                    Size="Size.Small"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <MudText Typo="Typo.body2">
                    @if (_hasQuiz)
                    {
                        @(Activity?.IsCompleted switch {
                            true =>  L["Shared_ArticleLearningStatusCompletedDescription"],
                            false => L["Shared_ArticleLearningStatusIncompletedDescription"],
                            null =>  L["Shared_ArticleLearningStatusUnengagedDescription"]
                            })
                    }
                    else
                    {
                        @L["Shared_TheArticleDoesNotHaveAnyQuizzesYet"]
                    }
                </MudText>
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>

    <div class="mt-3 mt-sm-6">
        @if (_hasQuiz)
        {
            <MudButton
                Link="@HistoryUrl.ArticleQuiz.Index(ArticleId)"
                Variant="Variant.Filled"
                Color="Color.Primary"
                FullWidth
                DisableElevation>
                @L["Shared_TakeTheQuiz"]
            </MudButton>
        }
    </div>
</section>

@code {
    private bool _hasQuiz;

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string ArticleId { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserArticleActivityModel? Activity { get; set; }

    [Parameter, EditorRequired]
    public bool HasEasyQuiz { get; set; }

    [Parameter, EditorRequired]
    public bool HasHardQuiz { get; set; }

    protected override void OnParametersSet() => 
        _hasQuiz = HasEasyQuiz || HasHardQuiz;

}