<section class="mud-paper pa-3 @Class">
    <MudToolBar Dense DisableGutters Class="d-flex justify-space-between">
        <LikeButtons
            Id="@ArticleId"
            IsLiked="@IsLiked"
            OnLikeClick="@OnLikeClick"
            OnDislikeClick="@OnDislikeClick"/>

        <BookmarkButton
            Id="@ArticleId"
            IsBookmarked="@(IsBookmarked ?? false)"
            OnBookmarkClick="@OnBookmarkClick"/>
    </MudToolBar>
</section>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string ArticleId { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool? IsLiked { get; set; }

    [Parameter, EditorRequired]
    public bool? IsBookmarked { get; set; }

    [Parameter, EditorRequired]
    public Func<string, Task<ApiResult<Unit>>> OnLikeClick { get; set; } = _ => Task.FromResult(ApiResult<Unit>.Success(Unit.Value));

    [Parameter, EditorRequired]
    public Func<string, Task<ApiResult<Unit>>> OnDislikeClick { get; set; } = _ => Task.FromResult(ApiResult<Unit>.Success(Unit.Value));

    [Parameter, EditorRequired]
    public Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; } = _ => Task.FromResult(ApiResult<bool>.Success(false));

}