@using Education.Web.Client.Features.History.Services
@using Education.Web.Client.Features.History.Services.User.Model
<section class="grid @Class">
    <div class="image-wrapper">
        <img class="image rounded object-cover object-center" src="@Article.ThumbnailUrl" alt="@Article.Title" loading="lazy"/>
    </div>

    <article class="content">
        <div class="breadcrumbs">
            <Breadcrumbs Class="pa-0 mb-3" Items="@Breadcrumbs"/>
        </div>
        <MudLink Typo="Typo.h5" Href="@HistoryUrl.Content.Article(Article.Id)">
            @Article.Title
        </MudLink>
        <MudText Class="w-max-600" Typo="Typo.body2">
            @Article.Overview
        </MudText>
    </article>

    <aside class="statistics">
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.Tests" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["NumberOfTests:Passed"]
                </MudText>
            </div>
            <MetricNumber Value="@Total.Tests" Typo="Typo.body2"/>
        </div>
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.Score" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["Score:Total"]
                </MudText>
            </div>
            <MetricNumber Value="@Total.Score" Typo="Typo.body2"/>
        </div>
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.Questions" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["Questions:Total"]
                </MudText>
            </div>
            <MetricNumber Value="@Total.Questions" Typo="Typo.body2"/>
        </div>
        <div class="d-flex justify-space-between mb-3">
            <div class="d-flex align-center mr-3">
                <MudIcon Icon="@EduIcons.TimeSpent" Size="Size.Small" Class="mr-3"/>
                <MudText Typo="Typo.body2">
                    @L["TimeSpent:Total"]
                </MudText>
            </div>
            <MudText Typo="Typo.body2">
                @Total.TimeSpent.Humanize()
            </MudText>
        </div>
    </aside>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public ArticleOverviewModel Article { get; set; } = default!;

    [Parameter, EditorRequired]
    public ArticleStatisticsModel.TotalModel Total { get; set; } = default!;

    [Parameter, EditorRequired]
    public List<BreadcrumbItem> Breadcrumbs { get; set; } = new();

    [Parameter]
    public string? Class { get; set; }

}