@using Education.Web.Client.Models.Test
@using Education.Web.Client.Features.History.Services.User.Model

<div class="d-flex flex-wrap align-center justify-space-between mb-3 mr-3">
    <MudLink Href="@Href" Typo="Typo.h5">
        @Title
    </MudLink>
    <div class="d-flex align-center">
        <MudTooltip Text="@L["TimeSpent"]">
            <MudText Typo="Typo.h5" Class="mr-3">
                @Test.TimeSpent.Humanize()
            </MudText>
        </MudTooltip>
        <MudAvatar Color="Color.Primary" Size="Size.Medium">
            <MudIcon Icon="@EduIcons.TimeSpent" Size="Size.Medium"/>
        </MudAvatar>
    </div>
</div>

<EduFitGrid Class="mb-3 mb-sm-6">
    <StatisticsCard Title="@L["Tests"]" Value="@Test.NumberOfTests.Total">
        <NumberOfTestChart Value="@Test.NumberOfTests"/>
    </StatisticsCard>
    <StatisticsCard Title="@L["Score"]" Value="@Test.Score.Total">
        <ScoreChart Value="@Test.Score"/>
    </StatisticsCard>
    <StatisticsCard Title="@L["Questions"]" Value="@Test.AnswerRatio.Questions">
        <AnswerRatioChart Value="@Test.AnswerRatio"/>
    </StatisticsCard>
</EduFitGrid>

@if (Test.Conclusions.Length > 0)
{
    <MudExpansionPanels Elevation="0">
        @foreach (var conclusion in Test.Conclusions)
        {
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex">
                        <MudText Typo="Typo.subtitle1" Class="mr-3">
                            @DateTimeFormatter(conclusion.CompletedAt)
                        </MudText>
                        <MudText Typo="@Typo.subtitle1" Color="@GetColor(conclusion.Status)">
                            @L[$"ConclusionStatus:{conclusion.Status}"]
                        </MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <TestConclusionList
                        TimeSpent="@conclusion.TimeSpent"
                        Score="@conclusion.Score"
                        AnswerRatio="@conclusion.AnswerRatio"/>
                </ChildContent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
}

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Href { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public ArticleStatisticsModel.ProgressModel Test { get; set; } = default!;

    [Parameter]
    public Func<DateTime, string> DateTimeFormatter { get; set; } = date => date.ToLongDateString();

    public static Color GetColor(QuizStatus status) =>
        status switch
        {
            QuizStatus.Succeeded => Color.Success,
            QuizStatus.Failed => Color.Error,
            QuizStatus.TimeExceeded => Color.Warning,
            QuizStatus.MistakesExceeded => Color.Warning,
            _ => throw new ArgumentOutOfRangeException(nameof(status), status, null)
            };

}