@using Education.Client.Features.History.Clients
<div class="d-inline-flex flex-wrap align-center gap-3 @Class">
    @foreach (var (currency, amount) in Monies)
    {
        <GameMoneyDisplay Currency="@currency" Amount="@amount" Typo="@Typo" IconSize="@IconSize" Horizontal="@Horizontal"/>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required IEnumerable<GameMoneyModel> Monies { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Typo Typo { get; set; } = Typo.subtitle1;

    [Parameter]
    public Size IconSize { get; set; } = Size.Small;

    [Parameter]
    public bool Horizontal { get; set; }

}
