@using Education.Web.Client.Features.Customer
<section class="card @Class">
    <header class="card-header">
        <img class="avatar rounded-circle mud-elevation-5 ma-3" src="@Customer.Image" alt="@Customer.Name" loading="lazy"/>
    </header>

    <MudText Class="one-line-text pt-1" Typo="Typo.h5" Align="Align.Center">
        @Customer.Name
    </MudText>

    @ChildContent

    <footer class="border-t mud-border-lines-default pa-3">
        <MudButton
            Class="text-transform-none"
            EndIcon="@Icons.Material.Outlined.ArrowForward"
            Href="@CustomerUrl.Root">
            @L["Account_Title"]
        </MudButton>
    </footer>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required CustomerState Customer { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

}