<div class="wrapper">
    <div>
        <MudText Typo="Typo.h5">
            @L[$"Test:{Type}"]
        </MudText>
    </div>
    <div class="status">
        <div class="mb-1">
            <div class="d-flex flex-row justify-center">
                <MudText Typo="Typo.subtitle1" Class="mr-3">
                    @L["Questions"] @CurrentQuestion / @TotalQuestions
                </MudText>
                <div class="d-flex flex-row align-center">
                    @if (AllowedMistakes >= 0)
                    {
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Favorite" Color="Color.Error"/>
                        <MudText Typo="Typo.subtitle1" Class="ml-1">
                            @AllowedMistakes
                        </MudText>
                    }
                    else
                    {
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Favorite" Color="Color.Primary"/>
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.AllInclusive" Color="Color.Primary" Class="ml-1"/>
                    }
                </div>
            </div>
            <MudProgressLinear Min="0" Max="100" Value="@((double)CurrentQuestion / TotalQuestions * 100)" Color="Color.Primary"/>
        </div>
        <CountdownTimer Typo="Typo.body1" Date="@ExpiredAt" Color="@CountDownColor" OnComplete="@OnComplete"/>
    </div>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public TestType Type { get; set; }

    [Parameter]
    public int AllowedMistakes { get; set; }

    [Parameter]
    public int CurrentQuestion { get; set; }

    [Parameter]
    public int TotalQuestions { get; set; }

    [Parameter]
    public DateTime ExpiredAt { get; set; }

    [Parameter]
    public Color CountDownColor { get; set; }

    [Parameter]
    public EventCallback OnComplete { get; set; }

}