@page "/history/my/backpack"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Backpack_Title"]
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="model">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <article class="content">
                <InventoryGrid Inventory="@model.Items" StoreHref="@HistoryUrl.Store.Index()" ColumnSize="Size.Medium" Context="inventory">
                    <InventoryInfoCard
                        IconUrl="@inventory.ImageUrl"
                        Overview="@inventory.Overview"
                        Quantity="@inventory.Quantity"
                        Subtitle="@L.GetInventoryCategoryTitles(inventory.Categories)"
                        Title="@inventory.Title">
                        <MudButton
                            Class="mt-3"
                            Variant="Variant.Outlined"
                            Color="Color.Primary"
                            OnClick="@(() => OpenDialogAsync(inventory))"
                            FullWidth
                            DisableElevation
                            DisableRipple>
                            @L["Button_Details"]
                        </MudButton>
                    </InventoryInfoCard>
                </InventoryGrid>
            </article>
            <aside class="sidebar">
                <ProfileCard
                    Class="mb-3 mb-sm-6"
                    Level="@_profile.Level"
                    Backpack="@_profile.Backpack"
                    Wallet="@_profile.Wallet"/>
            </aside>
        </section>
    </EduContainer>
</ApiViewer>
