@page "/history/my/backpack"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Backpack_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <div class="d-flex flex-wrap justify-space-between gap-3 gap-sm-6">
        <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
        @if (_result.IsSuccess)
        {
            var backpack = _result.Unwrap();
            <BackpackOverview Fullness="@backpack.Fullness" Capacity="@backpack.Capacity" Typo="Typo.h5" Size="Size.Medium"/>
        }
    </div>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="model">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <article class="content">
                <InventoryGrid Inventory="@model.Items" StoreHref="@HistoryUrl.Store.Index()" Context="inventory">
                    <InventoryInfoCard
                        IconUrl="@inventory.ImageUrl"
                        Overview="@inventory.Overview"
                        Quantity="@inventory.Quantity"
                        Subtitle="@L.GetInventoryCategoryTypeTitle(inventory.Category)"
                        Title="@inventory.Title"/>
                </InventoryGrid>
            </article>
            <aside class="sidebar">
                @foreach (var item in _wallet)
                {
                    <WalletCard Class="mb-3 mb-sm-6" Wallet="@item"/>
                }
            </aside>
        </section>
    </EduContainer>
</ApiViewer>