@page "/history/leaderboards/all-time"
@layout HistoryLayout

<PageTitle>
    @L["Leaderboard_Title"]: @L["Leaderboard_AllTime_Title"]
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="items">
    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <AllTimeHeader
            Contestants="@items.Take(3)"
            Region="@_region"
            Regions="@_regions"
            RegionChanged="@OnRegionChanged"/>
    </EduContainer>

    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1280">
        <RegularRanking DisableHover Transparent>
            <Name>
                <MudText Typo="Typo.subtitle2">@L["User_Name_Title"]</MudText>
            </Name>
            <Points>
                <MudText Typo="Typo.subtitle2">@L["User_Experience_Title"]</MudText>
            </Points>
        </RegularRanking>

        <Virtualize Items="@items[3..]" ItemSize="64" Context="user">
            <RegularRanking Class="mb-3" Highlight="@(_highlightUser == user.Id)">
                <Image>
                    <UserAvatar Image="@user.Image" FullName="@user.FullName"/>
                </Image>
                <Name>
                    <MudText Typo="Typo.subtitle1">
                        @user.FullName
                    </MudText>
                    <div class="d-flex align-center gap-1">
                        <MudIcon Icon="@Icons.Material.Outlined.EmojiEvents" Size="Size.Small"/>
                        <MudText Typo="Typo.body1">@user.Rank</MudText>
                    </div>
                </Name>
                <Points>
                    <MetricNumber Value="@user.Experience" Typo="Typo.h6"/>
                </Points>
            </RegularRanking>
        </Virtualize>
    </EduContainer>
</ApiViewer>
