@using Elwark.Education.Web.Gateways.Models.Test
@using Elwark.Education.Web.Gateways.History
@inject IHistoryClient HistoryClient
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> L
@inject ISnackbar Snackbar
@inject ErrorManager ErrorManager

<div class="grid">

    <article class="content">
        @foreach (var (title, subtitle, text) in Chapters)
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h4">
                            @title
                        </MudText>
                        @if (!string.IsNullOrEmpty(subtitle))
                        {
                            <MudText Typo="Typo.subtitle1">
                                <em>@subtitle</em>
                            </MudText>
                        }
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MarkdownText Text="@text"/>
                </MudCardContent>
            </MudCard>
        }
    </article>

    <aside class="aside">
        <section>
            <MudCard>
                <MudCardContent>
                    <TopicReactionButtons
                        Id="@Id"
                        IsFavorite="@IsFavorite"
                        Rating="@Rating"
                        OnFavoriteClick="@OnFavoriteClick"
                        OnLikeClick="@OnLikeClick"
                        OnDislikeClick="@OnDislikeClick"/>
                </MudCardContent>
            </MudCard>
        </section>

        <section>
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.subtitle1">
                            <strong>@L["Test:CheckYourKnowledge"]</strong>
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <TestButtons
                        Difficulties="@Test.Difficulties"
                        Status="@Test.Status"
                        Subject="@SubjectType.History"
                        IsLoading="@(_test?.Status == ResponseStatus.Loading)"
                        OnCreateTestClick="@CreateTestAsync"/>
                </MudCardContent>
            </MudCard>
        </section>

        @if (Test.NumberOfTests.Count > 0)
        {
            <section>
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.subtitle1">
                                <strong>@L["Statistics"]</strong>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @foreach (var item in Test.NumberOfTests)
                        {
                            <NumberOfTestList 
                                Class="mb-6"
                                Completed="@item.Value.Completed"
                                Difficulty="@item.Key"
                                Total="@item.Value.Total"
                                RepliesExceeded="@item.Value.RepliesExceeded"
                                TimeExceeded="@item.Value.TimeExceeded"/>
                        }
                        <div class="d-flex flex-row justify-end">
                            <MudLink Color="Color.Primary" Href="@Links.Profile.Statistics(SubjectType.History)">
                                @L["SeeAll"]
                            </MudLink>
                        </div>
                    </MudCardContent>
                </MudCard>
            </section>
        }

        @if (Test.Conclusions.Length > 0)
        {
            <section>
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.subtitle1">
                                <strong>@L["Tests:Latest"]</strong>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @foreach (var conclusion in Test.Conclusions)
                        {
                            <TestConclusionList
                                Class="mb-6"
                                Status="@conclusion.Status"
                                Difficulty="@conclusion.Difficulty"
                                CompletedAt="@conclusion.CompletedAt"
                                TimeSpent="@conclusion.TimeSpent"
                                TotalScore="@conclusion.TotalScore"/>
                        }
                    </MudCardContent>
                </MudCard>
            </section>
        }

        @foreach (var (title, content) in InfoBoxes)
        {
            <section>
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.subtitle1">
                                <strong>@title</strong>
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MarkdownText Text="@content"/>
                    </MudCardContent>
                </MudCard>
            </section>
        }
    </aside>
</div>

@code {
    private ApiResponse<TestCreatedResult>? _test;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public TopicTest Test { get; set; } = default!;

    [Parameter]
    public Chapter[] Chapters { get; set; } = Array.Empty<Chapter>();

    [Parameter]
    public Infobox[] InfoBoxes { get; set; } = Array.Empty<Infobox>();

    [Parameter]
    public ContentRating Rating { get; set; } = default!;

    [Parameter]
    public bool IsFavorite { get; set; }

    [Parameter]
    public Func<string, Task<bool>> OnFavoriteClick { get; set; } = _ => Task.FromResult(false);

    [Parameter]
    public Func<Task<bool>> OnLikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter]
    public Func<Task<bool>> OnDislikeClick { get; set; } = () => Task.FromResult(false);

    private async Task CreateTestAsync(TestDifficulty difficulty)
    {
        _test = ApiResponse<TestCreatedResult>.Loading();
        _test = await HistoryClient.Topic.CreateTestAsync(Id, difficulty);

        if (_test.Status == ResponseStatus.Success)
            NavigationManager.NavigateTo(Links.History.Test(_test.Data.Id));
        else
            Snackbar.Add(ErrorManager.Localize(_test.Error).Title, Severity.Error);
    }

}
