@using Elwark.Education.Web.Gateways.Models.History

@inject IStringLocalizer<App> L

<div class="@Class">
    <div class="grid">
        <div class="image">
            <img src="@Image" class="portrait" alt="@Title"/>
        </div>
        <div class="content">
            <Breadcrumbs Items="@Breadcrumbs"/>
            <MudText Typo="Typo.h2">
                @Title
            </MudText>
            <div class="lifetime">
                @if (Born is not null)
                {
                    <div>
                        <MudText Typo="Typo.body2" Color="Color.Surface">
                            @L["History:Born"]
                        </MudText>
                        <HistoryDate Date="@Born" Typo="Typo.h5" Color="Color.Secondary"/>
                        <MudText Typo="Typo.body1">
                            @Born.Place
                        </MudText>
                    </div>
                }
                @if (Died is not null)
                {
                    <div>
                        <MudText Typo="Typo.body2" Color="Color.Surface">
                            @L["History:Died"]
                        </MudText>
                        <HistoryDate Date="@Died" Typo="Typo.h5" Color="Color.Secondary"/>
                        <MudText Typo="Typo.body1">
                            @Died.Place
                        </MudText>
                    </div>
                }
            </div>

            <MudText Typo="Typo.subtitle1" Class="mw-sm">
                @Description
            </MudText>
        </div>
        <div class="characteristics">
            @foreach (var (title, value) in Characteristics)
            {
                <div class="characteristic">
                    <MudText Class="title" Typo="Typo.subtitle1">
                        @title
                    </MudText>
                    <MarkdownText Text="@value"/>
                </div>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public HistoryPersonDate? Born { get; set; }

    [Parameter]
    public HistoryPersonDate? Died { get; set; }

    [Parameter]
    public Infobox[] Characteristics { get; set; } = Array.Empty<Infobox>();

    [Parameter]
    public List<BreadcrumbItem> Breadcrumbs { get; init; } = new();

}
