@inject IStringLocalizer<App> L

<div class="@Class">
    <MudText Typo="Typo.h5" Class="mb-3">
        @L["Topics:Related"]
    </MudText>
    <div class="grid">
        @foreach (var topic in Topics)
        {
            <TopicCard
                Id="@topic.Id"
                Href="@Links.History.Topics(topic.Id)"
                Image="@topic.Image"
                Title="@topic.Title"
                Subtitle="@topic.Overview"
                Rating="@topic.Rating"
                IsFavorite="@topic.IsFavorite"
                OnFavoriteClick="@OnFavoriteClick">
                <ImageFooter>
                    <HistoryPeriodChip Class="ma-0" Period="@topic.Period"/>
                </ImageFooter>
            </TopicCard>
        }
    </div>
</div>

@code {

    [Parameter]
    public TopicSummary[] Topics { get; set; } = Array.Empty<TopicSummary>();

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Func<string, Task<bool>> OnFavoriteClick { get; set; } = s => Task.FromResult(false);

}
