@using Elwark.Education.Web.Gateways.History.Topic

<DefaultFitGrid Class="@Class">
    <div>
        <MudText Typo="Typo.subtitle1" Class="mb-3">
            @L["Tests"]
        </MudText>
        <NumberOfTestChart Value="@NumberOfTests"/>
    </div>
    <div>
        <MudText Typo="Typo.subtitle1" Class="mb-3">
            @L["Score"]
        </MudText>
        <ScoreChart Value="@Score"/>
    </div>
    <div>
        <MudText Typo="Typo.subtitle1" Class="mb-3">
            @L["Questions"]
        </MudText>
        <AnswerRatioChart Value="@AnswerRatio"/>
    </div>
</DefaultFitGrid>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public NumberOfTests NumberOfTests { get; set; } = default!;

    [Parameter]
    public Score Score { get; set; } = default!;

    [Parameter]
    public AnswerRatio AnswerRatio { get; set; } = default!;

}
