@page "/history/my/assignments"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Assignments_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="model">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <div class="grid">
            <div class="content">
                <MudTabs @ref="_tabs" Elevation="0" Rounded>
                    <PrePanelContent>
                        <div class="mb-3 mb-sm-6"></div>
                    </PrePanelContent>

                    <ChildContent>
                        <MudTabPanel ID="@("daily")" Text="@L["Assignments_Daily_Tab"]">
                            @if (model.DailyAssignments.Length == 0)
                            {
                                <StartAssignment
                                    Title="@L["Assignments_Daily_Title"]"
                                    Description="@L["Assignments_Daily_Description"]"
                                    Image="/images/history/assignments.svg"
                                    OnStart="@StartDailyQuestsAsync"/>
                            }
                            else
                            {
                                <AssignmentHeader
                                    Class="mb-3 mb-sm-6"
                                    Title="@L["Assignments_Daily_Title"]"
                                    ExpiresAt="@model.DailyAssignments[0].ExpiresAt"
                                    OnExpired="@OnInitializedAsync"/>

                                <article class="d-flex flex-column gap-3">
                                    @foreach (var quest in model.DailyAssignments)
                                    {
                                        <QuestProgressCard Quest="@quest" OnCollect="@CollectDailyQuestsAsync"/>
                                    }
                                </article>
                            }
                        </MudTabPanel>

                        <MudTabPanel ID="@("weekly")" Text="@L["Assignments_Weekly_Tab"]">
                            @if (model.WeeklyAssignments.Length == 0)
                            {
                                <StartAssignment
                                    Title="@L["Assignments_Weekly_Title"]"
                                    Description="@L["Assignments_Weekly_Description"]"
                                    Image="/images/history/assignments.svg"
                                    OnStart="@StartWeeklyQuestsAsync"/>
                            }
                            else
                            {
                                <AssignmentHeader
                                    Class="mb-3 mb-sm-6"
                                    Title="@L["Assignments_Weekly_Title"]"
                                    ExpiresAt="@model.WeeklyAssignments[0].ExpiresAt"
                                    OnExpired="@OnInitializedAsync"/>

                                <article class="d-flex flex-column gap-3">
                                    @foreach (var quest in model.WeeklyAssignments)
                                    {
                                        <QuestProgressCard Quest="@quest" OnCollect="@CollectWeeklyQuestsAsync"/>
                                    }
                                </article>
                            }
                        </MudTabPanel>
                    </ChildContent>
                </MudTabs>
            </div>

            <div class="sidebar">
                <DailyBonusCard
                    Bonus="@model.DailyBonus"
                    OnClaim="@ClaimDailyBonusAsync"
                    OnReject="@RejectDailyBonusAsync"
                    OnReached="@OnInitializedAsync"/>
            </div>
        </div>
    </EduContainer>
</ApiViewer>
