@page "/history/my/assignments"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Assignments_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="data">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <div class="grid">
            <div class="content">
                <MudTabs Elevation="0" Rounded>
                    <PrePanelContent>
                        <div class="mb-3 mb-sm-6"></div>
                    </PrePanelContent>

                    <ChildContent>
                        <MudTabPanel Text="Daily">
                            <AssignmentsContainer
                                Quests="@data.DailyAssignments.Assignments"
                                Title="Daily assignments"
                                Description="Dive into your daily pursuits with a renewed perspective. Each task you undertake is a key to unlocking valuable treasures, transforming routine into reward."
                                Status="@data.DailyAssignments.Status"
                                ExpiresAt="@data.DailyAssignments.ExpiresAt"
                                OnStart="@StartDailyQuestsAsync"
                                OnCollect="@CollectDailyQuestsAsync"
                                OnExpired="@OnInitializedAsync"/>
                        </MudTabPanel>

                        <MudTabPanel Text="Weekly">
                            <AssignmentsContainer
                                Quests="@data.WeeklyAssignments.Assignments"
                                Title="Weekly assignments"
                                Description="Embark on your weekly assignments with a fresh outlook. Each task you embrace serves as a gateway to unlocking valuable treasures, turning your routine into a week filled with rewards."
                                Status="@data.WeeklyAssignments.Status"
                                ExpiresAt="@data.WeeklyAssignments.ExpiresAt"
                                OnStart="@StartWeeklyQuestsAsync"
                                OnCollect="@CollectWeeklyQuestsAsync"
                                OnExpired="@OnInitializedAsync"/>
                        </MudTabPanel>
                    </ChildContent>
                </MudTabs>
            </div>

            <div class="sidebar">
                <DailyBonusCard
                    Bonus="@data.DailyBonus"
                    OnClaim="@ClaimDailyBonusAsync"
                    OnReject="@RejectDailyBonusAsync"
                    OnReached="@OnInitializedAsync"/>
            </div>
        </div>
    </EduContainer>
</ApiViewer>