@using Education.Web.Client.Pages.History.Components
@using Education.Web.Client.Pages.History.My.Profile.Components
@using Education.Web.Client.Services.History.User.Model
@using Education.Web.Client.Services.History.User

@page "/history/my/profile"
@layout HistoryLayout
@attribute [Authorize]

<EduPage Title="@L["Profile"]">
    <ApiViewer Result="@_result" Context="model">
        <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
            <section class="grid">
                <aside class="sidebar">
                    <ProfileCard Class="mb-3 mb-sm-6" Level="@model.Level"/>
                    <WalletCard Class="wallet" Silver="@model.Silver"/>
                </aside>

                <section class="content">
                    <div class="mb-3 mb-sm-6">
                        <header class="d-flex align-center justify-space-between mb-3 mb-sm-6">
                            <MudText Typo="Typo.h5">
                                @L["Inventory"]
                            </MudText>
                            <MudText Typo="Typo.h5">
                                @_capacity
                            </MudText>
                        </header>
                        <InventoryGrid Inventory="@model.Inventory.Items" StoreHref="@HistoryUrl.Store.Index" Context="item">
                            <InventoryInfoCard
                                Title="@item.Title"
                                Subtitle="@item.Category.Title"
                                Overview="@item.Overview"
                                Quantity="@item.Quantity"
                                IconUrl="@item.IconUrl"/>
                        </InventoryGrid>
                    </div>

                    <div class="topics">
                        <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5">
                            Recent topics
                        </MudText>
                        <EduFillGrid>
                            @foreach (var item in model.RecentTopics)
                            {
                                <TopicAndUserProgressCard
                                    Topic="@item.Topic"
                                    UserActivity="@item.Activity"/>
                            }
                        </EduFillGrid>
                    </div>
                </section>
            </section>
        </EduContainer>
    </ApiViewer>
</EduPage>

@code {
    private ApiResult<HistoryProfileModel> _result = ApiResult<HistoryProfileModel>.Loading();
    private string? _capacity;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryUserService UserService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _result = await UserService.GetProfileAsync();
        if (_result.IsSuccess)
            _capacity = $"{_result.Value.Inventory.Fullness} / {_result.Value.Inventory.Capacity}";
    }

}