@using ApexCharts
@using Education.Web.Client.Features.History.Services.Learner.Model.DateGuesser
<div class="@Class">
    @if (AnswerRatio.Total > 0)
    {
        <ApexChart TItem="Data" Options="@Options">
            <ApexPointSeries
                TItem="Data"
                Items="@Series"
                SeriesType="SeriesType.Donut"
                XValue="@(x => x.Name)"
                YAggregate="@(x => x.Sum(e => e.Value))"/>
        </ApexChart>
    }

    <ChartList Items="@Items"/>
</div>

@code {

    private ApexChartOptions<Data> Options => new()
    {
        Legend = new Legend
        {
            Show = false
        },
        Colors = [Colors.Green.Accent4, Colors.Red.Default]
    };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public required AnswerRatioModel AnswerRatio { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private ChartList.Item[] Items => new[]
    {
        new ChartList.Item(L["History_DateGuesser_Correct"], AnswerRatio.Correct, Colors.Green.Accent4),
        new ChartList.Item(L["History_DateGuesser_Incorrect"], AnswerRatio.Incorrect, Colors.Red.Default),
        new ChartList.Item(L["History_DateGuesser_Questions"], AnswerRatio.Total, null)
    };

    private Data[] Series => new[]
    {
        new Data(L["History_DateGuesser_Correct"], AnswerRatio.Correct),
        new Data(L["History_DateGuesser_Incorrect"], AnswerRatio.Incorrect)
    };

    private sealed record Data(string Name, decimal Value);

}