@using Education.Web.Client.Services.Model.User
@using Education.Web.Client.Pages.Account
<section class="card @Class">
    <header class="card-header"></header>

    <section class="d-flex px-3 px-sm-6">
        <MudImage Class="avatar rounded-circle" Src="@Customer.Image" Alt="@Customer.Name"/>
        <MudText Class="pt-1" Typo="Typo.h5">
            @Customer.Name
        </MudText>
    </section>

    <UserLevelProgress
        Class="pa-3 pa-sm-6"
        Level="@Level.Rank"
        Experience="@Level.Experience"
        Threshold="@Level.Threshold"/>

    <MudDivider/>

    <section class="d-flex justify-center gap-3 pa-3 pa-sm-6">
        <MudButton
            DisableElevation
            FullWidth
            StartIcon="@Icons.Outlined.Home"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Href="@HistoryUrl.Root">
            @L["Home"]
        </MudButton>

        <MudButton
            DisableElevation
            FullWidth
            StartIcon="@Icons.Outlined.AccountCircle"
            Variant="Variant.Outlined"
            Color="Color.Primary"
            Href="@AccountUrl.Root">
            @L["Account"]
        </MudButton>
    </section>

</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    public CustomerState Customer { get; set; } = default!;

    [Parameter, EditorRequired]
    public LevelModel Level { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}