<div class="grid @Class">
    @foreach (var item in Items)
    {
        <div class="card">
            <div class="image">
                <img src="@item.Image" loading="lazy" alt="@item.Title">
            </div>
            <div class="content">
                <MudLink Typo="Typo.h5" Href="@(Links.History.Topic(item.Id))">
                    @item.Title
                </MudLink>
                <div class="my-3">
                    <RatingIcon Rating="@item.Rating"/>
                </div>
                <MudText Typo="Typo.subtitle1">
                    @item.Overview
                </MudText>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public IEnumerable<TopicOverview> Items { get; set; } = Array.Empty<TopicOverview>();

    [Parameter]
    public string? Class { get; set; }

}
