@page "/history"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.History
@inject IHistoryClient Client
@inject IStringLocalizer<App> L
@attribute [Authorize]

<ApiResponseViewer Response="@_response">
    <Loading>
        <Header class="mb-12"/>
        <section class="section mb-12 mx-3">
            <div class="container">
                <div class="header mb-3">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Trending"]
                    </MudText>
                </div>
                <div class="dummy-grid">
                    <SkeletonCard/>
                    <SkeletonCard/>
                    <SkeletonCard/>
                    <SkeletonCard/>
                    <SkeletonCard/>
                    <SkeletonCard/>
                    <SkeletonCard/>
                    <SkeletonCard/>
                </div>
            </div>
        </section>
        <section class="section mb-12 mx-3">
            <RandomTopic/>
        </section>
    </Loading>
    <Result Context="overview">
        <Title Value="@L["Subject:History"]"/>
        <Header Class="mb-12"/>

        <section class="section mb-12 mx-3">
            <div class="container">
                <div class="header mb-3">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Trending"]
                    </MudText>
                </div>
                <Trending Items="@overview.TrendingTopics"/>
            </div>
        </section>

        @* <section class="section mb-12 mx-3"> *@
        @*     <RandomTopic/> *@
        @* </section> *@

        <section class="section mb-12 black-background">
            <div class="container mx-3 my-6">
                <DailyTopic Topic="@overview.TrendingTopics[new Random().Next(overview.TrendingTopics.Length)]"/>
            </div>
        </section>

        <section class="section mb-12 mx-3">
            <div class="container">
                <div class="header mb-3">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Hot"]
                    </MudText>
                </div>
                <Trending Items="@overview.HotTopics"/>
            </div>
        </section>

        @* <section class="section mb-12 mx-3"> *@
        @*     <RandomTopic/> *@
        @* </section> *@

        <section class="section mb-12 mx-3">
            <div class="container">
                <div class="header mb-3">
                    <MudText Typo="Typo.h6">
                        @L["Topics:Recent"]
                    </MudText>
                </div>
                <Trending Items="@overview.RecentTopics"/>
            </div>
        </section>

        <section class="section mb-12 mx-3">
            <RandomTopic/>
        </section>

    </Result>
</ApiResponseViewer>

@code {

    private ApiResponse<HistoryOverview> _response = ApiResponse<HistoryOverview>.Loading();

    protected override async Task OnInitializedAsync()
    {
        _response = await Client.GetAsync();
    }

}
