@using Elwark.Education.Web.Gateways.History
<div class="grid @Class">
    <article class="item-first">
        <ImageCard
            Href="@Links.Subject.History.Topic(Items[0].Id)"
            Image="@Items[0].Image"
            Title="@Items[0].Title"
            Subtitle="@Items[0].Overview"
            Epoch="@Items[0].Epoch"
            Rating="@Items[0].Rating"/>
    </article>

    @for (var i = 1; i < Items.Length; i++)
    {
        var item = Items[i];
        <article class="@GetCssClass(i)">
            <RegularCard
                Href="@Links.Subject.History.Topic(item.Id)"
                Image="@item.Image"
                Title="@item.Title"
                Subtitle="@item.Overview"
                Epoch="@item.Epoch"
                Rating="@item.Rating"/>
        </article>
    }
</div>

@code{

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public TopicSummary[] Items { get; set; } = Array.Empty<TopicSummary>();

    private string GetCssClass(int i) =>
        i < 5 ? "item-3" : "item-4";

}
