@page "/history/tests/{id}"
@using Education.Web.Client.Services.History.Test.Model
@using Education.Web.Client.Services.History.Test
@using Education.Web.Client.Pages.History.Tests.Test.Components
@using Education.Web.Client.Pages.History.Components
@using Education.Web.Client.Models.Test
@using Education.Web.Client.Models.Inventory
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>@(_result.IsSuccess ? $"{_testType}: {_currentQuestion.Article.Title}" : L["Tests"])</PageTitle>
@switch (_result.Status)
{
    case Status.Loading:
        <Spinner/>
        break;

    case Status.Fail:
        <EduError Error="@_result.Error"/>
        break;

    case Status.Success:
        <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280">
            <section class="grid">
                <div>
                    <section class="mud-paper pa-3 pa-sm-6">
                        <MudText Class="d-block mud-text-secondary" Typo="Typo.caption" Align="Align.Center">
                            @_testType
                        </MudText>
                        <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Align="Align.Center" Style="font-weight: 500">
                            @_currentQuestion.Article.Title
                        </MudText>

                        @if (_currentQuestion.Image is not null)
                        {
                            <img class="image mb-3 mb-sm-6" src="@_currentQuestion.Image" alt="@_currentQuestion.Title"/>
                        }

                        <MudText Class="mb-6" Typo="Typo.subtitle1" Align="Align.Center">
                            @_currentQuestion.Title
                        </MudText>

                        @switch (_currentQuestion)
                        {
                            case TestQuestion.MultipleModel question:
                            {
                                <MultipleAnswerForm
                                    IsLoading="@_checking"
                                    IsTestCompleted="@IsCompleted"
                                    CorrectAnswer="@(_correctAnswer as AnswerResult.MultipleModel)"
                                    UserAnswer="@(_userAnswer as MultipleAnswerModel ?? new MultipleAnswerModel())"
                                    Options="@question.Options"
                                    OnAnswer="@OnMultiplyAnswer"
                                    OnNext="@OnNext"
                                    OnComplete="@OnComplete"/>
                                break;
                            }

                            case TestQuestion.ShortModel:
                            {
                                <ShortAnswerForm
                                    IsLoading="@_checking"
                                    IsTestCompleted="@IsCompleted"
                                    CorrectAnswer="@(_correctAnswer as AnswerResult.ShortModel)"
                                    UserAnswer="@(_userAnswer as ShortAnswerModel ?? new ShortAnswerModel())"
                                    OnAnswer="@OnShortAnswer"
                                    OnNext="@OnNext"
                                    OnComplete="@OnComplete"/>
                                break;
                            }

                            case TestQuestion.SingleModel question:
                            {
                                <SingleAnswerForm
                                    IsLoading="@_checking"
                                    IsTestCompleted="@IsCompleted"
                                    CorrectAnswer="@(_correctAnswer as AnswerResult.SingleModel)"
                                    UserAnswer="@(_userAnswer as SingleAnswerModel ?? new SingleAnswerModel())"
                                    Options="@question.Options"
                                    OnAnswer="@OnSingleAnswer"
                                    OnNext="@OnNext"
                                    OnComplete="@OnComplete"/>
                                break;
                            }

                            default:
                                throw new ArgumentOutOfRangeException(nameof(_currentQuestion));
                        }
                    </section>
                </div>

                <aside>
                    <section class="mb-6">
                        <header class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1">
                                @L["Test:QuestionOutOf", _test.Completed, _test.Questions]
                            </MudText>
                            <CountdownTimer Date="@_test.ExpiredAt" Color="@_countdownColor" OnComplete="@OnExpired"/>
                        </header>
                        <MudProgressLinear
                            Rounded
                            Min="0"
                            Max="100"
                            Value="@Progress"
                            Color="Color.Primary"
                            Size="Size.Medium"/>
                    </section>
                    <InventoryGrid Inventory="@(_inventory.OrderByDescending(x => x.IsApplicable))" Context="item">
                        @if (item.IsApplicable)
                        {
                            <InventoryButtonCard
                                Id="@item.Id"
                                Quantity="@item.Quantity"
                                Title="@item.Title"
                                Overview="@item.Overview"
                                IconUrl="@item.IconUrl"
                                ButtonText="@L["Inventory:Use"]"
                                OnClick="@OnUseInventory"/>
                        }
                        else
                        {
                            <InventoryInfoCard
                                Title="@item.Title"
                                Overview="@item.Overview"
                                Quantity="@item.Quantity"
                                IconUrl="@item.IconUrl"/>
                        }
                    </InventoryGrid>
                </aside>
            </section>
        </EduContainer>
        break;
}

@code {
    private ApiResult<TestModel> _result = ApiResult<TestModel>.Loading();
    private TestInventoryModel[] _inventory = Array.Empty<TestInventoryModel>();
    private Color _countdownColor = Color.Default;
    private TestOverview _test = default!;
    private TestQuestion _currentQuestion = default!;
    private TestQuestion? _nextQuestion;
    private AnswerToQuestionModel? _userAnswer;
    private AnswerResult? _correctAnswer;
    private bool _checking;
    private string _testType = string.Empty;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryTestService TestService { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Inject]
    private ISnackbar Snackbar { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    private double Progress =>
        (double)_test.Completed / _test.Questions * 100;

    private bool IsCompleted =>
        _test.Completed == _test.Questions;

    protected override async Task OnParametersSetAsync()
    {
        _result = await TestService.GetAsync(Id);
        if (_result.IsFailed)
        {
            if (_result.Error.IsTestAlreadyCompleted())
                Navigation.NavigateTo(HistoryUrl.ArticleTest.Conclusion(Id));

            if (_result.Error.IsTestNotFound())
                Navigation.NavigateTo(HistoryUrl.ArticleTest.Conclusion(Id));

            return;
        }

        _test = _result.Value.Overview;
        _currentQuestion = _result.Value.Question;
        _inventory = _result.Value.Inventory;
        _testType = _test switch {
            TestOverview.EasyTestModel => L["Test:Easy"],
            TestOverview.HardTestModel => L["Test:Hard"],
            TestOverview.MixedTestModel => L["Test:Mixed"],
            _ => string.Empty
            };
    }

    private async Task OnExpired()
    {
        _countdownColor = Color.Error;
        _result = await TestService.GetAsync(Id);

        if (_result.IsFailed)
            Navigation.NavigateTo(HistoryUrl.ArticleTest.Conclusion(Id));
    }

    private async Task OnShortAnswer(ShortAnswerModel answer)
    {
        _checking = true;
        _userAnswer = answer;

        var result = await TestService.CheckAsync(_test.Id, _currentQuestion.Id, answer);
        UpdateState(result);

        _checking = false;
    }

    private async Task OnSingleAnswer(SingleAnswerModel answer)
    {
        _checking = true;
        _userAnswer = answer;

        var result = await TestService.CheckAsync(_test.Id, _currentQuestion.Id, answer);
        UpdateState(result);

        _checking = false;
    }

    private async Task OnMultiplyAnswer(MultipleAnswerModel answer)
    {
        _checking = true;
        _userAnswer = answer;

        var result = await TestService.CheckAsync(_test.Id, _currentQuestion.Id, answer);
        UpdateState(result);

        _checking = false;
    }

    private void UpdateState(ApiResult<TestAnswerModel> result)
    {
        if (result.IsFailed)
        {
            if (result.Error.IsTestAlreadyCompleted())
            {
                Navigation.NavigateTo(HistoryUrl.ArticleTest.Conclusion(Id));
                return;
            }

            Snackbar.Add(result.Error.Detail, Severity.Error);
            return;
        }

        _test = result.Value.Overview;
        _inventory = result.Value.Inventory;
        _nextQuestion = result.Value.NextQuestion;
        _correctAnswer = result.Value.Answer;

        StateHasChanged();
    }

    private void OnNext()
    {
        if (_nextQuestion is null)
            return;

        _currentQuestion = _nextQuestion;
        _nextQuestion = null;
        _userAnswer = null;
        _correctAnswer = null;

        StateHasChanged();
    }

    private void OnComplete() =>
        Navigation.NavigateTo(HistoryUrl.ArticleTest.Conclusion(Id));

    private async Task OnUseInventory(uint id)
    {
        var test = await TestService.ApplyInventoryAsync(_test.Id, id);
        if (test.IsFailed)
        {
            Snackbar.Add(test.Error.Detail, Severity.Error);
            return;
        }

        if (test.Value.Question is null)
        {
            Navigation.NavigateTo(HistoryUrl.ArticleTest.Conclusion(Id));
            return;
        }

        _test = test.Value.Overview;
        _currentQuestion = test.Value.Question;
        _inventory = test.Value.Inventory;
    }

}