@page "/history/my/tests/mixed"
@layout HistoryLayout

@using Education.Client.Gateways.Models.Statistics
@using Education.Client.Gateways.History
@using Education.Client.Features.History.My.Components
@using Education.Client.Features.History.My.Tests.Components

@attribute [Authorize]

<PageTitle>@L["Tests:Mixed"]</PageTitle>

<ApiViewer Response="@_response">
    <Loading>
        <PageSpinner/>
    </Loading>
    <Success Context="result">
        <MainContainer>
            <PageHeader Title="@L["Tests:Mixed"]" Class="mb-3 mb-sm-6" Breadcrumbs="@Breadcrumbs"/>
            <StatisticsDetailsGrid>
                <StatisticsCard Title="@L["Tests"]" Value="@result.NumberOfTests.Total">
                    <TwoColumnGrid>
                        <div>
                            <Subheader Title="@L["Tests"]" Subtitle="@L["ForAllTime"]"/>
                            <NumberOfTestChart Value="@result.NumberOfTests"/>
                        </div>
                        <div>
                            <Subheader Title="@L["Progress"]" Subtitle="@result.Progress.RangeTitle()"/>
                            <ProgressList Items="@result.Progress.NumberOfTests.GetProgress(L)"/>
                        </div>
                    </TwoColumnGrid>
                </StatisticsCard>
                <StatisticsCard Title="@L["Score"]" Value="@result.Score.Total">
                    <TwoColumnGrid>
                        <div>
                            <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                            <ScoreChart Value="@result.Score"/>
                        </div>
                        <div>
                            <Subheader Title="@L["Progress"]" Subtitle="@result.Progress.RangeTitle()"/>
                            <ProgressList Items="@result.Progress.Score.GetProgress(L)"/>
                        </div>
                    </TwoColumnGrid>
                </StatisticsCard>
                <StatisticsCard Title="@L["Questions"]" Value="@result.AnswerRatio.Questions">
                    <TwoColumnGrid>
                        <div>
                            <Subheader Title="@L["Questions"]" Subtitle="@L["ForAllTime"]"/>
                            <AnswerRatioChart Value="@result.AnswerRatio"/>
                        </div>
                        <div>
                            <Subheader Title="@L["Progress"]" Subtitle="@result.Progress.RangeTitle()"/>
                            <ProgressList Items="@result.Progress.AnswerRatio.GetProgress(L)"/>
                        </div>
                    </TwoColumnGrid>
                </StatisticsCard>
                <StatisticsCard Title="@L["TimeSpent"]" Value="@result.TimeSpent.Total">
                    <TwoColumnGrid>
                        <div>
                            <Subheader Title="@L["TimeSpent"]" Subtitle="@L["ForAllTime"]"/>
                            <TimeSpentChart Value="@result.TimeSpent"/>
                        </div>
                        <div>
                            <Subheader Title="@L["Progress"]" Subtitle="@result.Progress.RangeTitle()"/>
                            <ProgressList Items="@result.Progress.TimeSpent.GetProgress(L)"/>
                        </div>
                    </TwoColumnGrid>
                </StatisticsCard>
            </StatisticsDetailsGrid>
        </MainContainer>
    </Success>
</ApiViewer>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Account"].Value, Links.Account.Index),
        new BreadcrumbItem(L["Profile"].Value, Links.History.MyProfile)
    };

    private ApiResponse<TestStatistics> _response = ApiResponse<TestStatistics>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnParametersSetAsync() =>
        _response = await HistoryClient.User.GetMixedTestStatisticsAsync();

}
