@using Education.Web.Client.Features.History.Services.DateGuesser.Model
<div class="@Class">
    <MudRadioGroup Class="radio-group" SelectedOption="@SelectedGuesser" SelectedOptionChanged="@SelectedGuesserChanged">
        @foreach (var service in Guessers)
        {
            <MudRadio Class="radio" Option="@service.Type" Color="Color.Primary" Disabled="@(!service.IsAllowed)">
                <div class="d-flex justify-center align-center rounded-circle mud-background relative pa-2">
                    <img class="image" src="@service.IconUrl" alt="@service.Title" loading="lazy"/>
                </div>

                <p class="mud-typography mud-typography-subtitle1 one-line-text" title="@service.Title">
                    @service.Title
                </p>
            </MudRadio>
        }
    </MudRadioGroup>
</div>

@code {

    [Parameter]
    public string? SelectedGuesser { get; set; }

    [Parameter]
    public EventCallback<string?> SelectedGuesserChanged { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public DateGuesserInformationModel[] Guessers { get; set; } = Array.Empty<DateGuesserInformationModel>();

}