<nav class="breadcrumbs @Class">
    <ol class="breadcrumbs-list">
        @for (var i = 0; i < Items.Length; i++)
        {
            var item = Items[i];
            <li>
                <MudLink Href="@(item.Link)">@item.Name</MudLink>
            </li>
            @if (i != Items.Length - 1)
            {
                <li class="breadcrumbs-separator">
                    @if (Separator.Length == 1)
                    {
                        <MudText>@Separator</MudText>
                    }
                    else
                    {
                        <MudIcon Icon="@Separator" Size="Size.Small"/>
                    }
                </li>
            }
        }
    </ol>
</nav>

@code {

    [Parameter]
    public BreadcrumbsItem[] Items { get; init; } = Array.Empty<BreadcrumbsItem>();


    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Separator { get; set; } = Filled.ChevronRight;

}