@inject IStringLocalizer<App> L

<MudTooltip Text="@L["Rating"]">
    <div class="d-flex flex-row align-center">
        <MudIcon Icon="@Icons.Filled.ThumbsUpDown" Size="Size.Small" Color="@Rating.Color"/>
        <MudText Typo="Typo.body2" Class="ml-2" Color="@Rating.Color">
            @Rating.Ranking%
        </MudText>
    </div>
</MudTooltip>

@code {

    [Parameter]
    public ContentRating Rating { get; set; } = default!;

}
