<div class="root">
    <div class="progress">
        <MudProgressCircular Value="@(Progress.Current)" Color="Progress.Color"/>
        <div class="wrapper">
            <MudText Typo="Typo.caption">
                @Progress.Current%
            </MudText>
        </div>
    </div>
    <div class="pl-3">
        <MudText Typo="Typo.subtitle2" Color="Color.Default">
            Progress
        </MudText>
        <MudText Typo="Typo.body2" Color="@Progress.Color">
            @Progress.Passed / @Progress.Count
        </MudText>
    </div>
</div>

@code {

    [Parameter]
    public Services.Model.LearningProgress Progress { get; init; } = default!;

}