@using Elwark.Education.Web.Services.User.Model
@using Elwark.Education.Web.Infrastructure.Extensions
@inject IStringLocalizer<App> Al

<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <SubjectIcon Subject="@Restriction.Subject" Size="@Size.Medium"/>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">
                @Al[Restriction.Subject.ToString()]
            </MudText>
            <MudText Typo="Typo.body2" Color="Color.Warning">
                Premium
            </MudText>
            <MudText Typo="Typo.body2">
                @Al["ExpireAt"] @DateTime.Now.ToShortDateString()
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div class="values">
            <MudText Typo="Typo.h4" Align="Align.Center">
                @(Restriction.TestCreation.Quantity < 0 ? "∞" : Restriction.TestCreation.Quantity)
            </MudText>
            <div class="d-flex flex-column justify-center">
                <MudText Typo="Typo.body1">
                    Tests you can create now.
                </MudText>
                @if (Restriction.TestCreation.RestoreAt.HasValue)
                {
                    <MudText Typo="Typo.caption">
                        Defaul value will be restored at @Restriction.TestCreation.RestoreAt.Value.ToSimpleFormat()
                    </MudText>                }
            </div>

            <MudText Typo="Typo.h4" Align="Align.Center">
                @(Restriction.Answer.Quantity < 0 ? "∞" : Restriction.Answer.Quantity)
            </MudText>
            <div class="d-flex flex-column justify-center">
                <MudText Typo="Typo.body1">
                    Mistakes you can make in tests
                </MudText>
                @if (Restriction.Answer.RestoreAt.HasValue)
                {
                    <MudText Typo="Typo.caption">
                        Defaul value will be restored at @Restriction.Answer.RestoreAt.Value.ToSimpleFormat()
                    </MudText>                }
            </div>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Link="@Links.Profile.Tests(Restriction.Subject)" Color="Color.Primary">
            @Al["Tests"]
        </MudButton>
    </MudCardActions>
</MudCard>

@code {

    [Parameter]
    public Restriction Restriction { get; set; } = default!;

}