@using Elwark.Education.Web.Gateways.Models.User
@inject IStringLocalizer<App> L

<MudCard>
    <MudCardHeader>
        <CardHeaderAvatar>
            <SubjectIcon Subject="@Subscription.Subject" Size="@Size.Medium"/>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">
                @L[Subscription.Subject.ToString()]
            </MudText>
            <MudText Typo="Typo.body2" Color="Color.Warning">
                @Subscription.Type
            </MudText>
            <MudText Typo="Typo.body2">
                @L["ExpireAt"] @DateTime.Now.ToShortDateString()
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div class="values">
            <MudText Typo="Typo.h4" Align="Align.Center">
                @(Subscription.TestCreation.Quantity < 0 ? "∞" : Subscription.TestCreation.Quantity)
            </MudText>
            <div class="d-flex flex-column justify-center">
                <MudText Typo="Typo.body1">
                    Tests you can create now.
                </MudText>
                @if (Subscription.TestCreation.RestoreAt.HasValue)
                {
                    <MudText Typo="Typo.caption">
                        Defaul value will be restored at @Subscription.TestCreation.RestoreAt.Value.ToSimpleFormat()
                    </MudText>                    
                }
            </div>

            <MudText Typo="Typo.h4" Align="Align.Center">
                @(Subscription.Answer.Quantity < 0 ? "∞" : Subscription.Answer.Quantity)
            </MudText>
            <div class="d-flex flex-column justify-center">
                <MudText Typo="Typo.body1">
                    Mistakes you can make in tests
                </MudText>
                @if (Subscription.Answer.RestoreAt.HasValue)
                {
                    <MudText Typo="Typo.caption">
                        Defaul value will be restored at @Subscription.Answer.RestoreAt.Value.ToSimpleFormat()
                    </MudText>                }
            </div>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Link="@Links.Profile.Overview(Subscription.Subject)" Color="Color.Primary">
            @L["Overview"]
        </MudButton>
    </MudCardActions>
</MudCard>

@code {

    [Parameter]
    public Subscription Subscription { get; set; } = default!;

}