@using Elwark.Education.Web.Gateways.Shop
@inject IShopClient Shop
@inject IStringLocalizer<App> L

<MudDialog DisableSidePadding="true" ClassContent="modal-content" ClassActions="modal-actions" Style="padding: 0">
    <DialogContent>
        <div class="container">
            <div class="ma-6">
                <MudText Typo="Typo.h4" Align="Align.Center">
                    Boost up your learning!
                </MudText>
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    Start with premium subscription today.
                </MudText>
            </div>
            <ApiResponseViewer InitLoader="@(() => Shop.GetSubscriptions(SubjectType))">
                <Loading>
                    <div class="ma-6">
                        <CardsSkeleton Count="3"/>
                    </div>
                </Loading>
                <Result Context="subscriptions">
                    <MudTabs Elevation="1" Rounded="false" Centered="true" Color="Color.Secondary">
                        @foreach (var group in subscriptions.GroupBy(x => x.Days))
                        {
                            <MudTabPanel Text="@(group.Key + " days")">
                                <div class="pricing-grid">
                                    @foreach (var item in group.OrderBy(x => x.Prices[0].Total))
                                    {
                                        <SubscriptionCard
                                            Days="@item.Days"
                                            Id="@item.Id"
                                            Overview="@item.Overview"
                                            Price="@item.Prices[0]"
                                            Title="@item.Title"
                                            Type="@item.Type"/>
                                    }
                                </div>
                            </MudTabPanel>
                        }
                    </MudTabs>
                </Result>
            </ApiResponseViewer>
            <div class="d-flex flex-row justify-center my-3">
                <MudButton Variant="Variant.Filled" Color="Color.Success" Link="@Links.Shop.Index">
                    @L["SeeAll"]
                </MudButton>
            </div>
        </div>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = default!;

    [Parameter]
    public SubjectType SubjectType { get; set; } = SubjectType.Unknown;

}