@using Elwark.Education.Web.Gateways.Models.TestConclusion
@inject IStringLocalizer<App> L

<ul class="@Class">
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <ConclusionStatusChip Status="@Status" IsOnlyText="true"/>
    </li>
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <MudText Typo="Typo.subtitle1">
            @L["Date"]
        </MudText>
        <MudText Typo="Typo.subtitle1">
            @CompletedAt.ToSimpleFormat()
        </MudText>
    </li>
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <MudText Typo="Typo.subtitle1">
            @L["Score"]
        </MudText>
        <MudText Typo="Typo.subtitle1">
            @TotalScore.ToReadable()
        </MudText>
    </li>
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <MudText Typo="Typo.subtitle1">
            @L["TimeSpent"]
        </MudText>
        <MudText Typo="Typo.subtitle1">
            @TimeSpent.ToSimpleFormat()
        </MudText>
    </li>
    <li class="d-flex flex-row justify-end">
        <MudLink Href="@Details">
            @L["Details"]
        </MudLink>
    </li>
</ul>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public ConclusionStatus Status { get; set; }
    
    [Parameter]
    public ulong TotalScore { get; set; }
    
    [Parameter]
    public TimeSpan TimeSpent { get; set; }
    
    [Parameter]
    public DateTime CompletedAt { get; set; }

    [Parameter]
    public string Details { get; set; } = string.Empty;

}
