@inject IStringLocalizer<App> L

<MudCard Class="d-flex flex-column justify-space-between">
    <div class="image" style="background-image: url(@Image)"></div>
    <MudCardContent Class="d-flex flex-column justify-space-between">
        <MudLink Typo="Typo.subtitle1" Href="@Href">
            @Title
        </MudLink>
        <MudText Typo="Typo.body2">
            @Subtitle
        </MudText>
    </MudCardContent>
    <div>
        @if (Progress is not null)
        {
            <div class="progress px-4">
                <MudProgressLinear Maximum="100" Minimum="0" Color="Color.Primary" Value="@(100 - Progress.Percentage)"/>
                <MudText Typo="Typo.subtitle2" Align="Align.Center">
                    @Progress.Percentage%
                </MudText>
            </div>
        }
        <MudCardActions Class="justify-space-between">
            <div>
                <MudButton 
                    Variant="Variant.Text"
                    Color="Color.Primary"
                    Link="@Href"
                    EndIcon="@Filled.ArrowRightAlt">
                    @L["LearnMore"]
                </MudButton>
            </div>
            <div>
                <MudIconButton Icon="@Filled.Favorite" Color="Color.Default"/>
                <MudIconButton Icon="@Filled.Bookmark" Color="Color.Default"/>
            </div>
        </MudCardActions>
    </div>
</MudCard>

@code {

    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Subtitle { get; set; } = string.Empty;

    [Parameter]
    public TopicProgress? Progress { get; set; }

}