@using Elwark.Education.Web.Gateways.Models.Statistics
@inject IStringLocalizer<App> L

<div class="common-grid">
    <MiniStatCard Icon="@Filled.School" Title="@Statistics.PassedTests.ToString()" SubTitle="@L["PassedTests"]"/>

    <MiniStatCard Icon="@Filled.Timer" Title="@Statistics.TimeSpent.ToSimpleFormat()" SubTitle="@L["TimeSpent"]"/>

    <DetailStatCard
        Icon="@Filled.PendingActions"
        Value="@Statistics.Score.Total"
        Title="@L["Score"]"
        Details="@(new Dictionary<string, object> {["By questions"] = Statistics.Score.Questions, ["Unmistakable bonus"] = Statistics.Score.NoMistakes, ["Speed bonus"] = Statistics.Score.Speed})"/>

    <DetailStatCard
        Icon="@Filled.HelpOutline"
        Value="@Statistics.AnswerRatio.Questions"
        Title="@L["Questions"]"
        Details="@(new Dictionary<string, object> {["Correct"] = Statistics.AnswerRatio.Correct, ["Incorrect"] = Statistics.AnswerRatio.Incorrect, ["Answered"] = Statistics.AnswerRatio.Answered, ["Not answered"] = Statistics.AnswerRatio.NotAnswered})"/>

</div>

<div class="ranking-grid">
    <div class="mud-paper mud-elevation-1 pa-6">
        <MudText Typo="Typo.h5" Class="mb-2">
            Score ranking
        </MudText>
        <RankingGrid Ranking="@Statistics.ScoreRanking" LinkBuilder="@LinkBuilder"/>
    </div>

    <div class="mud-paper mud-elevation-1 pa-6">
        <MudText Typo="Typo.h5" Class="mb-2">
            Time spent ranking
        </MudText>
        <RankingGrid
            Ranking="@Statistics.TimeSpentRanking"
            LinkBuilder="@LinkBuilder"
            ValueConverter="@((TimeSpan item) => item.ToSimpleFormat())"/>
    </div>
</div>

@code {

    [Parameter]
    public StatisticsDetail Statistics { get; set; } = default!;

    [Parameter]
    public Func<string, string> LinkBuilder { get; set; } = default!;

}