@using Education.Web.Client.Pages.Account
@using Education.Web.Client.Pages.Authentication
<AuthorizeView>
    <NotAuthorized>
        <MudButton
            Class="ml-3"
            DisableElevation
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Small"
            OnClick="@OnLogin">
            @L["Account:SignIn"]
        </MudButton>
    </NotAuthorized>

    <Authorizing>
        <MudSkeleton Class="ml-3" SkeletonType="SkeletonType.Circle" Width="40px" Height="40px"/>
    </Authorizing>

    <Authorized>
        <MudMenu Class="ml-3" OffsetX Dense Direction="Direction.Left">
            <ActivatorContent>
                <MudImage
                    Class="rounded-circle"
                    Src="@Customer.Image"
                    Alt="@Customer.Name"
                    Width="40"
                    Height="40"
                    ObjectFit="ObjectFit.Cover"
                    ObjectPosition="ObjectPosition.Center"/>
            </ActivatorContent>

            <ChildContent>
                <section class="mud-paper pa-3 mt-n2">
                    <header class="customer">
                        <MudImage
                            Class="rounded-circle mr-3"
                            Src="@Customer.Image"
                            Alt="@Customer.Name"
                            Width="40"
                            Height="40"
                            ObjectFit="ObjectFit.Cover"
                            ObjectPosition="ObjectPosition.Center"/>
                        <MudText Class="one-line-text" Typo="Typo.body1">
                            @Customer.Name
                        </MudText>
                    </header>
                </section>

                <MudDivider Class="mb-3"/>

                <MudListItem Class="px-3" Text="@L["Account"]" Icon="@Icons.Material.Outlined.Person" Href="@AccountUrl.Root"/>
                <MudListItem Class="px-3 mb-n2" Text="@L["Account:Logout"]" Icon="@Icons.Material.Outlined.Login" OnClick="@OnLogout"/>
            </ChildContent>
        </MudMenu>
    </Authorized>
</AuthorizeView>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    private void OnLogin() =>
        Navigation.NavigateToLogin(AuthenticationUrl.LogIn(Navigation.Uri));

    private void OnLogout() =>
        Navigation.NavigateToLogout(AuthenticationUrl.LogOut);

}