<EditForm Model="@_model" OnValidSubmit="@OnValidSubmit">
    <FluentValidationValidator/>

    <div class="form">
        <MudNumericField
            @bind-Value="@_model.Year"
            For="@(() => _model.Year)"
            Label="@_localizer["History_DateGuesser_Year"]"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            HideSpinButtons
            AutoFocus/>

        <MudSelect
            T="uint?"
            @bind-Value="@_model.Month"
            For="@(() => _model.Month)"
            Label="@_localizer["History_DateGuesser_Month"]"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Clearable>
            @foreach (var month in _months)
            {
                <MudSelectItem Value="@month.Key" T="uint?">
                    @month.Value
                </MudSelectItem>
            }
        </MudSelect>

        <MudNumericField
            @bind-Value="@_model.Day"
            For="@(() => _model.Day)"
            Label="@_localizer["History_DateGuesser_Day"]"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            HideSpinButtons/>

        <MudRadioGroup @bind-Value="@_model.IsCe">
            <MudRadio Value="true" Color="Color.Primary" UnCheckedColor="Color.Default">
                @_localizer["History_Date_CE"]
            </MudRadio>
            <MudRadio Value="false" Color="Color.Primary" UnCheckedColor="Color.Default">
                @_localizer["History_Date_BCE"]
            </MudRadio>
        </MudRadioGroup>

        <div class="submit">
            <EduLoadingButton
                ButtonType="ButtonType.Submit"
                Color="Color.Primary"
                DropShadow="false"
                IsLoading="@_isLoading"
                LoadingText="@_localizer["Loading_Title"]"
                Ripple="false"
                Text="@_localizer["QuestionFrom_AnswerToQuestion"]"
                Variant="Variant.Filled"/>
        </div>
    </div>
</EditForm>
