@page "/history/{type}"
@using Education.Client.Gateways.History
@using Education.Client.Gateways.History.Epoch
@using Education.Client.Gateways.History.Topic

@attribute [Authorize]

<MainContainer>
    <DefaultFitGrid>
        <ApiResponseViewer Response="_period">
            <Placeholder>
                <div class="header">
                    <div class="image">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="40vh" Style="display: block;"/>
                    </div>
                    <MudSkeleton Width="30%" Height="42px"/>
                    <MudSkeleton Width="50%"/>
                    <MudSkeleton Width="40%"/>
                    <MudSkeleton Width="80%"/>
                </div>
            </Placeholder>
            <Result Context="period">
                <Title Value="@(period.Title)"></Title>
                <div class="header">
                    <div class="image mb-6">
                        <img src="@period.Image" loading="lazy" alt="@period.Title"/>
                    </div>
                    <MudText Class="title" Typo="Typo.h1">
                        @period.Title
                    </MudText>
                    <div class="period-link">
                        <MudLink Href="@(Links.Subject.History.Index)">
                            @L["Subject:History"]
                        </MudLink>
                    </div>
                    <MudText Typo="Typo.subtitle1" Class="mt-6">
                        @period.Description
                    </MudText>
                </div>
            </Result>
        </ApiResponseViewer>

        <ApiResponseViewer Response="_topics">
            <Placeholder>
                <SkeletonCard/>
                <SkeletonCard/>
                <SkeletonCard/>
                <SkeletonCard/>
            </Placeholder>
            <Result Context="topics">
                @foreach (var item in topics.Items)
                {
                    <TopicCard
                        Id="@item.Id"
                        Image="@item.Image"
                        Title="@item.Title"
                        Overview="@item.Overview"
                        Rating="@item.Rating"
                        Progress="@item.Progress"
                        IsFavorite="@item.IsFavorite"
                        Epoch="@item.Epoch"
                        OnFavoriteClick="@OnFavoriteClick"/>
                }
                <InfinityScroll ObserverTargetId="tg" ObservableTargetReached="@LoadMoreAsync">
                    <div id="tg" class="d-flex justify-center align-center">
                        @if (_request.Page < _topics.Data.Pages)
                        {
                            <MudProgressCircular Indeterminate="true" Size="Size.Large"/>
                        }
                    </div>
                </InfinityScroll>
            </Result>
        </ApiResponseViewer>
    </DefaultFitGrid>
</MainContainer>

@code {
    private ApiResponse<EpochModel> _period = ApiResponse<EpochModel>.Loading();
    private ApiResponse<PageResponse<UserTopicSummary>> _topics = ApiResponse<PageResponse<UserTopicSummary>>.Loading();
    private GetTopicsRequest _request = new(EpochType.Prehistory, 1, 20);

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Type { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _period = ApiResponse<EpochModel>.Loading();
        _topics = ApiResponse<PageResponse<UserTopicSummary>>.Loading();

        if (Enum.TryParse<EpochType>(Type, true, out var type))
        {
            _request = _request with { Epoch = type };

            _period = await HistoryClient.Epoch.GetAsync(type);
            _topics = await HistoryClient.Topic.GetAsync(_request);
        }
        else
        {
            _period = ApiResponse<EpochModel>.Fail(Error.NotFound);
            _topics = ApiResponse<PageResponse<UserTopicSummary>>.Fail(Error.NotFound);
        }
    }

    private async Task LoadMoreAsync()
    {
        if (_request.Page == _topics.Data.Pages)
            return;

        _request = _request with{ Page = _request.Page + 1};
        var response = await HistoryClient.Topic.GetAsync(_request);

        if (response.Status == ResponseStatus.Fail)
        {
            _topics = ApiResponse<PageResponse<UserTopicSummary>>.Fail(response.Error);
            return;
        }

        _topics = ApiResponse<PageResponse<UserTopicSummary>>.Success(
            new PageResponse<UserTopicSummary>(
                _topics.Data.Items.Union(response.Data.Items).ToArray(),
                response.Data.Pages
                )
            );
    }

    private async Task<bool> OnFavoriteClick(string topicId)
    {
        var result = await HistoryClient.Topic.ToggleFavoriteAsync(topicId);
        return result.Status == ResponseStatus.Success && result.Data;
    }

}
