@using ApexCharts
@using Education.Client.Features.History.Clients.Quiz.Model
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
<section class="d-flex flex-column mud-paper gap-3 gap-sm-6">
    <article class="d-flex flex-column flex-sm-row align-sm-center gap-3 gap-sm-6 px-3 pt-3 px-sm-6 pt-sm-6">
        <ApexChart TItem="Data" Options="@Options">
            <ApexPointSeries
                TItem="Data"
                Items="@Series"
                SeriesType="SeriesType.Donut"
                XValue="@(x => x.Name)"
                YAggregate="@(x => x.Sum(e => e.Value))"/>
        </ApexChart>

        <div class="flex-1">
            <div class="mb-3 mb-sm-6">
                <MudText Typo="Typo.h6">
                    @L["Conclusion_ScoreOutOf_Title", Conclusion.TotalScore.Value, Conclusion.TotalScore.Total]
                </MudText>
                <MudText Typo="Typo.body1">
                    @((MarkupString)_subtitle)
                </MudText>
            </div>
            <ul class="mb-3 mb-sm-6">
                <li class="row">
                    <span class="dot" style="background-color: @HistoryChart.Quiz.Score.Questions"></span>
                    <MudText Class="mr-3 mr-sm-6" Typo="Typo.subtitle1">
                        @L["Score_Questions_Title"]
                    </MudText>
                    <MudText Class="ml-auto" Typo="Typo.body1">
                        @Conclusion.QuestionScore.Value / @Conclusion.QuestionScore.Total
                    </MudText>
                </li>
                <li class="row">
                    <span class="dot" style="background-color: @HistoryChart.Quiz.Score.SpeedBonus"></span>
                    <MudText Class="mr-3 mr-sm-6" Typo="Typo.subtitle1">
                        @L["Score_TimeBonus_Title"]
                    </MudText>
                    <MudText Class="ml-auto" Typo="Typo.body1">
                        @Conclusion.TimeBonus.Value / @Conclusion.TimeBonus.Total
                    </MudText>
                </li>
                <li class="row">
                    <span class="dot" style="background-color: @HistoryChart.Quiz.Score.NoMistakesBonus"></span>
                    <MudText Class="mr-3 mr-sm-6" Typo="Typo.subtitle1">
                        @L["Score_AccuracyBonus_Title"]
                    </MudText>
                    <MudText Class="ml-auto" Typo="Typo.body1">
                        @Conclusion.AccuracyBonus.Value / @Conclusion.AccuracyBonus.Total
                    </MudText>
                </li>
                <li class="row">
                    <MudText Class="mr-3 mr-sm-6" Typo="Typo.subtitle1">
                        @L["TimeSpent_Title"]
                    </MudText>
                    <MudText Class="ml-auto" Typo="Typo.body1">
                        @Conclusion.TimeSpent.Value.Humanize(L) / @Conclusion.TimeSpent.Total.Humanize(L)
                    </MudText>
                </li>
            </ul>
        </div>
    </article>

    <div class="d-flex flex-column justify-end px-3 px-sm-6 flex-1">
        <div class="d-flex justify-space-between align-start gap-3 gap-sm-6">
            <MudText Typo="Typo.body1">
                @L["Conclusion_AverageSuccessRateOfUsers_Title"]
            </MudText>
            <MudText Typo="Typo.body1">
                @Percentage.Normalize(Conclusion.Metrics.SuccessRate)%
            </MudText>
        </div>
        <MudProgressLinear Min="0" Max="100" Value="@Percentage.Normalize(Conclusion.Metrics.SuccessRate)" Color="Color.Success" Size="Size.Medium" Rounded/>
    </div>

    <footer class="border-t mud-border-lines-default pa-3">
        <MudButton Class="text-transform-none"
                   DropShadow="false"
                   Ripple="false"
                   EndIcon="@Icons.Material.Outlined.ArrowForward"
                   Href="@HistoryUrl.User.MyArticle(Conclusion.ArticleId)">
            @L["Button_SeeMore"]
        </MudButton>
    </footer>
</section>

@code {
    private string _subtitle = string.Empty;

    private static ApexChartOptions<Data> Options =>
        new()
        {
            Chart = new Chart
            {
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Stroke = new Stroke
            {
                Show = false
            },
            Legend = new Legend
            {
                Show = false
            },
            Colors =
            [
                HistoryChart.Quiz.Score.Questions,
                HistoryChart.Quiz.Score.SpeedBonus,
                HistoryChart.Quiz.Score.NoMistakesBonus,
                Colors.Gray.Lighten1
            ]
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required QuizConclusionModel Conclusion { get; set; }

    protected override void OnParametersSet() =>
        _subtitle = Percentage.Calc(Conclusion.TotalScore.Value - Conclusion.Metrics.AverageScore, Conclusion.Metrics.AverageScore) switch
        {
            var x and > 0 =>
                L["Conclusion_YourScoreIsBetterThan_Description", $"<b class=\"mud-success-text\">{x}%</b>"],

            var x and < 0 =>
                L["Conclusion_YourScoreIsWorseThan_Description", $"<b class=\"mud-error-text\">{x}%</b>"],

            _ => L["Conclusion_YourScoreIsAverage_Description"]
        };

    private Data[] Series =>
    [
        new Data(L["Score_Questions_Title"], Conclusion.QuestionScore.Value),
        new Data(L["Score_TimeBonus_Title"], Conclusion.TimeBonus.Value),
        new Data(L["Score_AccuracyBonus_Title"], Conclusion.AccuracyBonus.Value),
        new Data(L["Score_MistakeDeductions_Title"], Conclusion.TotalScore.Total - Conclusion.TotalScore.Value)
    ];

    private sealed record Data(string Name, decimal Value);

}
