@using Education.Web.Client.Pages.History.Components
@inherits LayoutComponentBase

<MudLayout Class="d-flex flex-column">
    <HistorySettingsProvider>
        <HistoryAppBar DrawerToggleCallback="@ToggleDrawerAsync"/>
        <HistoryDrawer DrawerOpen="@_isOpen" OnDrawerOpenChanged="@OnDrawerOpenChanged"/>

        <main class="mud-main-content d-flex flex-column flex-grow-1">
            @Body
        </main>

        <footer class="pa-3 pa-sm-6">
            <MudText Typo="Typo.subtitle1">
                &copy; @DateTime.Now.Year Elwark
            </MudText>
            <MudImage Src="@ElwarkIcons.Primary60X60" Alt="Elwark logo" Width="40" Height="40"/>
        </footer>

        <MudScrollToTop TopOffset="400">
            <MudFab Icon="@Icons.Material.Outlined.KeyboardArrowUp" Color="Color.Primary"/>
        </MudScrollToTop>
    </HistorySettingsProvider>
</MudLayout>

@code {
    private bool _isOpen;

    [CascadingParameter]
    private AppSettingsProvider AppSettings { get; set; } = default!;

    protected override void OnParametersSet() =>
        _isOpen = AppSettings.IsSidebarOpen;

    private ValueTask ToggleDrawerAsync() =>
        OnDrawerOpenChanged(!_isOpen);

    private ValueTask OnDrawerOpenChanged(bool value) =>
        AppSettings.ToggleSidebarAsync(_isOpen = value);

}