@using Education.Web.Gateways.History
@using MudBlazor.Utilities
<div class="@_class">
    <MudRadioGroup SelectedOption="@SelectedEpoch" SelectedOptionChanged="@SelectedEpochChanged" Class="radio-group">
        @foreach (var epoch in Epochs)
        {
            <MudRadio Option="@epoch.Type" Color="Color.Primary" Class="radio">
                <MudPaper Elevation="0">
                    <MudImage Class="radio-image rounded-t" Alt="@epoch.Title" Src="@epoch.Image"/>
                    <MudText Typo="Typo.subtitle1" Align="Align.Center">
                        @epoch.Title
                    </MudText>
                </MudPaper>
            </MudRadio>
        }
    </MudRadioGroup>
</div>

@code {
    private string? _class;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;
    
    private (EpochType Type, LocalizedString Title, string Image)[] Epochs => new[]
    {
        (EpochType.Prehistory, L["History:Prehistory"], $"/images/history/epochs/{EpochType.Prehistory.ToFastString()}.jpg"),
        (EpochType.Ancient, L["History:Ancient"], $"/images/history/epochs/{EpochType.Ancient.ToFastString()}.jpg"),
        (EpochType.MiddleAges, L["History:MiddleAges"], $"/images/history/epochs/{EpochType.MiddleAges.ToFastString()}.jpg"),
        (EpochType.EarlyModern, L["History:EarlyModern"], $"/images/history/epochs/{EpochType.EarlyModern.ToFastString()}.jpg"),
        (EpochType.Modern, L["History:Modern"], $"/images/history/epochs/{EpochType.Modern.ToFastString()}.jpg"),
        (EpochType.None, L["Topics:Any"], "/images/history/history.jpg")
    };

    [Parameter]
    public EpochType SelectedEpoch { get; set; }

    [Parameter]
    public EventCallback<EpochType> SelectedEpochChanged { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet() =>
        _class = CssBuilder.Default("container")
            .AddClass(Class, () => Class is not null)
            .Build();

}
