@using Education.Web.Gateways.History
<div class="grid @Class">
    <div class="image">
        <img src="@Topic.Image" alt="@Topic.Title" loading="lazy"/>
    </div>
    <article class="text">
        <MudText Typo="Typo.subtitle1" Color="Color.Default" Class="mb-10">
            <em>
                From today's featured topic
            </em>
        </MudText>

        <MudText Typo="Typo.h2" Color="Color.Inherit" Class="mb-3">
            @Topic.Title
        </MudText>

        <RatingStars Rating="@Topic.Rating" ShowDetails Class="my-3"/>

        <MudText Typo="Typo.subtitle1" Class="mb-6">
            @Topic.Overview
        </MudText>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="@HistoryLinks.Content.Topic(Topic.Id)">
            @L["Read"]
        </MudButton>
    </article>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public TopicOverviewModel Topic { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}
