@using MudBlazor.Utilities
@using Education.Web.Services.History
<div class="@_class">
    @foreach (var topic in Topics)
    {
        <article class="card">
            <a href="@HistoryUrl.Content.Topic(topic.Id)" class="card-link"></a>
            <img src="@topic.ThumbnailUrl" alt="@topic.Title" loading="lazy" class="image">
            <div class="text-wrapper">
                <h2 class="title">@topic.Title</h2>
                <p class="overview">@topic.Overview</p>
                <div class="d-flex flex-wrap justify-space-between align-center">
                    <TopicRating Rating="@topic.Rating"/>
                    <MudChip
                        Label
                        DisableRipple="false"
                        Class="chip"
                        Color="Color.Primary"
                        Size="Size.Small"
                        Link="@HistoryUrl.Content.Epoch(topic.Epoch)">
                        @L[$"Epoch:{topic.Epoch.ToFastString()}"]
                    </MudChip>
                </div>
            </div>
        </article>
    }
</div>

@code {

    private CssBuilder _class = CssBuilder.Empty();

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Gap { get; set; }

    [Parameter, EditorRequired]
    public TopicOverviewModel[] Topics { get; set; } = Array.Empty<TopicOverviewModel>();

    protected override void OnParametersSet()
    {
        _class = CssBuilder.Default("grid");

        if (!string.IsNullOrEmpty(Class))
            _class.AddClass(Class);

        if (Gap)
            _class.AddClass("gap");
    }

}
