@using MudBlazor.Utilities
@using Education.Web.Gateways.History
<div class="@($"{_css}")">
    @foreach (var topic in Topics)
    {
        <article class="card">
            <a href="@Links.History.Content.Topic(topic.Id)" class="card-link"></a>
            <img src="@topic.Image" alt="@topic.Title" loading="lazy" class="image">
            <div class="text-wrapper">
                <h2 class="title">@topic.Title</h2>
                <p class="overview">@topic.Overview</p>
                <div class="d-flex flex-wrap justify-space-between align-center">
                    <RatingStars Rating="@topic.Rating"/>
                    <MudChip 
                        Label="true"
                        DisableRipple="false"
                        Class="chip"
                        Color="Color.Primary" 
                        Size="Size.Small"
                        Link="@Links.History.Content.Epoch(topic.Epoch)">
                        @L[$"History:{topic.Epoch}"]
                    </MudChip>
                </div>
            </div>
        </article>
    }
</div>

@code {

    private CssBuilder _css = CssBuilder.Empty();

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Gap { get; set; }

    [Parameter, EditorRequired]
    public TopicOverviewModel[] Topics { get; set; } = Array.Empty<TopicOverviewModel>();

    protected override void OnParametersSet()
    {
        _css = CssBuilder.Default("grid");

        if (!string.IsNullOrEmpty(Class))
            _css.AddClass(Class);

        if (Gap)
            _css.AddClass("gap");
    }

}
