@using Education.Web.Client.Features.History.Services.User.Model

<section class="mud-paper grid pa-3 pa-sm-6 @Class" id="@Achievement.Id">
    @switch (Achievement)
    {
        case Achievement.LadderModel achievement:
            <aside class="icon @IconClass">
                <img class="image" src="@achievement.IconUrl" alt="@Alt" loading="lazy"/>
                <MudText Typo="Typo.caption" Class="mt-1" Style="text-transform: uppercase" Color="Color.Inherit">
                    @L["Shared_AchievementLevel"] @achievement.Level
                </MudText>
            </aside>
            <header class="header">
                <h6 class="title">
                    @achievement.Title
                </h6>
            </header>
            <footer class="progress">
                <div class="d-flex flex-row mb-1">
                    <MetricNumber Value="@achievement.Score" Typo="Typo.subtitle2"/>
                    <span>/</span>
                    <MetricNumber Value="@achievement.Threshold" Typo="Typo.subtitle2"/>
                </div>
                <MudProgressLinear Class="mb-1" Min="0" Max="100" Value="@achievement.Completeness" Color="Color.Primary"/>
                <div class="d-flex flex-row">
                    @foreach (var reward in achievement.Rewards)
                    {
                        <InternalMoney Class="mr-3" Currency="@reward.Currency" Amount="@reward.Amount" Horizontal/>
                    }
                </div>
            </footer>
            break;

        case Achievement.ProgressiveModel achievement:
            <aside class="icon @IconClass">
                <img class="image" src="@achievement.IconUrl" alt="@Alt" loading="lazy"/>
            </aside>
            <header class="header">
                <h6 class="title">
                    @achievement.Title
                </h6>
            </header>
            <footer class="progress">
                <MudProgressLinear Class="mb-1" Min="0" Max="100" Value="@achievement.Completeness" Color="Color.Primary"/>
                <div class="d-flex flex-row">
                    @foreach (var reward in achievement.Rewards)
                    {
                        <InternalMoney Class="mr-3" Currency="@reward.Currency" Amount="@reward.Amount" Horizontal/>
                    }
                </div>
            </footer>
            break;

        case Achievement.CompletedModel achievement:
            <aside class="icon @IconClass completed">
                <img class="image" src="@achievement.IconUrl" alt="@Alt" loading="lazy"/>
            </aside>
            <header class="header">
                <h6 class="title">
                    @achievement.Title
                </h6>
            </header>
            <footer class="progress">
                <MudText Class="mb-1" Typo="Typo.body1">
                    @L["Shared_AchievementCompletedOn"] @DateTimeFormatter(achievement.CompletedAt)
                </MudText>
                <MudText Class="@(achievement.GlobalCompletionPercent < 10 ? "rare-achievement" : null)" Typo="Typo.body2">
                    @L["Shared_PercentOfUsersHaveThisAchievement", achievement.GlobalCompletionPercent]
                </MudText>
            </footer>
            break;
    }

    <section class="description">
        <MudText Typo="Typo.body2">
            @Achievement.Description
        </MudText>
    </section>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public Achievement Achievement { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? IconClass { get; set; } = "green accent-4";

    [Parameter]
    public Func<DateTime, string> DateTimeFormatter { get; set; } = date => date.ToLongDateString();

    private string Alt => $"{L["Shared_Achievements"]}: {Achievement.Title}";
}