@page "/history/my/achievements"
@using Education.Web.Client.Features.History.Services.User.Model
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Shared_Achievements"]
</PageTitle>

<EduPageHeader Class="pa-3 pa-sm-6" Title="@L["Shared_Achievements"]" Breadcrumbs="@Breadcrumbs">
    <MudText Typo="Typo.h5">
        @_subtitle
    </MudText>
</EduPageHeader>

<ApiViewer Result="@_result" Context="achievements">
    <MudGrid Class="px-3 pb-3 px-sm-6 pb-sm-6" Spacing="0">
        @for (var index = 0; index < achievements.Categories.Length; index++)
        {
            var category = achievements.Categories[index];
            var background = GetIconBackground(category.Name);
            var classes = index == 0 ? null : "mt-6 mt-sm-16";

            <MudItem xs="12" md="3" xxl="2" Class="@classes">
                <div class="sticky-info">
                    <div class="d-flex align-center justify-space-between gap-3 mb-3">
                        <MudText Typo="@Typo.h5">
                            @category.Title
                        </MudText>
                        <MudText Typo="@Typo.subtitle1">
                            @category.Completed/@category.Total
                        </MudText>
                    </div>

                    <MudText Typo="@Typo.body1">
                        @category.Description
                    </MudText>
                </div>
            </MudItem>

            <MudItem xs="12" md="9" xxl="10" Class="@classes">
                <EduFillGrid>
                    @foreach (var achievement in category.Achievements)
                    {
                        <AchievementCard
                            Achievement="@achievement"
                            IconClass="@background"
                            DateTimeFormatter="@DateTimeFormatter"/>
                    }
                </EduFillGrid>
            </MudItem>
        }
    </MudGrid>
</ApiViewer>

@code {
    private string? _subtitle;

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["History_Title"].Value, HistoryUrl.Root),
        new BreadcrumbItem(L["Shared_UserProfile"].Value, HistoryUrl.User.MyProfile)
    };

    private ApiResult<AchievementsModel> _result = ApiResult<AchievementsModel>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryUserService UserService { get; set; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _result = await UserService.GetAchievementsAsync();
        _subtitle = _result.Map(x => $"{x.Completed} / {x.Total}")
            .UnwrapOr(string.Empty);
    }

    private static string GetIconBackground(string category) =>
        category switch {
            "EasyQuizzes" => "blue lighten-3 white-text",
            "HardQuizzes" => "blue lighten-1 white-text",
            "MixedQuizzes" => "blue darken-2 white-text",
            "Quizzes" => "blue darken-4 white-text",

            "SmallEventGuessers" => "orange lighten-2 white-text",
            "MediumEventGuessers" => "orange lighten-1 white-text",
            "LargeEventGuessers" => "orange darken-2 white-text",
            "EventGuessers" => "orange darken-4 white-text",

            "Contests" => "green lighten-1 white-text",
            "Earnings" => "green darken-1 white-text",
            "Levels" => "green darken-2 white-text",
            "Quests" => "green darken-3 white-text",

            _ => "pink accent-4 white-text"
            };

    private string DateTimeFormatter(DateTime dateTime) =>
        Customer.Humanize(dateTime);

}