@page "/history/store"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["InventoryStore_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1600">
    <MudTabs Class="rounded-t" Elevation="0">
        <Header>
            <section class="d-flex flex-wrap flex-sm-nowrap align-center gap-3 pa-3">
                <div class="d-flex align-center gap-3">
                    @foreach (var (currency, amount) in _profile.Wallet)
                    {
                        <InternalMoney Currency="@currency" Amount="@amount" Typo="Typo.body1" Horizontal/>
                    }
                </div>

                <BackpackOverview Fullness="@_profile.Backpack.Fullness" Capacity="@_profile.Backpack.Capacity"/>
            </section>
        </Header>

        <PrePanelContent>
            <ProductsToolbar Class="mud-paper rounded-b pa-3 mb-3 mb-sm-6" @bind-Filter="@(_filter)"/>
        </PrePanelContent>

        <ChildContent>
            <MudTabPanel Icon="@Icons.Material.Outlined.Inventory2" Text="@L["History_InventoryStore_Catalog_Inventories"]">
                <InventoryProducts
                    Profile="@_profile"
                    Filter="@_filter"
                    IsAffordable="@IsInventoryAffordable"
                    OnProductPurchased="@LoadInventoryAsync"/>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Outlined.ShoppingBag" Text="@L["History_InventoryStore_Catalog_Bundles"]">
                <BundleProducts
                    Profile="@_profile"
                    Filter="@_filter"
                    IsAffordable="@IsBundleAffordable"
                    OnProductPurchased="@LoadInventoryAsync"/>
            </MudTabPanel>
        </ChildContent>
    </MudTabs>
</EduContainer>