<section class="mud-paper d-flex flex-column pa-3">
    <div class="mud-background rounded-lg relative mb-3">
        <div class="d-flex justify-center align-center px-6 pt-6 pb-3">
            <MudImage Src="@IconUrl" Width="42" Height="42"/>
        </div>
        <div class="d-flex justify-space-between px-1">
            <ReadableNumber Value="@Count" Typo="Typo.body1"/>
            <MudTooltip Placement="Placement.Left">
                <ChildContent>
                    <MudIconButton Class="pa-0 ma-0" Icon="@Icons.Outlined.Info" Size="Size.Small"/>
                </ChildContent>
                <TooltipContent>
                    <div class="d-flex flex-column align-start">
                        <MudText Typo="Typo.subtitle1" Color="Color.Info" Class="mb-1">@Title</MudText>
                        <MudText Typo="Typo.body2">@Overview</MudText>
                    </div>
                </TooltipContent>
            </MudTooltip>
        </div>
    </div>

    <MudText Class="title" Typo="Typo.subtitle1">
        @Title
    </MudText>

    @if (!string.IsNullOrEmpty(Subtitle))
    {
        <MudText Class="subtitle" Typo="Typo.subtitle2">
            @Subtitle
        </MudText>
    }

    @ChildContent
</section>

@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter, EditorRequired]
    public string? Overview { get; set; }

    [Parameter, EditorRequired]
    public string? IconUrl { get; set; }

    [Parameter, EditorRequired]
    public uint Count { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}