@using Education.Web.Client.Services.History
<section class="card">
    <header class="card-header">
        <a href="@HistoryUrl.Content.Topic(Topic.Id)">
            <img src="@Topic.ThumbnailUrl" alt="@Topic.Title" loading="lazy"/>
        </a>
        <div class="rating-container">
            <TopicRating Rating="@Topic.Rating" ShowTooltip/>
        </div>
    </header>

    <aside class="d-flex align-center justify-space-between px-3">
        <MudChip Class="mx-0" Label DisableRipple Size="Size.Small" Variant="Variant.Text" Color="Color.Primary" Link="@HistoryUrl.Content.Epoch(Topic.Epoch)">
            @L[$"Epoch:{Topic.Epoch.ToFastString()}"]
        </MudChip>

        <BookmarkButton
            IsBookmarked="@UserActivity.IsBookmarked"
            TopicId="@Topic.Id"
            OnBookmarkClick="@OnBookmarkClick"/>
    </aside>

    <article class="px-3">
        <MudLink Href="@HistoryUrl.Content.Topic(Topic.Id)" Typo="Typo.h6">
            @Topic.Title
        </MudLink>
        <MudText Typo="Typo.body2" Class="pt-3">
            @Topic.Overview
        </MudText>
    </article>

    <section class="progress">
        <TopicProgressView PassedTests="@UserActivity.PassedTests" TimeSpent="@UserActivity.TimeSpent" Class="px-3"/>
    </section>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public TopicOverviewModel Topic { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserActivityOverviewModel UserActivity { get; set; } = default!;

    [Parameter]
    public Func<string, Task<bool>> OnBookmarkClick { get; set; } = _ => Task.FromResult(false);

}