@page "/history/my/profile"
@layout HistoryLayout

@using Education.Client.Gateways.History
@using Education.Client.Gateways.History.Me
@using Education.Client.Features.History.My.Components
@using Education.Client.Features.History.My.Profile.Components

@attribute [Authorize]

<PageTitle>@L["Profile"]</PageTitle>
<MainContainer>
    <PageHeader Title="@L["Profile"]" Class="mb-3 mb-sm-6" Breadcrumbs="@Breadcrumbs"/>
    <ApiViewer Response="@_overview">
        <Loading>
            <div class="grid">
                <SkeletonCard Class="subject"/>
                <SkeletonCard Class="level"/>
                <SkeletonCard Class="achievements"/>
                <SkeletonCard Class="balance"/>
                <SkeletonCard Class="daily-reward"/>
                <SkeletonCard Class="easy-test"/>
                <SkeletonCard Class="hard-test"/>
                <SkeletonCard Class="mixed-test"/>
                <SkeletonCard Class="event-guesser"/>
                <SkeletonCard Class="activity"/>
            </div>
        </Loading>
        <Success Context="overview">
            <div class="grid">
                <SubjectCard
                    Class="subject"
                    Subject="SubjectType.History"
                    Subscription="@overview.Subscription"
                    TestCreation="@overview.TestCreation"
                    TestQuestionMistakes="@overview.TestMistakes"
                    TestDurationCoefficient="@overview.TestDurationCoefficient"
                    EventGuesserCreation="@overview.EventGuesser"
                    OnBuyClick="@OnBuyClick"/>

                <LevelCard
                    Class="level"
                    Experience="@(new ExperienceCurrency(overview.Profile.Experience))"
                    Silver="@(new SilverCurrency(overview.Profile.Silver))"
                    Level="@overview.Profile.Level"
                    NextLevelExperience="@overview.Profile.NextLevelExperience"/>

                <AchievementsCard
                    Class="achievements"
                    Achievements="@overview.Achievements"/>

                <RecentTransactionsCard
                    Class="balance"
                    Transactions="@overview.Profile.Transactions"/>

                <DailyRewardCard
                    Class="daily-reward"
                    Reward="@overview.DailyReward"
                    OnCollect="@CollectDailyReward"/>

                <StatisticsCard
                    Class="easy-test"
                    Icon="@EducationIcons.Tests"
                    Title="@L["Tests:Easy"]"
                    Value="@overview.Statistics.EasyTest.NumberOfTests.Total"
                    Href="@Links.History.MyEasyTests">
                    <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                    <ScoreChart Value="@overview.Statistics.EasyTest.Score"/>
                </StatisticsCard>

                <StatisticsCard
                    Class="hard-test"
                    Icon="@EducationIcons.Tests"
                    Title="@L["Tests:Hard"]"
                    Value="@overview.Statistics.HardTest.NumberOfTests.Total"
                    Href="@Links.History.MyHardTests">
                    <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                    <ScoreChart Value="@overview.Statistics.HardTest.Score"/>
                </StatisticsCard>

                <StatisticsCard
                    Class="mixed-test"
                    Icon="@EducationIcons.Tests"
                    Title="@L["Tests:Mixed"]"
                    Value="@overview.Statistics.MixedTest.NumberOfTests.Total"
                    Href="@Links.History.MyMixedTests">
                    <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                    <ScoreChart Value="@overview.Statistics.MixedTest.Score"/>
                </StatisticsCard>

                <StatisticsCard
                    Class="event-guesser"
                    Icon="@EducationIcons.EventGuesser"
                    Title="@L["EventGuesser"]"
                    Value="@overview.Statistics.EventGuesser.Tests"
                    Href="@Links.History.MyEventGuessers">
                    <Subheader Title="@L["Score"]" Subtitle="@L["ForAllTime"]"/>
                    <EventGuesserScoreChart
                        Score="@overview.Statistics.EventGuesser.Score"
                        Points="@overview.Statistics.EventGuesser.Points"
                        Bonus="@overview.Statistics.EventGuesser.Bonus"/>
                </StatisticsCard>

                <ActivityOverviewCard
                    Class="activity"
                    Title="@L["Test:MyActivity"]"
                    Activities="@overview.Statistics.Activities"/>
            </div>
        </Success>
    </ApiViewer>
</MainContainer>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Account"].Value, Links.Account.Index)
    };

    private ApiResponse<HistoryUserProfile> _overview = ApiResponse<HistoryUserProfile>.Loading();

    [Inject]
    private IDialogService Dialog { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _overview = await HistoryClient.Me.GetOverviewAsync();
    }

    private void OnBuyClick()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,
            NoHeader = true,
            CloseButton = false,
            FullWidth = true
        };

        var parameters = new DialogParameters
        {
            [nameof(SubscriptionModal.SubjectType)] = SubjectType.History
        };

        Dialog.Show<SubscriptionModal>(null, parameters, options);
    }

    private async Task CollectDailyReward()
    {
        var response = await HistoryClient.Me.CollectDailyReward();
        if (response.Status == ResponseStatus.Success)
            await OnInitializedAsync();
    }

}
