@using Education.Web.Gateways.History
@using Education.Web.Gateways.History.Topics.Model
@using Education.Web.Gateways.Models.Content
@using Education.Web.Pages.History.Components

<EduContainer MaxWidth="EduWidth.W1920" Class="pa-0">
    <div class="grid">
        <div class="image">
            <MudImage Src="@Image" Fluid Alt="@Title" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center"/>
        </div>

        <div class="content pa-3 pa-sm-6">
            <h1 class="title mb-3">
                @Title
            </h1>
            <Breadcrumbs Items="@Breadcrumbs" Class="pa-0 mb-3"/>
            <div class="d-flex flex-wrap">
                @if (Born is not null)
                {
                    <div class="mr-3 mr-sm-6 mb-3">
                        <MudText Typo="Typo.subtitle1">
                            @L["History:Born"]
                        </MudText>
                        <HistoryDate Date="@Born" Typo="Typo.h5"/>
                        <MudText Typo="Typo.body2">
                            @Born.Place
                        </MudText>
                    </div>
                }
                @if (Died is not null)
                {
                    <div class="mb-3">
                        <MudText Typo="Typo.subtitle1">
                            @L["History:Died"]
                        </MudText>
                        <HistoryDate Date="@Died" Typo="Typo.h5"/>
                        <MudText Typo="Typo.body2">
                            @Died.Place
                        </MudText>
                    </div>
                }
            </div>

            <MudText Typo="Typo.subtitle1" Class="mw-sm">
                @Description
            </MudText>
        </div>
    </div>

    <div class="details">
        @foreach (var (title, text) in Details)
        {
            <div class="pa-3 px-sm-6">
                <MudText Class="title" Typo="Typo.subtitle1" Color="Color.Tertiary">
                    @title
                </MudText>
                <SimpleMarkdown Text="@text"/>
            </div>
        }
    </div>
</EduContainer>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Description { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Image { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public PersonBirthdayModel? Born { get; set; }

    [Parameter, EditorRequired]
    public PersonBirthdayModel? Died { get; set; }

    [Parameter, EditorRequired]
    public PersonalDetailModel[] Details { get; set; } = Array.Empty<PersonalDetailModel>();

    [Parameter, EditorRequired]
    public List<BreadcrumbItem> Breadcrumbs { get; init; } = new();

}
