@using Education.Web.Services.Settings
@implements IDisposable

<section class="@Class mud-paper pa-3 pa-sm-6">
    <div class="d-flex justify-space-between align-center mb-3 mb-sm-6">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["Topic:TextAlignment"]
        </MudText>
        <MudButtonGroup DisableElevation Size="Size.Small" Variant="Variant.Outlined">
            <MudIconButton
                DisableElevation
                Disabled="@(Settings.TextAlign == Align.Left)"
                Icon="@Icons.Outlined.FormatAlignLeft"
                OnClick="@Settings.AlignTextLeftAsync"/>
            <MudIconButton
                DisableElevation
                Disabled="@(Settings.TextAlign == Align.Center)"
                Icon="@Icons.Outlined.FormatAlignCenter"
                OnClick="@Settings.AlignTextCenterAsync"/>
            <MudIconButton
                DisableElevation
                Disabled="@(Settings.TextAlign == Align.Right)"
                Icon="@Icons.Outlined.FormatAlignRight"
                OnClick="@Settings.AlignTextRightAsync"/>
            <MudIconButton
                DisableElevation
                Disabled="@(Settings.TextAlign == Align.Justify)"
                Icon="@Icons.Outlined.FormatAlignJustify"
                OnClick="@Settings.AlignTextJustifyAsync"/>
        </MudButtonGroup>
    </div>

    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["Topic:FontSize"]
            <MudText Typo="Typo.caption" Class="mud-text-secondary">
                @($"x{Settings.FontSize:N1}")
            </MudText>
        </MudText>
        <MudButtonGroup DisableElevation Size="Size.Small" Variant="Variant.Outlined">
            <MudIconButton
                DisableElevation
                Disabled="@(!Settings.CanDecreaseFont)"
                Icon="@Icons.Outlined.Remove"
                OnClick="@Settings.DecreaseFontAsync"/>
            <MudIconButton
                DisableElevation
                Disabled="@(!Settings.CanIncreaseFont)"
                Icon="@Icons.Outlined.Add"
                OnClick="@Settings.IncreaseFontAsync"/>
        </MudButtonGroup>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private TopicContentSettings Settings { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    protected override void OnInitialized() =>
        Settings.OnChange += StateHasChanged;

    public void Dispose() =>
        Settings.OnChange -= StateHasChanged;

}