@page "/profile/{subject}/statistics"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.Statistics
@using Elwark.Education.Web.Pages.Profile.Components

@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L

@attribute [Authorize]

<ProfileSubjectHeader SubjectType="@_subject" Selected="@(ProfileSubMenu.Statistics)"/>
<div class="ma-6">
    <ApiResponseViewer Response="@_response">
        <Loading>
            <div class="grid">
                <SkeletonCard/>
            </div>
        </Loading>
        <Result Context="statistics">
            <Title Value="@L["Statistics"]"></Title>
            <div class="grid">
                <div>
                    <MudText Typo="Typo.h4" Class="mb-3">
                        @L["Statistics:ByTopics"]
                    </MudText>
                    <ProfileTopicStatistics
                        Statistics="@statistics.Topics"
                        LinkBuilder="@(id => Links.Subjects.Topic(_subject, id))"/>
                </div>
                <div>
                    <MudText Typo="Typo.h4" Class="mb-3">
                        @L["Statistics:ByArticles"]
                    </MudText>
                    <ProfileArticleStatistics
                        Class="mb-6"
                        Statistics="@statistics.Articles"
                        LinkBuilder="@(id => Links.Subjects.Article(_subject, id))"/>
                </div>
            </div>
        </Result>
    </ApiResponseViewer>
</div>

@code {

    [Parameter]
    public string Subject { get; set; } = string.Empty;

    private SubjectType _subject;
    private ApiResponse<ContentStatistics> _response = ApiResponse<ContentStatistics>.Loading();

    protected override async Task OnParametersSetAsync()
    {
        Enum.TryParse(Subject, true, out _subject);
        _response = _subject switch
        {
            SubjectType.History => await HistoryClient.GetMyStatisticsAsync(),
            _ => ApiResponse<ContentStatistics>.Fail(Error.NotFound)
            };
    }
}
