<section class="@Class">
    <header class="d-flex align-center justify-space-between">
        <MudText Typo="Typo.h6">
            @L["Experience:Level"] @Level
        </MudText>
        <MudIcon Icon="@EduIcons.Level" Size="Size.Small"/>
    </header>

    <MudProgressLinear Class="mb-1" Rounded Color="Color.Primary" Size="Size.Medium" Max="@Threshold" Value="@Experience"/>

    <div class="d-flex justify-space-between align-start">
        <MetricNumber Value="@_percentage" Typo="Typo.body2" EndIcon="%"/>
        <div class="d-flex align-center">
            <MetricNumber Value="@Experience" Typo="Typo.body2"/>
            <div>&nbsp;/&nbsp;</div>
            <MetricNumber Value="@Threshold" Typo="Typo.body2"/>
            <MudIcon Icon="@EduIcons.Experience" Class="ml-1" Size="Size.Small"/>
        </div>
    </div>
</section>

@code {
    private double _percentage = 0;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public uint Level { get; set; }

    [Parameter, EditorRequired]
    public ulong Experience { get; set; }

    [Parameter, EditorRequired]
    public ulong Threshold { get; set; }

    protected override void OnParametersSet() =>
        _percentage = 100.0 * Experience / Threshold;

}