@page "/history/date-guessers/{id}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["History_DateGuessers_Title"]
</PageTitle>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <header class="timer">
                <section class="d-flex flex-wrap justify-space-between gap-3">
                    <MudText Typo="Typo.subtitle1">
                        @L["Test_QuestionOutOf", context.CompletedQuestions, context.TotalQuestions]
                    </MudText>

                    <div class="d-flex align-center">
                        <MudIcon Icon="@EduIcons.Score" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                        <MudText Typo="Typo.subtitle1">
                            @context.Score.Total
                        </MudText>
                    </div>
                </section>

                <MudProgressLinear
                    Min="0"
                    Max="100"
                    Value="@Progress"
                    Color="Color.Primary"
                    Size="Size.Medium"
                    Rounded/>

                <BonusCountdown X2BonusUntil="@context.X2BonusUntil"/>
            </header>

            <section class="guesser mud-paper pa-3 pa-sm-6">
                <MudText Class="d-block mud-text-secondary" Typo="Typo.caption" Align="Align.Center">
                    @L.GetDateGuesserSizeTitle(context.Size)
                </MudText>
                <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Align="Align.Center">
                    @context.Question.Title
                </MudText>

                <DateGuesserForm QuestionId="@context.Question.Id" OnAnswer="@OnValidSubmit"/>
            </section>

            <InventoryGrid Class="inventory align-grid-start" Inventories="@context.Inventories" Context="inventory">
                @if (inventory.IsInteractive)
                {
                    <InventoryButtonCard
                        Id="@inventory.InventoryId"
                        Quantity="@inventory.Quantity"
                        Title="@inventory.Title"
                        Overview="@inventory.Overview"
                        IconUrl="@inventory.ImageUrl"
                        ButtonText="@L["Inventory_Use_Button"]"
                        OnClick="@OnUseInventory"/>
                }
                else
                {
                    <InventoryInfoCard
                        Title="@inventory.Title"
                        Overview="@inventory.Overview"
                        Quantity="@inventory.Quantity"
                        IconUrl="@inventory.ImageUrl"/>
                }
            </InventoryGrid>
        </section>
    </EduContainer>
</EduApiViewer>
