@page "/history/date-guessers"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["History_DateGuessers_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <section class="builder">
                <MudText Class="mb-3" Typo="Typo.h6">
                    @L["History_Epoch_Title"]
                </MudText>
                <EpochRadioGroup
                    Class="mb-3 mb-sm-6"
                    SelectedEpoch="@_settings.Epoch"
                    SelectedEpochChanged="@ChangeEpochAsync"/>

                <MudText Class="mb-3" Typo="Typo.h6">
                    @L["History_DateGuesser_Type_Title"]
                </MudText>

                <DateGuesserSizes
                    Guessers="@context.Tests"
                    OnClick="@CreateTestAsync"/>
            </section>

            <section class="inventory">
                <MudText Class="mb-3" Typo="Typo.h6">
                    @L["History_DateGuesser_Equipment"]
                </MudText>
                <InventoryGrid
                    Inventories="@context.Inventories"
                    StoreHref="@HistoryUrl.Store.Index(CategoryType.DateGuesser)">
                    <ChildContent Context="inventory">
                        <InventoryInfoCard
                            Title="@inventory.Title"
                            Overview="@inventory.Overview"
                            Quantity="@inventory.Quantity"
                            IconUrl="@inventory.ImageUrl"/>
                    </ChildContent>
                    <EmptyContent>
                        <InventoryShortageCard
                            Class="w-max-600"
                            Href="@HistoryUrl.Store.Index(CategoryType.DateGuesser)"/>
                    </EmptyContent>
                </InventoryGrid>
            </section>
        </section>
    </EduContainer>
</EduApiViewer>
