@page "/history/date-guessers/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["History_DateGuesser_Completed"]
</PageTitle>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync" Context="conclusion">
    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <article class="d-flex flex-column mud-paper gap-3 gap-sm-6 py-3 py-sm-6">
                <EduCompletedStars Class="mb-6" Progress="@_progress"/>

                <MudAlert
                    Class="mb-3"
                    Severity="Severity.Success"
                    ContentAlignment="HorizontalAlignment.Center"
                    Square>
                    @_localizer["History_DateGuesser_Completed"]
                </MudAlert>

                <RewardsContainer Class="flex-1" Rewards="@conclusion.Rewards"/>

                <div class="d-flex justify-center">
                    <MudButton
                        Color="Color.Primary"
                        DropShadow="false"
                        Href="@HistoryUrl.DateGuesser.Index"
                        Ripple="false"
                        Size="Size.Large"
                        Variant="Variant.Filled">
                        @_localizer["History_DateGuesser_TakeTheGuesserAgain"]
                    </MudButton>
                </div>
            </article>

            @* <ScoreConclusionCard Conclusion="@context"/> *@
        </section>
    </EduContainer>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <MudTable
            Items="@conclusion.Questions"
            Breakpoint="Breakpoint.Sm"
            Class="mb-3 mb-sm-6"
            Elevation="0"
            Hover>
            <HeaderContent>
                <MudTh>@_localizer["Article_Title"]</MudTh>
                <MudTh>@_localizer["Question_Title"]</MudTh>
                <MudTh>@_localizer["History_DateGuesserCorrect_Answer"]</MudTh>
                <MudTh>@_localizer["History_DateGuesser_UserAnswer"]</MudTh>
                <MudTh>@_localizer["History_DateGuesser_Points"]</MudTh>
                <MudTh>@_localizer["History_DateGuesser_x2Bonus"]</MudTh>
                <MudTh>@_localizer["History_DateGuesser_Score"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@_localizer["Article_Title"]">
                    <MudLink Href="@HistoryUrl.Content.Article(context.Article.Id)">
                        @context.Article.Title
                    </MudLink>
                </MudTd>
                <MudTd DataLabel="@_localizer["Question_Title"]">
                    @context.Title
                </MudTd>
                <MudTd DataLabel="@_localizer["History_DateGuesserCorrect_Answer"]">
                    <HistoryDate Typo="Typo.body2" Date="@context.CorrectAnswer"/>
                </MudTd>
                <MudTd DataLabel="@_localizer["History_DateGuesser_UserAnswer"]">
                    <HistoryDate
                        Typo="Typo.body2"
                        Date="@context.UserAnswer"
                        Color="@(context.IsCorrect ? Color.Success : Color.Error)"/>
                </MudTd>
                <MudTd DataLabel="@_localizer["History_DateGuesser_Points"]">
                    @context.Score.Points
                </MudTd>
                <MudTd DataLabel="@_localizer["History_DateGuesser_x2Bonus"]">
                    @context.Score.Bonus
                </MudTd>
                <MudTd DataLabel="@_localizer["History_DateGuesser_Score"]">
                    @context.Score.Total
                </MudTd>
            </RowTemplate>
            <FooterContent>
                <MudTh/>
                <MudTh/>
                <MudTh/>
                <MudTh/>
                <MudTh>
                    @conclusion.Score.Points
                </MudTh>
                <MudTh>
                    @conclusion.Score.Bonus
                </MudTh>
                <MudTh>
                    <div class="d-flex align-center">
                        <MudText Typo="Typo.subtitle1">
                            @conclusion.Score.Total
                        </MudText>
                        <MudIcon Icon="@EduIcons.Score" Class="ml-1" Size="Size.Small" Color="Color.Primary"/>
                    </div>
                </MudTh>
            </FooterContent>
        </MudTable>
    </EduContainer>
</EduApiViewer>
