@page "/history/my/backpack"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Backpack_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <EduPageHeader Title="@L["Backpack_Title"]" Breadcrumbs="@Breadcrumbs">
        <MudText Typo="Typo.h5">
            @_capacity
        </MudText>
    </EduPageHeader>
</EduContainer>

<ApiViewer Result="@_result" Context="model">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <article class="content">
                <InventoryGrid Inventory="@model.Items" StoreHref="@HistoryUrl.Store.Index" Context="inventory">
                    <InventoryInfoCard
                        IconUrl="@inventory.IconUrl"
                        Overview="@inventory.Overview"
                        Quantity="@inventory.Quantity"
                        Subtitle="@inventory.Category.Title"
                        Title="@inventory.Title"/>
                </InventoryGrid>
            </article>
            <aside class="sidebar">
                @foreach (var item in _wallet)
                {
                    <WalletCard Wallet="@item"/>
                }
            </aside>
        </section>
    </EduContainer>
</ApiViewer>
