@using Education.Web.Client.Services.History.User.Model
@using Education.Web.Client.Pages.History.My.Components
@using Education.Web.Client.Models.Test
<div class="d-flex flex-wrap align-center justify-space-between mb-3 mr-3">
    <MudLink Href="@Href" Typo="Typo.h5">
        @Title
    </MudLink>
    <div class="d-flex align-center">
        <MudTooltip Text="@L["TimeSpent"]">
            <MudText Typo="Typo.h5" Class="mr-3">
                @Test.TimeSpent.ToSimpleFormat()
            </MudText>
        </MudTooltip>
        <MudAvatar Color="Color.Primary" Size="Size.Medium">
            <MudIcon Icon="@EduIcons.TimeSpent" Size="Size.Medium"/>
        </MudAvatar>
    </div>
</div>

<EduFitGrid Class="mb-3 mb-sm-6">
    <StatisticsCard Title="@L["Tests"]" Value="@Test.NumberOfTests.Total">
        <NumberOfTestChart Value="@Test.NumberOfTests"/>
    </StatisticsCard>
    <StatisticsCard Title="@L["Score"]" Value="@Test.Score.Total">
        <ScoreChart Value="@Test.Score"/>
    </StatisticsCard>
    <StatisticsCard Title="@L["Questions"]" Value="@Test.AnswerRatio.Questions">
        <AnswerRatioChart Value="@Test.AnswerRatio"/>
    </StatisticsCard>
</EduFitGrid>

@if (Test.Conclusions.Length > 0)
{
    <MudExpansionPanels Elevation="0">
        @foreach (var conclusion in Test.Conclusions)
        {
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex">
                        <MudText Typo="Typo.subtitle1" Class="mr-3">
                            @conclusion.CompletedAt.ToCustomerFormat(Customer.DateTimeInfo)
                        </MudText>
                        <MudText Typo="@Typo.subtitle1" Color="@conclusion.Status.GetColor()">
                            @L[$"ConclusionStatus:{conclusion.Status}"]
                        </MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <TestConclusionList
                        TimeSpent="@conclusion.TimeSpent"
                        Score="@conclusion.Score"
                        AnswerRatio="@conclusion.AnswerRatio"/>
                </ChildContent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
}

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Href { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public ArticleStatisticsModel.ProgressModel Test { get; set; } = default!;

}