<article class="mud-paper card @(Horizontal ? "horizontal" : "vertical") @Class">
    <header class="card-header">
        <a href="@HistoryUrl.Content.Article(Article.Id)">
            <img src="@Article.ThumbnailUrl" alt="@Article.Title" loading="lazy"/>
        </a>
    </header>

    <section class="content flex-grow-1 gap-3 pa-3">
        <header>
            <div class="mb-1 @(OneLineTitle ? "one-line-text" : null)">
                <MudLink Href="@HistoryUrl.Content.Article(Article.Id)" Typo="Typo.h6" Alt="@Article.Title" Title="@Article.Title">
                    @Article.Title
                </MudLink>
            </div>
            <MudChip Class="ma-0" Href="@HistoryUrl.Content.Articles(Article.Epoch)" Color="Color.Default" Size="Size.Small" Label>
                @L.GetEpochTitle(Article.Epoch)
            </MudChip>
        </header>

        <div class="flex-grow-1">
            @if (!HideOverview)
            {
                <MudText Typo="Typo.body1">
                    @(ShortOverview && Article.Overview.Length > 60 ? $"{Article.Overview[..57].TrimEnd()}..." : Article.Overview)
                </MudText>
            }
        </div>

        <footer class="d-flex align-center gap-3">
            <ContentRating Rating="@Article.Rating" Compact/>
            <MudTooltip Text="@L["TimeToRead_Title"]">
                <div class="d-flex align-center mud-text-secondary">
                    <MudIcon Class="mr-1" Icon="@EduIcons.TimeToRead" Size="Size.Small"/>
                    <MudText Typo="Typo.body1">@Article.TimeToRead.Humanize(L)</MudText>
                </div>
            </MudTooltip>

            <MudSpacer/>

            @if (HasQuiz)
            {
                <ArticleCompletionChip
                    Status="@(Activity?.Status ?? LearningStatus.NotEngaged)"
                    Href="@HistoryUrl.User.MyArticle(Article.Id)"
                    Size="Size.Small"
                    ShowTooltip/>
            }

            <AuthorizeView>
                <BookmarkButton
                    Id="@Article.Id"
                    IsBookmarked="@(Activity?.IsBookmarked ?? false)"
                    OnBookmarkClick="@OnBookmarkClick"/>
            </AuthorizeView>
        </footer>
    </section>
</article>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required ArticleOverviewModel Article { get; set; }

    [Parameter, EditorRequired]
    public bool HasQuiz { get; set; }

    [Parameter, EditorRequired]
    public UserArticleActivityModel? Activity { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Horizontal { get; set; }

    [Parameter]
    public bool HideOverview { get; set; }

    [Parameter]
    public bool ShortOverview { get; set; }

    [Parameter]
    public bool OneLineTitle { get; set; }

}