<section class="mud-paper d-flex flex-column pa-3 @Class">
    <div class="mud-background rounded-lg relative mb-3">
        <div class="d-flex justify-center align-center @(Quantity.HasValue ? "px-6 py-3" : "pa-6")">
            <img class="image" src="@IconUrl" alt="@Title" loading="lazy"/>
        </div>
        @if (Quantity.HasValue)
        {
            <MetricNumber Value="@Quantity.Value" Typo="Typo.subtitle2" Align="Align.Center"/>
        }
    </div>

    <header class="d-flex justify-space-between align-end gap-3">
        <h6 class="mud-typography mud-typography-subtitle1 one-line-text" title="@Title">
            @Title
        </h6>
        
        <InfoTooltip Title="@Title" Description="@Overview"/>
    </header>

    @if (!string.IsNullOrEmpty(Subtitle))
    {
        <p class="mud-typography mud-typography-subtitle2 one-line-text" title="@Subtitle">
            @Subtitle
        </p>
    }

    @ChildContent
</section>

@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter, EditorRequired]
    public string? Overview { get; set; }

    [Parameter, EditorRequired]
    public string? IconUrl { get; set; }

    [Parameter]
    public uint? Quantity { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}