<section class="mud-paper d-flex flex-column pa-3 @Class">
    <EduInventoryIcon Class="px-3 py-6 mb-3" ImageUrl="@IconUrl" Title="@Title" Quantity="@Quantity"/>

    @if (!string.IsNullOrEmpty(Subtitle))
    {
        <MudText Class="one-line-text mud-text-secondary" Typo="Typo.caption" title="@Subtitle">
            @Subtitle
        </MudText>
    }

    <header class="d-flex justify-space-between align-center gap-3">
        <MudText Class="one-line-text" Typo="Typo.body1" title="@Title">
            @Title
        </MudText>

        <EduTooltip Title="@Title" Description="@Overview"/>
    </header>


    @ChildContent
</section>

@code {

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter, EditorRequired]
    public string? Overview { get; set; }

    [Parameter, EditorRequired]
    public string? IconUrl { get; set; }

    [Parameter]
    public uint? Quantity { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
