<section class="d-flex flex-column mud-paper @Class">
    <article class="d-flex align-start gap-3 flex-grow-1 pa-3 pa-sm-6">
        <MudAvatar Rounded="true" Color="Color.Primary" Size="Size.Large">
            <MudIcon Icon="@Icon" Size="Size.Large"/>
        </MudAvatar>

        <span class="flex-1">
            <MudText Class="mud-text-secondary" Typo="Typo.subtitle2">@Title</MudText>
            <MetricNumber Value="@Value" Typo="Typo.h5"/>
        </span>

        <span class="d-flex flex-column align-end">
            <Trending Trend="@Trending"/>
            <MudText Typo="Typo.body2">
                @L["Comparison_LastMonth_Title"]
            </MudText>
        </span>
    </article>

    @if (ChildContent is not null)
    {
        <footer class="border-t mud-border-lines-default pa-3">
            @ChildContent
        </footer>
    }
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public ulong Value { get; set; }

    [Parameter, EditorRequired]
    public double Trending { get; set; }

    [Parameter, EditorRequired]
    public string Icon { get; set; } = Icons.Material.Outlined.QueryStats;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
