@using ApexCharts
@using Education.Client.Features.History.Clients.User.Model
@using Align = MudBlazor.Align
<section class="d-flex flex-column mud-paper @Class">
    <header class="pa-3 pa-sm-6">
        <MudText Typo="Typo.h5">
            @L["User_Performance_Title"]
        </MudText>
    </header>

    <article class="d-flex align-center justify-center flex-1">
        <ApexChart TItem="MeOverviewModel.MonthlyPerformanceModel" Options="Options">
            <ApexPointSeries
                TItem="MeOverviewModel.MonthlyPerformanceModel"
                Items="@(new[] { Performance })"
                SeriesType="SeriesType.RadialBar"
                XValue="@(_ => 0)"
                YAggregate="@(_ => Completeness)"/>
        </ApexChart>
    </article>

    <footer class="px-3 px-sm-6 pb-3 pb-sm-6">
        <MudText Typo="Typo.subtitle1" Align="Align.Center">
            @L["User_YourExperience_Title"]: <b>@Performance.UserExperience</b>
        </MudText>

        @if (Performance.UserRank > 0)
        {
            <div class="mud-typography-align-center">
                <MudLink Typo="Typo.body1" Href="@HistoryUrl.Leaderboard.Monthly()">
                    @L["Leaderboard_RankInLeaderboard_Title", Performance.UserRank]
                </MudLink>
            </div>
        }
    </footer>
</section>

@code {

    private ApexChartOptions<MeOverviewModel.MonthlyPerformanceModel> Options =>
        new()
        {
            Chart = new Chart
            {
                Height = 220,
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)",
                OffsetY = -22,
                Sparkline = new ChartSparkline
                {
                    Enabled = true
                }
            },
            Stroke = new Stroke
            {
                Show = false
            },
            Colors = [ThemeProvider?.Theme.Palette.Primary.ToString()],
            PlotOptions = new PlotOptions
            {
                RadialBar = new PlotOptionsRadialBar
                {
                    StartAngle = -135,
                    EndAngle = 135,
                    Track = new Track
                    {
                        StartAngle = -135,
                        EndAngle = 135,
                        Background = "var(--mud-palette-background)"
                    },
                    Hollow = new Hollow
                    {
                        Size = "70%"
                    },
                    DataLabels = new RadialBarDataLabels
                    {
                        Name = new RadialBarDataLabelsName
                        {
                            Show = false
                        },
                        Value = new RadialBarDataLabelsValue
                        {
                            Show = true,
                            FontSize = "1.875rem"
                        },
                        Total = new RadialBarDataLabelsTotal
                        {
                            Show = true,
                            FontSize = "1rem",
                            Formatter = @"function (w) { return w.globals.seriesTotals[0] + '%'; }"
                        }
                    }
                }
            }
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [CascadingParameter]
    private EduThemeProvider? ThemeProvider { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required MeOverviewModel.MonthlyPerformanceModel Performance { get; set; }

    private decimal Completeness =>
        Performance.BestExperience == 0
            ? 0M
            : (decimal)Percentage.Calc(Performance.UserExperience, Performance.BestExperience);

}
