<MudBreadcrumbs Class="@Class" Items="@Items" MaxItems="3">
    <SeparatorTemplate>
        <div class="d-flex">
            <MudIcon Icon="@Separator" Size="@SeparatorSize" Class="@SeparatorClass"/>
        </div>
    </SeparatorTemplate>
    <ItemTemplate Context="item">
        <MudLink Typo="Typo" Disabled="@item.Disabled" Href="@item.Href" Color="@Color">
            @if (!string.IsNullOrEmpty(item.Icon))
            {
                <MudIcon Icon="@item.Icon" Size="@SeparatorSize"/>
            }
            @item.Text
        </MudLink>
    </ItemTemplate>
</MudBreadcrumbs>

@code {

    [Parameter, EditorRequired]
    public List<BreadcrumbItem> Items { get; set; } = new();

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Typo Typo { get; set; } = Typo.body1;

    [Parameter]
    public Color Color { get; set; } = Color.Primary;

    [Parameter]
    public string Separator { get; set; } = Icons.Material.Outlined.ChevronRight;

    [Parameter]
    public Size SeparatorSize { get; set; } = Size.Small;

    [Parameter]
    public string SeparatorClass { get; set; } = "mud-text-secondary";

}
