@page "/history/article/{id}/quiz"
@layout HistoryLayout
@attribute [Authorize]

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync">
    <PageTitle>
        @context.Article.Title
    </PageTitle>

    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <section class="course">
                <MudText Typo="Typo.h6" Class="mb-3">
                    @L["Article_Title"]
                </MudText>

                <ArticleCard
                    Article="@context.Article"
                    Activity="@context.Activity"
                    OnBookmarkClick="@LearnerClient.ToggleArticleBookmarkAsync"
                    HasQuiz="@(context.Quizzes.Length > 0)"
                    Horizontal/>
            </section>

            <section class="inventory">
                <MudText Typo="Typo.h6" Class="mb-3">
                    @L["Quiz_Equipment_Title"]
                </MudText>
                <InventoryGrid
                    Inventories="@context.Inventories"
                    StoreHref="@HistoryUrl.Store.Inventory(CategoryType.Quiz)"
                    Context="inventory">
                    <ChildContent>
                        <InventoryInfoCard
                            Title="@inventory.Title"
                            Overview="@inventory.Overview"
                            Quantity="@inventory.Quantity"
                            IconUrl="@inventory.ImageUrl"/>
                    </ChildContent>
                    <EmptyContent>
                        <InventoryShortageCard
                            Class="w-max-600"
                            Href="@HistoryUrl.Store.Inventory(CategoryType.Quiz)"/>
                    </EmptyContent>
                </InventoryGrid>
            </section>

            <section>
                @if (context.Quizzes.Length > 0)
                {
                    <MudText Typo="Typo.h6" Class="mb-3">
                        @L["Quiz_Type_Title"]
                    </MudText>

                    <QuizDifficulties
                        Quizzes="@context.Quizzes"
                        OnClick="@CreateQuizAsync"/>
                }
                else
                {
                    <MudAlert Severity="Severity.Info">
                        @L["Quiz_NotAvailableForArticle", context.Article.Title]
                    </MudAlert>
                }
            </section>
        </section>
    </EduContainer>
</ApiViewer>
