@inherits LayoutComponentBase

<MudThemeProvider Theme="@ThemeService.Current"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="25">
        <MudLink Href="@Links.Subject.History.Index" Typo="Typo.h5" Color="Color.Default" Underline="Underline.None">
            @L["Subject:History"] <sup class="beta">beta</sup>
        </MudLink>
        <MudSpacer/>
        <MudIconButton Icon="@ThemeService.Icon" Color="Color.Inherit" OnClick="@ThemeService.ToggleAsync"/>
        <UserMenu/>
    </MudAppBar>

    <main class="main-content">
        @Body
    </main>
    @* <footer> *@
    @*     <div class="footer-body"> *@
    @*         <LanguageSelector/> *@
    @*         <MudText Typo="Typo.body2"> *@
    @*             © @DateTime.Now.Year - Elwark *@
    @*         </MudText> *@
    @*     </div> *@
    @* </footer> *@
    @* <MudScrollToTop TopOffset="300"> *@
    @*     <MudFab Color="Color.Primary" Icon="@Icons.Filled.KeyboardArrowUp"/> *@
    @* </MudScrollToTop> *@
</MudLayout>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private ThemeService ThemeService { get; set; } = default!;
    
}
