@using FluentValidation
<EditForm Model="@_userAnswer" OnValidSubmit="OnValidSubmit">
    <FluentValidationValidator Validator="@_validator"/>

    <EduFillGrid Class="mb-3 mb-sm-6">
        @foreach (var option in Options)
        {
            var (icon, color) = Get(option);

            <div class="d-flex flex-row align-center border-2 border-solid rounded mud-border-primary">
                <MudCheckBox
                    Class="flex-grow-1"
                    Value="@(_userAnswer.Answer.Contains(option.Id))"
                    ValueChanged="@((bool b) => OnChecked(b, option.Id))"
                    ReadOnly="@(CorrectAnswer != null)"
                    Color="Color.Primary">
                    <AnswerOptionForm Option="@option"/>
                </MudCheckBox>
                @if (icon is not null)
                {
                    <MudIcon Class="mr-3" Icon="@icon" Color="@color"/>
                }
            </div>
        }
    </EduFillGrid>

    <FormFooter>
        <Button>
            @if (CorrectAnswer is null)
            {
                <EduLoadingButton ButtonType="ButtonType.Submit"
                                  Color="Color.Primary"
                                  DisableElevation
                                  IsLoading="@IsLoading"
                                  LoadingText="@L["Loading_Title"]"
                                  Size="Size.Large"
                                  Text="@L["QuestionFrom_AnswerToQuestion"]"
                                  Variant="Variant.Filled"/>
            }
            else
            {
                <EduLoadingButton Color="Color.Primary"
                                  DisableElevation
                                  IsLoading="@IsLoading"
                                  LoadingText="@L["Loading_Title"]"
                                  OnClick="@OnNextAsync"
                                  Size="Size.Large"
                                  Text="@L[IsCompleted ? "QuestionForm_ShowTheResult" : "QuestionForm_NextQuestion"]"
                                  Variant="Variant.Filled"/>
            }
        </Button>
        <Information>
            @if (CorrectAnswer is null)
            {
                <MudText Typo="Typo.subtitle1" Color="Color.Error">
                    <ValidationSummary/>
                </MudText>
            }
            else if (CorrectAnswer.IsCorrect)
            {
                <MudText Typo="Typo.subtitle1" Color="Color.Success">
                    @L["QuestionFrom_CorrectAnswer"]
                </MudText>
            }
            else
            {
                <MudText Typo="Typo.subtitle1" Color="Color.Error">
                    @L["QuestionFrom_IncorrectAnswer"]
                </MudText>
            }
        </Information>
    </FormFooter>
</EditForm>

@code {
    private Validator _validator = default!;
    private MultiAnswerModel _userAnswer = new();

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required bool IsLoading { get; set; }

    [Parameter, EditorRequired]
    public required bool IsCompleted { get; set; }

    [Parameter, EditorRequired]
    public required AnswerResult.MultiModel? CorrectAnswer { get; set; }

    [Parameter, EditorRequired]
    public required AnswerOption[] Options { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<MultiAnswerModel> OnAnswerClick { get; set; }

    [Parameter]
    public EventCallback OnNextClick { get; set; }

    protected override void OnInitialized()
    {
        _userAnswer = new MultiAnswerModel();
        _validator = new Validator(L);
    }

    private async Task OnValidSubmit()
    {
        try
        {
            await OnAnswerClick.InvokeAsync(_userAnswer);
        }
        finally
        {
            if (!OnNextClick.HasDelegate)
                _userAnswer = new MultiAnswerModel();
        }
    }

    private Task OnNextAsync()
    {
        _userAnswer = new MultiAnswerModel();
        return OnNextClick.InvokeAsync();
    }

    private void OnChecked(bool isAdded, uint id)
    {
        if (isAdded)
            _userAnswer.Answer.Add(id);
        else
            _userAnswer.Answer.Remove(id);
    }

    private (string? Icon, Color Color) Get(AnswerOption option) =>
        CorrectAnswer switch
        {
            { } x when x.Answer.Contains(option.Id) =>
                (Icon: Icons.Material.Outlined.Check, Color: Color.Success),

            { IsCorrect: false } when _userAnswer.Answer.Contains(option.Id) =>
                (Icon: Icons.Material.Outlined.Clear, Color: Color.Error),

            _ => (Icon: null, Color: Color.Default)
        };

    public sealed class Validator : AbstractValidator<MultiAnswerModel>
    {
        public Validator(IStringLocalizer<App> localizer) =>
            RuleFor(x => x.Answer)
                .NotEmpty()
                .WithMessage(localizer["QuestionFrom_AnswerCannotBeEmpty"]);
    }

}
