@using FluentValidation
<EditForm Model="@_userAnswer" OnValidSubmit="OnValidSubmit">
    <FluentValidationValidator Validator="@_validator"/>

    <EduFitGrid Class="mb-3 mb-sm-6">
        @foreach (var option in Options)
        {
            var (icon, color) = Get(option);

            <div class="d-flex flex-row align-center border-solid border rounded mud-border-primary">
                <MudCheckBox
                    Class="flex-grow-1"
                    Value="@(_userAnswer.Answer.Contains(option.Id))"
                    ValueChanged="@((bool b) => OnChecked(b, option.Id))"
                    ReadOnly="@(CorrectAnswer != null)"
                    Color="Color.Primary">
                    <AnswerOptionForm Option="@option"/>
                </MudCheckBox>
                @if (icon is not null)
                {
                    <MudIcon Class="mr-3" Icon="@icon" Color="@color"/>
                }
            </div>
        }
    </EduFitGrid>

    @if (CorrectAnswer is null)
    {
        <div class="d-flex flex-row justify-center">
            <LoadingButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                IsLoading="@IsLoading"
                Text="@L["QuestionFrom_AnswerToQuestion"]"
                ButtonType="ButtonType.Submit"
                LoadingText="@L["Loading_Title"]"
                DisableElevation/>
        </div>

        <MudText Align="Align.Center" Typo="Typo.subtitle2" Color="@Color.Error" Class="mt-3 mt-sm-6">
            <ValidationSummary/>
        </MudText>
    }
    else
    {
        <div class="d-flex flex-row justify-center mb-3 mb-sm-6">
            <LoadingButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                IsLoading="@IsLoading"
                Text="@L[IsCompleted ? "QuestionForm_ShowTheResult" : "QuestionForm_NextQuestion"]"
                LoadingText="@L["Loading_Title"]"
                OnClick="@OnNextAsync"
                DisableElevation/>
        </div>

        if (CorrectAnswer.IsCorrect)
        {
            <MudText Align="Align.Center" Typo="Typo.subtitle2" Color="@Color.Success">
                @L["QuestionFrom_CorrectAnswer"]
            </MudText>
        }
        else
        {
            <MudText Align="Align.Center" Typo="Typo.subtitle2" Color="@Color.Error">
                @L["QuestionFrom_IncorrectAnswer"]
            </MudText>
        }
    }
</EditForm>

@code {
    private Validator _validator = default!;
    private MultiAnswerModel _userAnswer = new();

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required bool IsLoading { get; set; }

    [Parameter, EditorRequired]
    public bool IsCompleted { get; set; }

    [Parameter, EditorRequired]
    public required AnswerResult.MultiModel? CorrectAnswer { get; set; }

    [Parameter, EditorRequired]
    public required AnswerOption[] Options { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<MultiAnswerModel> OnAnswerClick { get; set; }

    [Parameter]
    public EventCallback OnNextClick { get; set; }

    protected override void OnInitialized()
    {
        _userAnswer = new MultiAnswerModel();
        _validator = new Validator(L);
    }

    private async Task OnValidSubmit()
    {
        try
        {
            await OnAnswerClick.InvokeAsync(_userAnswer);
        }
        finally
        {
            if (!OnNextClick.HasDelegate)
                _userAnswer = new MultiAnswerModel();
        }
    }

    private Task OnNextAsync()
    {
        _userAnswer = new MultiAnswerModel();
        return OnNextClick.InvokeAsync();
    }

    private void OnChecked(bool isAdded, uint id)
    {
        if (isAdded)
            _userAnswer.Answer.Add(id);
        else
            _userAnswer.Answer.Remove(id);
    }

    private (string? Icon, Color Color) Get(AnswerOption option) =>
        CorrectAnswer switch
        {
            { } x when x.Answer.Contains(option.Id) =>
                (Icon: Icons.Material.Outlined.Check, Color: Color.Success),

            { IsCorrect: false } when _userAnswer.Answer.Contains(option.Id) =>
                (Icon: Icons.Material.Outlined.Clear, Color: Color.Error),

            _ => (Icon: null, Color: Color.Default)
        };

    public sealed class Validator : AbstractValidator<MultiAnswerModel>
    {
        public Validator(IStringLocalizer<App> localizer) =>
            RuleFor(x => x.Answer)
                .NotEmpty()
                .WithMessage(localizer["QuestionFrom_AnswerCannotBeEmpty"]);
    }

}
