<section class="@Class">
    @Header

    @if (Question.ImageUrl is not null)
    {
        <img class="image mb-3 mb-sm-6" src="@Question.ImageUrl" alt="@Question.Title"/>
    }

    <MudText Class="mb-6" Typo="Typo.subtitle1" Align="Align.Center">
        @Question.Title
    </MudText>

    @switch (Question)
    {
        case Question.TextModel:
        {
            <ShortAnswerForm
                IsLoading="@_checking"
                IsCompleted="@IsCompleted"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.TextModel)"
                OnAnswerClick="@AnswerAsync"
                OnNextClick="@NextQuestionHandler"/>
            break;
        }

        case Question.SingleModel question:
        {
            <SingleAnswerForm
                IsLoading="@_checking"
                IsCompleted="@IsCompleted"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.SingleModel)"
                Options="@question.Options"
                OnAnswerClick="@AnswerAsync"
                OnNextClick="@NextQuestionHandler"/>
            break;
        }

        case Question.MultiModel question:
        {
            <MultipleAnswerForm
                IsLoading="@_checking"
                IsCompleted="@IsCompleted"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.MultiModel)"
                Options="@question.Options"
                OnAnswerClick="@AnswerAsync"
                OnNextClick="@NextQuestionHandler"/>
            break;
        }

        case Question.OrderingModel question:
            <OrderedAnswerForm
                IsLoading="@_checking"
                IsCompleted="@IsCompleted"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.OrderingModel)"
                Options="@question.Options"
                OnAnswerClick="@AnswerAsync"
                OnNextClick="@NextQuestionHandler"/>
            break;
    }
</section>

@code {
    private bool _checking;

    [Parameter, EditorRequired]
    public bool IsCompleted { get; set; }

    [Parameter, EditorRequired]
    public required Question Question { get; set; }

    [Parameter]
    public AnswerResult? CorrectAnswer { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<UserAnswerModel> OnAnswerClick { get; set; }

    [Parameter]
    public EventCallback OnNextClick { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private EventCallback NextQuestionHandler =>
        OnNextClick.HasDelegate ? EventCallback.Factory.Create(this, NextQuestionAsync) : new EventCallback();

    private async Task AnswerAsync(UserAnswerModel answer)
    {
        _checking = true;

        try
        {
            await OnAnswerClick.InvokeAsync(answer);
        }
        finally
        {
            _checking = false;
        }
    }

    private async Task NextQuestionAsync()
    {
        _checking = true;

        try
        {
            await OnNextClick.InvokeAsync();
        }
        finally
        {
            _checking = false;
        }
    }

}