@using Education.Client.Models.Test
<section class="@Class">
    @Header

    @if (Question.ImageUrl is not null)
    {
        <img class="image mb-3 mb-sm-6" src="@Question.ImageUrl" alt="@Question.Title"/>
    }

    <MudText Class="mb-6" Typo="Typo.subtitle1" Align="Align.Center">
        @Question.Title
    </MudText>

    @switch (Question)
    {
        case Question.ShortModel:
        {
            <ShortAnswerForm
                IsLoading="@_checking"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.ShortModel)"
                OnAnswerClick="@AnswerNextAsync"
                OnNextTitle="@OnNextTitle"
                OnNextClick="@NextAsync"/>
            break;
        }

        case Question.SingleModel question:
        {
            <SingleAnswerForm
                IsLoading="@_checking"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.SingleModel)"
                Options="@question.Options"
                OnAnswerClick="@AnswerNextAsync"
                OnNextTitle="@OnNextTitle"
                OnNextClick="@NextAsync"/>
            break;
        }

        case Question.MultipleModel question:
        {
            <MultipleAnswerForm
                IsLoading="@_checking"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.MultipleModel)"
                Options="@question.Options"
                OnAnswerClick="@AnswerNextAsync"
                OnNextTitle="@OnNextTitle"
                OnNextClick="@NextAsync"/>
            break;
        }

        case Question.OrderedModel question:
            <OrderedAnswerForm
                IsLoading="@_checking"
                CorrectAnswer="@(CorrectAnswer as AnswerResult.OrderedModel)"
                Options="@question.Options"
                OnAnswerClick="@AnswerNextAsync"
                OnNextTitle="@OnNextTitle"
                OnNextClick="@NextAsync"/>
            break;
    }
</section>

@code {
    private bool _checking;

    [Parameter, EditorRequired]
    public Question Question { get; set; } = default!;

    [Parameter, EditorRequired]
    public AnswerResult? CorrectAnswer { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<UserAnswerModel> OnAnswerClick { get; set; }

    [Parameter, EditorRequired]
    public string OnNextTitle { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public EventCallback OnNextClick { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private async Task AnswerNextAsync(UserAnswerModel answer)
    {
        _checking = true;
        await OnAnswerClick.InvokeAsync(answer);

        _checking = false;
    }

    private async Task NextAsync()
    {
        _checking = true;
        await OnNextClick.InvokeAsync();

        _checking = false;
    }

}