@using System.ComponentModel
@using Education.Client.Gateways.History.Me
@using Education.Client.Features.History.My.Components

<MudCard Class="@Class">
    <MudCardHeader Class="pa-3 pa-sm-6">
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Primary" Size="Size.Medium">
                <MudIcon Icon="@EducationIcons.Achievement" Size="Size.Medium"/>
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <div class="d-flex align-center justify-space-between">
                <MudLink Typo="Typo.h6" Href="@Links.History.MyAchievements">
                    @L["Achievements"]
                </MudLink>
                <MudText Typo="Typo.h5">
                    @Achievements.Completed/@Achievements.Total
                </MudText>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-3 pa-sm-6">
        <section class="grid">
            @foreach (var achievement in Achievements.Items)
            {
                <AchievementView Achievement="@achievement"/>
            }
        </section>
    </MudCardContent>
</MudCard>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public AchievementsOverview Achievements { get; set; } = default!;

}
