@using Education.Client.Extensions
@using Education.Client.Gateways.Models.User
<MudCard Class="@Class">
    <MudCardContent Class="pa-3 pa-sm-6">
        <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-3">
            @L["Experience:MyLevel"]
        </MudText>
        <div class="hexagon-wrapper">
            <div class="hexagon">
                <span>@Level.Value</span>
            </div>
        </div>
        <MudProgressLinear Min="0" Max="@Level.NextLevelExperience" Value="@Level.Experience" Color="Color.Primary" Class="mb-2"/>
        <div class="d-flex justify-space-between mb-6">
            <div class="d-flex align-center">
                <MudIcon Icon="@EducationIcons.Experience" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
                <MudText Typo="Typo.body2">
                    @L["Experience:PointsToNextLevel", (Level.NextLevelExperience - Level.Experience).ToString("N0")]
                </MudText>
            </div>
            <MudText Typo="Typo.body2">
                @(((double)Level.Experience / Level.NextLevelExperience * 100).ToReadable())%
            </MudText>
        </div>
        <div class="d-flex flex-row align-center">
            <MudText Typo="Typo.body1">
                @(Wallet.Experience > 0 ? "+" : null)@Wallet.Experience
            </MudText>
            <MudIcon Size="Size.Small" Style="color: #FF6F00" Class="ml-1" Icon="@EducationIcons.Experience"/>
        </div>
        <div class="d-flex flex-row align-center">
            <MudText Typo="Typo.body1">
                @(Wallet.Silver > 0 ? "+" : null)@Wallet.Silver
            </MudText>
            <MudIcon Size="Size.Small" Style="color: #C0C0C0" Class="ml-1" Icon="@EducationIcons.Silver"/>
        </div>
    </MudCardContent>
</MudCard>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public Level Level { get; set; } = default!;

    [Parameter, EditorRequired]
    public Wallet Wallet { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}
