@using Education.Client.Gateways.Models.User
@using Education.Client.Extensions

<MudTable Items="@Transactions" Class="@Class" Hover="true" Breakpoint="Breakpoint.Sm">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            @L["RecentTransactions"]
        </MudText>
    </ToolBarContent>
    <RowTemplate>
        <MudTd DataLabel="@L["Date"]">@context.CreatedAt.ToSimpleFormat()</MudTd>
        <MudTd DataLabel="@L["Title"]">
            @if (context.Type == TransactionType.Achievement)
            {
                @L[$"ExperienceType:{context.Type}", context.Comment ?? string.Empty]
            }
            else
            {
                @L[$"ExperienceType:{context.Type}"]
            }
        </MudTd>
        <MudTd>
            <div class="d-flex flex-row">
                @foreach (var currency in context.Currencies)
                {
                    <GameCurrencyView Currency="@currency" Class="mr-3"/>
                }
            </div>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public Transaction[] Transactions { get; set; } = Array.Empty<Transaction>();

}
