@using Education.Client.Gateways.Models.User
<MudCard Class="@($"{Class} mud-primary white-text")" Elevation="0">
    <MudCardHeader Class="pb-0 px-3 pt-3 px-sm-6 pt-sm-6">
        <CardHeaderContent>
            <MudText Typo="Typo.button">
                @L["CurrentBalance"]
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-3 pa-sm-6">
        <div class="d-flex flex-wrap justify-center">
            <div class="d-flex flex-column align-center">
                <div class="d-flex flex-row align-center">
                    <MudIcon Style="color: #FFCA28" Class="mr-2" Icon="@EducationIcons.Experience"/>
                    <HumanReadableText Value="@Wallet.Experience" Typo="Typo.h5" Style="font-weight: 500"/>
                </div>
                <MudText Typo="Typo.caption">(@L["GameCurrency:Experience"])</MudText>
            </div>

            <div class="mr-6"></div>

            <div class="d-flex flex-column align-center">
                <div class="d-flex flex-row align-center">
                    <MudIcon Style="color: #C0C0C0" Class="mr-2" Icon="@EducationIcons.Silver"/>
                    <HumanReadableText Value="@Wallet.Silver" Typo="Typo.h5" Style="font-weight: 500"/>
                </div>
                <MudText Typo="Typo.caption">(@L["GameCurrency:Silver"])</MudText>
            </div>
        </div>
    </MudCardContent>
</MudCard>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    public ThemeProvider Provider { get; set; } = default!;

    [Parameter, EditorRequired]
    public Wallet Wallet { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}