<section class="mud-paper pa-3 pa-sm-6 @Class">
    <MudText Class="mb-3" Typo="Typo.subtitle2">
        @L["Article_DetailsTitle"]
    </MudText>

    <div class="d-flex justify-space-between align-center border-b mud-border-lines-default pb-1 mb-3">
        <MudText Typo="Typo.body1">@L["TimeToRead_Title"]</MudText>
        <div class="d-flex align-center gap-1">
            <MudText Typo="Typo.body1">@TimeToRead.Humanize(L)</MudText>
            <MudIcon Icon="@EduIcons.TimeToRead" Size="Size.Small"/>
        </div>
    </div>

    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.body1">@L["ContentRating_Title"]</MudText>
        <ContentRating Rating="@Rating" Placement="Placement.Right"/>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required ContentRatingModel Rating { get; set; }

    [Parameter, EditorRequired]
    public required TimeSpan TimeToRead { get; set; }

    [Parameter]
    public string? Class { get; set; }

}