<section class="mud-paper pa-3 pa-sm-6 @Class">
    <MudText Class="mb-3" Typo="Typo.subtitle2">
        @L["Article_DetailsTitle"]
    </MudText>

    <div class="d-flex justify-space-between align-center border-b mud-border-lines-default pb-1 mb-3">
        <MudText Typo="Typo.body1">@L["TimeToRead_Title"]</MudText>
        <EduTimeToRead Time="@TimeToRead"/>
    </div>

    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.body1">@L["ContentPopularity_Title"]</MudText>
        <EduPopularity Popularity="@Popularity"/>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="d-flex justify-space-between align-center mt-3">
                <EduBookmarkButton
                    Id="@ArticleId"
                    Color="Color.Primary"
                    IsBookmarked="@(IsBookmarked ?? false)"
                    OnBookmarkClick="@OnBookmarkClick"/>
            </div>
        </Authorized>
    </AuthorizeView>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required string ArticleId { get; set; }

    [Parameter, EditorRequired]
    public required double Popularity { get; set; }

    [Parameter, EditorRequired]
    public required TimeSpan TimeToRead { get; set; }

    [Parameter, EditorRequired]
    public required bool? IsBookmarked { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<Unit>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
