<section class="mud-paper d-flex flex-column @Class">
    <div class="d-flex justify-space-between align-center pa-3 pa-sm-6">
        <MudText Class="mr-3" Typo="Typo.body2">
            @L["TextOptions_Alignment_Title"]
        </MudText>
        <MudButtonGroup DisableElevation
                        Size="Size.Small"
                        Variant="Variant.Outlined">

            <MudIconButton Disabled="@(Formatter.TextAlign == Align.Left)"
                           DisableElevation
                           DisableRipple
                           Icon="@Icons.Material.Outlined.FormatAlignLeft"
                           OnClick="@Formatter.AlignTextLeftAsync"/>

            <MudIconButton Disabled="@(Formatter.TextAlign == Align.Justify)"
                           DisableElevation
                           DisableRipple
                           Icon="@Icons.Material.Outlined.FormatAlignJustify"
                           OnClick="@Formatter.AlignTextJustifyAsync"/>

            <MudIconButton Disabled="@(Formatter.TextAlign == Align.Center)"
                           DisableElevation
                           DisableRipple
                           Icon="@Icons.Material.Outlined.FormatAlignCenter"
                           OnClick="@Formatter.AlignTextCenterAsync"/>

            <MudIconButton Disabled="@(Formatter.TextAlign == Align.Right)"
                           DisableElevation
                           DisableRipple
                           Icon="@Icons.Material.Outlined.FormatAlignRight"
                           OnClick="@Formatter.AlignTextRightAsync"/>
        </MudButtonGroup>
    </div>

    <div class="d-flex justify-space-between align-center px-3 px-sm-6">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["TextOptions_FontSize_Title"]
        </MudText>
        <MudButtonGroup DisableElevation
                        OverrideStyles
                        Size="Size.Small"
                        Variant="Variant.Outlined">

            <MudIconButton Disabled="@(!Formatter.CanDecreaseFontSize)"
                           DisableElevation
                           DisableRipple
                           Icon="@Icons.Material.Outlined.Remove"
                           OnClick="@Formatter.DecreaseFontSizeAsync"/>

            <input class="input" value="@Percent(Formatter.FontSize)" readonly/>

            <MudIconButton Disabled="@(!Formatter.CanIncreaseFontSize)"
                           DisableElevation
                           DisableRipple
                           Icon="@Icons.Material.Outlined.Add"
                           OnClick="@Formatter.IncreaseFontSizeAsync"/>
        </MudButtonGroup>
    </div>

    <MudExpansionPanels Elevation="0" Dense DisableBorders DisableGutters>
        <MudExpansionPanel>
            <TitleContent>
                <MudText Typo="Typo.body2">
                    <b>@L["TextOptions_Other_Title"]</b>
                </MudText>
            </TitleContent>
            <ChildContent>
                <div class="d-flex justify-space-between align-center px-3 px-sm-6 mb-3 mb-sm-6">
                    <MudText Typo="Typo.body2" Class="mr-3">
                        @L["TextOptions_LineHeight_Title"]
                    </MudText>
                    <MudButtonGroup DisableElevation
                                    OverrideStyles
                                    Size="Size.Small"
                                    Variant="Variant.Outlined">

                        <MudIconButton Disabled="@(!Formatter.CanDecreaseLineHeight)"
                                       DisableElevation
                                       DisableRipple
                                       Icon="@Icons.Material.Outlined.Remove"
                                       OnClick="@Formatter.DecreaseLineHeightAsync"/>

                        <input class="input" value="@Percent(Formatter.LineHeight)" readonly/>

                        <MudIconButton Disabled="@(!Formatter.CanIncreaseLineHeight)"
                                       DisableElevation
                                       DisableRipple
                                       Icon="@Icons.Material.Outlined.Add"
                                       OnClick="@Formatter.IncreaseLineHeightAsync"/>
                    </MudButtonGroup>
                </div>

                <div class="d-flex justify-space-between align-center px-3 px-sm-6 mb-3 mb-sm-6">
                    <MudText Typo="Typo.body2" Class="mr-3">
                        @L["TextOptions_Bold_Title"]
                    </MudText>
                    <MudSwitch
                        T="bool"
                        Color="Color.Primary"
                        Value="@Formatter.IsFontWeightBold"
                        ValueChanged="@Formatter.ToggleFontWeightAsync">
                    </MudSwitch>
                </div>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required ContentFormatter Formatter { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private string Percent(double value) =>
        $"{(int)Math.Round(value * 100, 0)}%";

}
