<section class="mud-paper d-flex flex-column @Class">
    <div class="d-flex justify-space-between align-center pa-3 pa-sm-6">
        <MudText Class="mr-3" Typo="Typo.body2">
            @L["TextOptions_Alignment_Title"]
        </MudText>
        <MudButtonGroup
            DropShadow="false"
            Size="Size.Small"
            Variant="Variant.Outlined">

            <MudIconButton
                Disabled="@(Formatter.TextAlign == Align.Left)"
                DropShadow="false"
                Icon="@Icons.Material.Outlined.FormatAlignLeft"
                OnClick="@Formatter.AlignTextLeftAsync"
                Ripple="false"/>

            <MudIconButton
                Disabled="@(Formatter.TextAlign == Align.Justify)"
                DropShadow="false"
                Icon="@Icons.Material.Outlined.FormatAlignJustify"
                OnClick="@Formatter.AlignTextJustifyAsync"
                Ripple="false"/>

            <MudIconButton
                Disabled="@(Formatter.TextAlign == Align.Center)"
                DropShadow="false"
                Icon="@Icons.Material.Outlined.FormatAlignCenter"
                OnClick="@Formatter.AlignTextCenterAsync"
                Ripple="false"/>

            <MudIconButton
                Disabled="@(Formatter.TextAlign == Align.Right)"
                DropShadow="false"
                Icon="@Icons.Material.Outlined.FormatAlignRight"
                OnClick="@Formatter.AlignTextRightAsync"
                Ripple="false"/>
        </MudButtonGroup>
    </div>

    <div class="d-flex justify-space-between align-center px-3 px-sm-6">
        <MudText Typo="Typo.body2" Class="mr-3">
            @L["TextOptions_FontSize_Title"]
        </MudText>
        <MudButtonGroup
            DropShadow="false"
            OverrideStyles
            Size="Size.Small"
            Variant="Variant.Outlined">

            <MudIconButton
                Disabled="@(!Formatter.CanDecreaseFontSize)"
                DropShadow="false"
                Icon="@Icons.Material.Outlined.Remove"
                OnClick="@Formatter.DecreaseFontSizeAsync"
                Ripple="false"/>

            <input class="input" value="@Percent(Formatter.FontSize)" readonly/>

            <MudIconButton
                Disabled="@(!Formatter.CanIncreaseFontSize)"
                DropShadow="false"
                Icon="@Icons.Material.Outlined.Add"
                OnClick="@Formatter.IncreaseFontSizeAsync"
                Ripple="false"/>
        </MudButtonGroup>
    </div>

    <MudExpansionPanels Elevation="0" Dense Outlined="false" Gutters="false">
        <MudExpansionPanel>
            <TitleContent>
                <MudText Typo="Typo.body2">
                    <b>@L["TextOptions_Other_Title"]</b>
                </MudText>
            </TitleContent>
            <ChildContent>
                <div class="d-flex justify-space-between align-center px-3 px-sm-6 mb-3 mb-sm-6">
                    <MudText Typo="Typo.body2" Class="mr-3">
                        @L["TextOptions_LineHeight_Title"]
                    </MudText>
                    <MudButtonGroup
                        DropShadow="false"
                        OverrideStyles
                        Size="Size.Small"
                        Variant="Variant.Outlined">

                        <MudIconButton
                            Disabled="@(!Formatter.CanDecreaseLineHeight)"
                            DropShadow="false"
                            Icon="@Icons.Material.Outlined.Remove"
                            OnClick="@Formatter.DecreaseLineHeightAsync"
                            Ripple="false"/>

                        <input class="input" value="@Percent(Formatter.LineHeight)" readonly/>

                        <MudIconButton
                            Disabled="@(!Formatter.CanIncreaseLineHeight)"
                            DropShadow="false"
                            Icon="@Icons.Material.Outlined.Add"
                            OnClick="@Formatter.IncreaseLineHeightAsync"
                            Ripple="false"/>
                    </MudButtonGroup>
                </div>

                <div class="d-flex justify-space-between align-center px-3 px-sm-6 mb-3 mb-sm-6">
                    <MudText Typo="Typo.body2" Class="mr-3">
                        @L["TextOptions_Bold_Title"]
                    </MudText>
                    <MudSwitch
                        T="bool"
                        Color="Color.Primary"
                        Value="@Formatter.IsFontWeightBold"
                        ValueChanged="@Formatter.ToggleFontWeightAsync">
                    </MudSwitch>
                </div>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required ContentFormatter Formatter { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private string Percent(double value) =>
        $"{(int)Math.Round(value * 100, 0)}%";

}
