<section class="mud-paper pa-3 pa-sm-6 @Class">
    <MudText Class="mb-3" Typo="Typo.subtitle2">
        @L["User_MyQuizzes_Title"]
    </MudText>

    @if (Difficulties.Contains(DifficultyType.Easy))
    {
        <div class="d-flex justify-space-between align-center border-b mud-border-lines-default pb-1 mb-3">
            <MudText Typo="Typo.body1">@L["NumberOfQuizzes_PassedEasy_Title"]</MudText>
            @if (Activity?.IsEasyQuizCompleted == true)
            {
                <MudIcon Icon="@Icons.Material.Outlined.CheckCircle" Color="Color.Success" Size="Size.Small"/>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.Circle" Size="Size.Small"/>
            }
        </div>
    }

    @if (Difficulties.Contains(DifficultyType.Hard))
    {
        <div class="d-flex justify-space-between align-center border-b mud-border-lines-default pb-1 mb-3">
            <MudText Typo="Typo.body1">@L["NumberOfQuizzes_PassedHard_Title"]</MudText>
            @if (Activity?.IsHardQuizCompleted == true)
            {
                <MudIcon Icon="@Icons.Material.Outlined.CheckCircle" Color="Color.Success" Size="Size.Small"/>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.Circle" Size="Size.Small"/>
            }
        </div>
    }

    @if (Difficulties.Contains(DifficultyType.Expert))
    {
        <div class="d-flex justify-space-between align-center border-b mud-border-lines-default pb-1 mb-3">
            <MudText Typo="Typo.body1">@L["NumberOfQuizzes_PassedExpert_Title"]</MudText>
            @if (Activity?.IsExpertQuizCompleted == true)
            {
                <MudIcon Icon="@Icons.Material.Outlined.CheckCircle" Color="Color.Success" Size="Size.Small"/>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.Circle" Size="Size.Small"/>
            }
        </div>
    }

    @if (Difficulties.Length > 0 && Activity?.Status is not null)
    {
        <div class="d-flex justify-space-between align-center pb-1 mb-3">
            <MudText Typo="Typo.body1">
                @L["LearningStatus_Title"]
            </MudText>

            <ArticleCompletionChip
                Status="@(Activity?.Status ?? ArticleLearningStatus.NotStarted)"
                Href="@HistoryUrl.User.MyArticle(ArticleId)"
                Size="Size.Small"/>
        </div>
    }

    <MudText Class="mb-3" Typo="Typo.body2">
        @if (Difficulties.Length > 0)
        {
            @L.GetStatusDescription(Activity?.Status ?? ArticleLearningStatus.NotStarted)
        }
        else
        {
            @L["Article_TheArticleDoesNotHaveAnyQuizzesYet"]
        }
    </MudText>

    @if (Difficulties.Length > 0)
    {
        <TryPracticeQuestionsButton Link="@HistoryUrl.Content.QuizBuilder(ArticleId)" FullWidth/>
    }
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required string ArticleId { get; set; }

    [Parameter, EditorRequired]
    public required UserArticleActivityModel? Activity { get; set; }

    [Parameter, EditorRequired]
    public required DifficultyType[] Difficulties { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
