@using Education.Client.Features.History.Clients.Article
@if (_article.Length > 0)
{
    <div class="@Class">
        <UnderlinedTitle Class="my-3" Title="@Title"/>

        <EduFillGrid>
            @foreach (var (article, activity, hasQuiz) in _article)
            {
                <ArticleCard
                    Article="@article"
                    HasQuiz="@hasQuiz"
                    Activity="@activity"
                    OnBookmarkClick="@OnBookmarkClick"/>
            }
        </EduFillGrid>
    </div>
}

@code {
    private UserArticleOverviewModel[] _article = [];

    [Inject]
    private IHistoryArticleClient ArticleClient { get; init; } = default!;

    [Parameter, EditorRequired]
    public required string ArticleId { get; set; }

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<Unit>>> OnBookmarkClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await ArticleClient.GetRelatedArticlesAsync(ArticleId);
        _article = response.UnwrapOrElse(() => []);
    }

}
