<section class="mud-paper pa-3 @Class">
    <MudToolBar Dense DisableGutters Class="d-flex justify-space-between">
        <LikeButtons
            Id="@ArticleId"
            IsLiked="@IsLiked"
            OnLikeClick="@OnLikeClick"
            OnDislikeClick="@OnDislikeClick"/>

        <BookmarkButton
            Id="@ArticleId"
            IsBookmarked="@(IsBookmarked ?? false)"
            OnBookmarkClick="@OnBookmarkClick"/>
    </MudToolBar>
</section>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required string ArticleId { get; set; }

    [Parameter, EditorRequired]
    public required bool? IsLiked { get; set; }

    [Parameter, EditorRequired]
    public required bool? IsBookmarked { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<Unit>>> OnLikeClick { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<Unit>>> OnDislikeClick { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, Task<ApiResult<bool>>> OnBookmarkClick { get; set; }

}
