@page "/history/examinations/{id}"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_result.Match(x => $"{L.GetExaminationDifficultyTitle(x.Difficulty)}: {x.Course.Title}", e => e.Title, () => L["Examinations_Title"])
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="examination">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280">
        <section class="grid">
            <header class="timer">
                <section class="d-flex flex-wrap justify-space-between gap-3">
                    <MudText Typo="Typo.subtitle1">
                        @L["Test_QuestionOutOf", examination.CompletedQuestions, examination.TotalQuestions]
                    </MudText>
                    <CountdownTimer Deadline="@examination.ExpiredAt" OnComplete="@OnExpiredAsync"/>
                </section>
                <MudProgressLinear
                    Min="0"
                    Max="100"
                    Value="@Progress"
                    Color="Color.Primary"
                    Size="Size.Medium"
                    Rounded/>
            </header>

            <QuestionForm
                Class="exam mud-paper pa-3 pa-sm-6"
                IsCompleted="@examination.IsCompleted"
                Question="@examination.Question"
                OnAnswerClick="@OnAnswerAsync">
                <Header>
                    <MudText Class="d-block mud-text-secondary" Typo="Typo.caption" Align="Align.Center">
                        @L.GetExaminationDifficultyTitle(examination.Difficulty)
                    </MudText>
                    <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Align="Align.Center">
                        @examination.Course.Title
                    </MudText>
                </Header>
            </QuestionForm>

            <InventoryGrid Class="inventory" Inventory="@examination.Inventory" Context="item">
                @if (item.IsInteractive)
                {
                    <InventoryButtonCard
                        Id="@item.Id"
                        Quantity="@item.Quantity"
                        Title="@item.Title"
                        Overview="@item.Overview"
                        IconUrl="@item.IconUrl"
                        ButtonText="@L["Inventory_Use"]"
                        OnClick="@OnUseInventory"/>
                }
                else
                {
                    <InventoryInfoCard
                        Title="@item.Title"
                        Overview="@item.Overview"
                        Quantity="@item.Quantity"
                        IconUrl="@item.IconUrl"/>
                }
            </InventoryGrid>
        </section>
    </EduContainer>
</ApiViewer>