@using Education.Client.Gateways.History
<div class="grid @Class">
    <div class="image">
        <img src="/images/history/history.jpg" alt="history" loading="lazy"/>
    </div>
    <article class="text">
        <MudText Typo="Typo.h2" Color="Color.Inherit" Class="mb-3">
            @L["Topic:Random"]
        </MudText>
        <LoadingButton OnClick="@OnClick" IsLoading="@_isLoading" Text="@L["Search"]"/>
    </article>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    private bool _isLoading;

    private async Task OnClick()
    {
        if (_isLoading)
            return;

        _isLoading = true;
        var result = await Client.Topic.GetRandomAsync();
        if (result.Status == ResponseStatus.Success)
            Navigation.NavigateTo(Links.History.Content.Topic(result.Data.Id));

        _isLoading = false;
    }

}
