@using Education.Web.Client.Features.History.Services.User.Model
@using Education.Web.Client.Models.Inventory
@using System.Diagnostics
<ApiViewer Result="@_result">
    <ChildContent Context="bundles">
        <ProductsGrid Products="@ApplyFilter(bundles)">
            <ChildContent Context="bundle">
                <BundleCard
                    Bundle="@bundle"
                    ShowLockBadge="@(!IsAffordable(bundle))"
                    OnPurchaseClick="@OpenPurchaseDialog"/>
            </ChildContent>
            <NoRecordsContent>
                <EduEmpty
                    Title="@L["InventoryStore_Bundles_NotFound"]"
                    Subtitle="@L["InventoryStore_TryToResetYourFilter"]"/>
            </NoRecordsContent>
        </ProductsGrid>
    </ChildContent>
    <Loading>
        <ProductsGrid Products="@(Enumerable.Range(0, 6).ToArray())">
            <InventorySkeletonCard>
                <div class="d-flex justify-space-between align-center mt-6">
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Width="24px" Height="24px"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.ShoppingCart" Variant="Variant.Filled" Disabled/>
                </div>
            </InventorySkeletonCard>
        </ProductsGrid>
    </Loading>
</ApiViewer>

@code {
    private ApiResult<Product.BundleModel[]> _result = ApiResult<Product.BundleModel[]>.Loading();

    [Inject]
    private IHistoryStoreService StoreService { get; init; } = default!;

    [Inject]
    private IDialogService DialogService { get; init; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required PossessionsModel Possessions { get; set; }

    [Parameter, EditorRequired]
    public required ProductsFilter Filter { get; set; }

    [Parameter, EditorRequired]
    public required Func<Product.BundleModel, bool> IsAffordable { get; set; }

    [Parameter]
    public EventCallback<Product.BundleModel> OnProductPurchased { get; set; }

    protected override async Task OnInitializedAsync() =>
        _result = await StoreService.GetBundlesAsync();

    private async Task OpenPurchaseDialog(Product.BundleModel product)
    {
        var options = new DialogOptions
        {
            FullWidth = true,
            MaxWidth = product.Inventories.Length > 3 ? MaxWidth.Medium : MaxWidth.Small,
            CloseButton = false,
            NoHeader = true
        };

        var parameters = new DialogParameters
        {
            [nameof(BundleDialog.Product)] = product,
            [nameof(BundleDialog.Possessions)] = Possessions
        };

        var dialog = await DialogService.ShowAsync<BundleDialog>(product.Title, parameters, options);
        var result = await dialog.Result;
        if (result.Canceled)
            return;

        await OnProductPurchased.InvokeAsync(product);
    }

    private Product.BundleModel[] ApplyFilter(IEnumerable<Product.BundleModel> source)
    {
        if (Filter.Category != CategoryType.None)
            source = source.Where(x => x.Inventories.Any(t => t.Category.Type == Filter.Category));

        source = Filter.Sort switch
        {
            ProductSort.Featured => source,
            ProductSort.PriceAsc => source.OrderBy(x => x.Price.Total.Amount),
            ProductSort.PriceDesc => source.OrderByDescending(x => x.Price.Total.Amount),
            ProductSort.DiscountAsc => source.OrderBy(x => x.Price.Discount),
            ProductSort.DiscountDesc => source.OrderByDescending(x => x.Price.Discount),
            ProductSort.Title => source.OrderBy(x => x.Title),
            _ => throw new UnreachableException($"Unknown sort type {Filter.Sort}")
        };

        if (!string.IsNullOrEmpty(Filter.Search))
            source = source.Where(x => x.Title.Contains(Filter.Search, StringComparison.OrdinalIgnoreCase));

        return source.ToArray();
    }

}