@page "/history"
@layout HistoryLayout

@using Education.Client.Gateways.History.Home
@using Education.Client.Gateways.History
@using Education.Client.Features.History.Home.Components
@using Education.Client.Features.History.Components

@attribute [Authorize]

<ApiViewer Response="@_response">
    <Loading>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
    </Loading>
    <Success Context="result">
        <PageTitle>
            @L["Subject:History"]
        </PageTitle>

        <SpotlightGrid Class="mb-3 mb-sm-6" Topics="@result.TrendingTopics.Take(8).ToArray()"/>

        @* <CenteredContainer MaxWidth="@ContainerWidth.W1280" Class="mb-6 mb-sm-12"> *@
        @*     <div class="header"> *@
        @*         <h2>@L["Topics:Trending"]</h2> *@
        @*     </div> *@
        @*     <DefaultFillGrid> *@
        @*         @foreach (var item in result.TrendingTopics.Skip(4)) *@
        @*         { *@
        @*             <TopicCard Image="@item.Image"/> *@
        @*         } *@
        @*     </DefaultFillGrid> *@
        @* </CenteredContainer> *@

        <CenteredContainer MaxWidth="@ContainerWidth.W1280" Class="mb-6 mb-sm-12" Style="background-color: var(--mud-palette-black)">
            <DailyTopic Topic="@result.DailyTopic" Class="my-6 my-sm-12"/>
        </CenteredContainer>
        
        <CenteredContainer MaxWidth="@ContainerWidth.W1280" Class="mb-6 mb-sm-12">
            <div class="header">
                <h2>@L["Topics:Hot"]</h2>
            </div>
            <SpotlightGrid Gap="true" Topics="@result.HotTopics"/>
        </CenteredContainer>

        <CenteredContainer MaxWidth="@ContainerWidth.W1280" Class="mb-6 mb-sm-12" Style="background-color: var(--mud-palette-black)">
            <RandomTopic Class="my-6 my-sm-12"/>
        </CenteredContainer>

        <CenteredContainer MaxWidth="@ContainerWidth.W1280" Class="mb-6 mb-sm-12">
            <div class="header">
                <h2>@L["Topics:Recent"]</h2>
            </div>
            <SpotlightGrid Gap="true" Topics="@result.RecentTopics"/>
        </CenteredContainer>
    </Success>
</ApiViewer>

@code {

    private ApiResponse<HistoryOverview> _response = ApiResponse<HistoryOverview>.Loading();

    [Inject]
    private IHistoryClient Client { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    protected override async Task OnInitializedAsync() =>
        _response = await Client.Home.GetAsync();

}
