@using Education.Web.Client.Services.Model.Quest
<section class="mud-paper d-flex align-center gap-3 pa-3 @Class">
    <MudAvatar Class="rounded white-text" Color="@(Quest.IsCompleted ? Color.Success : Color.Default)" Size="Size.Large">
        <MudIcon Icon="@Icons.Material.Outlined.Check" Size="Size.Large"/>
    </MudAvatar>
    <div class="w-100">
        <MudText Typo="Typo.subtitle1">
            @Quest.Title
        </MudText>

        <MudProgressLinear
            Class="mb-1"
            Min="0"
            Max="@Quest.Threshold"
            Value="@Quest.Score"
            Color="@(Quest.IsCompleted ? Color.Success : Color.Primary)"
            Size="Size.Small"/>

        <div class="d-flex justify-space-between align-start">
            <MudText Typo="Typo.body2">
                @(((double)Quest.Score / Quest.Threshold * 100).ToReadable())%
            </MudText>
            <div class="d-flex align-center">
                <ReadableNumber Value="@Quest.Score" Typo="Typo.body2"/>
                <div>&nbsp;/&nbsp;</div>
                <ReadableNumber Value="@Quest.Threshold" Typo="Typo.body2"/>
            </div>
        </div>
    </div>
</section>

@code {

    [Parameter, EditorRequired]
    public QuestModel Quest { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }
}