<section class="card mud-paper @Class">
    <SubjectIcon Icon="@Subject.Icon" Background="@Subject.Gradient"/>

    <article>
        <MudLink Class="d-inline-block mb-3" Href="@Subject.SubjectHref" Typo="Typo.h5">
            @Subject.Title
        </MudLink>

        <div class="d-flex flex-wrap align-center gap-3">
            <section class="d-flex align-center">
                <MudIcon Class="mr-1" Size="Size.Small" Icon="@EduIcons.Level"/>
                <MudText Typo="Typo.body1">
                    @Subject.Level.Current
                </MudText>
            </section>

            <BackpackOverview Typo="Typo.body1" Fullness="@Subject.Backpack.Fullness" Capacity="@Subject.Backpack.Capacity"/>

            @foreach (var (currency, amount) in Subject.Wallet)
            {
                <InternalMoney IconSize="Size.Small" Currency="@currency" Amount="@amount" Typo="Typo.body1" Horizontal ShowFullValue/>
            }
        </div>
    </article>

    <footer class="details">
        <MudButton
            Class="text-transform-none"
            EndIcon="@Icons.Material.Outlined.ArrowForward"
            Href="@Subject.ProfileHref"
            DisableRipple
            DisableElevation>
            @L["User_Dashboard_Title"]
        </MudButton>
    </footer>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required SubjectEnhancedModel Subject { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
