<section class="d-flex flex-column mud-paper @Class">
    <header class="d-flex align-center gap-3 pa-3 pa-sm-6">
        <SubjectIcon Icon="@Subject.Icon" Background="@Subject.Gradient"/>

        <MudLink Href="@Subject.Links.Root" Typo="Typo.h4">
            @Subject.Title
        </MudLink>
    </header>

    <UserLevelProgress
        Class="px-3 pb-3 px-sm-6 pb-sm-6"
        Level="@Subject.Level.Current"
        Experience="@Subject.Level.Experience"
        Threshold="@Subject.Level.Threshold"/>

    <section class="d-flex flex-grow-1 justify-space-between align-center gap-3 px-3 pb-3 px-sm-6 pb-sm-6">
        <div>
            <MudLink Typo="Typo.subtitle2" Color="Color.Primary" Href="@Subject.Links.Wallet">
                @L["Wallet_Title"]
            </MudLink>
            <div class="d-flex align-center gap-3">
                @foreach (var (currency, amount) in Subject.Wallet)
                {
                    <GameMoneyDisplay Currency="@currency" Amount="@amount" Typo="Typo.body1" Horizontal ShowFullValue/>
                }
            </div>
        </div>

        <div class="d-flex flex-column align-end">
            <MudLink Typo="Typo.subtitle2" Color="Color.Primary" Href="@Subject.Links.Backpack">
                @L["Backpack_Title"]
            </MudLink>
            <BackpackOverview Fullness="@Subject.Backpack.Fullness" Capacity="@Subject.Backpack.Capacity"/>
        </div>
    </section>

    <footer class="border-t mud-border-lines-default pa-3">
        <MudButton Class="text-transform-none"
                   DisableElevation
                   DisableRipple
                   EndIcon="@Icons.Material.Outlined.ArrowForward"
                   Href="@Subject.Links.Dashboard"
                   Variant="Variant.Text">
            @L["User_Dashboard_Title"]
        </MudButton>
    </footer>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required SubjectEnhancedModel Subject { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
