@page "/history/my/activities"
@layout HistoryLayout

@using Education.Client.Gateways.History.User
@using Education.Client.Gateways.History
@using Education.Client.Features.History.My.Activities.Components;

@attribute [Authorize]

<PageTitle>@L["Test:MyActivity"]</PageTitle>

<EduPage Subject="@L["Subject:History"]" ShowFooter="@_response.IsLoaded">
    <ApiViewer Response="@_response">
        <Success Context="activity">
            <EduContainer>
                <PageHeader Title="@L["Test:MyActivity"]" Class="mb-3 mb-sm-6" Breadcrumbs="@Breadcrumbs"/>
                <div class="grid">
                    <TestCard
                        Class="easy-test"
                        Icon="@EducationIcons.Tests"
                        IconClass="blue-text"
                        Title="@L["Tests:Easy"]"
                        Href="@Links.History.MyEasyTests"
                        Value="@activity.EasyTests"/>

                    <TestCard
                        Class="hard-test"
                        Icon="@EducationIcons.Tests"
                        IconClass="deep-purple-text"
                        Title="@L["Tests:Hard"]"
                        Href="@Links.History.MyHardTests"
                        Value="@activity.HardTests"/>

                    <TestCard
                        Class="mixed-test"
                        Icon="@EducationIcons.Tests"
                        IconClass="red-text"
                        Title="@L["Tests:Mixed"]"
                        Href="@Links.History.MyMixedTests"
                        Value="@activity.MixedTests"/>

                    <TestCard
                        Class="event-guesser"
                        Icon="@EducationIcons.EventGuesser"
                        IconClass="amber-text"
                        Title="@L["EventGuesser"]"
                        Href="@Links.History.MyEventGuessers"
                        Value="@activity.EventGuessers"/>

                    <ActivityCard
                        Class="monthly"
                        Title="@L["Statistics:Daily"]"
                        Activities="@activity.Daily"
                        DateFormat="dd MMM"/>

                    @if (activity.Monthly.Length > 1)
                    {
                        <ActivityCard
                            Class="annual"
                            Title="@L["Statistics:Monthly"]"
                            Activities="@activity.Monthly"
                            DateFormat="MMM yyyy"/>
                    }
                </div>
            </EduContainer>
        </Success>
    </ApiViewer>
</EduPage>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Account"].Value, Links.Account.Index),
        new BreadcrumbItem(L["Profile"].Value, Links.History.MyProfile)
    };

    private ApiResponse<ProgressStatistics> _response = ApiResponse<ProgressStatistics>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnParametersSetAsync() =>
        _response = await HistoryClient.User.GetProgressAsync();

}
