@using Education.Web.Gateways.Models.Content

<div class="@Class">
    @if (ShowTooltip)
    {
        <MudTooltip Placement="Placement.Top" Text="@($"{L["Rating"]}: {Rating.Stars.ToString("F1")}")">
            <MudRating MaxValue="5" Size="@Size" ReadOnly="true" SelectedValue="@((int)Math.Round(Rating.Stars))"/>
        </MudTooltip>
    }
    else
    {
        <MudRating MaxValue="5" Size="@Size" ReadOnly="true" SelectedValue="@((int)Math.Ceiling(Rating.Stars))"/>
    }

    @if (ShowDetails)
    {
        <MudText Typo="Typo.caption">
            @Rating.Stars.ToString("F1")/@Rating.Votes.ToReadable()
        </MudText>
    }
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public ContentRatingModel Rating { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public bool ShowTooltip { get; set; }

    [Parameter]
    public bool ShowDetails { get; set; }

}
