@page "/history/course/{id}"
@layout HistoryLayout

<EduApiViewer Result="@_response" OnReloadClick="@OnParametersSetAsync">
    <PageTitle>
        @context.Course.Title
    </PageTitle>

    <EduMetaHeader Description="@context.Course.Description"
                   Image="@context.Course.Image.Url"
                   Title="@context.Course.Title"/>

    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1600">
        <CourseHeader
            Class="mb-3 mb-sm-6"
            CourseId="@context.Course.Id"
            Title="@context.Course.Title"
            Image="@context.Course.Image"
            HasExaminations="@(context.HasEasyExamination || context.HasHardExamination)"
            ArticleCount="@context.Course.Articles.Length"
            Activity="@context.Activity"
            OnLikeClick="@LearnerClient.LikeCourseAsync"
            OnDislikeClick="@LearnerClient.DislikeCourseAsync"
            OnBookmarkClick="@LearnerClient.ToggleCourseBookmarkAsync"
            OnStartClick="@StartCourseAsync"/>

        <section class="content">
            <div class="articles">
                <MudText Typo="Typo.h5">
                    @L["Articles_Title"]
                </MudText>

                @foreach (var (article, activity, hasQuiz) in context.Course.Articles)
                {
                    <ArticleCard
                        Article="@article"
                        HasQuiz="@hasQuiz"
                        Activity="@activity"
                        OnBookmarkClick="@LearnerClient.ToggleArticleBookmarkAsync"
                        Horizontal/>
                }
            </div>

            <EduFillGrid Class="aside">
                <section>
                    <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5">
                        @L["Course_Description_Title"]
                    </MudText>

                    <MudText Typo="Typo.body1">
                        @context.Course.Description
                    </MudText>
                </section>

                <CourseDetails Details="@context.Course.Details"/>

                @if (context.Activity?.Status > CourseLearningStatus.NotStarted)
                {
                    <ExaminationCard
                        CourseId="@context.Course.Id"
                        Activity="@context.Activity"
                        HasEasyExamination="@context.HasEasyExamination"
                        HasHardExamination="@context.HasHardExamination"/>
                }
            </EduFillGrid>
        </section>
    </EduContainer>
</EduApiViewer>
