@page "/history/test/{id}"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.History.Test
@using Elwark.Education.Web.Gateways.Models.Test
@inject IStringLocalizer<App> L
@inject IHistoryClient HistoryClient
@inject NavigationManager NavigationManager

@attribute [Authorize]

<MainContainer>
    <ApiResponseViewer Response="@_test">
        <Placeholder>
            <PageLoader/>
        </Placeholder>
        <Result Context="test">
            <Title Value="@L[$"TestType:{test.TestType}"]"/>

            <section class="section">
                <div class="container mud-paper mud-elevation-1">
                    <TestHeader
                        Type="@test.TestType"
                        AnswerAttempts="@test.AnswerAttempts"
                        CurrentQuestion="@(_questionIndex + 1)"
                        TotalQuestions="@_questions.Count"
                        ExpiredAt="@test.ExpiredAt"
                        CountDownColor="@_countdownColor"
                        OnComplete="@OnExpired"/>
                </div>
            </section>

            <section class="section">
                <div class="container mud-paper mud-elevation-1">
                    <TestForm
                        Question="@_questions[_questionIndex]"
                        AnswerResult="@_answerResult"
                        OnAnswer="@OnAnswer"
                        OnNext="@NextQuestion"/>
                </div>
            </section>
        </Result>
    </ApiResponseViewer>
</MainContainer>

@code {

    [Parameter]
    public string Id { get; init; } = default!;

    private bool _isTestComplete;
    private Color _countdownColor = Color.Default;
    private ApiResponse<TestModel> _test = ApiResponse<TestModel>.Loading();
    private List<TestQuestion> _questions = new();
    private int _questionIndex;
    private TestAnswerResult? _answerResult;

    protected override async Task OnInitializedAsync()
    {
        _test = await HistoryClient.Test.GetAsync(Id);

        if (_test.Status == ResponseStatus.Fail && _test.Error.OneOf(Error.NotFound, Error.TestExpired))
        {
            NavigationManager.NavigateTo(Links.History.Conclusion(Id));
            return;
        }

        if (_test.Status != ResponseStatus.Success)
            return;

        _questions = _test.Data.Questions
            .OrderByDescending(x => x.IsAnswered)
            .ToList();

        _questionIndex = _questions.FindLastIndex(x => x.IsAnswered) + 1;
    }

    private async Task OnAnswer(TestAnswer answer)
    {
        switch (answer)
        {
            case ManyAnswer x:
            {
                var result = await HistoryClient.Test.CheckAsync(_test.Data.Id, _questions[_questionIndex].Id, x);
                if (result.Status == ResponseStatus.Fail)
                {
                    _test = ApiResponse<TestModel>.Fail(result.Error);
                    return;
                }
                _answerResult = result.Data;
                break;
            }

            case SingleAnswer x:
            {
                var result = await HistoryClient.Test.CheckAsync(_test.Data.Id, _questions[_questionIndex].Id, x);
                if (result.Status == ResponseStatus.Fail)
                {
                    _test = ApiResponse<TestModel>.Fail(result.Error);
                    return;
                }
                _answerResult = result.Data;
                break;
            }

            case TextAnswer x:
            {
                var result = await HistoryClient.Test.CheckAsync(_test.Data.Id, _questions[_questionIndex].Id, x);
                if (result.Status == ResponseStatus.Fail)
                {
                    _test = ApiResponse<TestModel>.Fail(result.Error);
                    return;
                }
                _answerResult = result.Data;
                break;
            }
        }

        if (_answerResult is null)
        {
            _test = ApiResponse<TestModel>.Fail(Error.Unknown);
            return;
        }

        _isTestComplete = _answerResult.IsTestComplete;

        if (!_answerResult.IsAnswerCorrect)
        {
            if (_test.Data.AnswerAttempts >= 0)
            {
                _test = ApiResponse<TestModel>.Success(_test.Data with{AnswerAttempts = _test.Data.AnswerAttempts - 1});
            }
            
            if (_test.Data.TestType == TestType.Easy)
            {
                var wrong = _questions.First(x => x.Id == _questions[_questionIndex].Id);
                _questions.Add(wrong with{Options = wrong.Options.OrderBy(_ => Guid.NewGuid()).ToArray()});
            }
        }
    }

    private void NextQuestion()
    {
        if (_isTestComplete)
        {
            NavigationManager.NavigateTo(Links.History.Conclusion(Id));
            return;
        }

        _questionIndex++;
        _answerResult = null;
    }

    private async Task OnExpired()
    {
        _countdownColor = Color.Error;
        _test = await HistoryClient.Test.GetAsync(Id);

        if (_test.Status == ResponseStatus.Fail && _test.Error.OneOf(Error.NotFound, Error.TestExpired))
            NavigationManager.NavigateTo(Links.History.Conclusion(Id));
    }

}
