@using Education.Client.Gateways.History
@using Education.Client.Gateways.Models.Content
<section class="card">
    <header class="card-header">
        <a href="@Links.History.TopicById(Id)">
            <img src="@Image" alt="@Title" loading="lazy"/>
        </a>
        <div class="rating-container">
            <RatingStars Rating="@Rating" ShowTooltip="true"/>
        </div>
    </header>

    <aside class="d-flex align-center justify-space-between px-3">
        <MudChip Label="true" Class="ma-0" Size="Size.Small" Color="Color.Primary" Link="@Links.History.TopicByEpoch(Epoch)">
            @L[$"History:{Epoch}"]
        </MudChip>
    </aside>

    <article class="px-3">
        <MudLink Href="@Links.History.TopicById(Id)" Typo="Typo.h6">
            @Title
        </MudLink>
        <MudText Typo="Typo.body2" Class="pt-3">
            @Overview
        </MudText>
    </article>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public EpochType Epoch { get; set; }

    [Parameter]
    public string Image { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Overview { get; set; } = string.Empty;

    [Parameter]
    public ContentRating Rating { get; set; } = default!;

}