@using ApexCharts
@using Education.Web.Client.Features.History.Services.User.Model.Quiz
<div class="@Class">
    @if (Value.Total > TimeSpan.Zero)
    {
        <ApexChart TItem="Data" Options="@Options">
            <ApexRangeSeries
                TItem="Data"
                Items="@Series"
                XValue="@(x => x.Name)"
                YValue="@(x => x.Value)"
                PointColor="@(x => x.Color)"/>
        </ApexChart>
    }

    <ChartList Items="@Items"/>
</div>

@code {

    private ApexChartOptions<Data> Options => new()
    {
        PlotOptions = new PlotOptions
        {
            Bar = new PlotOptionsBar
            {
                Horizontal = true
            }
        },
        Xaxis = new XAxis
        {
            Labels = new XAxisLabels
            {
                Formatter = @"
function(value) {
    var minutes = Math.floor(value / 60000);
    var seconds = ((value % 60000) / 1000).toFixed(0);
    return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
}"
            }
        },
        Tooltip = new Tooltip
        {
            Enabled = false
        },
        Chart = new Chart
        {
            Toolbar = new Toolbar
            {
                Show = false
            },
            Background = "transparent",
            ForeColor = "var(--mud-palette-text-primary)"
        }
    };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public QuizStatisticsModel.TimeSpentModel Value { get; set; } = default!;

    private ChartList.Item[] Items => new[]
    {
        new ChartList.Item(L["TimeSpent:Min"], Value.Min.Humanize(), Colors.Green.Accent4),
        new ChartList.Item(L["TimeSpent:Average"], Value.Average.Humanize(), Colors.Blue.Default),
        new ChartList.Item(L["TimeSpent:Max"], Value.Max.Humanize(), Colors.DeepPurple.Default),
        new ChartList.Item(L["TimeSpent:Total"], Value.Total.Humanize(), null)
    };

    private Data[] Series => new[]
    {
        new Data(L["TimeSpent:Min"], 0, Colors.Green.Accent4),
        new Data(L["TimeSpent:Min"], (decimal)Value.Min.TotalMilliseconds, Colors.Green.Accent4),
        new Data(L["TimeSpent:Average"], 0, Colors.Blue.Default),
        new Data(L["TimeSpent:Average"], (decimal)Value.Average.TotalMilliseconds, Colors.Blue.Default),
        new Data(L["TimeSpent:Max"], 0, Colors.DeepPurple.Default),
        new Data(L["TimeSpent:Max"], (decimal)Value.Max.TotalMilliseconds, Colors.DeepPurple.Default)
    };

    private sealed record Data(string Name, decimal Value, string Color);

}