@using Education.Client.Gateways.History.Me
@using Education.Client.Extensions

<section class="grid">
    @switch (Achievement)
    {
        case CommonAchievement(var name, var progress, var completedAt, var reward):
            <aside class="icon @_background">
                <MudIcon Icon="@_icon" Size="Size.Large" Color="Color.Inherit"/>
            </aside>
            <h6 class="title mud-typography mud-typography-subtitle1">
                @L[$"Achievement:{name}"]
            </h6>
            <footer class="progress">
                @if (completedAt.HasValue)
                {
                    <MudText Typo="Typo.body1">
                        @completedAt.Value.ToSimpleFormat()
                    </MudText>
                }
                else
                {
                    <div class="d-flex flex-row align-center justify-end mb-1">
                        +@reward.Experience
                        <MudIcon Size="Size.Small" Color="Color.Primary" Class="ml-1" Icon="@EducationIcons.Experience"/>
                    </div>
                    <MudProgressLinear Min="0" Max="100" Value="@progress" Color="Color.Primary"/>
                }
            </footer>
            break;

        case LeveledAchievement(var name, var level, var current, var target, var progress, var completedAt, var reward):
            <aside class="icon @_background">
                <MudIcon Icon="@_icon" Size="Size.Large" Color="Color.Inherit"/>
                <MudText Typo="Typo.caption" Class="mt-1" Style="text-transform: uppercase" Color="Color.Inherit">
                    @L["Achievement:Level"] @level
                </MudText>
            </aside>
            <h6 class="title mud-typography mud-typography-subtitle1">
                @L[$"Achievement:{name}"]
            </h6>
            <footer class="progress">
                <div class="d-flex flex-row justify-space-between mb-1">
                    <MudText Typo="Typo.subtitle2">
                        @current/@target
                    </MudText>
                    <div class="d-flex flex-row align-center">
                        +@reward.Experience
                        <MudIcon Size="Size.Small" Color="Color.Primary" Class="ml-1" Icon="@EducationIcons.Experience"/>
                    </div>
                </div>
                <MudProgressLinear Min="0" Max="100" Value="@progress" Color="Color.Primary"/>
            </footer>
            break;
    }
    @if (ShowDescription)
    {
        <section class="description">
            <MudText Typo="Typo.body2">
                @L[$"Achievement:{Achievement.Name}Description"]
            </MudText>
        </section>
    }
</section>

@code {
    private string _icon = string.Empty;
    private string _background = string.Empty;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public Achievement Achievement { get; set; } = default!;

    [Parameter]
    public bool ShowDescription { get; set; }

    protected override void OnInitialized()
    {
        (_icon, _background) = Achievement.Name switch {
            "EasyTestCompletedAchievement" => (EducationIcons.Tests, "green lighten-1 white-text"),
            "EasyTestScoreAchievement" => (EducationIcons.Score, "green lighten-1 white-text"),
            
            "HardTestCompletedAchievement" => (EducationIcons.Tests, "indigo default white-text"),
            "HardTestScoreAchievement" => (EducationIcons.Score, "indigo default white-text"),
            
            "MixedTestCompletedAchievement" => (EducationIcons.Tests, "red accent-2 white-text"),
            "MixedTestScoreAchievement" => (EducationIcons.Score, "red accent-2 white-text"),
            
            "CompleteOnceAllTypeOfTestsAchievement" => (Icons.Outlined.DoneAll, "yellow darken-2 white-text"),
            
            "TotalAnswersAchievement" => (Icons.Outlined.RecordVoiceOver, "light-blue darken-1 white-text"),
            "TotalCorrectAnswersAchievement" => (Icons.Outlined.TaskAlt, "light-blue darken-1 white-text"),
            "TotalTestCompletedAchievement" => (EducationIcons.Tests, "light-blue darken-1 white-text"),
            "TotalTestCompletedWithoutMistakesAchievement" => (Icons.Outlined.AddTask, "light-blue darken-1 white-text"),
            
            _=> (EducationIcons.Achievement, "black white-text")
            };
    }

}
