@using Education.Client.Gateways.Models.User
@using Education.Client.Extensions

<MudCard Class="@Class">
    <MudCardHeader Class="pa-3 pa-sm-6">
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Primary" Size="Size.Medium">
                <MudIcon Icon="@EducationIcons.Experience" Size="Size.Medium"/>
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <div class="d-flex align-center justify-space-between">
                <MudText Typo="Typo.h6">
                    @L["Experience:MyPoints"]
                </MudText>
                <HumanReadableText Value="@Balance" Typo="Typo.h5"/>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-3 pa-sm-6">
        <MudList Clickable="false" Dense="true" DisableGutters="true" DisablePadding="true">
            @foreach (var experience in Experiences)
            {
                <MudListItem>
                    <div class="d-flex flex-row justify-space-between">
                        <div>
                            <MudText Typo="Typo.button" Align="Align.Center" Style="word-wrap: break-word">
                                @if (experience.Type == ExperienceType.Achievement)
                                {
                                    @L[$"ExperienceType:{experience.Type}", L[$"Achievement:{experience.Comment}"]]
                                }
                                else
                                {
                                    @L[$"ExperienceType:{experience.Type}"]
                                }
                            </MudText>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">
                                @experience.CreatedAt.ToSimpleFormat()
                            </MudText>
                        </div>
                        <div class="d-flex flex-row align-center">
                            <MudText Typo="Typo.subtitle1" Color="Color.Success">
                                +@experience.Value
                            </MudText>
                            <MudIcon Size="Size.Small" Color="Color.Primary" Class="ml-1" Icon="@EducationIcons.Experience"/>
                        </div>
                    </div>
                </MudListItem>
            }
        </MudList>
    </MudCardContent>
</MudCard>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public long Balance { get; set; }

    [Parameter, EditorRequired]
    public Experience[] Experiences { get; set; } = Array.Empty<Experience>();

}
