@page "/account"
@layout MainLayout
@attribute [Authorize]

@using Education.Client.Pages.Account.Components
@using Education.Client.Gateways.Customers.Model
@using Education.Client.Gateways.Customers

<EduPage ShowFooter="true">
    <ApiViewer Response="@_customer">
        <Loading>
            <PageSpinner/>
        </Loading>
        <Success Context="customer">
            <EduContainer>
                <PageTitle>@customer.Name</PageTitle>
                <div class="wrapper">
                    <div class="account">
                        <AccountCard
                            Image="@customer.Image"
                            Language="@customer.Language"
                            Name="@customer.Name"
                            Timezone="@customer.Timezone"
                            FirstDayOfWeek="@customer.FirstDayOfWeek"/>
                    </div>
                    <div class="subjects">
                    </div>
                </div>
            </EduContainer>
        </Success>
    </ApiViewer>
</EduPage>

@code {
    private ApiResponse<CustomerModel> _customer = ApiResponse<CustomerModel>.Loading();

    [Inject]
    private ICustomerClient CustomerClient { get; set; } = default!;

    // [Inject]
    // private IDialogService Dialog { get; set; } = default!;

    protected override async Task OnInitializedAsync() =>
        _customer = await CustomerClient.GetAsync();

    // private void OnBuyClick(SubjectType type)
    // {
    //     var options = new DialogOptions
    //     {
    //         MaxWidth = MaxWidth.Medium,
    //         NoHeader = true,
    //         CloseButton = false,
    //         FullWidth = true
    //     };
    //
    //     var parameters = new DialogParameters
    //     {
    //         [nameof(SubscriptionModal.SubjectType)] = type
    //     };
    //
    //     Dialog.Show<SubscriptionModal>(null, parameters, options);
    // }
}
