@using Education.Client.Features.Authentication
@using Education.Client.Features.Customer
<AuthorizeView>
    <NotAuthorized>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Small"
            OnClick="@OnLogin"
            DisableRipple
            DisableElevation>
            @L["Account_SignIn"]
        </MudButton>
    </NotAuthorized>

    <Authorizing>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="40px" Height="40px"/>
    </Authorizing>

    <Authorized>
        <MudMenu ListClass="pa-0" AnchorOrigin="Origin.TopRight" DisableRipple>
            <ActivatorContent>
                <img class="avatar rounded object-cover object-center" src="@Customer.Image" alt="@Customer.Name" loading="lazy"/>
            </ActivatorContent>

            <ChildContent>
                <section class="container d-flex flex-column align-center gap-3 gap-sm-6 pa-3 pa-sm-6">
                    <img class="image rounded object-cover object-center" src="@Customer.Image" alt="@Customer.Name" loading="lazy"/>

                    <MudText Typo="Typo.h5" Align="Align.Center">
                        @L["HiUserName_Title", Customer.Name]
                    </MudText>

                    <MudFab
                        Class="text-transform-none pa-3 pa-sm-6"
                        Color="Color.Primary"
                        Href="@Configuration["Urls:Account"]"
                        Target="_blank"
                        Label="@L["ManageYourElwarkAccount_Title"]"
                        EndIcon="@Icons.Material.Outlined.OpenInNew"
                        IconSize="Size.Small"
                        DisableRipple
                        DisableElevation/>

                    <MudButtonGroup Class="w-100" Color="Color.Primary" Variant="Variant.Text" Size="Size.Large" DisableElevation>
                        <MudButton StartIcon="@Icons.Material.Outlined.Person" Href="@CustomerUrl.Root" DisableRipple FullWidth>
                            @L["Account_Title"]
                        </MudButton>
                        <MudButton StartIcon="@Icons.Material.Outlined.Login" OnClick="@OnLogout" DisableRipple FullWidth>
                            @L["Account_Logout"]
                        </MudButton>
                    </MudButtonGroup>
                </section>
            </ChildContent>
        </MudMenu>
    </Authorized>
</AuthorizeView>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Inject]
    private NavigationManager Navigation { get; init; } = default!;

    [Inject]
    private IConfiguration Configuration { get; init; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; init; } = default!;

    private void OnLogin() =>
        Navigation.NavigateToLogin(AuthenticationUrl.LogIn(Navigation.Uri));

    private void OnLogout() =>
        Navigation.NavigateToLogout(AuthenticationUrl.LogOut);

}