@using Education.Web.Pages.History.Components
@using Education.Web.Pages.History.Tests.Test.Components
@using Education.Web.Services.History.Test
@using Education.Web.Services.History.Test.Model
@using Education.Web.Services.Model.Inventory
@using Education.Web.Services.Model.Test

@page "/history/tests/{id}"
@layout HistoryLayout
@attribute [Authorize]

<EduPage ShowFooter>
    <ApiViewer Result="@_result">
        <PageTitle>
            @_title: @_currentQuestion.Topic.Title
        </PageTitle>

        <EduContainer MaxWidth="EduWidth.W1280">
            <section class="grid">
                @* <header class="header d-sm-flex justify-sm-space-between align-sm-center"> *@
                @*     <MudText Typo="Typo.h5"> *@
                @*         @_currentQuestion.Topic.Title *@
                @*     </MudText> *@
                @*     <div class="progress"> *@
                @*         <div class="mb-1"> *@
                @*             <MudText Typo="Typo.subtitle1"> *@
                @*                 @L["Questions"] @_test.Completed / @_test.Questions *@
                @*             </MudText> *@
                @*             <MudProgressLinear Min="0" Max="100" Value="@(Progress)" Color="Color.Primary"/> *@
                @*         </div> *@
                @*         <CountdownTimer *@
                @*             Typo="Typo.body1" *@
                @*             Date="@_test.ExpiredAt" *@
                @*             Color="@_countdownColor" *@
                @*             OnComplete="@OnExpired"/> *@
                @*     </div> *@
                @* </header> *@

                <section class="mud-paper d-flex flex-column align-center pa-3 pa-sm-6">
                    <MudText Class="mud-text-secondary" Typo="Typo.caption">
                        @_title
                    </MudText>
                    <MudText Class="mb-3 mb-sm-6" Typo="Typo.h5" Style="font-weight: 500">
                        @_currentQuestion.Topic.Title
                    </MudText>

                    @if (_currentQuestion.Image is not null)
                    {
                        <img class="image mb-3 mb-sm-6" src="@_currentQuestion.Image" alt="@_currentQuestion.Title"/>
                    }

                    <MudText Class="mb-6" Typo="Typo.subtitle1">
                        @_currentQuestion.Title
                    </MudText>

                    @switch (_currentQuestion)
                    {
                        case MultipleAnswerQuestionModel question:
                        {
                            <MultipleAnswerForm
                                IsLoading="@_checking"
                                IsTestCompleted="@IsCompleted"
                                CorrectAnswer="@(_correctAnswer as MultipleAnswersResultModel)"
                                UserAnswer="@(_userAnswer as MultipleAnswerModel ?? new MultipleAnswerModel())"
                                Options="@question.Options"
                                OnAnswer="@OnMultiplyAnswer"
                                OnNext="@OnNext"
                                OnComplete="@OnComplete"/>
                            break;
                        }

                        case ShortAnswerQuestionModel:
                        {
                            <ShortAnswerForm
                                IsLoading="@_checking"
                                IsTestCompleted="@IsCompleted"
                                CorrectAnswer="@(_correctAnswer as ShortAnswerResultModel)"
                                UserAnswer="@(_userAnswer as ShortAnswerModel ?? new ShortAnswerModel())"
                                OnAnswer="@OnShortAnswer"
                                OnNext="@OnNext"
                                OnComplete="@OnComplete"/>
                            break;
                        }

                        case SingleAnswerQuestionModel question:
                        {
                            <SingleAnswerForm
                                IsLoading="@_checking"
                                IsTestCompleted="@IsCompleted"
                                CorrectAnswer="@(_correctAnswer as SingleAnswerResultModel)"
                                UserAnswer="@(_userAnswer as SingleAnswerModel ?? new SingleAnswerModel())"
                                Options="@question.Options"
                                OnAnswer="@OnSingleAnswer"
                                OnNext="@OnNext"
                                OnComplete="@OnComplete"/>
                            break;
                        }

                        default:
                            throw new ArgumentOutOfRangeException(nameof(_currentQuestion));
                    }

                    <div class="progress mt-16">
                        <MudProgressLinear
                            Class="mb-2"
                            Rounded
                            Min="0"
                            Max="100"
                            Value="@Progress"
                            Color="Color.Primary"
                            Size="Size.Medium"/>
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1">
                                @L["Test:QuestionOutOf", _test.Completed + 1, _test.Questions]
                            </MudText>
                            <CountdownTimer
                                Typo="Typo.subtitle1"
                                Date="@_test.ExpiredAt"
                                Color="@_countdownColor"
                                OnComplete="@OnExpired"/>
                        </div>
                    </div>
                </section>

                <aside class="inventory">
                    <InventoryGrid>
                        @foreach (var item in _inventory.OrderByDescending(x => x.IsApplicable))
                        {
                            if (item.IsApplicable)
                            {
                                <InventoryButtonCard
                                    Id="@item.Id"
                                    Count="@item.Count"
                                    Title="@item.Title"
                                    Overview="@item.Overview"
                                    IconUrl="@item.IconUrl"
                                    ButtonText="@L["Inventory:Use"]"
                                    OnClick="@OnUseInventory"/>
                            }
                            else
                            {
                                <InventoryInfoCard
                                    Title="@item.Title"
                                    Overview="@item.Overview"
                                    Count="@item.Count"
                                    IconUrl="@item.IconUrl"/>
                            }
                        }
                    </InventoryGrid>
                </aside>
            </section>
        </EduContainer>
    </ApiViewer>
</EduPage>

@code {
    private ApiResult<TestModel> _result = ApiResult<TestModel>.Loading();
    private TestInventoryItemModel[] _inventory = Array.Empty<TestInventoryItemModel>();
    private Color _countdownColor = Color.Default;
    private TestOverviewModel _test = default!;
    private TestQuestionModel _currentQuestion = default!;
    private TestQuestionModel? _nextQuestion;
    private AnswerToQuestionModel? _userAnswer;
    private AnswerResultModel? _correctAnswer;
    private bool _checking;
    private string _title = string.Empty;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryTestService TestService { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Inject]
    private ISnackbar Snackbar { get; set; } = default!;

    [Parameter]
    public string Id { get; set; } = string.Empty;

    private double Progress =>
        (double)_test.Completed / _test.Questions * 100;

    private bool IsCompleted =>
        _test.Completed == _test.Questions;

    protected override async Task OnParametersSetAsync()
    {
        _result = await TestService.GetAsync(Id);
        if (_result.IsSuccess)
        {
            _test = _result.Data.Overview;
            _currentQuestion = _result.Data.Question;
            _inventory = _result.Data.Inventory;
            _title = _test switch {
                EasyTestOverviewModel => L["Test:Easy"],
                HardTestOverviewModel => L["Test:Hard"],
                MixedTestOverviewModel => L["Test:Mixed"],
                _ => string.Empty
                };
        }
        else if (_result.Error.IsTestAlreadyCompleted())
            Navigation.NavigateTo(HistoryUrl.TopicTest.Conclusion(Id));
        else if (_result.Error.IsTestNotFound())
            Navigation.NavigateTo(HistoryUrl.TopicTest.Conclusion(Id));
    }

    private async Task OnExpired()
    {
        _countdownColor = Color.Error;
        _result = await TestService.GetAsync(Id);

        if (_result.IsFailed)
            Navigation.NavigateTo(HistoryUrl.TopicTest.Conclusion(Id));
    }

    private async Task OnShortAnswer(ShortAnswerModel answer)
    {
        _checking = true;
        _userAnswer = answer;

        var result = await TestService.CheckAsync(_test.Id, _currentQuestion.Id, answer);
        UpdateState(result);

        _checking = false;
    }

    private async Task OnSingleAnswer(SingleAnswerModel answer)
    {
        _checking = true;
        _userAnswer = answer;

        var result = await TestService.CheckAsync(_test.Id, _currentQuestion.Id, answer);
        UpdateState(result);

        _checking = false;
    }

    private async Task OnMultiplyAnswer(MultipleAnswerModel answer)
    {
        _checking = true;
        _userAnswer = answer;

        var result = await TestService.CheckAsync(_test.Id, _currentQuestion.Id, answer);
        UpdateState(result);

        _checking = false;
    }

    private void UpdateState(ApiResult<TestAnswerModel> result)
    {
        if (result.IsFailed)
        {
            if (result.Error.IsTestAlreadyCompleted())
                Navigation.NavigateTo(HistoryUrl.TopicTest.Conclusion(Id));
            else
                Snackbar.Add(result.Error.Detail, Severity.Error);

            return;
        }

        _test = result.Data.Overview;
        _inventory = result.Data.Inventory;
        _nextQuestion = result.Data.NextQuestion;
        _correctAnswer = result.Data.Answer;

        StateHasChanged();
    }

    private void OnNext()
    {
        if (_nextQuestion is null)
            return;

        _currentQuestion = _nextQuestion;
        _nextQuestion = null;
        _userAnswer = null;
        _correctAnswer = null;

        StateHasChanged();
    }

    private void OnComplete() =>
        Navigation.NavigateTo(HistoryUrl.TopicTest.Conclusion(Id));

    private async Task OnUseInventory(uint id)
    {
        var test = await TestService.ApplyInventoryAsync(_test.Id, id);
        if (test.IsSuccess)
        {
            if (test.Data.Question is null)
            {
                Navigation.NavigateTo(HistoryUrl.TopicTest.Conclusion(Id));
                return;
            }

            _test = test.Data.Overview;
            _currentQuestion = test.Data.Question;
            _inventory = test.Data.Inventory;
        }
        else
        {
            Snackbar.Add(test.Error.Detail, Severity.Error);
        }
    }

}