@using Education.Web.Client.Services.History
<section class="@Class mud-paper pa-3 pa-sm-6">
    @if (HasTest && UserActivity.PassedTests > 0)
    {
        <MudLink Typo="Typo.subtitle2" Href="@HistoryUrl.User.MyArticles(ArticleId)">
            @L["Test:MyProgress"]
        </MudLink>
    }
    else
    {
        <MudText Typo="Typo.subtitle2">
            @L["Test:MyProgress"]
        </MudText>
    }

    <ArticleProgressView
        PassedTests="@UserActivity.PassedTests"
        TimeSpent="@UserActivity.TimeSpent"
        Class="pt-3 pb-3 pb-sm-6"/>

    @if (HasTest)
    {
        <MudButton
            FullWidth
            DisableElevation
            Variant="Variant.Filled"
            Color="Color.Primary"
            Link="@HistoryUrl.ArticleTest.Index(ArticleId)">
            @L["Test:Pass"]
        </MudButton>
    }
</section>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public string ArticleId { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserActivityOverviewModel UserActivity { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool HasTest { get; set; }

}