@using Education.Web.Client.Services.History
@using Education.Web.Client.Services.History.Article.Model
@using Education.Web.Client.Pages.History.Components
@using Education.Web.Client.Models.Content

<EduContainer Class="pa-0 pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
    <div class="header">
        <div class="preamble">
            <div class="image">
                <MudImage
                    Class="mb-3"
                    Src="@Person.ImageUrl"
                    Alt="@Person.Title"
                    ObjectFit="ObjectFit.Cover"
                    ObjectPosition="ObjectPosition.Center"
                    Fluid/>

                @if (Person.Born is not null || Person.Died is not null)
                {
                    <PersonLivespan Born="@Person.Born" Died="@Person.Died"/>
                }
            </div>
        </div>

        <div class="content pa-3 pa-sm-6">
            <h1 class="title mb-3">
                @Person.Title
            </h1>

            <Breadcrumbs Items="@Breadcrumbs" Class="pa-0 mb-3"/>

            <MudText Typo="Typo.subtitle1" Class="mw-sm mb-3">
                @Person.Description
            </MudText>

            @if (Person.Details.Length > 0)
            {
                <div class="details">
                    @foreach (var (title, text) in Person.Details)
                    {
                        <div>
                            <MudText Class="title" Typo="Typo.subtitle1" Color="Color.Tertiary">
                                @title
                            </MudText>
                            <StyledMarkupString Content="@text" DisableParagraphIndent/>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</EduContainer>

<EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1440">
    <section class="grid">
        <ArticleFormatToolbar Class="toolbar"/>

        <ArticleContent Class="content" Content="@Person.Content"/>

        <ArticleTest Class="test" ArticleId="@Person.Id" HasTest="@HasTest" UserActivity="@UserActivity"/>

        <ArticleUserButtons
            Class="rating"
            ArticleId="@Person.Id"
            Rating="@Rating"
            UserActivity="@UserActivity"
            OnBookmarkClick="@OnBookmarkClick"
            OnLikeClick="@OnLikeClick"
            OnDislikeClick="@OnDislikeClick"/>
    </section>

    @if (RelatedArticles.Length > 0)
    {
        <MudText Typo="Typo.h5" Class="mt-3 mt-sm-6 mb-3">
            @L["Articles:Related"]
        </MudText>
        <EduFillGrid>
            @foreach (var (article, activity) in RelatedArticles)
            {
                <ArticleCard
                    Article="@article"
                    Activity="@activity"
                    OnBookmarkClick="@OnBookmarkClick"/>
            }
        </EduFillGrid>
    }
</EduContainer>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Subject:History"], HistoryUrl.Root),
        new BreadcrumbItem(L[$"Epoch:{Person.Epoch.ToFastString()}"], HistoryUrl.Content.Epoch(Person.Epoch))
    };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public ArticleDetail.PersonModel Person { get; set; } = default!;

    [Parameter, EditorRequired]
    public ContentRatingModel Rating { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserActivityOverviewModel UserActivity { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool HasTest { get; set; }

    [Parameter, EditorRequired]
    public UserArticleOverviewModel[] RelatedArticles { get; set; } = Array.Empty<UserArticleOverviewModel>();

    [Parameter, EditorRequired]
    public Func<Task<bool>> OnLikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter, EditorRequired]
    public Func<Task<bool>> OnDislikeClick { get; set; } = () => Task.FromResult(false);

    [Parameter, EditorRequired]
    public Func<string, Task<bool>> OnBookmarkClick { get; set; } = _ => Task.FromResult(false);

}