@page "/history/my/profile"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["User_Profile_Title"]
</PageTitle>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="profile">
    <EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <ProfileCard Class="profile" Customer="@Customer">
                <UserLevelProgress
                    Class="px-3 px-sm-6"
                    Level="@profile.Level.Current"
                    Experience="@profile.Level.Experience"
                    Threshold="@profile.Level.Threshold"
                    OnLevelClick="@OnLevelClick"/>

                <section class="d-flex flex-wrap flex-sm-nowrap justify-space-between align-center gap-3 pa-3 pa-sm-6">
                    <div class="d-flex align-center gap-3">
                        @foreach (var (currency, amount) in profile.Wallet)
                        {
                            <InternalMoney Currency="@currency" Amount="@amount" Typo="Typo.body1" Horizontal/>
                        }
                    </div>

                    <BackpackOverview Fullness="@profile.Backpack.Fullness" Capacity="@profile.Backpack.Capacity"/>
                </section>
            </ProfileCard>

            <CardBadge
                Class="quizzes"
                Title="@L["Quizzes_Title"]"
                Value="@profile.TotalQuizzes"
                Icon="@EduIcons.Quiz">
                <MudButton
                    Class="text-transform-none"
                    EndIcon="@Icons.Material.Outlined.ArrowForward"
                    Href="@HistoryUrl.User.MyQuizzes">
                    @L["Quizzes_SeeAll"]
                </MudButton>
            </CardBadge>

            <CardBadge
                Class="date-guessers"
                Title="@L["History_DateGuessers_Title"]"
                Value="@profile.TotalDateGuessers"
                Icon="@EduIcons.DateGuesser">
                <MudButton
                    Class="text-transform-none"
                    EndIcon="@Icons.Material.Outlined.ArrowForward"
                    Href="@HistoryUrl.User.MyDateGuessers">
                    @L["History_DateGuessers_SeeAll"]
                </MudButton>
            </CardBadge>

            <AchievementsCard
                Class="achievement"
                Customer="@Customer"
                Total="@profile.Achievements.Total"
                Completed="@profile.Achievements.Unlocked"
                Completeness="@profile.Achievements.Completeness"
                LatestCompletedAchievement="@profile.Achievements.LatestCompletedAchievement"/>

            <RecentArticles Class="recent-articles"/>
        </section>
    </EduContainer>
</ApiViewer>