@* <div style="width: 120px;"> *@
@*     <div class="d-flex justify-space-between mb-1"> *@
@*         <div class="d-flex align-center"> *@
@*             <p style="color: var(--mud-palette-primary); font-size: 11px" class="mr-1">80%</p> *@
@*             <MudIcon Icon="@Icons.Material.Outlined.ThumbUp" Style="width: 12px; height: 12px; color: var(--mud-palette-primary)"></MudIcon> *@
@*         </div> *@
@*         <div class="d-flex align-center"> *@
@*             <p style="color: var(--mud-palette-secondary); font-size: 11px" class="mr-1">20%</p> *@
@*             <MudIcon Icon="@Icons.Material.Outlined.ThumbDown" Style="width: 12px; height: 12px; color: var(--mud-palette-secondary)"></MudIcon> *@
@*         </div> *@
@*     </div> *@
@*     <div class="d-flex"> *@
@*         <div style="width: 80%; height: 2px; background-color: var(--mud-palette-primary); border-radius: 4px;"></div> *@
@*         <div style="width: 2px;"></div> *@
@*         <div style="width: 20%; height: 2px; background-color: var(--mud-palette-secondary); border-radius: 4px"></div> *@
@*     </div> *@
@* </div> *@

<div class="@Class">
    <MudTooltip RootClass="d-flex" Placement="@Placement">
        <ChildContent>
            @if (Compact)
            {
                <div class="d-flex align-center gap-1">
                    <MudRating Class="rating" MaxValue="1" SelectedValue="1" Size="Size.Small" ReadOnly/>
                    <MudText Class="compact-text" Typo="Typo.body1">
                        @Stars
                    </MudText>
                </div>
            }
            else
            {
                <MudRating Class="rating" MaxValue="5" SelectedValue="@_stars" Size="Size.Small" ReadOnly/>
            }
        </ChildContent>

        <TooltipContent>
            <div class="d-flex align-center gap-3">
                <MudRating Class="rating" MaxValue="5" SelectedValue="@_stars" Size="Size.Small" ReadOnly/>

                <MudText Typo="Typo.body1">
                    @L["ContentRating_OutOf", Stars, 5]
                </MudText>
            </div>
            <MudText Typo="Typo.body2">
                @L["ContentRating_Voters", Votes.ToMetric()]
            </MudText>
        </TooltipContent>
    </MudTooltip>
</div>

@code {
    private int _stars;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public double Stars { get; set; }

    [Parameter, EditorRequired]
    public uint Votes { get; set; }

    [Parameter]
    public bool Compact { get; set; }

    [Parameter]
    public Placement Placement { get; set; } = Placement.Bottom;

    protected override void OnParametersSet() =>
        _stars = (int)Math.Round(Stars);

}
