@using Education.Web.Gateways.History.Leaderboards.Model

<section class="grid">
    <div class="rank">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:Rank"]
        </MudText>
    </div>
    <div class="name">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:UserName"]
        </MudText>
    </div>
    <div class="experience">
        <MudText Typo="Typo.subtitle2">
            @L["Leaderboard:UserExperience"]
        </MudText>
    </div>
</section>

<Virtualize Items="@Users" ItemSize="64" Context="user">
    <MudPaper Elevation="0" Class="mb-3">
        <section class="grid">
            <div class="rank">
                <MudText Typo="Typo.subtitle2">
                    @user.Rank
                </MudText>
            </div>
            <div class="name">
                <MudAvatar Image="@user.Image" Alt="@user.Name" Class="mr-3"/>
                <MudText Typo="Typo.subtitle1">@user.Name</MudText>
            </div>
            <div class="experience">
                <MudIcon Class="mr-3" Size="Size.Small" Style="color: #FFCA28" Icon="@EducationIcons.Experience"/>
                <HumanReadableText Value="@user.Experience" Typo="Typo.h6"/>
            </div>
        </section>
    </MudPaper>
</Virtualize>

@code {

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public UserRankingModel[] Users { get; set; } = Array.Empty<UserRankingModel>();

}
