@using FluentValidation
<EditForm Model="@_model" OnValidSubmit="@OnValidSubmit">
    <FluentValidationValidator/>

    <div class="form">
        <MudNumericField
            @bind-Value="@(_model.Year)"
            For="@(() => _model.Year)"
            Label="@L["History_EventGuesser_Year"]"
            Variant="Variant.Text"
            HideSpinButtons
            AutoFocus/>

        <MudSelect T="uint?"
                   @bind-Value="@(_model.Month)"
                   For="@(() => _model.Month)"
                   Label="@L["History_EventGuesser_Month"]"
                   Clearable>
            @foreach (var month in Months)
            {
                <MudSelectItem Value="@month.Key" T="uint?">
                    @month.Value
                </MudSelectItem>
            }
        </MudSelect>

        <MudNumericField
            @bind-Value="@(_model.Day)"
            For="@(() => _model.Day)"
            Label="@L["History_EventGuesser_Day"]"
            Variant="Variant.Text"
            HideSpinButtons/>

        <MudRadioGroup @bind-SelectedOption="@(_model.IsBc)">
            <MudRadio Option="false">
                @L["History_Date_Ad"]
            </MudRadio>
            <MudRadio Option="true">
                @L["History_Date_Bc"]
            </MudRadio>
        </MudRadioGroup>

        <div class="submit">
            <LoadingButton
                DisableElevation
                Color="Color.Primary"
                Variant="Variant.Filled"
                Text="@L["Quiz_AnswerToQuestion"]"
                LoadingText="@L["Loading_Title"]"
                ButtonType="ButtonType.Submit"
                IsLoading="@_isLoading"/>
        </div>
    </div>
</EditForm>

@code {
    private bool _isLoading;
    private Model _model = new();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<Model> OnAnswer { get; set; }

    private Dictionary<uint, string> Months =>
        CultureInfo.CurrentCulture.DateTimeFormat.MonthNames
            .Select((s, i) => new KeyValuePair<uint, string>((uint)i + 1, s))
            .ToDictionary();

    public sealed record Model
    {
        public int? Year { get; set; }

        public uint? Month { get; set; }

        public uint? Day { get; set; }

        public bool IsBc { get; set; }

        public sealed class Validator : AbstractValidator<Model>
        {
            public Validator()
            {
                RuleFor(x => x.Year)
                    .NotNull()
                    .GreaterThan(0)
                    .LessThanOrEqualTo(9999);

                RuleFor(x => x.Month)
                    .GreaterThan(0u)
                    .LessThanOrEqualTo(12u);

                RuleFor(x => x.Day)
                    .GreaterThan(0u)
                    .LessThanOrEqualTo(31u);
            }
        }
    }

    private async Task OnValidSubmit()
    {
        _isLoading = true;
        await OnAnswer.InvokeAsync(_model);
        _model = new Model();
        _isLoading = false;
    }

}