@page "/history/articles/{category}"
@layout HistoryLayout

<PageTitle>
    @L["Articles_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6">
    <section class="header">
        <EduPageHeader Class="title" Title="@L["Articles_Title"]"/>

        <MudSelect T="EpochType"
                   Value="@_epoch"
                   ValueChanged="@OnEpochChange"
                   Label="@L["History_Epoch_Title"]"
                   Margin="Margin.Dense"
                   Variant="Variant.Text">
            <MudSelectItem Value="@EpochType.None">
                @L["History_Epoch_Any"]
            </MudSelectItem>
            @foreach (var epoch in EpochTypeExtensions.List[1..])
            {
                <MudSelectItem Value="@epoch">
                    @L[epoch.ResourceKey()]
                </MudSelectItem>
            }
        </MudSelect>

        <MudSelect T="GetArticlesRequest.SortType"
                   Value="@_sort"
                   ValueChanged="@OnSortChange"
                   Label="@L["SortBy_Title"]"
                   Margin="Margin.Dense"
                   Variant="Variant.Text">
            <MudSelectItem Value="@GetArticlesRequest.SortType.Newest">
                @L["ContentSort_Resent_Title"]
            </MudSelectItem>
            <MudSelectItem Value="@GetArticlesRequest.SortType.Trending">
                @L["ContentSort_Trending_Title"]
            </MudSelectItem>
            <MudSelectItem Value="@GetArticlesRequest.SortType.Popularity">
                @L["ContentSort_TopRated_Title"]
            </MudSelectItem>
        </MudSelect>
    </section>
</EduContainer>

<ApiViewer Result="_result" Context="result">
    <EduContainer>
        <EduFillGrid Class="mb-6 mb-sm-12">
            @foreach (var (article, activity) in result.Items)
            {
                <ArticleCard
                    Article="@article"
                    Activity="@activity"
                    OnBookmarkClick="@LearnerService.ToggleArticleBookmarkAsync"/>
            }
        </EduFillGrid>

        <MudPagination
            Class="d-flex justify-center py-3 py-sm-6"
            Rectangular
            DisableElevation
            Selected="@CurrentPage"
            SelectedChanged="@OnPagination"
            Count="@TotalPages"/>
    </EduContainer>
</ApiViewer>