@page "/history/my/achievements"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Achievements_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <div class="d-flex flex-wrap justify-space-between gap-3 gap-sm-6">
        <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
        <MudText Typo="Typo.h5">
            @_response.Map(x => $"{x.Unlocked} / {x.Total}").UnwrapOr(string.Empty)
        </MudText>
    </div>
</EduContainer>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer MaxWidth="EduWidth.W1920">
        @foreach (var category in context.Categories)
        {
            <section class="grid pb-3 pb-sm-6">
                <section class="sidebar">
                    <div class="sticky-info">
                        <div class="d-flex align-center justify-space-between gap-3 mb-3">
                            <MudText Typo="@Typo.h5">
                                @category.Title
                            </MudText>
                            <MudText Typo="@Typo.subtitle1">
                                @category.Unlocked/@category.Total
                            </MudText>
                        </div>

                        <MudText Typo="@Typo.body1">
                            @category.Description
                        </MudText>
                    </div>
                </section>

                <section class="content">
                    @foreach (var achievement in category.Achievements)
                    {
                        <AchievementCard Achievement="@achievement" DateTimeFormatter="@Customer.Humanize" Paper/>
                    }
                </section>
            </section>
        }
    </EduContainer>
</EduApiViewer>
