@using Education.Web.Client.Features.History.Services.Test.Model
<div class="statistics">
    <PercentChartCard
        Title="@L["TimeSpent"]"
        Subtitle="@($"{Conclusion.TimeSpent.Raw.Humanize()} / {Conclusion.TimeSpent.Possible.Humanize()}")"
        Percentage="@Math.Round(Conclusion.TimeSpent.Scaled * 100)"/>

    <PercentChartCard
        Title="@L["Score"]"
        Subtitle="@($"{Conclusion.TotalScore.Raw.ToMetric()} / {Conclusion.TotalScore.Possible.ToMetric()}")"
        Percentage="@Math.Round(Conclusion.TotalScore.Scaled * 100)"/>

    <PercentChartCard
        Title="@L["Score:ByQuestions"]"
        Subtitle="@($"{Conclusion.QuestionScore.Raw.ToMetric()} / {Conclusion.QuestionScore.Possible.ToMetric()}")"
        Percentage="@Math.Round(Conclusion.QuestionScore.Scaled * 100)"/>

    <PercentChartCard
        Title="@L["Score:NoMistakesBonus"]"
        Subtitle="@($"{Conclusion.NoMistakeScore.Raw.ToMetric()} / {Conclusion.NoMistakeScore.Possible.ToMetric()}")"
        Percentage="@Math.Round(Conclusion.NoMistakeScore.Scaled * 100)"/>

    <PercentChartCard
        Title="@L["Score:BySpeedBonus"]"
        Subtitle="@($"{Conclusion.SpeedScore.Raw.ToMetric()} / {Conclusion.SpeedScore.Possible.ToMetric()}")"
        Percentage="@Math.Round(Conclusion.SpeedScore.Scaled * 100)"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public TestConclusion Conclusion { get; set; } = default!;

}