@using Education.Web.Client.Features.History.Services.Test.Model
<div class="statistics">
    <PercentChartCard
        Title="@L["TimeSpent"]"
        Subtitle="@($"{Conclusion.TimeSpent.Humanize()} / {Conclusion.TestDuration.Humanize()}")"
        Percentage="@Math.Round(Conclusion.TimeSpent / Conclusion.TestDuration * 100)"/>

    <PercentChartCard
        Title="@L["Score"]"
        Subtitle="@($"{Conclusion.UserScore.Total.ToMetric()} / {Conclusion.MaxScore.Total.ToMetric()}")"
        Percentage="@Math.Round((double)Conclusion.UserScore.Total / Conclusion.MaxScore.Total * 100)"/>

    <PercentChartCard
        Title="@L["Score:ByQuestions"]"
        Subtitle="@($"{Conclusion.UserScore.Questions.ToMetric()} / {Conclusion.MaxScore.Questions.ToMetric()}")"
        Percentage="@Math.Round((double)Conclusion.UserScore.Questions / Conclusion.MaxScore.Questions * 100)"/>

    <PercentChartCard
        Title="@L["Score:NoMistakesBonus"]"
        Subtitle="@($"{Conclusion.UserScore.NoMistakes.ToMetric()} / {Conclusion.MaxScore.NoMistakes.ToMetric()}")"
        Percentage="@Math.Round((double)Conclusion.UserScore.NoMistakes / Conclusion.MaxScore.NoMistakes * 100)"/>

    <PercentChartCard
        Title="@L["Score:BySpeedBonus"]"
        Subtitle="@($"{Conclusion.UserScore.Speed.ToMetric()} / {Conclusion.MaxScore.Speed.ToMetric()}")"
        Percentage="@Math.Round((double)Conclusion.UserScore.Speed / Conclusion.MaxScore.Speed * 100)"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public TestConclusion Conclusion { get; set; } = default!;

}