<header class="mud-paper pa-3 @Class">
    <MudText Typo="Typo.h5" Align="Align.Center">
        @Title
    </MudText>
    <div class="d-flex align-center justify-center">
        <MudText Class="mr-1" Typo="Typo.body1">
            @L["Assignments_ExpiresIn_Title"]:
        </MudText>
        <MudIcon Icon="@Icons.Material.Outlined.Timer" Size="Size.Small"/>
        <CountdownTimer Deadline="@ExpiresAt" Typo="Typo.body1" OnComplete="@OnExpired"/>
    </div>
</header>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required DateTime ExpiresAt { get; set; }

    [Parameter]
    public EventCallback OnExpired { get; set; }

    [Parameter]
    public string? Class { get; set; }

}