<header class="pa-3 @Class">
    <MudText Class="mb-3" Typo="Typo.h4" Align="Align.Center">
        @Title
    </MudText>
    <div class="d-flex align-center justify-center">
        <MudText Typo="Typo.subtitle1">
            @L["Assignments_UpdatesIn_Title"]:
        </MudText>
        <MudIcon Icon="@Icons.Material.Outlined.Timer" Size="Size.Small"/>
        <CountdownTimer Deadline="@ExpiresAt" Typo="Typo.subtitle1" OnComplete="@OnExpired"/>
    </div>
</header>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required DateTime ExpiresAt { get; set; }

    [Parameter]
    public EventCallback OnExpired { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
