<div class="@Class">
    <MudTooltip Text="@L["Button_Like_Description"]">
        <MudIconButton aria-label="@L["Button_Like_Description"]"
                       Color="@(IsLiked == true ? Color.Primary : Color)"
                       Icon="@Icons.Material.Rounded.ThumbUp"
                       OnClick="@OnLike"/>
    </MudTooltip>

    <MudTooltip Text="@L["Button_Dislike_Description"]">
        <MudIconButton aria-label="@L["Button_Dislike_Description"]"
                       Color="@(IsLiked == false ? Color.Primary : Color)"
                       Icon="@Icons.Material.Rounded.ThumbDown"
                       OnClick="@OnDislike"/>
    </MudTooltip>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public string Id { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public bool? IsLiked { get; set; }

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public Func<string, Task<ApiResult<Unit>>> OnLikeClick { get; set; } = _ => Task.FromResult(ApiResult<Unit>.Success(Unit.Value));

    [Parameter, EditorRequired]
    public Func<string, Task<ApiResult<Unit>>> OnDislikeClick { get; set; } = _ => Task.FromResult(ApiResult<Unit>.Success(Unit.Value));

    private async Task OnLike()
    {
        if (IsLiked == true)
            return;

        var response = await OnLikeClick.Invoke(Id);

        IsLiked = response.Match(_ => true, _ => false, () => true);
    }

    private async Task OnDislike()
    {
        if (IsLiked == false)
            return;

        var response = await OnDislikeClick.Invoke(Id);

        IsLiked = response.Match(_ => false, _ => true, () => false);
    }

}
