@using Education.Web.Gateways.History.Users.Model
@using Education.Web.Pages.History.My.Components
@using MudBlazor.Utilities
@using ApexCharts
@using Color = MudBlazor.Color

<MudPaper Elevation="0" Class="@_class">
    <header class="d-flex align-center justify-space-between pt-3 pt-sm-6 px-3 px-sm-6">
        <MudText Typo="Typo.h5">
            @L["Achievements"]
        </MudText>
        <MudText Typo="Typo.h5">
            @Achievements.Completed / @Achievements.Total
        </MudText>
    </header>
    <section class="pa-3 pa-sm-6 flex-grow-1">
        <div class="grid">
            @foreach (var achievement in Achievements.Items)
            {
                <AchievementView Achievement="@achievement"/>
            }
        </div>
    </section>
    <footer class="pb-3 pb-sm-6 px-3 px-sm-6">
        <MudButton 
            DisableElevation
            Variant="Variant.Filled"
            Color="Color.Primary" 
            Href="@HistoryLinks.User.MyAchievements">
            @L["Button:Details"]
        </MudButton>
    </footer>
</MudPaper>

@code {
    private string? _class;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public AchievementsOverviewModel Achievements { get; set; } = default!;

    protected override void OnParametersSet() =>
        _class = CssBuilder.Default("d-flex flex-column")
            .AddClass(Class, Class is not null)
            .Build();

}
