@using Education.Web.Pages.History.My.Components
@using MudBlazor.Utilities
@using ApexCharts
@using Education.Web.Services.History.User.Model
@using Color = MudBlazor.Color

<section class="@($"mud-paper d-flex flex-column {Class}")">
    <header class="d-flex align-center justify-space-between pt-3 pt-sm-6 px-3 px-sm-6">
        <MudText Typo="Typo.h5">
            @L["Achievements"]
        </MudText>
        <MudText Typo="Typo.h5">
            @Completed / @Total
        </MudText>
    </header>
    <section class="pa-3 pa-sm-6 flex-grow-1">
        <div class="grid">
            @foreach (var achievement in Achievements)
            {
                <AchievementView Achievement="@achievement"/>
            }
        </div>
    </section>
    <footer class="pb-3 pb-sm-6 px-3 px-sm-6">
        <MudButton
            DisableElevation
            Variant="Variant.Outlined"
            Color="Color.Primary"
            Href="@HistoryUrl.User.MyAchievements">
            @L["Button:Details"]
        </MudButton>
    </footer>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public uint Total { get; set; }
    
    [Parameter, EditorRequired]
    public uint Completed { get; set; }

    [Parameter, EditorRequired]
    public AchievementModel[] Achievements { get; set; } = Array.Empty<AchievementModel>();

}