@using ApexCharts
@using Education.Web.Services.History.User.Model
@using Color = MudBlazor.Color
@using Align = MudBlazor.Align

<MudPaper Class="@($"d-flex flex-column justify-space-between {Class}")" Elevation="0">
    <MudStack Row AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" Class="pt-3 px-3 pt-sm-6 px-sm-6">
        <div>
            <MudText Typo="Typo.h5">
                @L["Test:MyActivity"]
            </MudText>
            <MudText Typo="Typo.caption" Class="mud-text-secondary">
                @L["Activity:ByLast7Days"]
            </MudText>
        </div>
        <MudButton
            DisableElevation
            Variant="Variant.Text"
            Color="Color.Primary"
            Size="Size.Medium"
            Style="text-transform: none"
            EndIcon="@Icons.Outlined.ChevronRight"
            Href="@HistoryLinks.User.MyActivities">
            @L["Button:Details"]
        </MudButton>
    </MudStack>
    @if (Activities.Length > 0)
    {
        <ApexChart @ref="@_chart" TItem="HistoryUserProfileModel.DailyItem" Options="_options" Height="@("240px")">
            <ApexPointSeries
                TItem="HistoryUserProfileModel.DailyItem"
                Items="Activities"
                Name="@L["NumberOfTests:Total"]"
                Stroke="@(new SeriesStroke { Width = 5, Color = "#5569FF" })"
                SeriesType="SeriesType.Area"
                XValue="@(e => e.Day)"
                YValue="@(x => x.Total)"/>
        </ApexChart>
    }
    else
    {
        <MudText Typo="Typo.subtitle1" Align="Align.Center">
            @L["Activity:NoActivity"]
        </MudText>

        <MudImage
            Src="/images/illustration/no-activity.svg"
            Alt="@L["Activity:NoActivity"]"
            Height="200"
            ObjectFit="ObjectFit.Contain"
            ObjectPosition="ObjectPosition.Bottom"/>
    }
</MudPaper>

@code {
    private ApexChart<HistoryUserProfileModel.DailyItem> _chart = default!;

    private ApexChartOptions<HistoryUserProfileModel.DailyItem> _options = new()
    {
        Tooltip = new Tooltip
        {
            Enabled = false
        },
        Chart = new Chart
        {
            Toolbar = new Toolbar
            {
                Show = false
            },
            Selection = new Selection
            {
                Enabled = false
            },
            Zoom = new Zoom
            {
                Enabled = false
            },
            Sparkline = new ChartSparkline
            {
                Enabled = true
            },
            Background = "transparent",
            ForeColor = "var(--mud-palette-text-primary)",
        },
        Grid = new Grid
        {
            BorderColor = "var(--mud-palette-divider)",
        }
    };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public HistoryUserProfileModel.DailyItem[] Activities { get; set; } = Array.Empty<HistoryUserProfileModel.DailyItem>();

}
