@using ApexCharts
@using Education.Web.Gateways.History.Users.Model
@implements IDisposable

<MudCard Class="@Class" Elevation="0">
    <MudCardHeader Class="pa-3 pa-sm-6">
        <CardHeaderContent>
            <div class="d-flex align-center justify-space-between">
                <MudText Typo="Typo.h5">
                    @L["Test:MyActivity"]
                </MudText>
                <MudLink Typo="Typo.subtitle1" Href="@HistoryLinks.User.MyActivities">
                    @L["Details"]
                </MudLink>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-3 pa-sm-6">
        <div style="max-height: 400px; height: 100%; position: relative">
            <ApexChart @ref="@_chart" TItem="HistoryUserProfileModel.TestActivity" Options="_options" Height="@("400px")">
                <ApexPointSeries
                    TItem="HistoryUserProfileModel.TestActivity"
                    Items="Activities"
                    Name="@L["NumberOfTests:Total"]"
                    Stroke="@(new SeriesStroke { Width = 3, Color = Colors.Green.Accent4 })"
                    SeriesType="SeriesType.Area"
                    XValue="@(e => e.Date.ToString("dd MMM"))"
                    YValue="@(x => x.Total)"/>
            </ApexChart>
        </div>
    </MudCardContent>
</MudCard>

@code {
    private ApexChart<HistoryUserProfileModel.TestActivity> _chart = default!;
    private ApexChartOptions<HistoryUserProfileModel.TestActivity> _options = new();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private ThemeService ThemeService { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public HistoryUserProfileModel.TestActivity[] Activities { get; set; } = Array.Empty<HistoryUserProfileModel.TestActivity>();

    protected override void OnInitialized()
    {
        _options = new ApexChartOptions<HistoryUserProfileModel.TestActivity>
        {
            Chart = new Chart
            {
                Toolbar = new Toolbar
                {
                    Show = false
                },
                Selection = new Selection
                {
                    Enabled = false
                },
                Zoom = new Zoom
                {
                    Enabled = false
                },
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Grid = new Grid
            {
                BorderColor = "var(--mud-palette-divider)"
            },
            Theme = new Theme
            {
                Mode = ThemeService.IsDarkMode ? Mode.Dark : Mode.Light
            }
        };

        ThemeService.OnChange += Update;
    }

    public void Dispose() => 
        ThemeService.OnChange -= Update;

    private async Task Update()
    {
        _options.Theme.Mode = ThemeService.IsDarkMode ? Mode.Dark : Mode.Light;
        await _chart.RenderAsync();
        StateHasChanged();
    }

}
