@using Education.Web.Gateways.History.Users.Model
@using Education.Web.Gateways.Models.Inventory

<MudCard Class="@($"{Class} d-flex flex-column")" Elevation="0">
    <MudCardHeader Class="pa-3 pa-sm-6">
        <CardHeaderContent>
            <div class="d-flex align-center justify-space-between">
                <MudText Typo="Typo.h5">
                    @L["Inventory"]
                </MudText>
                <MudText Typo="Typo.h5">
                    @Inventory.Fullness / @Inventory.Capacity
                </MudText>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="flex-grow-1 pa-0 px-3 px-sm-6 mb-3 mb-sm-6">
        <div class="grid">
            @foreach (var item in Inventory.Items)
            {
                <div class="card rounded-lg pa-3">
                    <div class="d-flex justify-space-between align-top mb-1">
                        <InventoryItemIcon Id="@item.Id" Width="48" Height="48"/>
                        <div>
                            <MudTooltip Text="@item.Overview" Arrow="true" Placement="Placement.Left">
                                <ChildContent>
                                    <MudIconButton Class="ma-0" Size="Size.Small" Icon="@Icons.Material.Outlined.Info"/>
                                </ChildContent>
                                <TooltipContent>
                                    <div class="d-flex flex-column align-start">
                                        <MudText Typo="Typo.subtitle1" Color="Color.Info" Class="mb-1">@item.Title</MudText>
                                        <MudText Typo="Typo.body2">@item.Overview</MudText>
                                    </div>
                                </TooltipContent>
                            </MudTooltip>
                        </div>
                    </div>
                    <MudText Typo="Typo.subtitle1" Class="title">
                        @item.Title
                    </MudText>
                    <HumanReadableText Typo="Typo.h6" Value="@item.Count"/>
                </div>
            }
        </div>
    </MudCardContent>

    <MudDivider/>

    <MudCardActions Class="d-flex justify-center pa-3">
        <MudLink Typo="Typo.subtitle1" Href="@Links.History.User.MyInventories">
            @L["Details"]
        </MudLink>
    </MudCardActions>
</MudCard>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public InventoryOverviewModel Inventory { get; set; } = default!;

}
