@using MudBlazor.Utilities
@using Education.Web.Services.Model.User

<MudPaper Class="@_class" Elevation="0">
    <header class="header">
        <section class="background">
            <div class="avatar">
                <MudAvatar Image="@Customer.Image" Style="width: 100px; height: 100px"/>
            </div>
        </section>
    </header>

    <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-3">
        @Customer.Name
    </MudText>

    <section class="px-3 px-sm-6 mb-3 mb-sm-6">
        <header class="d-flex justify-space-between align-start">
            <MudText Typo="Typo.h5">
                @L["Experience:Level"] @Level.Value
            </MudText>
            <MudIcon Icon="@EduIcons.Level" Class="green-text text-darken-1" Size="Size.Medium"/>
        </header>
        
        <MudProgressLinear
            Class="mb-1"
            Rounded
            Min="0"
            Max="@Level.NextLevelExperience"
            Value="@Level.Experience"
            Color="Color.Primary"
            Size="Size.Medium"/>

        <div class="d-flex justify-space-between align-start">
            <MudText Typo="Typo.body2">
                @(((double)Level.Experience / Level.NextLevelExperience * 100).ToReadable())%
            </MudText>
            <div class="d-flex align-center">
                <ReadableNumber Value="@Level.Experience" Typo="Typo.body2"/>
                <div>&nbsp;/&nbsp;</div>
                <ReadableNumber Value="@Level.NextLevelExperience" Typo="Typo.body2"/>
                <MudIcon Icon="@EduIcons.Experience" Class="ml-1" Size="Size.Small"/>
            </div>
        </div>
    </section>

    <section class="profile-info px-3 px-sm-6 mb-3 mb-sm-6">
        <MudButton
            FullWidth
            DisableElevation
            Variant="Variant.Filled"
            Color="Color.Primary"
            StartIcon="@EduIcons.MyInventory"
            Href="@HistoryUrl.User.MyInventories">
            @L["Inventory"]
        </MudButton>
        <MudButton
            FullWidth
            DisableElevation
            Variant="Variant.Outlined"
            Color="Color.Primary"
            StartIcon="@EduIcons.MyFavorites"
            IconColor="Color.Error"
            Href="@HistoryUrl.User.MyFavorites">
            @L["Favorites"]
        </MudButton>
    </section>

    <section class="profile-info px-3 px-sm-6 mb-3 mb-sm-6">
        @foreach (var item in _items)
        {
            <MudStack Row Spacing="1" AlignItems="AlignItems.Center">
                <MudText Typo="Typo.body2" Style="font-weight: bold">
                    @item.Key:
                </MudText>
                <MudText Typo="Typo.body2" Class="mud-text-secondary">
                    @item.Value
                </MudText>
            </MudStack>
        }
    </section>

    <MudSpacer/>

    <section class="d-flex justify-center px-3 px-sm-6 mb-3 mb-sm-6">
        <MudButton
            DisableElevation
            Variant="Variant.Outlined"
            Color="Color.Primary"
            StartIcon="@Icons.Outlined.OpenInNew"
            Link="@Configuration["Urls:Account"]"
            Target="_blank">
            @L["Account:Elwark"]
        </MudButton>
    </section>
</MudPaper>

@code {
    private string? _class;
    private IDictionary<string, string> _items = new Dictionary<string, string>();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IConfiguration Configuration { get; set; } = default!;

    [Parameter, EditorRequired]
    public CustomerState Customer { get; set; } = default!;

    [Parameter, EditorRequired]
    public LevelModel Level { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet()
    {
        var now = DateTime.Now;

        _class = CssBuilder.Default("d-flex flex-column")
            .AddClass(Class, Class is not null)
            .Build();

        _items = new Dictionary<string, string>
        {
            [L["Customer:TimeZone"]] = Customer.DateTimeInfo.TimeZone.Id,
            [L["Customer:WeekStart"]] = L[$"DayOfWeek:{Customer.WeekStart}"],
            [L["Customer:DateFormat"]] = $"{now.ToString(Customer.DateTimeInfo.DateFormat)} ({Customer.DateTimeInfo.DateFormat})",
            [L["Customer:TimeFormat"]] = $"{now.ToString(Customer.DateTimeInfo.TimeFormat)} ({Customer.DateTimeInfo.TimeFormat})"
        };
    }

}