@using Education.Web.Pages.Account
<MudPaper Elevation="0" Class="@Class">
    <div class="d-flex flex-column flex-sm-row align-center pa-3 px-sm-6">
        <div class="d-flex flex-row align-center mb-3 mb-sm-0">
            <MudAvatar Size="Size.Large" Class="mr-3" Image="@Customer.Image"/>
            <MudText Typo="Typo.h6">@Customer.Name</MudText>
        </div>
        <MudSpacer/>
        <div>
            <MudButton
                Color="Color.Primary"
                Variant="Variant.Outlined"
                Link="@AccountLinks.Root"
                EndIcon="@Icons.Material.Outlined.Person">
                @L["Account"]
            </MudButton>
        </div>
    </div>
</MudPaper>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}
