<section class="@Class background d-flex flex-column pa-3 pa-sm-6 white-text h-100">
    <div class="d-flex flex-row align-center justify-space-between">
        <div>
            <MudText Typo="Typo.subtitle1" Color="Color.Default">
                @L["Subject"]
            </MudText>
            <MudText Typo="Typo.h4" Color="Color.Inherit">
                @L["Subject:History"]
            </MudText>
        </div>
        <MudAvatar Size="Size.Large" Style="background-color: rgba(245,245,245, 0.5)" Class="white-text" Elevation="0">
            <MudIcon Icon="@EducationIcons.History" Color="Color.Inherit" Size="Size.Large"/>
        </MudAvatar>
    </div>

    <MudSpacer/>

    <div>
        <MudText Typo="Typo.body1" Class="mb-3">
            Need extra features?
        </MudText>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation OnClick="@OnBuyClick">
            @L["Subscription:Upgrade"]
        </MudButton>
    </div>
</section>

@code {

    [Inject]
    private IDialogService Dialog { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    private void OnBuyClick()
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,
            NoHeader = true,
            CloseButton = false,
            FullWidth = true
        };

        var parameters = new DialogParameters
        {
    // [nameof(SubscriptionModal.SubjectType)] = Subject
        };

        Dialog.Show<SubscriptionModal>(null, parameters, options);
    }

}
