@using Education.Web.Gateways.Models.User
@using ApexCharts
@using Color = MudBlazor.Color
@using Align = MudBlazor.Align
<MudPaper Class="@($"d-flex flex-column justify-space-between h-100 pa-3 {Class}")" Elevation="0">
    <section class="mud-primary white-text rounded pa-3">
        <div class="d-flex align-center justify-space-between">
            <MudText Typo="Typo.subtitle1">
                @L["InternalMoney:Balance"]
            </MudText>
            <MudChip
                Label
                Icon="@(_tending > 0 ? Icons.Outlined.TrendingUp : Icons.Outlined.TrendingDown)"
                Class="white-text"
                Text="@($"{_tending:F1}%")"/>
        </div>
        <div class="d-flex align-center justify-space-between">
            <div class="d-flex align-center">
                <MudIcon Icon="@EducationIcons.Silver" Class="grey-text text-lighten-1 mr-1" Size="Size.Medium"/>
                <HumanReadableNumber Value="@Silver.Balance" Typo="Typo.h4" Class="white-text"/>
            </div>
            <ApexChart TItem="SilverWalletModel.CashFlow" Options="@_options" Width="@("80px")" Height="@("30px")">
                <ApexPointSeries
                    TItem="SilverWalletModel.CashFlow"
                    Items="@Silver.Flow"
                    Name="Gross Value"
                    SeriesType="SeriesType.Line"
                    XValue="@(x => x.Month.ToDateTime(TimeOnly.MinValue, DateTimeKind.Utc))"
                    YValue="@(x => x.Balance)"
                    OrderBy="@(x => x.X)"/>
            </ApexChart>
        </div>
    </section>

    <section>
        @foreach (var item in Silver.Flow[..3])
        {
            <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="mt-3">
                <MudStack Row AlignItems="AlignItems.Center">
                    <MudAvatar Size="Size.Medium" Color="Color.Primary" Class="rounded white-text">
                        <MudIcon Icon="@Icons.Outlined.CalendarMonth" Size="Size.Medium"/>
                    </MudAvatar>
                    <MudText Typo="Typo.subtitle2" Align="Align.Start">
                        @L[$"Month:{CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(item.Month.Month)}"]
                    </MudText>
                </MudStack>
                <MudStack Row AlignItems="AlignItems.Center">
                    <div>
                        <InternalMoneyText Horizontal IconSize="Size.Small" Money="@(new Silver(item.Income))"/>
                        <MudText Typo="Typo.caption" Class="mud-text-secondary">
                            @L["InternalMoney:Income"]
                        </MudText>
                    </div>
                    <div>
                        <InternalMoneyText Horizontal IconSize="Size.Small" Money="@(new Silver(item.Expense))"/>
                        <MudText Typo="Typo.caption" Class="mud-text-secondary">
                            @L["InternalMoney:Expense"]
                        </MudText>
                    </div>
                </MudStack>
            </MudStack>
        }
    </section>
</MudPaper>

@code {
    private double _tending;

    private ApexChartOptions<SilverWalletModel.CashFlow> _options = new()
    {
        Tooltip = new Tooltip
        {
            Enabled = false
        },
        Chart = new Chart
        {
            Background = "transparent",
            ForeColor = "var(--mud-palette-text-primary)",
            Sparkline = new ChartSparkline
            {
                Enabled = true
            }
        },
        Stroke = new Stroke
        {
            Colors = new List<string>
            {
                "#FFFFFF"
            },
            Curve = Curve.Smooth,
            Width = 3
        }
    };

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public SilverWalletModel Silver { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    protected override void OnParametersSet() => 
        _tending = (Silver.Flow[0].Income + Silver.Flow[0].Expense) * 100.0 / (Silver.Flow[1].Income + Silver.Flow[1].Expense);

}
