@inject IStringLocalizer<App> L

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated ?? false)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <p>You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <PageLoader Title="@(L["Authorizing"] + "...")"/>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="d-flex align-center justify-center flex-column h-100">
                    <MudText Typo="Typo.h1">404</MudText>
                    <MudText Typo="Typo.h5" Class="mb-6">NOT FOUND</MudText>
                    <MudButton Link="@Links.Index" Color="Color.Primary" Variant="Variant.Filled">
                        Go to homepage
                    </MudButton>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
