@using ApexCharts
@using AnswerRatioModel = Education.Client.Features.History.Clients.Learner.Model.DateGuesser.AnswerRatioModel

<div class="@Class">
    <ApexChartContainer>
        <ApexChart TItem="Data" Options="@Options">
            <ApexPointSeries
                TItem="Data"
                Items="@Series"
                SeriesType="SeriesType.Donut"
                XValue="@(x => x.Name)"
                YAggregate="@(x => x.Sum(e => e.Value))"/>
        </ApexChart>
    </ApexChartContainer>

    <ChartList Items="@Items"/>
</div>

@code {

    private static ApexChartOptions<Data> Options =>
        new()
        {
            Chart = new Chart
            {
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Stroke = new Stroke
            {
                Show = false
            },
            Legend = new Legend
            {
                Show = false
            },
            Colors =
            [
                HistoryChart.DateGuesser.Question.Correct,
                HistoryChart.DateGuesser.Question.Incorrect
            ]
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required AnswerRatioModel Ratio { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private EduChartListItem[] Items =>
    [
        new(L["History_DateGuesser_Correct"], Ratio.Correct, HistoryChart.DateGuesser.Question.Correct),
        new(L["History_DateGuesser_Incorrect"], Ratio.Incorrect, HistoryChart.DateGuesser.Question.Incorrect),
        new(L["History_DateGuesser_Questions"], Ratio.Total, null)
    ];

    private Data[] Series =>
    [
        new(L["History_DateGuesser_Correct"], Ratio.Correct),
        new(L["History_DateGuesser_Incorrect"], Ratio.Incorrect)
    ];

    private sealed record Data(string Name, decimal Value);

}
