@using ApexCharts
@using Education.Client.Features.History.Clients.Learner.Model.DateGuesser
<div class="@Class">
    <ApexChartContainer>
        <ApexChart TItem="Data" Options="@Options">
            <ApexPointSeries
                TItem="Data"
                Items="@Series"
                SeriesType="SeriesType.Donut"
                XValue="@(x => x.Name)"
                YAggregate="@(x => x.Sum(e => e.Value))"/>
        </ApexChart>
    </ApexChartContainer>

    <ChartList Items="@Items"/>
</div>

@code {

    private ApexChartOptions<Data> Options =>
        new()
        {
            Chart = new Chart
            {
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Stroke = new Stroke
            {
                Show = false
            },
            Legend = new Legend
            {
                Show = false
            },
            Colors =
            [
                HistoryChart.DateGuesser.Question.Correct,
                HistoryChart.DateGuesser.Question.Incorrect
            ]
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required AnswerRatioModel AnswerRatio { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private ChartList.Item[] Items =>
    [
        new ChartList.Item(L["History_DateGuesser_Correct"], AnswerRatio.Correct, HistoryChart.DateGuesser.Question.Correct),
        new ChartList.Item(L["History_DateGuesser_Incorrect"], AnswerRatio.Incorrect, HistoryChart.DateGuesser.Question.Incorrect),
        new ChartList.Item(L["History_DateGuesser_Questions"], AnswerRatio.Total, null)
    ];

    private Data[] Series =>
    [
        new Data(L["History_DateGuesser_Correct"], AnswerRatio.Correct),
        new Data(L["History_DateGuesser_Incorrect"], AnswerRatio.Incorrect)
    ];

    private sealed record Data(string Name, decimal Value);

}
