@using ApexCharts
@using Education.Client.Features.History.Clients.Learner.Model.Examination
<div class="@Class">
    <ApexChartContainer>
        <ApexChart TItem="Data" Options="@Options">
            <ApexRangeSeries
                TItem="Data"
                Items="@Series"
                XValue="@(x => x.Name)"
                YValue="@(x => x.Value)"
                PointColor="@(x => x.Color)"/>
        </ApexChart>
    </ApexChartContainer>

    <ChartList Items="@Items"/>
</div>

@code {

    private ApexChartOptions<Data> Options =>
        new()
        {
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true
                }
            },
            Xaxis = new XAxis
            {
                Labels = new XAxisLabels
                {
                    Formatter = @"
                                function(value) {
                                    var minutes = Math.floor(value / 60000);
                                    var seconds = ((value % 60000) / 1000).toFixed(0);
                                    return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
                                }
                                "
                }
            },
            Tooltip = new Tooltip
            {
                Enabled = false
            },
            Chart = new Chart
            {
                Toolbar = new Toolbar
                {
                    Show = false
                },
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Stroke = new Stroke
            {
                Show = false
            }
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required ExaminationStatisticsModel.TimeSpentModel Value { get; set; }

    private EduChartListItem[] Items =>
    [
        new(L["TimeSpent_Min_Title"], Value.Min.Humanize(L), HistoryChart.Examination.TimeSpent.Minimum),
        new(L["TimeSpent_Average_Title"], Value.Average.Humanize(L), HistoryChart.Examination.TimeSpent.Average),
        new(L["TimeSpent_Max_Title"], Value.Max.Humanize(L), HistoryChart.Examination.TimeSpent.Maximum),
        new(L["TimeSpent_Total_Title"], Value.Total.Humanize(L), null)
    ];

    private Data[] Series =>
    [
        new(L["TimeSpent_Min_Title"], 0, HistoryChart.Examination.TimeSpent.Minimum),
        new(L["TimeSpent_Min_Title"], (decimal)Value.Min.TotalMilliseconds, HistoryChart.Examination.TimeSpent.Minimum),
        new(L["TimeSpent_Average_Title"], 0, HistoryChart.Examination.TimeSpent.Average),
        new(L["TimeSpent_Average_Title"], (decimal)Value.Average.TotalMilliseconds, HistoryChart.Examination.TimeSpent.Average),
        new(L["TimeSpent_Max_Title"], 0, HistoryChart.Examination.TimeSpent.Maximum),
        new(L["TimeSpent_Max_Title"], (decimal)Value.Max.TotalMilliseconds, HistoryChart.Examination.TimeSpent.Maximum)
    ];

    private sealed record Data(string Name, decimal Value, string Color);

}
