@using ApexCharts
@using Education.Client.Features.History.Clients.Learner.Model.Examination
<div class="@Class">
    <div class="d-flex justify-center">
        <div class="wrapper">
            <ApexChart TItem="Data" Options="@Options">
                <ApexPointSeries
                    TItem="Data"
                    Items="@Series"
                    SeriesType="SeriesType.Donut"
                    XValue="@(x => x.Name)"
                    YAggregate="@(x => x.Sum(e => e.Value))"/>
            </ApexChart>
        </div>
    </div>

    <ChartList Items="@Items"/>
</div>

@code {

    private static ApexChartOptions<Data> Options =>
        new()
        {
            Chart = new Chart
            {
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Legend = new Legend
            {
                Show = false
            },
            Colors = [Colors.Green.Accent4, Colors.Red.Default, Colors.Blue.Default, Colors.DeepPurple.Default]
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public required NumberOfExaminationsModel Value { get; set; }

    private ChartList.Item[] Items =>
    [
        new ChartList.Item(L["NumberOfExaminations_Successful_Title"], Value.Succeeded, Colors.Green.Accent4),
        new ChartList.Item(L["NumberOfExaminations_Failed_Title"], Value.Failed, Colors.Red.Default),
        new ChartList.Item(L["NumberOfExaminations_TimeExceeded_Title"], Value.TimeExceeded, Colors.Blue.Default),
        new ChartList.Item(L["NumberOfExaminations_Total_Title"], Value.Total, null)
    ];

    private Data[] Series =>
    [
        new Data(L["NumberOfExaminations_Successful_Title"], Value.Succeeded),
        new Data(L["NumberOfExaminations_Failed_Title"], Value.Failed),
        new Data(L["NumberOfExaminations_TimeExceeded_Title"], Value.TimeExceeded)
    ];

    private sealed record Data(string Name, decimal Value);

}