@using ApexCharts
@using Education.Client.Features.History.Clients.Learner.Model.Quiz
<div class="@Class">
    <ApexChart TItem="Data" Options="@Options">
        <ApexRangeSeries
            TItem="Data"
            Items="@Series"
            XValue="@(x => x.Name)"
            YValue="@(x => x.Value)"
            PointColor="@(x => x.Color)"/>
    </ApexChart>

    <ChartList Items="@Items"/>
</div>

@code {

    private ApexChartOptions<Data> Options =>
        new()
        {
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true
                }
            },
            Tooltip = new Tooltip
            {
                Enabled = false
            },
            Chart = new Chart
            {
                Toolbar = new Toolbar
                {
                    Show = false
                },
                Background = "transparent",
                ForeColor = "var(--mud-palette-text-primary)"
            },
            Stroke = new Stroke
            {
                Show = false
            },
            Colors = [Colors.Blue.Default, Colors.DeepPurple.Default, Colors.Green.Accent4, Colors.Red.Default]
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required AnswerRatioModel Value { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private List<Data> Series =>
    [
        new Data(L["Questions_Correct"], 0, Colors.Green.Accent4),
        new Data(L["Questions_Correct"], Value.Correct, Colors.Green.Accent4),
        new Data(L["Questions_Incorrect"], 0, Colors.Red.Default),
        new Data(L["Questions_Incorrect"], Value.Incorrect, Colors.Red.Default),
        new Data(L["Questions_Answered"], 0, Colors.Blue.Default),
        new Data(L["Questions_Answered"], Value.Answered, Colors.Blue.Default),
        new Data(L["Questions_NotAnswered"], 0, Colors.DeepPurple.Default),
        new Data(L["Questions_NotAnswered"], Value.NotAnswered, Colors.DeepPurple.Default)
    ];

    private ChartList.Item[] Items =>
    [
        new ChartList.Item(L["Questions_Correct"], Value.Correct, Colors.Green.Accent4),
        new ChartList.Item(L["Questions_Incorrect"], Value.Incorrect, Colors.Red.Default),
        new ChartList.Item(L["Questions_Answered"], Value.Answered, Colors.Blue.Default),
        new ChartList.Item(L["Questions_NotAnswered"], Value.NotAnswered, Colors.DeepPurple.Default),
        new ChartList.Item(L["Questions_Total"], Value.Questions, null)
    ];

    private sealed record Data(string Name, uint Value, string Color);

}