@using Education.Client.Features.History.Clients.Store
@using Education.Client.Features.History.Clients.Store.Model
@using Education.Client.Features.History.Clients.User.Model
<ApiViewer Result="@_products" OnReloadClick="@OnInitializedAsync">
    <ChildContent>
        <MudChipSet
            Class="d-flex flex-wrap mb-3 mb-sm-6"
            @bind-SelectedChip="@_selectedCategory"
            Filter
            Mandatory>

            @foreach (var category in _categories)
            {
                <MudChip
                    Class="px-6"
                    Value="@category"
                    Text="@(category == CategoryType.None ? L["History_Inventory_Category_All"] : L.GetInventoryCategoryTitle(category))"
                    Color="Color.Primary"
                    SelectedColor="Color.Secondary"
                    Variant="Variant.Outlined"
                    Default="@(category == Category)"/>
            }
        </MudChipSet>

        <InventoryGrid Inventory="@ApplyFilter(context)" ColumnSize="Size.Medium">
            <ChildContent Context="inventory">
                <InventoryInfoCard
                    Overview="@inventory.Overview"
                    Subtitle="@L.GetInventoryCategoryTitles(inventory.Categories)"
                    Title="@inventory.Title"
                    IconUrl="@inventory.ImageUrl">
                    <MudBadge
                        Class="w-100 mt-3"
                        Icon="@Icons.Material.Outlined.Lock"
                        Color="@Color.Error"
                        Visible="@(!IsAffordable(inventory))"
                        Bordered
                        Overlap>
                        <PriceButton Price="@inventory.Selling" OnClick="@(() => OpenPurchaseDialog(inventory))"/>
                    </MudBadge>
                </InventoryInfoCard>
            </ChildContent>
            <AsideContent>
                @if (_upcoming.IsSuccess)
                {
                    var model = _upcoming.Unwrap();

                    foreach (var inventory in ApplyFilter(model.Inventories))
                    {
                        <InventoryInfoCard
                            Overview="@inventory.Overview"
                            Subtitle="@L.GetInventoryCategoryTitles(inventory.Categories)"
                            Title="@inventory.Title"
                            IconUrl="@inventory.ImageUrl">
                            <MudAlert Class="mt-3" Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center" NoIcon Dense>
                                Unlocked at Level @model.NextLevel
                            </MudAlert>
                        </InventoryInfoCard>
                    }
                }
            </AsideContent>
            <EmptyContent>
                <NoContent
                    Icon="@EduIcons.Inventory"
                    Title="@L["InventoryStore_Inventories_NotFound_Title"]"
                    Subtitle="@L["InventoryStore_NotFound_Description"]"/>
            </EmptyContent>
        </InventoryGrid>
    </ChildContent>
    <Loading>
        <div class="d-flex gap-3 mb-3 mb-sm-6">
            <MudSkeleton Class="rounded" SkeletonType="SkeletonType.Rectangle" Width="92px" Height="32px"/>
            <MudSkeleton Class="rounded" SkeletonType="SkeletonType.Rectangle" Width="92px" Height="32px"/>
            <MudSkeleton Class="rounded" SkeletonType="SkeletonType.Rectangle" Width="92px" Height="32px"/>
            <MudSkeleton Class="rounded" SkeletonType="SkeletonType.Rectangle" Width="92px" Height="32px"/>
            <MudSkeleton Class="rounded" SkeletonType="SkeletonType.Rectangle" Width="92px" Height="32px"/>
        </div>
        <InventoryGrid Inventory="@(Enumerable.Range(0, 6).ToArray())" ColumnSize="Size.Medium">
            <InventorySkeletonCard>
                <div class="d-flex justify-space-between align-center mt-6">
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Width="24px" Height="24px"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.ShoppingCart" Variant="Variant.Filled" Disabled/>
                </div>
            </InventorySkeletonCard>
        </InventoryGrid>
    </Loading>
</ApiViewer>

@code {
    private MudChip? _selectedCategory;
    private CategoryType[] _categories = [];
    private ApiResult<ProductInventoryModel[]> _products = ApiResult<ProductInventoryModel[]>.Loading();
    private ApiResult<UpcomingInventoriesModel> _upcoming = ApiResult<UpcomingInventoriesModel>.Loading();

    [Inject]
    private IHistoryStoreClient StoreClient { get; init; } = default!;

    [Inject]
    private IDialogService DialogService { get; init; } = default!;

    [Inject]
    public IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public CategoryType Category { get; set; }

    [Parameter, EditorRequired]
    public required ProfileModel Profile { get; set; }

    [Parameter, EditorRequired]
    public required Func<ProductInventoryModel, bool> IsAffordable { get; set; }

    [Parameter]
    public EventCallback<ProductInventoryModel> OnProductPurchased { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _products = await StoreClient.GetInventoriesAsync();
        _categories = _products.Map(products => products.SelectMany(x => x.Categories)
                .Append(CategoryType.None)
                .Distinct()
                .Order()
                .ToArray()
            )
            .UnwrapOr([]);

        _upcoming = await StoreClient.GetUpcomingInventoriesAsync();
    }

    private ProductInventoryModel[] ApplyFilter(IEnumerable<ProductInventoryModel> source)
    {
        if (_selectedCategory is null)
            return source.ToArray();

        var category = (CategoryType)_selectedCategory.Value;
        if (category is CategoryType.None)
            return source.ToArray();

        return source.Where(x => x.Categories.Contains(category)).ToArray();
    }

    private async Task OpenPurchaseDialog(ProductInventoryModel product)
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            CloseOnEscapeKey = true,
            FullWidth = true,
            NoHeader = true,
            CloseButton = false
        };

        var parameters = new DialogParameters
        {
            [nameof(InventoryDialog.Product)] = product,
            [nameof(InventoryDialog.Profile)] = Profile
        };

        var dialog = await DialogService.ShowAsync<InventoryDialog>(product.Title, parameters, options);
        var result = await dialog.Result;
        if (result.Canceled)
            return;

        await OnProductPurchased.InvokeAsync(product);
    }

}
