@using Education.Client.Features.History.Clients.Store.Model
@using Education.Client.Features.History.Clients.User.Model
@using Education.Client.Models.Inventory
@using Education.Client.Clients
@using Education.Client.Features.History.Clients.Store
<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync">
    <ChildContent Context="inventories">
        <ProductsGrid Products="@ApplyFilter(inventories)">
            <ChildContent Context="inventory">
                <InventoryInfoCard
                    Overview="@inventory.Overview"
                    Subtitle="@L.GetInventoryCategoryTypeTitle(inventory.Category)"
                    Title="@inventory.Title"
                    IconUrl="@inventory.ImageUrl">
                    <footer class="d-flex justify-space-between align-center gap-3 mt-3">
                        <ProductPrice Price="@inventory.Selling"/>

                        <MudBadge
                            Icon="@Icons.Material.Outlined.Lock"
                            Color="@Color.Error"
                            Visible="@(!IsAffordable(inventory))"
                            Bordered
                            Overlap>
                            <MudIconButton
                                Icon="@Icons.Material.Outlined.ShoppingCart"
                                Variant="Variant.Filled"
                                Color="Color.Primary"
                                OnClick="@(() => OpenPurchaseDialog(inventory))"
                                DisableElevation/>
                        </MudBadge>
                    </footer>
                </InventoryInfoCard>
            </ChildContent>
            <NoRecordsContent>
                <NoContent
                    Icon="@Icons.Material.Outlined.Inventory2"
                    Title="@L["InventoryStore_Inventories_NotFound"]"
                    Subtitle="@L["InventoryStore_TryToResetYourFilter"]"/>
            </NoRecordsContent>
        </ProductsGrid>
    </ChildContent>
    <Loading>
        <ProductsGrid Products="@(Enumerable.Range(0, 6).ToArray())">
            <InventorySkeletonCard>
                <div class="d-flex justify-space-between align-center mt-6">
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Width="24px" Height="24px"/>
                    <MudIconButton Icon="@Icons.Material.Outlined.ShoppingCart" Variant="Variant.Filled" Disabled/>
                </div>
            </InventorySkeletonCard>
        </ProductsGrid>
    </Loading>
</ApiViewer>

@code {
    private ApiResult<Product.InventoryModel[]> _result = ApiResult<Product.InventoryModel[]>.Loading();

    [Inject]
    private IHistoryStoreClient StoreClient { get; init; } = default!;

    [Inject]
    private IDialogService DialogService { get; init; } = default!;

    [Inject]
    public IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required ProfileModel Profile { get; set; }

    [Parameter, EditorRequired]
    public required ProductsFilter Filter { get; set; }

    [Parameter, EditorRequired]
    public required Func<Product.InventoryModel, bool> IsAffordable { get; set; }

    [Parameter]
    public EventCallback<Product.InventoryModel> OnProductPurchased { get; set; }

    protected override async Task OnInitializedAsync() =>
        _result = await StoreClient.GetInventoriesAsync();

    private Product.InventoryModel[] ApplyFilter(IEnumerable<Product.InventoryModel> source)
    {
        if (Filter.Category != CategoryType.None)
            source = source.Where(x => x.Category == Filter.Category);

        if (!string.IsNullOrEmpty(Filter.Search))
            source = source.Where(x => x.Title.Contains(Filter.Search, StringComparison.OrdinalIgnoreCase));

        return source.ToArray();
    }

    private async Task OpenPurchaseDialog(Product.InventoryModel product)
    {
        var options = new DialogOptions
        {
            FullWidth = true,
            MaxWidth = MaxWidth.Small,
            CloseButton = false,
            NoHeader = true
        };

        var parameters = new DialogParameters
        {
            [nameof(InventoryDialog.Product)] = product,
            [nameof(InventoryDialog.Profile)] = Profile
        };

        var dialog = await DialogService.ShowAsync<InventoryDialog>(product.Title, parameters, options);
        var result = await dialog.Result;
        if (result.Canceled)
            return;

        await OnProductPurchased.InvokeAsync(product);
    }

}