@page "/history/course/{id}/examination"
@layout HistoryLayout
@attribute [Authorize]

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <PageTitle>
        @context.Course.Title
    </PageTitle>

    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <section class="grid">
            <section class="course">
                <MudText Typo="Typo.h6" Class="mb-3">
                    @L["Course_Title"]
                </MudText>

                <CourseCard
                    Course="@context.Course"
                    Activity="@context.Activity"
                    OnBookmarkClick="@LearnerClient.ToggleArticleBookmarkAsync"
                    HasExamination="@(context.Examinations.Length > 0)"
                    Horizontal/>

                @if (_requiredExaminations.Count > 0)
                {
                    <MudAlert Class="mt-3 mt-sm-6" Severity="Severity.Info" Variant="Variant.Text">
                        @L.Markup("Course_CompleteExaminationInstruction", string.Join(", ", _requiredExaminations))
                    </MudAlert>
                }
            </section>

            <section class="inventory">
                <MudText Typo="Typo.h6" Class="mb-3">
                    @L["Examination_Equipment_Title"]
                </MudText>
                <InventoryGrid
                    Inventories="@context.Inventories"
                    StoreHref="@HistoryUrl.Store.Index(CategoryType.Examination)"
                    Context="inventory">
                    <ChildContent>
                        <InventoryInfoCard
                            Title="@inventory.Title"
                            Overview="@inventory.Overview"
                            Quantity="@inventory.Quantity"
                            IconUrl="@inventory.ImageUrl"/>
                    </ChildContent>
                    <EmptyContent>
                        <InventoryShortageCard
                            Class="w-max-600"
                            Href="@HistoryUrl.Store.Index(CategoryType.Examination)"/>
                    </EmptyContent>
                </InventoryGrid>
            </section>

            <section>
                @if (context.Examinations.Length > 0)
                {
                    <MudText Typo="Typo.h6" Class="mb-3">
                        @L["Examination_Type_Title"]
                    </MudText>

                    <ExaminationDifficulties
                        Examinations="@context.Examinations"
                        OnClick="@CreateTestAsync"/>
                }
                else
                {
                    <MudAlert Severity="Severity.Info">
                        @L["Examination_NotAvailableForCourse", context.Course.Title]
                    </MudAlert>
                }
            </section>
        </section>
    </EduContainer>
</ApiViewer>
