<EduContainer Class="@Class" MaxWidth="EduWidth.W960">
    @if (Error.Status == 404)
    {
        <div class="d-flex justify-center mb-3">
            <MudImage Class="w-max-480 w-100" Src="/images/illustration/not_found.svg"/>
        </div>
    }

    <MudText Class="mb-3" Typo="Typo.h2" Align="Align.Center">
        @($"{Error.Status}: {Error.Title}")
    </MudText>

    <MudText Class="mb-3 mud-text-secondary" Typo="Typo.body1" Align="Align.Center">
        @GetErrorDetail()
    </MudText>

    <div class="d-flex justify-center gap-3">
        @if (Error.Status > 499)
        {
            <MudButton
                DisableElevation
                Variant="Variant.Outlined"
                Color="Color.Primary"
                OnClick="@(() => Navigation.NavigateTo(Navigation.Uri, true))">
                @L["Button_Reload"]
            </MudButton>
        }

        <MudButton
            DisableElevation
            Variant="Variant.Text"
            Color="Color.Primary"
            Link="@EduUrl.Root">
            @L["BackToHome_Button"]
        </MudButton>
    </div>
</EduContainer>

@code {

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public Error Error { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    private string GetErrorDetail() =>
        Error switch
        {
            { Detail: not null } => Error.Detail,
            { Status: 404 } => L["Error_NotFound_Description"],
            { Status: 500 } => L["Error_InternalServerError_Description"],
            _ => L["Error_Description"]
        };

}