<MudDialog
    Class="pa-3 pa-sm-6"
    ContentClass="pa-0"
    ActionsClass="pa-0"
    DefaultFocus="DefaultFocus.Element"
    Gutters="false">
    <DialogContent>
        <EditForm Model="@(this)" OnValidSubmit="@OnValidSubmit">
            <FluentValidationValidator/>

            <div class="d-flex align-end gap-3 gap-sm-6 mb-1">
                <MudNumericField
                    T="int"
                    Value="@Year"
                    ValueChanged="@OnYearChanged"
                    For="@(() => Year)"
                    Label="@L["History_Timeline_Year"]"
                    Variant="Variant.Text"
                    HideSpinButtons
                    AutoFocus/>

                <MudButton
                    Color="Color.Primary"
                    Variant="Variant.Filled"
                    ButtonType="ButtonType.Submit"
                    DropShadow>
                    @L["History_Timeline_GoToYear"]
                </MudButton>
            </div>

            <MudRadioGroup @bind-Value="@_isCe">
                <MudRadio Value="true" Color="Color.Primary" UnCheckedColor="Color.Default">
                    @L["History_Date_CE"]
                </MudRadio>
                <MudRadio Value="false" Color="Color.Primary" UnCheckedColor="Color.Default">
                    @L["History_Date_BCE"]
                </MudRadio>
            </MudRadioGroup>

        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    private bool _isCe;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    [Parameter, EditorRequired]
    public required int Year { get; set; }

    protected override void OnInitialized()
    {
        _isCe = Year > 0;
        Year = Math.Abs(Year);
    }

    private void OnValidSubmit()
    {
        var year = _isCe ? Math.Abs(Year) : -Math.Abs(Year);
        MudDialog.Close(DialogResult.Ok(year));
    }

    private void OnYearChanged(int year)
    {
        Year = year;
        _isCe = year > 0;
    }

}
