<div class="d-flex flex-row align-center @Class">
    @switch (Currency)
    {
        case ExperienceCurrency x:
            <MudIcon Size="IconSize" Style="color: #FFCA28" Class="mr-2" Icon="@EducationIcons.Experience"/>
            <MudText Typo="@Typo">
                @x.Value
            </MudText>
            break;

        case SilverCurrency x:
            <MudIcon Size="IconSize" Style="color: #C0C0C0" Class="mr-2" Icon="@EducationIcons.Silver"/>
            <MudText Typo="@Typo">
                @x.Value
            </MudText>
            break;

        default:
            throw new ArgumentOutOfRangeException(nameof(Currency));
    }
</div>

@code {

    [Parameter, EditorRequired]
    public IGameCurrency Currency { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Typo Typo { get; set; } = Typo.body1;

    [Parameter]
    public Size IconSize { get; set; } = Size.Small;

}