@using Education.Client.Features.History.Clients.Learner
@using Education.Client.Features.History.Clients.Learner.Request
@if (_isEmpty)
{
    <EduNoContent Class="mt-6 mt-sm-12" Title="@L["Bookmarks_NoCourses"]" Icon="@EduIcons.Bookmarks" Size="Size.Large"/>
}
else
{
    <Virtualize @ref="@_virtualize" ItemsProvider="BookmarkProvider" ItemSize="120">
        <Placeholder>
            <div class="grid mud-paper pa-3 mb-3 mb-sm-6">
                <div class="image">
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Width="80px" Height="80px"/>
                </div>
                <div class="title">
                    <MudSkeleton Class="my-4" SkeletonType="SkeletonType.Text" Width="60%" Height="30px"/>
                </div>
                <div class="completion">
                    <CourseCompletion Status="CourseLearningStatus.NotStarted" Completeness="0" Size="Size.Small"/>
                </div>
                <div class="actions">
                    <MudIconButton Disabled Icon="@Icons.Material.Outlined.BookmarkAdd"/>
                </div>
            </div>
        </Placeholder>
        <ItemContent>
            <div class="grid mud-paper pa-3 mb-3 mb-sm-6">
                <div class="image">
                    <MudAvatar Class="avatar" Rounded>
                        <MudImage Src="@context.Course.Image.Small" Alt="@context.Course.Image.Alt"/>
                    </MudAvatar>
                </div>
                <div class="title one-line-text">
                    <MudLink Href="@HistoryUrl.Content.Course(context.Course.Id)" Typo="Typo.h6">
                        @context.Course.Title
                    </MudLink>
                    <div class="w-max-600">
                        <MudText Class="one-line-text" Typo="Typo.body2">
                            @context.Course.Overview
                        </MudText>
                    </div>
                </div>
                <div class="completion">
                    <CourseCompletion
                        Status="@(context.Activity?.Status ?? CourseLearningStatus.NotStarted)"
                        Completeness="@(context.Activity?.Completeness ?? 0)"
                        Size="Size.Small"
                        Href="@HistoryUrl.User.MyCourse(context.Course.Id)"/>
                </div>
                <div class="actions">
                    <EduBookmarkIconButton
                        Id="@context.Course.Id"
                        IsBookmarked="@(context.Activity?.IsBookmarked ?? false)"
                        OnBookmarkClick="@LearnerClient.ToggleCourseBookmarkAsync"/>
                </div>
            </div>
        </ItemContent>
    </Virtualize>
}

@code {
    private string? _token;
    private bool _isEmpty;
    private Virtualize<UserCourseOverviewModel>? _virtualize;
    private readonly HashSet<UserCourseOverviewModel> _items = [];

    [Inject]
    private IHistoryLearnerClient LearnerClient { get; init; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required BookmarksRequest.SortType Sort { get; set; }

    protected override Task OnParametersSetAsync()
    {
        if (_virtualize is null)
            return Task.CompletedTask;

        _items.Clear();

        return _virtualize.RefreshDataAsync();
    }

    private async ValueTask<ItemsProviderResult<UserCourseOverviewModel>> BookmarkProvider(ItemsProviderRequest request)
    {
        int GetLength() =>
            _items.Count + (string.IsNullOrEmpty(_token) ? 0 : 1);

        var items = _items.Skip(request.StartIndex).Take(request.Count);

        var isRangeAvailable = _items.Count > (request.StartIndex + 1) * request.Count
            || (_items.Count > 0 && string.IsNullOrEmpty(_token));

        if (isRangeAvailable || request.Count == 0)
            return new ItemsProviderResult<UserCourseOverviewModel>(items, GetLength());

        var result = await LearnerClient.GetCourseBookmarksAsync(new BookmarksRequest(Sort, request.Count, _token));
        return result.Map(x =>
            {
                _token = x.Next;

                foreach (var item in x.Items)
                    _items.Add(item);

                if (_isEmpty || _items.Count > 0)
                    return new ItemsProviderResult<UserCourseOverviewModel>(items, GetLength());

                _isEmpty = true;
                StateHasChanged();

                return new ItemsProviderResult<UserCourseOverviewModel>(items, GetLength());
            })
            .UnwrapOr(new ItemsProviderResult<UserCourseOverviewModel>(items, 0));
    }

}
