@using Education.Client.Gateways.Models.User

<MudCard>
    <MudCardHeader>
        <MudLink Typo="Typo.subtitle1" Href="@Links.History.TestById(Test.Id)">
            @L[$"Test:{Test.Type}"]
        </MudLink>
    </MudCardHeader>
    <MudCardContent>
        <div class="d-flex flex-row align-center">
            <MudIcon Icon="@Icons.Filled.Timer" Size="Size.Small"/>
            <MudText Typo="Typo.body2" Class="ml-1">
                @L["Deadline"]
            </MudText>
            <MudText Typo="Typo.body2" Class="ml-3">
                @Test.ExpiredAt.ToSimpleFormat()
            </MudText>
        </div>
    </MudCardContent>
</MudCard>

@code{

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public CurrentTest Test { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

}
