<MudPaper Class="pa-3 pa-sm-6">
    <MudText Typo="Typo.h6" Align="Align.Center">
        @L["Experience:MyLevel"]
    </MudText>
    <div class="hexagon-wrapper">
        <div class="hexagon" style="background: @SubjectType.History.GetStatic().Gradient">
            <span>@Level</span>
        </div>
    </div>
    <MudProgressLinear Min="0" Max="@PointsToNextLevel" Value="@Points" Color="Color.Primary" Class="mb-2"/>
    <div class="d-flex justify-space-between">
        <div class="d-flex align-center">
            <MudIcon Icon="@Icons.Material.Filled.FilterTiltShift" Class="mr-1" Size="Size.Small" Color="Color.Primary"/>
            <MudText Typo="Typo.body2">
                @L["Experience:XpToNextLevel", (PointsToNextLevel - Points).ToString("N0")]
            </MudText>
        </div>
        <MudText Typo="Typo.body2">
            @(Math.Round((double)Points / PointsToNextLevel * 100))%
        </MudText>
    </div>
</MudPaper>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public uint Level { get; set; }

    [Parameter]
    public long Points { get; set; }

    [Parameter]
    public long PointsToNextLevel { get; set; }

}
