@using Education.Web.Pages.History.Components
@using Education.Web.Pages.History.Home.Components
@using Education.Web.Services.History.Home
@using Education.Web.Services.History.Home.Model

@page "/history"
@layout HistoryLayout

<PageTitle>
    @L["Subject:History"]
</PageTitle>
<EduPage>
    <ApiViewer Result="@_result" Context="result">
        <SpotlightGrid Class="mb-3 mb-sm-6" Topics="@result.Trends.Take(8).ToArray()"/>

        <EduContainer MaxWidth="@EduWidth.W1600">
            <div class="header">
                <h2>@L["History:Epochs"]</h2>
            </div>
            <EpochSlider/>
        </EduContainer>

        <EduContainer MaxWidth="@EduWidth.W1600">
            <div class="header">
                <h2>@L["Topics:Trending"]</h2>
            </div>
            <section class="four-column">
                @foreach (var item in result.Trends.Skip(8))
                {
                    <TopicCard
                        Epoch="@item.Epoch"
                        Id="@item.Id"
                        Overview="@item.Overview"
                        Rating="@item.Rating"
                        Title="@item.Title"
                        Image="@item.ThumbnailUrl"/>
                }
            </section>
        </EduContainer>

        <EduContainer MaxWidth="@EduWidth.W1280" Class="grey darken-4">
            <DailyTopic Topic="@result.DailyTopic" Class="my-6 my-sm-12"/>
        </EduContainer>

        <EduContainer MaxWidth="@EduWidth.W1600">
            <div class="two-column">
                <section>
                    <div class="header">
                        <h2>@L["Topics:Recent"]</h2>
                    </div>
                    @for (var i = 0; i < result.Recent.Length; i++)
                    {
                        var item = result.Recent[i];

                        <TopicCard
                            Id="@item.Id"
                            Epoch="@item.Epoch"
                            Title="@item.Title"
                            Image="@item.ThumbnailUrl"
                            Overview="@item.Overview"
                            Rating="@item.Rating"
                            Horizontal
                            Class="@(i == result.Recent.Length - 1 ? null : "mb-3 mb-sm-6")"/>
                    }
                </section>

                <section>
                    <div class="header">
                        <h2>@L["Topics:TopFavorites"]</h2>
                    </div>

                    <EduFitGrid>
                        @foreach (var item in result.TopFavorites)
                        {
                            <TopicCard
                                Id="@item.Id"
                                Epoch="@item.Epoch"
                                Title="@item.Title"
                                Image="@item.ThumbnailUrl"
                                Overview="@item.Overview"
                                Rating="@item.Rating"/>
                        }
                    </EduFitGrid>
                </section>
            </div>
        </EduContainer>

        <EduContainer MaxWidth="@EduWidth.W1600">
            <div class="header">
                <h2>@L["Topics:TopRatings"]</h2>
            </div>

            <section class="four-column">
                @foreach (var item in result.TopRatings)
                {
                    <TopicCard
                        Id="@item.Id"
                        Epoch="@item.Epoch"
                        Title="@item.Title"
                        Image="@item.ThumbnailUrl"
                        Overview="@item.Overview"
                        Rating="@item.Rating"/>
                }
            </section>
        </EduContainer>

        <EduContainer MaxWidth="@EduWidth.W1600">
            <RandomTopic Class="my-6 my-sm-12"/>
        </EduContainer>

    </ApiViewer>
</EduPage>

@code {
    private ApiResult<HistoryOverviewModel> _result = ApiResult<HistoryOverviewModel>.Loading();

    [Inject]
    private IHistoryService HistoryService { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    protected override async Task OnInitializedAsync() =>
        _result = await HistoryService.GetAsync();
}