@using Education.Client.Features.History.Clients.DateGuesser.Model
<section class="grid @Class">
    @foreach (var guesser in Guessers)
    {
        <DifficultyCard Title="@L.GetDateGuesserSizeTitle(guesser.Size)" AccessInventory="@guesser.AccessInventory">
            <ChildContent>
                <MudList T="string" Class="flex-1" Padding="false" Dense ReadOnly>
                    <MudListItem T="string" Class="pa-0">
                        @L["History_DateGuesser_DateQuantity_Title", guesser.QuestionQuantity]
                    </MudListItem>
                    <MudListItem T="string" Class="pa-0">
                        <RewardsDisplay Rewards="@guesser.Rewards" Typo="Typo.body2" Horizontal/>
                    </MudListItem>
                </MudList>
            </ChildContent>

            <FooterContent>
                <EduLoadingButton
                    Color="Color.Primary"
                    Disabled="@IsDisabled(guesser)"
                    DropShadow="false"
                    IsLoading="@IsLoading(guesser.Size)"
                    LoadingText="@L["Loading_Title"]"
                    OnClick="@(() => CreateAsync(guesser.Size))"
                    Ripple="false"
                    Text="@L["History_DateGuesser_Start_Button"]"
                    Variant="Variant.Filled"/>
            </FooterContent>
        </DifficultyCard>
    }
</section>

@code {
    private bool _isLoading;
    private DateGuesserSize _size;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required DateGuesserInformationModel[] Guessers { get; set; }

    [Parameter]
    public EventCallback<DateGuesserSize> OnClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private async Task CreateAsync(DateGuesserSize size)
    {
        _isLoading = true;
        _size = size;

        try
        {
            await OnClick.InvokeAsync(size);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private bool IsLoading(DateGuesserSize size) =>
        _size == size && _isLoading;

    private bool IsDisabled(DateGuesserInformationModel quiz)
    {
        if (!quiz.IsAllowed)
            return true;

        return _isLoading && quiz.Size != _size;
    }

}
