@using Education.Client.Features.History.Clients.Quiz.Model
<section class="grid @Class">
    @foreach (var quiz in Quizzes)
    {
        <DifficultyCard Title="@L.GetQuizDifficultyTitle(quiz.Difficulty)" AccessInventory="@quiz.AccessInventory">
            <ChildContent>
                <MudList Class="flex-1" Dense DisableGutters DisablePadding>
                    <MudListItem>
                        @L["Question_QuantityAndTypes_Title", quiz.Question.Quantity, string.Join(", ", quiz.Question.Kinds.Select(x => L[$"Question_{x}_Kind"]))]
                    </MudListItem>
                    <MudListItem>
                        @L["Question_AllowedMistakes_Title", quiz.Question.AllowedMistakes]
                    </MudListItem>
                    <MudListItem>
                        <RewardsDisplay Rewards="@quiz.Rewards" Typo="Typo.body2" Horizontal/>
                    </MudListItem>
                </MudList>
            </ChildContent>
            <FooterContent>
                <EduLoadingButton Color="Color.Primary"
                                  Disabled="@IsDisabled(quiz)"
                                  DisableElevation
                                  DisableRipple
                                  IsLoading="@IsLoading(quiz.Difficulty)"
                                  LoadingText="@L["Loading_Title"]"
                                  OnClick="@(() => CreateAsync(quiz.Difficulty))"
                                  Text="@L["Start_Quiz_Button"]"
                                  Variant="Variant.Filled"/>
            </FooterContent>
        </DifficultyCard>
    }
</section>

@code {
    private bool _isLoading;
    private DifficultyType _difficulty;

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter, EditorRequired]
    public required QuizInformationModel[] Quizzes { get; set; }

    [Parameter]
    public EventCallback<DifficultyType> OnClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private async Task CreateAsync(DifficultyType difficulty)
    {
        _isLoading = true;
        _difficulty = difficulty;

        try
        {
            await OnClick.InvokeAsync(difficulty);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private bool IsLoading(DifficultyType difficulty) =>
        _difficulty == difficulty && _isLoading;

    private bool IsDisabled(QuizInformationModel quiz)
    {
        if (!quiz.IsAllowed)
            return true;

        return _isLoading && quiz.Difficulty != _difficulty;
    }

}
