@page "/history/my/activities"
@layout HistoryLayout
@attribute [Authorize]

@using Education.Client.Gateways.History
@using Education.Client.Gateways.History.Users.Model
@using Education.Client.Pages.History.My.Activities.Components;

<PageTitle>@L["Test:MyActivity"]</PageTitle>

<EduPage ShowFooter="@_response.IsLoaded">
    <ApiViewer Response="@_response">
        <Success Context="activity">
            <EduContainer MaxWidth="EduWidth.W1920">
                <PageHeader Title="@L["Test:MyActivity"]" Class="mb-3 mb-sm-6" Breadcrumbs="@Breadcrumbs"/>
                <div class="grid">
                    <TestCard
                        Class="easy-test"
                        Icon="@EducationIcons.Tests"
                        IconClass="blue-text text-lighten-1"
                        Title="@L["Tests:Easy"]"
                        Href="@Links.History.User.MyEasyTests"
                        Value="@activity.EasyTests"/>

                    <TestCard
                        Class="hard-test"
                        Icon="@EducationIcons.Tests"
                        IconClass="blue-text text-darken-2"
                        Title="@L["Tests:Hard"]"
                        Href="@Links.History.User.MyHardTests"
                        Value="@activity.HardTests"/>

                    <TestCard
                        Class="mixed-test"
                        Icon="@EducationIcons.Tests"
                        IconClass="indigo-text text-darken-1"
                        Title="@L["Tests:Mixed"]"
                        Href="@Links.History.User.MyMixedTests"
                        Value="@activity.MixedTests"/>

                    <TestCard
                        Class="event-guesser"
                        Icon="@EducationIcons.EventGuesser"
                        IconClass="deep-orange-text"
                        Title="@L["EventGuesser"]"
                        Href="@Links.History.User.MyEventGuessers"
                        Value="@activity.EventGuessers"/>

                    <ActivityCard
                        Class="monthly"
                        Title="@L["Statistics:Daily"]"
                        Activities="@activity.Daily"
                        DateFormat="dd MMM"/>

                    @if (activity.Monthly.Length > 1)
                    {
                        <ActivityCard
                            Class="annual"
                            Title="@L["Statistics:Monthly"]"
                            Activities="@activity.Monthly"
                            DateFormat="MMM yyyy"/>
                    }
                </div>
            </EduContainer>
        </Success>
    </ApiViewer>
</EduPage>

@code {

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Account"].Value, Links.Account.Index),
        new BreadcrumbItem(L["Profile"].Value, Links.History.User.MyProfile)
    };

    private ApiResponse<ProgressStatisticsModel> _response = ApiResponse<ProgressStatisticsModel>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnParametersSetAsync() =>
        _response = await HistoryClient.User.GetProgressAsync();

}
