@page "/history/quizzes/{id}/conclusion"
@layout HistoryLayout
@attribute [Authorize]

<ApiViewer Result="@_result" Context="conclusion">
    <PageTitle>
        @L[$"Quiz_{conclusion.Type}_Title"]: @conclusion.Article.Title
    </PageTitle>

    <MudAlert Class="mb-6 mb-sm-12" Severity="@GetColor(conclusion.Status)" ContentAlignment="HorizontalAlignment.Center" Square>
        @L[$"ConclusionStatus_{conclusion.Status}"]
    </MudAlert>

    <CompletedStars Class="mb-6" Progress="@conclusion.TotalScore.Scaled"/>

    @if (conclusion.Rewards.Length > 0)
    {
        <RewardsContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1280" Rewards="@conclusion.Rewards"/>
    }

    <div class="d-flex justify-center py-3 py-sm-6">
        <MudButton
            Href="@HistoryUrl.Quiz.Index(conclusion.Article.Id)"
            Color="Color.Primary"
            Variant="Variant.Filled"
            Size="Size.Large"
            DisableElevation>
            @L["Quiz_TakeTheQuizAgain"]
        </MudButton>
    </div>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <div class="mb-3">
            <MudLink Href="@HistoryUrl.User.MyArticle(conclusion.Article.Id)" Typo="Typo.h5">
                @L["Statistics_Title"]
            </MudLink>
        </div>
        <ConclusionCharts ConclusionModel="@conclusion"/>
    </EduContainer>

    <EduContainer Class="pa-3 pa-sm-6" MaxWidth="EduWidth.W1280">
        <div class="mb-3">
            <MudLink Href="@HistoryUrl.Content.Article(conclusion.Article.Id)" Typo="Typo.h5">
                @conclusion.Article.Title
            </MudLink>
        </div>

        @switch (conclusion.Type)
        {
            case DifficultyType.Easy:
                <EasyConclusionTable Class="mb-3 mb-sm-6" Questions="@conclusion.Questions"/>
                break;

            case DifficultyType.Hard:
                <HardConclusionTable Class="mb-3 mb-sm-6" Questions="@conclusion.Questions"/>
                break;
        }
    </EduContainer>
</ApiViewer>