@implements IDisposable
<MudPaper Class="pa-3" Elevation="0">
    <div class="list">
        <div class="image">
            <div class="image-wrapper">
                <img src="@Customer.Image" alt="@Customer.Name" loading="lazy">
            </div>
        </div>
        <div class="d-flex justify-center justify-sm-start justify-lg-center mb-lg-6">
            <MudText Typo="Typo.h5">
                @Customer.Name
            </MudText>
        </div>
        <div class="field">
            <MudText Typo="Typo.subtitle1">
                @L["Customer:Timezone"]
            </MudText>
            <MudText Typo="Typo.subtitle1">
                @Customer.Timezone
            </MudText>
        </div>
        <div class="field">
            <MudText Typo="Typo.subtitle1">
                @L["Customer:WeekStart"]
            </MudText>
            <MudText Typo="Typo.subtitle1">
                @L[$"DayOfWeek:{Customer.WeekStart}"]
            </MudText>
        </div>
        <div class="field justify-end">
            <MudButton Color="Color.Primary" Variant="Variant.Text" Size="Size.Small" EndIcon="@Icons.Filled.OpenInNew" Link="@Configuration["Urls:Account"]" Target="_blank">
                @L["ElwarkAccount"]
            </MudButton>
        </div>
        <div class="d-flex justify-end">
            <MudButton Color="Color.Default" Variant="Variant.Text" Size="Size.Small" EndIcon="@Icons.Filled.Logout" OnClick="@BeginSignOut">
                @L["Logout"]
            </MudButton>
        </div>
    </div>
</MudPaper>

@code {

    [Inject]
    private CustomerService Customer { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IConfiguration Configuration { get; set; } = default!;

    [Inject]
    private SignOutSessionStateManager SignOutManager { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    protected override void OnInitialized() =>
        Customer.OnChanged += StateHasChanged;

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo(CommonLinks.LogOut);
    }

    public void Dispose() => 
        Customer.OnChanged += StateHasChanged;

}
