<MudPaper Class="pa-3 pa-sm-6">
    <MudText Typo="Typo.h5" Align="Align.Center">
        @L["Experience:MyLevel"]
    </MudText>
    <div class="hexagon-wrapper">
        <div class="hexagon" style="background: @SubjectType.History.GetStatic().Gradient">
            <i>@Level</i>
        </div>
    </div>
    <MudProgressLinear Min="0" Max="@NextLevelXp" Value="@Xp" Color="Color.Primary" Class="mb-2"/>
    <div class="d-flex justify-space-between">
        <MudText Typo="Typo.body2">
            @L["Experience:XpToNextLevel", (NextLevelXp - Xp).ToString("N0")]
        </MudText>
        <MudText Typo="Typo.body2">
            @(Math.Round((double)Xp / NextLevelXp * 100))%
        </MudText>
    </div>
</MudPaper>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public uint Level { get; set; }
    
    [Parameter]
    public long Xp { get; set; }
    
    [Parameter]
    public long NextLevelXp { get; set; }
}
