@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components

@using Elwark.Education.Web.Gateways.Models.History
@inject IStringLocalizer<App> L

@foreach (var article in Articles)
{
    <div class="grid">
        <div class="article-title">
            <div>
                @if (article.Permission.Type == ContentType.Premium)
                {
                    <MudText Typo="Typo.body2" Color="Color.Warning">
                        @article.Permission.Type
                    </MudText>
                }
                @if (article.Permission.IsAllowed)
                {
                    <MudLink Typo="Typo.h2" Href="@(Links.History.Article(article.Id))" Class="title">
                        @article.Title
                    </MudLink>
                }
                else
                {
                    <a href="#"
                       class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-h2 title"
                       @onclick:preventDefault="true"
                       @onclick="@OnPremiumClick">
                        @article.Title
                    </a>
                }
            </div>
            @if (article.QuantityCompletedTimes.HasValue)
            {
                <div class="caption">
                    @if (article.QuantityCompletedTimes > 0)
                    {
                        <MudText Typo="Typo.body2">
                            <em>
                                @L["Test:QuantityCompletedTimes", article.QuantityCompletedTimes]
                            </em>
                        </MudText>
                        
                    }
                    else
                    {
                        <MudText Typo="Typo.body2">
                            <em>@L["Test:NotPassed"]</em>
                        </MudText>
                    }
                </div>
            }
        </div>
        
        <div class="article-description @(article.Image is null ? "two-column" : null)">
            <MudText Typo="Typo.subtitle1">
                @article.Overview
            </MudText>
        </div>

        @if (article.Image is not null)
        {
            <div class="article-image">
                <img src="@article.Image" loading="lazy" alt="@article.Title"/>
            </div>
        }

    </div>
}

@code {

    [Parameter]
    public HistoryArticleSummary[] Articles { get; set; } = Array.Empty<HistoryArticleSummary>();

    [Parameter]
    public EventCallback OnPremiumClick { get; set; }

}
