@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components

@using Elwark.Education.Web.Gateways.Models.History
@inject IStringLocalizer<App> L

@for (var i = 0; i < Articles.Length; i++)
{
    var article = Articles[i];
    <div class="article @(i % 2 == 0 ? "flex-md-row" : "flex-md-row-reverse")">
        <div class="image-container">
            <div class="image-background @(i % 2 == 0 ? "left" : "right")"></div>
            <div class="image-content @(i % 2 == 0 ? "left" : "right")">
                <div class="article-image">
                    @if (article.Image is not null)
                    {
                        <img src="@article.Image" loading="lazy" alt="@article.Title" style="width: 100%; height: 100%;">
                    }
                </div>
            </div>
        </div>
        <div class="article-content @(i % 2 == 0 ? null : "reverse")">
            <div class="text-container">
                @if (article.Permission.Type == ContentType.Premium)
                {
                    <MudText Typo="Typo.body2" Color="Color.Warning">
                        @article.Permission.Type
                    </MudText>
                }

                @if (article.Permission.IsAllowed)
                {
                    <MudLink Typo="Typo.h4" Href="@(Links.History.Article(article.Id))">
                        @article.Title
                    </MudLink>
                }
                else
                {
                    <a href="#"
                       class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-h4"
                       @onclick:preventDefault="true"
                       @onclick="@OnPremiumClick">
                        @article.Title
                    </a>
                }

                <MudText Typo="Typo.subtitle1">
                    @article.Overview
                </MudText>

                @if (article.QuantityCompletedTimes.HasValue)
                {
                    <div>
                        @if (article.QuantityCompletedTimes > 0)
                        {
                            <MudText Typo="Typo.body2">
                                <em>
                                    @L["Test:QuantityCompletedTimes", article.QuantityCompletedTimes]
                                </em>
                            </MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.body2">
                                <em>@L["Test:NotPassed"]</em>
                            </MudText>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public HistoryArticleSummary[] Articles { get; set; } = default!;

    [Parameter]
    public EventCallback OnPremiumClick { get; set; }

}
