@* ReSharper disable once CheckNamespace *@
@namespace Elwark.Education.Web.Components
@using Elwark.Education.Web.Gateways.Models.History

@inject IStringLocalizer<App> L

<div class="container @Class">
    <div class="image-container">
        <img src="@Topic.Image" class="header-image" alt="@Topic.Title"/>
        <div class="lifetime">
            @if (Topic.Born is not null)
            {
                <MudText Typo="Typo.body2" Color="Color.Surface">
                    @L["History:Born"]
                </MudText>
                <HistoryDate Date="@Topic.Born" Typo="Typo.h5" Color="Color.Secondary" Class="mb-2"/>
                <MudText Typo="Typo.body1">
                    @Topic.Born.Place
                </MudText>
            }
        </div>
        <div class="lifetime">
            @if (Topic.Died is not null)
            {
                <MudText Typo="Typo.body2" Color="Color.Surface">
                    @L["History:Died"]
                </MudText>
                <HistoryDate Date="@Topic.Died" Typo="Typo.h5" Color="Color.Secondary" Class="mb-2"/>
                <MudText Typo="Typo.body1">
                    @Topic.Died.Place
                </MudText>
            }
        </div>
    </div>
    <div class="text-container">
        <MudText Typo="Typo.h2" Class="mb-6">
            @Topic.Title
        </MudText>
        <Breadcrumbs Items="@Breadcrumbs" Class="mb-6"/>
        <MudText Typo="Typo.subtitle1" Class="mb-6 mw-sm">
            @Topic.Description
        </MudText>
        <div class="characteristics">
            @foreach (var (title, value) in Topic.Characteristics)
            {
                <div class="characteristic">
                    <MudText Class="title" Typo="Typo.subtitle1">
                        @title
                    </MudText>
                    <MarkdownText Text="@value"/>
                </div>
            }
        </div>
        @if (Topic.Test is not null)
        {
            <TopicTestCard Class="mt-6 mw-sm" Test="@Topic.Test"/>
        }
    </div>
</div>

@code {

    [Parameter]
    public HistoryPersonTopicDetail Topic { get; set; } = default!;

    [Parameter]
    public List<BreadcrumbItem> Breadcrumbs { get; init; } = new();

    [Parameter]
    public string? Class { get; set; }

}