@page "/profile/history"
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.History.Me
@layout ProfileLayout
@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L

@attribute [Authorize]

<DefaultFillGrid>
    <ApiResponseViewer Response="@_overview">
        <Placeholder>
            <SkeletonCard/>
            <SkeletonCard/>
            <SkeletonCard/>
            <SkeletonCard/>
        </Placeholder>
        <Result Context="overview">
            <Title Value="@L["Overview"]"></Title>
            @* <ProfileSubscriptionCard Subject="@overview."/> *@
            <p>Level @overview.Experience.Level</p>
            <p>Points @overview.Experience.Points</p>
            <p>Next @overview.Experience.NextLevelPoints</p>
            @if (overview.CurrentTests.Length > 0)
            {
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center" Class="my-3">
                                @L["CurrentTests"]
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @foreach (var test in overview.CurrentTests)
                        {
                            <CurrentTestCard Test="@test" Class="mb-3"/>
                        }
                    </MudCardContent>
                </MudCard>
            }
        </Result>
    </ApiResponseViewer>
</DefaultFillGrid>

@code {

    private ApiResponse<HistoryUserProfile> _overview = ApiResponse<HistoryUserProfile>.Loading();

    protected override async Task OnInitializedAsync()
    {
        _overview = await HistoryClient.Me.GetOverviewAsync();
    }

}
