@page "/profile/history"
@layout ProfileLayout
@using Elwark.Education.Web.Gateways.History
@using Elwark.Education.Web.Gateways.Models.Statistics
@inject IHistoryClient HistoryClient
@inject IStringLocalizer<App> L

@switch (_statistics.Status)
{
    case ResponseStatus.Loading:
        <PageLoader/>
        break;

    case ResponseStatus.Fail:
        <ErrorPage Error="_statistics.Error"/>
        break;

    case ResponseStatus.Success:
        <SubjectHeader Subject="@Subject.History"/>

        <MudText Typo="Typo.h5" Class="mb-2 mt-6">
            @L["Statistics:ByTopics"]
        </MudText>
        <div class="statistics-grid">
            <div class="topics-icon-widget-grid">
                <IconWidget
                    Icon="@Filled.Explore"
                    Title="@L["Topics:InProgress"]"
                    Value="@_statistics.Data.Topics.TopicsState.InProgress"/>

                <IconWidget
                    Icon="@Filled.ExploreOff"
                    Title="@L["Topics:Completed"]"
                    Value="@_statistics.Data.Topics.TopicsState.Completed"/>

                <IconWidget
                    Icon="@Filled.Timer"
                    Title="@L["TimeSpent"]"
                    Value="@_statistics.Data.Topics.TimeSpent.ToSimpleFormat()">
                    <Caption>
                        <DifferenceCaption
                            Current="@_statistics.Data.Topics.WeeklyDifference.TimeSpent.Current"
                            Difference="@_statistics.Data.Topics.WeeklyDifference.TimeSpent.Difference"
                            ValueConverter="@(span => span.ToSimpleFormat())"/>
                    </Caption>
                </IconWidget>
            </div>

            <DetailWidget Icon="@Filled.School" Value="@_statistics.Data.Topics.PassedTests.Total" Title="@L["PassedTests"]">
                <Caption>
                    <DifferenceCaption
                        Current="@_statistics.Data.Topics.WeeklyDifference.PassedTests.Current"
                        Difference="@_statistics.Data.Topics.WeeklyDifference.PassedTests.Difference"/>
                </Caption>
                <Details>
                    <div class="detail-grid">
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.PassedTests.Completed
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["PassedTests:Completed"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.PassedTests.NotCompleted
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["PassedTests:NotCompleted"]
                            </MudText>
                        </div>
                    </div>
                </Details>
            </DetailWidget>
            
            <DetailWidget Icon="@Filled.PendingActions" Value="@_statistics.Data.Topics.Score.Total" Title="@L["Score"]">
                <Caption>
                    <DifferenceCaption
                        Current="@_statistics.Data.Topics.WeeklyDifference.Score.Current"
                        Difference="@_statistics.Data.Topics.WeeklyDifference.Score.Difference"/>
                </Caption>
                <Details>
                    <div class="detail-grid">
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.Score.Questions
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Score:ByQuestions"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.Score.NoMistakes
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Score:NoMistakesBonus"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.Score.Speed
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Score:BySpeedBonus"]
                            </MudText>
                        </div>
                    </div>
                </Details>
            </DetailWidget>

            <DetailWidget Icon="@Filled.HelpOutline" Value="@_statistics.Data.Topics.AnswerRatio.Questions" Title="@L["Questions"]">
                <Caption>
                    <DifferenceCaption
                        Current="@_statistics.Data.Topics.WeeklyDifference.Questions.Current"
                        Difference="@_statistics.Data.Topics.WeeklyDifference.Questions.Difference"/>
                </Caption>
                <Details>
                    <div class="detail-grid">
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.AnswerRatio.Correct
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:Correct"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.AnswerRatio.Incorrect
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:Incorrect"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.AnswerRatio.Answered
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:Answered"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Topics.AnswerRatio.NotAnswered
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:NotAnswered"]
                            </MudText>
                        </div>
                    </div>
                </Details>
            </DetailWidget>

            <RankingWidget
                Title="@L["Ranking:ByScore"]"
                Items="@_statistics.Data.Topics.ScoreRanking"
                LinkBuilder="@((string id) => Links.History.Topic(id))"/>

            <RankingWidget
                Title="@L["Ranking:ByTimeSpent"]"
                Items="@_statistics.Data.Topics.TimeSpentRanking"
                LinkBuilder="@((string id) => Links.History.Topic(id))"
                ValueConverter="@((TimeSpan item) => item.ToSimpleFormat())"/>

            <RankingWidget
                Title="@L["Ranking:ByTestPassedTimes"]"
                Items="@_statistics.Data.Topics.TestPassedTimesRanking"
                LinkBuilder="@((string id) => Links.History.Topic(id))"/>
        </div>

        <MudText Typo="Typo.h5" Class="mb-2 mt-12">
            @L["Statistics:ByArticles"]
        </MudText>
        <div class="statistics-grid mb-6">
            <div class="articles-icon-widget-grid">
                <IconWidget
                    Icon="@Filled.Timer"
                    Title="@L["TimeSpent"]"
                    Value="@_statistics.Data.Articles.TimeSpent.ToSimpleFormat()">
                    <Caption>
                        <DifferenceCaption
                            Current="@_statistics.Data.Articles.WeeklyDifference.TimeSpent.Current"
                            Difference="@_statistics.Data.Articles.WeeklyDifference.TimeSpent.Difference"
                            ValueConverter="@(span => span.ToSimpleFormat())"/>
                    </Caption>
                </IconWidget>
            </div>

            <DetailWidget Icon="@Filled.School" Value="@_statistics.Data.Articles.PassedTests.Total" Title="@L["PassedTests"]">
                <Caption>
                    <DifferenceCaption
                        Current="@_statistics.Data.Articles.WeeklyDifference.PassedTests.Current"
                        Difference="@_statistics.Data.Articles.WeeklyDifference.PassedTests.Difference"/>
                </Caption>
                <Details>
                    <div class="detail-grid">
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.PassedTests.Completed
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["PassedTests:Completed"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.PassedTests.NotCompleted
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["PassedTests:NotCompleted"]
                            </MudText>
                        </div>
                    </div>
                </Details>
            </DetailWidget>

            <DetailWidget Icon="@Filled.PendingActions" Value="@_statistics.Data.Articles.Score.Total" Title="@L["Score"]">
                <Caption>
                    <DifferenceCaption
                        Current="@_statistics.Data.Articles.WeeklyDifference.Score.Current"
                        Difference="@_statistics.Data.Articles.WeeklyDifference.Score.Difference"/>
                </Caption>
                <Details>
                    <div class="detail-grid">
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.Score.Questions
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Score:ByQuestions"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.Score.NoMistakes
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Score:NoMistakesBonus"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.Score.Speed
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Score:BySpeedBonus"]
                            </MudText>
                        </div>
                    </div>
                </Details>
            </DetailWidget>

            <DetailWidget Icon="@Filled.HelpOutline" Value="@_statistics.Data.Articles.AnswerRatio.Questions" Title="@L["Questions"]">
                <Caption>
                    <DifferenceCaption
                        Current="@_statistics.Data.Articles.WeeklyDifference.Questions.Current"
                        Difference="@_statistics.Data.Articles.WeeklyDifference.Questions.Difference"/>
                </Caption>
                <Details>
                    <div class="detail-grid">
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.AnswerRatio.Correct
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:Correct"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.AnswerRatio.Incorrect
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:Incorrect"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.AnswerRatio.Answered
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:Answered"]
                            </MudText>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @_statistics.Data.Articles.AnswerRatio.NotAnswered
                            </MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center">
                                @L["Questions:NotAnswered"]
                            </MudText>
                        </div>
                    </div>
                </Details>
            </DetailWidget>

            <RankingWidget
                Title="@L["Ranking:ByScore"]"
                Items="@_statistics.Data.Articles.ScoreRanking"
                LinkBuilder="@((string id) => Links.History.Article(id))"/>

            <RankingWidget
                Title="@L["Ranking:ByTimeSpent"]"
                Items="@_statistics.Data.Articles.TimeSpentRanking"
                LinkBuilder="@((string id) => Links.History.Article(id))"
                ValueConverter="@((TimeSpan item) => item.ToSimpleFormat())"/>

            <RankingWidget
                Title="@L["Ranking:ByTestPassedTimes"]"
                Items="@_statistics.Data.Articles.TestPassedTimesRanking"
                LinkBuilder="@((string id) => Links.History.Article(id))"/>
        </div>
        break;
}

@code {
    private ApiResponse<ContentStatistics> _statistics = ApiResponse<ContentStatistics>.Loading();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _statistics = await HistoryClient.GetMyStatisticsAsync();
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }

}