@using Education.Web.Gateways.History.Users.Model
<section class="grid">
    @switch (Achievement)
    {
        case CompletedAchievementModel achievement:
            <aside class="icon completed">
                <MudIcon Icon="@_icon" Size="Size.Large" Color="Color.Inherit"/>
            </aside>
            <header class="header">
                <h6 class="title">
                    @achievement.Title
                </h6>
                <MudText Typo="Typo.caption" Class="d-block">
                    @L["Achievement:Completed"] @achievement.CompletedAt.ToCustomerFormat(Customer.DateTimeInfo)
                </MudText>
            </header>
            break;

        case LadderAchievementModel achievement:
            <aside class="icon @_background">
                <MudIcon Icon="@_icon" Size="Size.Large" Color="Color.Inherit"/>
                <MudText Typo="Typo.caption" Class="mt-1" Style="text-transform: uppercase" Color="Color.Inherit">
                    @L["Achievement:Level"] @achievement.Level
                </MudText>
            </aside>
            <header class="header">
                <h6 class="title">
                    @achievement.Title
                </h6>
            </header>
            <footer class="progress">
                <div class="d-flex flex-row mb-1">
                    <HumanReadableNumber Value="@achievement.Score" Typo="Typo.subtitle2"/>
                    <span>/</span>
                    <HumanReadableNumber Value="@achievement.Threshold" Typo="Typo.subtitle2"/>
                </div>
                <MudProgressLinear Class="mb-1" Min="0" Max="100" Value="@achievement.Completeness" Color="Color.Primary"/>
                <div class="d-flex flex-row">
                    @foreach (var reward in achievement.Rewards)
                    {
                        <InternalMoneyText Class="mr-3" Money="@reward" Horizontal/>
                    }
                </div>
            </footer>
            break;

        case ProgressiveAchievementModel achievement:
            <aside class="icon @_background">
                <MudIcon Icon="@_icon" Size="Size.Large" Color="Color.Inherit"/>
            </aside>
            <header class="header">
                <h6 class="title">
                    @achievement.Title
                </h6>
            </header>
            <footer class="progress">
                <MudProgressLinear Class="mb-1" Min="0" Max="100" Value="@achievement.Completeness" Color="Color.Primary"/>
                <div class="d-flex flex-row">
                    @foreach (var reward in achievement.Rewards)
                    {
                        <InternalMoneyText Class="mr-3" Money="@reward" Horizontal/>
                    }
                </div>
            </footer>
            break;

        default:
            throw new ArgumentOutOfRangeException(nameof(Achievement));
    }

    <section class="description">
        <MudText Typo="Typo.body2">
            @Achievement.Description
        </MudText>
    </section>
</section>

@code {
    private string _icon = EducationIcons.Achievements;
    private string _background = "black white-text";

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    [Parameter, EditorRequired]
    public AchievementModel Achievement { get; set; } = default!;

    protected override void OnParametersSet()
    {
        _background = Achievement.Category switch {
            "AllTests" => "deep-orange accent-2 white-text",
            "EasyTest" => "orange accent-2 white-text",
            "HardTest" => "orange accent-3 white-text",
            "MixedTest" => "orange accent-4 white-text",
            "EventGuesser" => "teal default white-text",
            _ => "green accent-4 white-text"
            };

        _icon = Achievement switch {
        {Category: "EasyTest" or "HardTest" or "MixedTest" or "AllTests", Name: "Successful"} => 
            EducationIcons.Tests,
            
        {Category: "EasyTest" or "HardTest" or "MixedTest" or "AllTests", Name: "Score"} =>
            EducationIcons.Score,
            
        {Category: "EasyTest" or "HardTest" or "MixedTest" or "AllTests", Name: "Experience"} =>
            Icons.Outlined.VerifiedUser,
            
        {Category: "EasyTest" or "HardTest" or "MixedTest" or "AllTests", Name: "Silver"} =>
            Icons.Outlined.Money,
            
        {Category: "EasyTest" or "HardTest" or "MixedTest" or "AllTests", Name: "CorrectAnswer"} => 
            Icons.Outlined.QuestionAnswer,
            
        {Category: "EasyTest" or "HardTest" or "MixedTest" or "AllTests", Name: "WithoutMistake"} => 
            Icons.Outlined.AddTask,
            
        {Category: "AllTests", Name: "CompleteOnce" } =>
            Icons.Outlined.DoneAll,
            
        {Category: "EventGuesser", Name: "Successful"} =>
            Icons.Outlined.ManageSearch,
            
        {Category: "EventGuesser", Name: "Points"} =>
            EducationIcons.Score,
            
        {Category: "EventGuesser", Name: "Bonus"} =>
            Icons.Outlined.AccessTimeFilled,
            
        {Category: "EventGuesser", Name: "WithoutMistake"} =>
            Icons.Outlined.AddTask,
            
            _ => EducationIcons.Achievements
            };
    }

}
