@using Education.Web.Client.Features.History.Services.Quiz.Model
@using Education.Web.Client.Features.History.Services.Learner.Model.Quiz
<ul class="@Class">
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <MudText Typo="Typo.subtitle1">
            @L["TimeSpent_Title"]
        </MudText>
        <MudText Typo="Typo.subtitle1">
            @TimeSpent.Humanize()
        </MudText>
    </li>
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <MudText Typo="Typo.subtitle1">
            @L["Score_Total_Title"]
        </MudText>
        <MetricNumber Value="@Score.Total" Typo="Typo.subtitle1"/>
    </li>
    <li class="d-flex flex-row">
        <ul class="w-100 ml-6">
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Score_Questions_Title"]
                </MudText>
                <MetricNumber Value="@Score.Questions" Typo="Typo.subtitle1"/>
            </li>
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Score_SpeedBonus_Title"]
                </MudText>
                <MetricNumber Value="@Score.Speed" Typo="Typo.subtitle1"/>
            </li>
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Score_NoMistakesBonus_Title"]
                </MudText>
                <MetricNumber Value="@Score.NoMistakes" Typo="Typo.subtitle1"/>
            </li>
        </ul>
    </li>
    <li class="d-flex flex-row justify-space-between underline mb-1">
        <MudText Typo="Typo.subtitle1">
            @L["Questions_Total"]
        </MudText>
        <MetricNumber Value="@AnswerRatio.Questions" Typo="Typo.subtitle1"/>
    </li>
    <li class="d-flex flex-row">
        <ul class="w-100 ml-6">
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Questions_Answered"]
                </MudText>
                <MetricNumber Value="@AnswerRatio.Answered" Typo="Typo.subtitle1"/>
            </li>
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Questions_NotAnswered"]
                </MudText>
                <MetricNumber Value="@AnswerRatio.NotAnswered" Typo="Typo.subtitle1"/>
            </li>
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Questions_Correct"]
                </MudText>
                <MetricNumber Value="@AnswerRatio.Correct" Typo="Typo.subtitle1"/>
            </li>
            <li class="d-flex flex-row justify-space-between underline mb-1">
                <MudText Typo="Typo.subtitle1">
                    @L["Questions_Incorrect"]
                </MudText>
                <MetricNumber Value="@AnswerRatio.Incorrect" Typo="Typo.subtitle1"/>
            </li>
        </ul>
    </li>
</ul>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public ScoreModel Score { get; set; } = default!;

    [Parameter, EditorRequired]
    public AnswerRatioModel AnswerRatio { get; set; } = default!;

    [Parameter, EditorRequired]
    public TimeSpan TimeSpent { get; set; }

}