@page "/history/my/achievements"
@using Education.Web.Gateways.History.Users.Model
@using Education.Web.Pages.History.My.Components
@using Education.Web.Gateways.History
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>@L["Achievements"]</PageTitle>

<EduPage ShowFooter="@_response.IsLoaded">
    <EduContainer Class="pb-0">
        <PageHeader Title="@L["Achievements"]" Breadcrumbs="@Breadcrumbs">
            <MudText Typo="Typo.h5">
                @_subtitle
            </MudText>
        </PageHeader>
    </EduContainer>
    <ApiViewer Response="@_response" Context="achievements">
        <EduContainer>
            <MudGrid>
                @for (var index = 0; index < achievements.Categories.Length; index++)
                {
                    var category = achievements.Categories[index];
                    var classes = index == 0 ? null : "mt-6 mt-sm-16";

                    <MudItem xs="12" md="3" xl="2" Class="@classes">
                        <div class="sticky-info">
                            <div class="d-flex align-end">
                                <MudText Typo="@Typo.h5">
                                    @category.Title
                                </MudText>
                                <MudText Typo="@Typo.subtitle1" Class="ml-3">
                                    @category.Completed/@category.Total
                                </MudText>
                            </div>

                            <MudText Typo="@Typo.body1">
                                @category.Description
                            </MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="12" md="9" xl="10" Class="@classes">
                        <div class="grid">
                            @foreach (var achievement in category.Achievements)
                            {
                                <MudCard Elevation="0">
                                    <MudCardContent Class="pa-3 pa-sm-6">
                                        <AchievementView Achievement="@achievement"/>
                                    </MudCardContent>
                                </MudCard>
                            }
                        </div>
                    </MudItem>
                }
            </MudGrid>
        </EduContainer>
    </ApiViewer>
</EduPage>

@code {
    private string? _subtitle;

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["Profile"].Value, HistoryLinks.User.MyProfile)
    };

    private ApiResponse<AchievementsDetailModel> _response = ApiResponse<AchievementsDetailModel>.Loading();

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryClient HistoryClient { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        _response = await HistoryClient.User.GetAchievementsAsync();
        if (_response.IsSuccess)
            _subtitle = $"{_response.Data.Completed} / {_response.Data.Total}";
    }

}
