@using Education.Web.Client.Models
@using Education.Web.Client.Features.History.Services.Quiz.Model
@using Education.Web.Client.Features.History.Services.Quiz.Request

<section class="@Class">
    <MudText Class="mb-3" Typo="Typo.h6">
        @L["History_Epoch"]
    </MudText>
    <EpochRadioGroup
        SelectedEpoch="@HistorySettings.QuizEpoch"
        SelectedEpochChanged="@HistorySettings.ChangeQuizEpochAsync"
        Class="mb-3 mb-sm-6"/>

    <MudText Class="mb-3" Typo="Typo.h6">
        @L["Shared_QuizType"]
    </MudText>
    <QuizDifficultyRadioGroup
        SelectedDifficulty="@HistorySettings.QuizDifficulty"
        SelectedDifficultyChanged="@(x => HistorySettings.ChangeQuizDifficultyAsync(x))"
        Quizzes="@Quizzes"
        Class="mb-3 mb-sm-6"/>

    <div class="d-flex justify-center">
        <LoadingButton
            DisableElevation
            Color="Color.Primary"
            Variant="Variant.Filled"
            Size="Size.Large"
            Text="@L["Shared_TakeTheQuiz"]"
            LoadingText="@L["Loading"]"
            IsLoading="@_isLoading"
            Disabled="@(Quizzes.All(x => !x.IsAllowed))"
            OnClick="@CreateTestAsync"/>
    </div>
</section>

@code {
    private bool _isLoading;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [CascadingParameter]
    private CascadingHistorySettings HistorySettings { get; set; } = default!;

    [Parameter, EditorRequired]
    public QuizInformationModel[] Quizzes { get; set; } = Array.Empty<QuizInformationModel>();

    [Parameter, EditorRequired]
    public EventCallback<CreateEpochQuizRequest> OnCreateClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Quizzes.Any(x => x.IsAllowed && x.Type == HistorySettings.QuizDifficulty))
            return;

        await HistorySettings.ChangeQuizDifficultyAsync(Quizzes.FirstOrDefault(x => x.IsAllowed)?.Type);
    }

    private async Task CreateTestAsync()
    {
        if (!HistorySettings.QuizDifficulty.HasValue)
            return;

        _isLoading = true;
        await OnCreateClick.InvokeAsync(new CreateEpochQuizRequest(HistorySettings.QuizDifficulty.Value, HistorySettings.QuizEpoch));
        _isLoading = false;
    }

}