@page "/history/quizzes"
@using Education.Web.Client.Features.History.Services.Quiz.Model
@using Education.Web.Client.Features.History.Services.Quiz.Request
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Shared_Quizzes"]
</PageTitle>

<div class="background d-flex flex-column h-100">

    <EduContainer Class="pt-3 pt-sm-6">
        <EduPageHeader Title="@L["Shared_Quizzes"]" Breadcrumbs="@Breadcrumbs">
            <div>
                <MudButton
                    DisableElevation
                    Variant="Variant.Text"
                    Color="Color.Primary"
                    EndIcon="@Icons.Material.Outlined.Info"
                    Disabled="@(!_result.IsSuccess)"
                    OnClick="@OpenRule">
                    @L["Shared_QuizRules"]
                </MudButton>
            </div>
        </EduPageHeader>
    </EduContainer>

    <ApiViewer Result="@_result" Context="model">
        <section class="grid pa-3 pa-sm-6">
            @if (model.Article is null)
            {
                <EpochQuizBuilder
                    Class="builder"
                    Quizzes="@model.Quizzes"
                    OnCreateClick="@OnQuizCreateAsync"/>
            }
            else
            {
                <ArticleQuizBuilder
                    Class="builder"
                    Quizzes="@model.Quizzes"
                    Article="@model.Article.Article"
                    Activity="@model.Article.Activity"
                    OnCreateClick="@OnQuizCreateAsync"
                    OnBookmarkClick="@UserService.ToggleArticleBookmarkAsync"/>
            }

            <section class="inventory">
                <MudText Typo="Typo.h6" Class="mb-3">
                    @L["Shared_QuizEquipment"]
                </MudText>
                <InventoryGrid Inventory="@model.Inventories" StoreHref="@HistoryUrl.Store.Index" Context="item">
                    <InventoryInfoCard
                        Title="@item.Title"
                        Overview="@item.Overview"
                        Quantity="@item.Quantity"
                        IconUrl="@item.IconUrl"/>
                </InventoryGrid>
            </section>
        </section>
    </ApiViewer>
</div>

@code {
    private ApiResult<QuizBuilderModel> _result = ApiResult<QuizBuilderModel>.Loading();

    private List<BreadcrumbItem> Breadcrumbs => new()
    {
        new BreadcrumbItem(L["History_Title"].Value, HistoryUrl.Root)
    };

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private IHistoryQuizService QuizService { get; set; } = default!;

    [Inject]
    private IHistoryUserService UserService { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Inject]
    private ISnackbar Snackbar { get; set; } = default!;

    [Inject]
    private IDialogService DialogService { get; set; } = default!;

    [Parameter, SupplyParameterFromQuery(Name = "article")]
    public string? ArticleId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _result = await QuizService.GetTestBuilderAsync(ArticleId);

        if (_result.IsError && _result.UnwrapError().IsTestAlreadyCreated(out var id))
            Navigation.NavigateTo(HistoryUrl.ArticleQuiz.Test(id));
    }

    private Task OnQuizCreateAsync(CreateEpochQuizRequest request) =>
        CreateTestAsync(() => QuizService.CreateAsync(request));

    private Task OnQuizCreateAsync(CreateArticleQuizRequest request) =>
        CreateTestAsync(() => QuizService.CreateAsync(request));

    private async Task CreateTestAsync(Func<Task<ApiResult<QuizModel>>> call) =>
        (await call())
            .Match(
                x => Navigation.NavigateTo(HistoryUrl.ArticleQuiz.Test(x.Overview.Id)),
                e => Snackbar.Add(e.Detail, Severity.Error)
            );

    private void OpenRule()
    {
        var rule = _result.Unwrap().Rule;
        var parameters = new DialogParameters { [nameof(RuleDialog.Content)] = rule.Content };
        var options = new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Large, CloseOnEscapeKey = true, CloseButton = true };

        DialogService.Show<RuleDialog>(rule.Title, parameters, options);
    }

}