@page "/history/quizzes"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Quizzes_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" Context="model">
    <section class="grid px-3 pb-3 px-sm-6 pb-sm-6">
        @if (model.Article is null)
        {
            <EpochQuizBuilder
                Class="builder"
                Quizzes="@model.Quizzes"
                Epoch="@_settings.Epoch"
                EpochChanged="@OnEpochChanged"
                Difficulty="@_settings.Difficulty"
                DifficultyChanged="@OnDifficultyChanged"
                OnCreateClick="@OnQuizCreateAsync"/>
        }
        else
        {
            <ArticleQuizBuilder
                Class="builder"
                Quizzes="@model.Quizzes"
                Article="@model.Article.Article"
                Activity="@model.Article.Activity"
                Difficulty="@_settings.Difficulty"
                DifficultyChanged="@OnDifficultyChanged"
                OnCreateClick="@OnQuizCreateAsync"
                OnBookmarkClick="@LearnerService.ToggleArticleBookmarkAsync"/>
        }

        <section class="inventory">
            <MudText Typo="Typo.h6" Class="mb-3">
                @L["Quiz_Equipment_Title"]
            </MudText>
            <InventoryGrid Inventory="@model.Inventories" StoreHref="@HistoryUrl.Store.Index(L["History_Store_Quizzes_Category"])" Context="item">
                <InventoryInfoCard
                    Title="@item.Title"
                    Overview="@item.Overview"
                    Quantity="@item.Quantity"
                    IconUrl="@item.IconUrl"/>
            </InventoryGrid>
        </section>
    </section>
</ApiViewer>