@using Education.Web.Client.Features.History.Services.Quiz.Model
@using Education.Web.Client.Models.Quiz

<div class="@Class">
    <MudRadioGroup T="DifficultyType?" SelectedOption="@SelectedDifficulty" SelectedOptionChanged="@SelectedDifficultyChanged" Class="radio-group">
        @foreach (var service in Quizzes)
        {
            <MudRadio T="DifficultyType?" Option="@service.Type" Color="Color.Primary" Disabled="@(!service.IsAllowed)" Class="radio">
                <MudPaper Elevation="0" Class="d-flex align-center pa-3">
                    <div class="rounded-circle mud-background">
                        <div class="d-flex justify-center align-center relative pa-2">
                            <img class="image" src="@service.IconUrl" alt="@service.Title" loading="lazy"/>
                        </div>
                    </div>

                    <MudText Typo="Typo.subtitle1" Class="one-line-text mx-3">
                        @service.Title
                    </MudText>
                </MudPaper>
            </MudRadio>
        }
    </MudRadioGroup>
</div>

@code {

    [Parameter]
    public DifficultyType? SelectedDifficulty { get; set; }

    [Parameter]
    public EventCallback<DifficultyType?> SelectedDifficultyChanged { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public QuizInformationModel[] Quizzes { get; set; } = Array.Empty<QuizInformationModel>();

}