@using Education.Web.Hubs.Notification
@using Education.Web.Pages
@implements IDisposable

<MudBadge Color="Color.Secondary" Dot Overlap Visible="Customer.HasNotifications">
    <MudMenu
        Icon="@Icons.Outlined.Notifications"
        Color="Color.Inherit"
        AnchorOrigin="Origin.BottomLeft"
        TransformOrigin="Origin.TopLeft"
        ListClass="pa-0">

        <div class="d-flex justify-space-between align-center px-3 pt-3 pb-1">
            <MudText Typo="Typo.subtitle1" Class="pr-16">
                @L["Notifications"]
            </MudText>
            <MudButton
                Style="text-transform: none"
                Disabled="@(!Customer.HasNotifications)"
                OnClick="NotificationHub.MarkAllAsReadAsync"
                StartIcon="@Icons.Outlined.DoneAll"
                Variant="Variant.Text"
                Size="Size.Small"
                Color="Color.Primary">
                @L["Notifications:MarkAsRead"]
            </MudButton>
        </div>

        @if (Customer.HasNotifications)
        {
            @foreach (var notification in Customer.Notifications)
            {
                <MudDivider/>
                <MudMenuItem Class="px-3 py-2">
                    <MudText Typo="Typo.subtitle2">
                        @notification.Content
                    </MudText>
                    <div class="d-flex justify-space-between">
                        <MudText Typo="Typo.body2">
                            @notification.CreatedAt.ToSimpleFormat()
                        </MudText>
                        <MudText Typo="Typo.body2">
                            @L[$"Subject:{notification.Subject}"]
                        </MudText>
                    </div>
                </MudMenuItem>
            }
            @if (Customer.HasMoreNotifications)
            {
                <MudDivider/>
                <div class="d-flex justify-center py-3">
                    <MudLink Href="@CommonLinks.Notifications" Typo="Typo.button" Style="text-transform: none">
                        @L["Notifications:All"]
                    </MudLink>
                </div>
            }
        }
        else
        {
            <div class="d-flex justify-center align-center py-6">
                <MudText Class="mud-text-secondary my-12">
                    @L["Notifications:NothingNew"]
                </MudText>
            </div>
        }
    </MudMenu>
</MudBadge>

@code {

    [Inject]
    private CustomerService Customer { get; set; } = default!;

    [Inject]
    private NotificationHub NotificationHub { get; set; } = default!;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    protected override void OnInitialized() =>
        Customer.OnChanged += StateHasChanged;

    public void Dispose() =>
        Customer.OnChanged -= StateHasChanged;

}
