@using Education.Web.Pages
@using Education.Web.Pages.Account

<AuthorizeView>
    <Authorized>
        <MudMenu Direction="Direction.Left" OffsetX Dense Class="mt-1 ml-3">
            <ActivatorContent>
                <MudAvatar Image="@Customer.Image"/>
            </ActivatorContent>
            <ChildContent>

                <MudCard Elevation="0" Class="mt-n3" Style="width: 240px">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="@Customer.Image"/>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <p class="mud-typography mud-typography-body1 name">
                                @Customer.Name
                            </p>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudCard>

                <MudDivider Class="mb-2"/>

                <MudListItem Text="@L["Account"]" Icon="@Icons.Outlined.Person" Href="@AccountLinks.Root"/>
                <MudListItem Text="@L["Account:Logout"]" Icon="@Icons.Outlined.Login" OnClick="@OnLogout"/>
            </ChildContent>
        </MudMenu>
    </Authorized>

    <NotAuthorized>
        <MudButton
            DisableElevation
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Small"
            OnClick="@OnLogin" Class="ml-3">
            @L["Account:SignIn"]
        </MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Inject]
    private SignOutSessionStateManager SignOutManager { get; set; } = default!;

    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [CascadingParameter]
    private CustomerState Customer { get; set; } = default!;

    private void OnLogin() =>
        Navigation.NavigateTo(CommonLinks.LogIn(Navigation.Uri));

    private async Task OnLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo(CommonLinks.LogOut);
    }
}
