<div class="@Class">
    <MudChart ChartType="ChartType.Donut" Width="@Size" Height="@Size" InputData="@Data" ChartOptions="@Options"/>
    <ChartList Items="@Items"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Size { get; set; } = "250px";

    [Parameter]
    public NumberOfTests Value { get; set; } = default!;

    private ChartOptions Options => new()
    {
        DisableLegend = true,
        ChartPalette = Value.Total > 0
            ? new[]
            {
                Colors.Green.Accent4,
                Colors.Red.Default,
                Colors.Blue.Default,
                Colors.DeepPurple.Default
            }
            : new[]
            {
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1
            }
    };
    
    private double[] Data => new double[]
    {
        Value.Successful,
        Value.Failed,
        Value.MistakesExceeded,
        Value.TimeExceeded
    };

    private ChartList.Item[] Items => new[]
    {
        new ChartList.Item(L["NumberOfTests:Successful"], Value.Successful, Colors.Green.Accent4),
        new ChartList.Item(L["NumberOfTests:Failed"], Value.Failed, Colors.Red.Default),
        new ChartList.Item(L["NumberOfTests:MistakesExceeded"], Value.MistakesExceeded, Colors.Blue.Default),
        new ChartList.Item(L["NumberOfTests:TimeExceeded"], Value.TimeExceeded, Colors.DeepPurple.Default),
        new ChartList.Item(L["NumberOfTests:Total"], Value.Total, null)
    };

}
