<div class="@Class">
    <MudChart ChartType="ChartType.Donut" Width="@Size" Height="@Size" InputData="@Data" ChartOptions="@Options"/>
    <ChartList Items="@Items"/>
</div>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string Size { get; set; } = "250px";

    [Parameter]
    public Score Value { get; set; } = default!;

    private ChartOptions Options => new()
    {
        DisableLegend = true,
        ChartPalette = Value.Total > 0
            ? new[]
            {
                Colors.Green.Accent4,
                Colors.Blue.Default,
                Colors.DeepPurple.Default
            }
            : new[]
            {
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1,
                Colors.Grey.Lighten1
            }
    };

    private double[] Data => new double[]
    {
        Value.Questions,
        Value.Speed,
        Value.NoMistakes
    };

    private ChartList.Item[] Items => new[]
    {
        new ChartList.Item(L["Score:ByQuestions"], Value.Questions, Colors.Green.Accent4),
        new ChartList.Item(L["Score:BySpeedBonus"], Value.Speed, Colors.Blue.Default),
        new ChartList.Item(L["Score:NoMistakesBonus"], Value.NoMistakes, Colors.DeepPurple.Default),
        new ChartList.Item(L["Score:Total"], Value.Total, null)
    };

}
