@using Education.Web.Client.Services.History
@using MudBlazor.Utilities
<div class="@_class">
    @foreach (var article in Articles)
    {
        <article class="card">
            <a href="@HistoryUrl.Content.Article(article.Id)" class="card-link"></a>
            <img src="@article.ThumbnailUrl" alt="@article.Title" loading="lazy" class="image">
            <div class="text-wrapper">
                <h2 class="title">@article.Title</h2>
                <p class="overview">@article.Overview</p>
                <div class="d-flex flex-wrap justify-space-between align-center">
                    <ArticleRating Rating="@article.Rating" Size="Size.Small"/>
                    <MudChip
                        Class="ma-0"
                        Size="Size.Small"
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        Text="@L[$"Epoch:{article.Epoch.ToFastString()}"]"
                        Link="@HistoryUrl.Content.Epoch(article.Epoch)"
                        DisableRipple
                        Label/>
                </div>
            </div>
        </article>
    }
</div>

@code {

    private CssBuilder _class = CssBuilder.Empty();

    [Inject]
    public IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Gap { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<ArticleOverviewModel> Articles { get; set; } = Enumerable.Empty<ArticleOverviewModel>();

    protected override void OnParametersSet()
    {
        _class = CssBuilder.Default("grid");

        if (!string.IsNullOrEmpty(Class))
            _class.AddClass(Class);

        if (Gap)
            _class.AddClass("gap");
    }

}