<section class="@Class">
    <header class="d-flex align-center justify-space-between">
        <MudText Typo="Typo.h6">
            @L["Experience:Level"] @Level
        </MudText>
        <MudIcon Icon="@EduIcons.Level" Size="Size.Small"/>
    </header>

    <MudProgressLinear Class="mb-1" Rounded Color="Color.Primary" Size="Size.Medium" Max="@NextLevelExperience" Value="@Experience"/>

    <div class="d-flex justify-space-between align-start">
        <MudText Typo="Typo.body2">
            @(((double)Experience / NextLevelExperience * 100).ToReadable())%
        </MudText>
        <div class="d-flex align-center">
            <ReadableNumber Value="@Experience" Typo="Typo.body2"/>
            <div>&nbsp;/&nbsp;</div>
            <ReadableNumber Value="@NextLevelExperience" Typo="Typo.body2"/>
            <MudIcon Icon="@EduIcons.Experience" Class="ml-1" Size="Size.Small"/>
        </div>
    </div>
</section>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public uint Level { get; set; }

    [Parameter, EditorRequired]
    public ulong Experience { get; set; }

    [Parameter, EditorRequired]
    public ulong NextLevelExperience { get; set; }

}