@using Education.Client.Gateways.History.Users.Model
<MudCard Class="@($"{Class} d-flex flex-column")" Elevation="0">
    <MudCardHeader Class="pa-3 pa-sm-6">
        <CardHeaderContent>
            <div class="d-flex align-center justify-space-between">
                <MudText Typo="Typo.h5">
                    @L["Inventory"]
                </MudText>
                <MudText Typo="Typo.h5">
                    @Inventory.Fullness / @Inventory.Capacity
                </MudText>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="flex-grow-1 pa-0 px-3 px-sm-6 mb-3 mb-sm-6">
        <section class="grid">
            @foreach (var item in Inventory.Items)
            {
                <div>
                    @item.Id: @item.Count
                </div>
            }
        </section>
    </MudCardContent>

    <MudDivider/>

    <MudCardActions Class="d-flex justify-center pa-3">
        <MudLink Typo="Typo.subtitle1" Href="@Links.History.User.MyInventories">
            @L["Details"]
        </MudLink>
    </MudCardActions>
</MudCard>

@code {

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public InventoryOverviewModel Inventory { get; set; } = default!;

}
