@page
@using Education.Web.Client
@using Microsoft.AspNetCore.Components.Web
@model HostModel
@namespace Education.Web.Server.Pages

@{
    Layout = "_Layout";
}

@* ReSharper disable global Html.PathError *@

@section Header
{
    <component type="typeof(HeadOutlet)" render-mode="WebAssembly"/>
    <link href="@ElwarkIcons.PrimaryFavicon" rel="icon" type="image/x-icon">
    <link href="@ElwarkIcons.Primary16X16" rel="icon" type="image/png" sizes="16x16"/>
    <link href="@ElwarkIcons.Primary32X32" rel="icon" type="image/png" sizes="32x32"/>
    <link href="@ElwarkIcons.Primary60X60" rel="icon" type="image/png" sizes="60x60"/>
    <link href="@ElwarkIcons.Primary152X152" rel="apple-touch-icon" sizes="152x152"/>
    <link href="@ElwarkIcons.Primary180X180" rel="apple-touch-icon" sizes="180x180"/>
    <link href="@ElwarkIcons.Primary192X192" rel="apple-touch-icon" sizes="192x192"/>
    <link href="@ElwarkIcons.Primary310X310" rel="apple-touch-icon" sizes="310x310"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="app.css" rel="stylesheet" asp-append-version="true"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="Education.Web.Client.styles.css" rel="stylesheet" asp-append-version="true"/>
}

<component type="typeof(App)" render-mode="WebAssembly"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        <p>An error has occurred. This application may no longer respond until reloaded.</p>
    </environment>
    <environment include="Development">
        <p>An unhandled exception has occurred. See browser dev tools for details.</p>
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">x</a>
</div>

@section Scripts
{
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/Blazor-ApexCharts/js/apex-charts.min.js"></script>
    <script src="_content/Blazor-ApexCharts/js/blazor-apex-charts.js"></script>
    <script src="app.js"></script>
}