@page "/profile"
@using Elwark.Education.Web.Gateways.User
@using Elwark.Education.Web.Gateways.Models.User
@inject IUserClient UserClient
@inject IDialogService Dialog
@inject IStringLocalizer<App> L
@attribute [Authorize]

<ApiResponseViewer Response="@_response">
    <Loading>
        <SkeletonCard Class="ma-3"/>
        <div class="subjects">
            <SkeletonCard Class="mb-3"/>
            <SkeletonCard Class="mb-3"/>
            <SkeletonCard Class="mb-3"/>
        </div>
    </Loading>
    <Result Context="profile">
        <Title Value="@L["Profile"]"/>
        <UserCard/>
        <div class="subjects">
            @if (profile.CurrentTests.Length > 0)
            {
                <MudPaper>
                    <MudText Typo="Typo.h5" Align="Align.Center" Class="my-3">
                        @L["CurrentTests"]
                    </MudText>

                    @foreach (var test in profile.CurrentTests)
                    {
                        <CurrentTestCard Test="@test" Class="mb-3"/>
                    }
                </MudPaper>
            }
            @foreach (var subject in profile.Subjects.OrderBy(x => L[x.SubjectType.ToString()].Value))
            {
                <SubjectCard Subject="@subject" OnBuyClick="@OnBuyClick" OnManageClick="@OnManageClick"/>
            }
        </div>
    </Result>
</ApiResponseViewer>

@code {

    private ApiResponse<Profile> _response = ApiResponse<Profile>.Loading();

    protected override async Task OnInitializedAsync()
    {
        _response = await UserClient.GetProfileAsync();
    }

    private void OnBuyClick(SubjectType subjectType)
    {
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            NoHeader = true,
            CloseButton = false,
            FullWidth = true
        };
        var parameters = new DialogParameters
        {
            [nameof(SubscriptionModal.SubjectType)] = subjectType
        };

        Dialog.Show<SubscriptionModal>(null, parameters, options);
    }

    private void OnManageClick(SubjectType subjectType)
    {
        Console.WriteLine($@"On prolong click: {subjectType}");
    }

}
