@using Elwark.Education.Web.Gateways.Models.Statistics
@inject UrlsOptions Options
@inject IStringLocalizer<App> L

<HeaderImageContainer>
    <div class="profile">
        <AuthorizeView>
            <Authorized>
                <div class="profile-image">
                    <MudAvatar Image="@(context.User.GetImage())" Style="width: 120px; height: 120px"/>
                </div>
                <div class="profile-text">
                    <MudLink Typo="Typo.h5" Color="Color.Inherit" Target="_blank" Href="@Options.Account.ToString()" Underline="Underline.Always">
                        @context.User.GetName() <MudIcon Icon="@Icons.Filled.OpenInNew" Size="Size.Small"/>
                    </MudLink>
                    <MudText Typo="Typo.subtitle2" GutterBottom="true">
                        @@@context.User.GetNickname()
                    </MudText>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="statistics">
        @* <div class="item"> *@
        @*     <MudIcon Icon="@Icons.Filled.School" Size="Size.Large" Class="mr-3"/> *@
        @*     <div> *@
        @*         <MudText Typo="Typo.body2"> *@
        @*             @L["CompletedTests"] *@
        @*         </MudText> *@
        @*         <MudText Typo="Typo.h5"> *@
        @*             @Statistics.NumberOfTests.Total.ToReadable() *@
        @*         </MudText> *@
        @*     </div> *@
        @* </div> *@
        @* <div class="item"> *@
        @*     <MudIcon Icon="@Icons.Filled.Timer" Size="Size.Large" Class="mr-3"/> *@
        @*     <div> *@
        @*         <MudText Typo="Typo.body2"> *@
        @*             @L["TimeSpent"] *@
        @*         </MudText> *@
        @*         <MudText Typo="Typo.h5"> *@
        @*             @Statistics.TimeSpent.ToSimpleFormat() *@
        @*         </MudText> *@
        @*     </div> *@
        @* </div> *@
        @* <div class="item"> *@
        @*     <MudIcon Icon="@Icons.Filled.PendingActions" Size="Size.Large" Class="mr-3"/> *@
        @*     <div> *@
        @*         <MudText Typo="Typo.body2"> *@
        @*             @L["Score"] *@
        @*         </MudText> *@
        @*         <MudText Typo="Typo.h5"> *@
        @*             @Statistics.Score.Total.ToReadable() *@
        @*         </MudText> *@
        @*     </div> *@
        @* </div> *@
        @* <div class="item"> *@
        @*     <MudIcon Icon="@Icons.Filled.HelpOutline" Size="Size.Large" Class="mr-3"/> *@
        @*     <div> *@
        @*         <MudText Typo="Typo.body2"> *@
        @*             @L["Questions"] *@
        @*         </MudText> *@
        @*         <MudText Typo="Typo.h5"> *@
        @*             @Statistics.AnswerRatio.Questions.ToReadable() *@
        @*         </MudText> *@
        @*     </div> *@
        @* </div> *@
    </div>
</HeaderImageContainer>

@code {


}
