@using ApexCharts
@using Education.Web.Client.Features.History.Services.DateGuesser.Model
<div class="@Class">
    <div class="d-flex justify-center">
        <div class="wrapper">
            <ApexChart TItem="Data" Options="@Options">
                <ApexPointSeries
                    TItem="Data"
                    Items="@Series"
                    SeriesType="SeriesType.Donut"
                    XValue="@(x => x.Name)"
                    YAggregate="@(x => x.Sum(e => e.Value))"/>
            </ApexChart>
        </div>
    </div>

    <ChartList Items="@Items"/>
</div>

@code {

    private ApexChartOptions<Data> Options =>
        new()
        {
            Legend = new Legend
            {
                Show = false
            },
            Colors = [Colors.Blue.Default, Colors.DeepPurple.Default]
        };

    [Inject]
    private IStringLocalizer<App> L { get; init; } = default!;

    [Parameter]
    public string? Class { get; set; }

    [Parameter, EditorRequired]
    public ScoreModel Score { get; set; } = new(0, 0, 0);

    private ChartList.Item[] Items =>
        new[]
        {
            new ChartList.Item(L["History_DateGuesser_Points"], Score.Points, Colors.Blue.Default),
            new ChartList.Item(L["History_DateGuesser_x2Bonus"], Score.Bonus, Colors.DeepPurple.Default),
            new ChartList.Item(L["History_DateGuesser_Score"], Score.Total, null)
        };

    private Data[] Series =>
        new[]
        {
            new Data(L["History_DateGuesser_Points"], Score.Points),
            new Data(L["History_DateGuesser_x2Bonus"], Score.Bonus)
        };

    private sealed record Data(string Name, decimal Value);

}