@page "/history/my/quizzes"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @L["Quizzes_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@Breadcrumbs"/>
</EduContainer>

<ApiViewer Result="@_result" OnReloadClick="@OnInitializedAsync" Context="profile">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <EduFillGrid>
            @if (profile.Easy.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@L["Quizzes_Easy_Title"]"
                    Value="@profile.Easy.NumberOfQuizzes.Total"
                    Href="@HistoryUrl.User.MyEasyQuizzes">
                    <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <QuizScoreChart Value="@profile.Easy.Score"/>
                </StatisticsCard>
            }

            @if (profile.Hard.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@L["Quizzes_Hard_Title"]"
                    Value="@profile.Hard.NumberOfQuizzes.Total"
                    Href="@HistoryUrl.User.MyHardQuizzes">
                    <Subheader Title="@L["Score_Title"]" Subtitle="@L["Statistics_ForAllTime"]"/>
                    <QuizScoreChart Value="@profile.Hard.Score"/>
                </StatisticsCard>
            }

            <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                <MudText Typo="Typo.h5">
                    @L["Activities_Daily_Title"]
                </MudText>
                @if (_daily.Length > 0)
                {
                    <ActivityChart Activities="@_daily" DateStyle="DateStyle.CustomerDayAndAbbreviatedMonth"/>
                }
                else
                {
                    <MudText>
                        @L["Activities_NoActivitiesWithinTheLast30Days"]
                    </MudText>
                }
            </section>

            @if (_monthly.Length > 1)
            {
                <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                    <MudText Typo="Typo.h5">
                        @L["Activities_Monthly_Title"]
                    </MudText>
                    <ActivityChart Activities="@_monthly" DateStyle="DateStyle.AbbreviatedMonthAndCustomerYear"/>
                </section>
            }
        </EduFillGrid>
    </EduContainer>
</ApiViewer>
