@page "/history/my/quizzes"
@layout HistoryLayout
@attribute [Authorize]

<PageTitle>
    @_localizer["Quizzes_Title"]
</PageTitle>

<EduContainer Class="py-3 py-sm-6" MaxWidth="EduWidth.W1920">
    <PageBreadcrumbsHeader Items="@_breadcrumbs"/>
</EduContainer>

<EduApiViewer Result="@_response" OnReloadClick="@OnInitializedAsync">
    <EduContainer Class="pb-3 pb-sm-6" MaxWidth="EduWidth.W1920">
        <EduFillGrid>
            @if (context.Easy.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@_localizer["Quizzes_Easy_Title"]"
                    Value="@context.Easy.NumberOfQuizzes.Total"
                    Href="@HistoryUrl.User.MyEasyQuizzes">
                    <Subheader Title="@_localizer["Score_Title"]" Subtitle="@_localizer["Statistics_ForAllTime"]"/>
                    <QuizScoreChart Score="@context.Easy.Score"/>
                </StatisticsCard>
            }

            @if (context.Hard.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@_localizer["Quizzes_Hard_Title"]"
                    Value="@context.Hard.NumberOfQuizzes.Total"
                    Href="@HistoryUrl.User.MyHardQuizzes">
                    <Subheader Title="@_localizer["Score_Title"]" Subtitle="@_localizer["Statistics_ForAllTime"]"/>
                    <QuizScoreChart Score="@context.Hard.Score"/>
                </StatisticsCard>
            }

            @if (context.Expert.Score.Total > 0)
            {
                <StatisticsCard
                    Title="@_localizer["Quizzes_Expert_Title"]"
                    Value="@context.Expert.NumberOfQuizzes.Total"
                    Href="@HistoryUrl.User.MyExpertQuizzes">
                    <Subheader Title="@_localizer["Score_Title"]" Subtitle="@_localizer["Statistics_ForAllTime"]"/>
                    <QuizScoreChart Score="@context.Expert.Score"/>
                </StatisticsCard>
            }

            <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                <MudText Typo="Typo.h5">
                    @_localizer["Activities_Daily_Title"]
                </MudText>
                @if (_daily.Length > 0)
                {
                    <ActivityChart Activities="@_daily" DateStyle="DateStyle.CustomerDayAndAbbreviatedMonth"/>
                }
                else
                {
                    <MudText>
                        @_localizer["Activities_NoActivitiesWithinTheLast30Days"]
                    </MudText>
                }
            </section>

            @if (_monthly.Length > 1)
            {
                <section class="mud-paper grid-column-sm-full pa-3 pa-sm-6">
                    <MudText Typo="Typo.h5">
                        @_localizer["Activities_Monthly_Title"]
                    </MudText>
                    <ActivityChart Activities="@_monthly" DateStyle="DateStyle.AbbreviatedMonthAndCustomerYear"/>
                </section>
            }
        </EduFillGrid>
    </EduContainer>
</EduApiViewer>
